[2015-10-22 03:41] chhavip opened #6 "Avatar Selection Activity crashes on pressing Continue Button."

[2015-10-22 04:51] chhavip commented on #6
![screenshot from 2015-10-22 10 20 41](https://cloud.githubusercontent.com/assets/7212638/10657291/9800a700-78a6-11e5-8b8d-3c246876d2ad.png)

[2015-10-29 11:07] #6 closed

[2015-11-01 19:03] alma-castant opened #12 "Adapt map layout buttons to tablet"
The game is currently optimized for phones. Therefore, the buttons for the different locations in the map are placed related to the phone layout.

Create a new map layout for horizontal displays (using qualifiers) so this works on tablets and phones in horizontal mode. Read more about screen qualifiers here: http://developer.android.com/intl/es/guide/practices/screens_support.html

[2015-11-01 19:09] alma-castant opened #14 "Add an "About" screen"
Add an "About" screen with information about the game, its goal, its creators and how it was implemented (as a Systers' Open Source project) along with other information you think is useful.

The screen could be implemented as an Activity or as a dialog.
You can check PowerUp Handout for reference: https://github.com/systers/powerup-android/blob/master/PowerUp%20Handout.pdf

[2015-11-01 19:10] alma-castant opened #15 "Make the changing room open the first time the app starts"
When the app starts for the first time, the user should be directed to the changing room directly

[2015-11-01 19:11] alma-castant opened #16 "Show points earned after finishing each scenario"
After a scenario is completed, the user should be shown all the points she or he has earned during that specific scenario

[2015-11-01 19:12] alma-castant opened #17 "Develop clothes and accessories for avatars using Adobe Photoshop and/or Illustrator"
Currently, there is a limited set of clothes in the app. You can create more by modifying the current ones using Photoshop or Illustrator. These can then be added to the changing room.

[2015-11-01 19:13] alma-castant opened #18 "Show health and power values in the game UI"
In the current UI, health and power are static values shown as an image. This task consists of changing this so the actual values are shown in the lower part of the game

[2015-11-01 19:14] alma-castant opened #19 "Propose possible mini-games"
This task is very open. The game will have minigames where players can earn more points. These games are not defined, but you can suggest new minigames to the PM team

[2015-11-01 19:17] alma-castant opened #20 "Improve the conversation boxes UI"
Currently, during conversations, the text is shown in boxes that don't always fit the text that is inside. This task consists on improving this UI by making the boxes fit the text that is inside.

[2015-11-01 19:18] alma-castant opened #21 "Reverse arrows in the creation room"
In the creation room, both arrows are pointing the same direction. This task consists on reversing one of them, so they point the right direction

[2015-11-01 19:18] alma-castant opened #22 "Test for bugs"
Everyone can work on this task. If you find bugs in the application, you can create a new Issue specifying what the issue is

[2015-11-01 19:20] alma-castant commented on #21
@chhavip is working on this task

[2015-11-01 19:21] alma-castant opened #23 "Make back button directly go to map screen"
When using the back button from the conversation or the end of conversation screen, it should directly take to the map screen rather than replay the entire conversation

[2015-11-01 19:21] alma-castant commented on #23
@chhavip is working on this task

[2015-11-01 19:48] #21 closed

[2015-11-02 01:56] medhach commented on #14
I will work on this.

[2015-11-02 08:28] AaskaShah opened #25 "Application crashes after clicking home button"
Application crashes by clicking the home image button on the top right corner of the pgame page.

[2015-11-02 22:51] alma-castant opened #27 "Remove continue button"
In the map screen, the continue button should be removed so only locations in the map open up conversations

[2015-11-02 22:52] alma-castant commented on #25
@AaskaShah do you have an updated version of the code? I haven't been able to reproduce this error on my phone with the latest code

[2015-11-03 02:22] chhavip commented on #27
Wasn't this issue taken care of in #7 ? I named it wrongly earlier but I suppose it covers this issue, let me know if I missed something.

[2015-11-03 12:23] AaskaShah commented on #20
I will work on this.

[2015-11-03 12:26] AaskaShah commented on #25
It didn't work first on my tests,but after a clean and rebuild,it worked.
Sorry for inconvenience.

[2015-11-03 12:26] #25 closed

[2015-11-03 12:53] #27 closed

[2015-11-04 01:22] vasukiarunachalam commented on #12
I will take this task.

[2015-11-04 07:54] alma-castant opened #29 "Go to the map activity after finishing in the change room"
Currently, after clicking continue in the change room, the user is redirected to the conversation activity. Instead, change it to redirect to the map activity

[2015-11-04 16:20] chhavip commented on #29
I will work on this.

[2015-11-04 16:54] #29 closed

[2015-11-04 16:54] chhavip opened #31 "Create Introduction Screens"
An introductory splash screen to give user familiarity with the game would be beneficial as is the norm with any gaming application.

[2015-11-05 02:49] chhavip opened #32 "Pressing Back takes user back to Change Room"
If user goes to map activity via change room, on pressing back she is directed back to change room instead on main menu as it should be.

[2015-11-05 17:17] vasukiarunachalam commented on #12
The landscape (horizontal) display of all the layouts (Map, AvatarRoom, Avatar etc ) needs to be created. The buttons on AvatarRoom are currently displayed left in landscape mode. As the issue specifies only Map, should I do only for Map or should I do it for all ?

[2015-11-06 03:35] chhavip commented on #18
I started researching on the best ways to achieve the UI look for this and maintain functionality and came across many libraries but this one seemed best to me:  https://github.com/akexorcist/Android-RoundCornerProgressBar
Let me know if it meets the mark and I can start studying the implementation.

[2015-11-06 14:15] alma-castant opened #35 "Adapt creator room to landscape mode"
The game is currently optimized for phones.

Create a new creator room layout for horizontal displays (using qualifiers) so this works on tablets and phones in horizontal mode. Read more about screen qualifiers here: http://developer.android.com/intl/es/guide/practices/screens_support.html

[2015-11-06 14:17] alma-castant commented on #12
Try to always do small tasks so it's easier to review and merge. I created a separate issue for the creator room, and I will check the rest of the screens on my tablet and create new issues if necessary.
For now, work on the map only on one pull request, and once you are done with that you can take more similar tasks

[2015-11-08 13:10] chhavip opened #36 "Display the avatar chosen"
Right now their is a default avatar for Rosie which doesn't change even if user chooses something else in Change Room. Fix this so that chosen avatar is saved and displayed.

[2015-11-09 16:44] vasukiarunachalam commented on #12
Thank you, , sure I will finish the map layout and then work on other layouts.

[2015-11-10 14:53] rosariorobinson commented on #29
@alma-castant @chhavip these are native dev so please be sure that you are documenting this work and work with the iOS team to incorporate all of these changes.

[2015-11-11 17:20] vasukiarunachalam commented on #12
I have committed the code. It involves addition of new map layout in layout-land folder in res. The button sizes was 100 dpi fixed definition, but in map the places like school, home etc is seen elongated horizontally. As of now I have let them be 100 dpi. I feel if buttons are of same size as places then there will be better User Interactivity. Please let me know your comments.

[2015-11-12 06:09] jenpaff commented on #29
I am travelling atm, but I can follow up with all the dev changes made in
the Android app and post it as a task for iOS on Github.
On 10 Nov 2015 21:53, "Rose Robinson" <notifications@github.com> wrote:

[2015-11-12 06:16] chhavip commented on #29
https://github.com/systers/powerup-android/wiki/Change-Documentation
I have made the above wiki page for all changes made in Android code which I will try and maintain and can be referred to follow up in iOS version

[2015-11-12 10:25] jenpaff commented on #29
Perfect, thanks so much. I can post them on the iOS git repo so the tasks
are easily accessible for people who want to contribute.

https://github.com/systers/powerup-android/wiki/Change-Documentation
I have made the above wiki page for all changes made in Android code which
I will try and maintain and can be referred to follow up in iOS version

—
Reply to this email directly or view it on GitHub

[2015-11-14 21:28] #36 closed

[2015-11-14 22:29] #23 closed

[2015-11-14 22:45] alma-castant opened #42 "Start change room after pressing start the first time the game is played"
Currently, the change room is opened directly the first time the game is played without showing the start activity. Instead, the start activity should be shown when opening the app and then, when pressing "start" for the first time, the change room should be shown instead of the map

[2015-11-14 22:49] alma-castant commented on #18
The library seems good, but a few bugs are also reported. Check whether those are going to affect what you need to develop. You can also trade a little bit of the look and feel and use Android progress bars if this is the case.

Any thoughts on how much the original image can be modified @iogburu ?

[2015-11-14 22:52] alma-castant commented on #12
Hi @vasukiarunachalam I don't see any pull request with this task
Follow the README instructions if you are unsure about how to make a pull request ;)

[2015-11-16 04:21] vasukiarunachalam commented on #12
5 days ago ,I followed and executed till step 9 in README. I assumed pull request should be done after review from others. Sorry about it. I have created a pull request. Please let me know if it is correct.

[2015-11-17 19:56] chhavip commented on #18
I have implemented the above library and I am attaching a screenshot of the device with the same. All the progress bars can now be customized for color
, size and progress dynamically. Didnt face any major or minor issue. Also we can change the radius of the bars if required.

![screenshot_20151118-012235](https://cloud.githubusercontent.com/assets/7212638/11222955/51b3c532-8d93-11e5-8568-d351e77f

[2015-11-18 09:28] alma-castant commented on #18
Looks good to me. I would probably reduce the internal padding in the bars a little bit if possible, but other than that it looks good

[2015-11-18 20:46] vasukiarunachalam commented on #12
I have edited the layout file and committed it using "commit --amend".Please let me know if it is correct.

[2015-11-19 22:46] vasukiarunachalam commented on #35
I will work on this. In landscape mode, the images may have to be laid next to each other in one single line with left and right buttons below them. Shall I define screen qualifiers based on this ?

[2015-11-21 10:21] chhavip commented on #18
@alma-castant  I have reduced the padding and was getting started on formatting the code properly for submission, just wanted to know if each bar represents some specific power/value for naming purposes or should I leave the naming for future?

[2015-11-23 22:38] alma-castant commented on #18
Each bar does represent a different power and you are right on that a design reflecting that is needed. You can work without naming now and I can create a task for designing such a UI.
@iogburu let me know if you have any ideas

[2015-11-23 22:41] alma-castant opened #47 "Modify the design of the lower bar to show the names of the different powers"
This is a design task, no coding!
The current lower bar on the conversation screen shows bars for the values of the different powers, but doesn't state what each of those values are. Design a UI and/or an interaction to show this. Several approaches could be valid like showing the name in a suitable place on the bar area or showing this information on a dialog on touch.
You should use Illustrator,

[2015-11-23 22:46] alma-castant commented on #35
Place the different elements in the way you think best suits the horizontal format. Doesn't have to be the same way as the vertical one (and will probably not be). Define a layout using the qualifier for the horizontal display so this layout is automatically used when the phone is displayed this way

[2015-11-24 21:56] #32 closed

[2015-12-07 10:53] alma-castant opened #53 "Fix conversation UI for horizontal display: avatar"
When on a horizontal display, the avatar is shown wrong with the head not correctly placed. This should be fixed so the avatar is correctly displayed in both vertical and horizontal displays

[2015-12-07 10:55] alma-castant opened #54 "Fix conversation UI for horizontal display: conversation"
When on a horizontal display, the right part of the conversation is almost hidden below the character and can't be read. It should be placed somewhere else (possibly next to the character) in the horizontal mode so it can be easily seen

[2015-12-07 11:01] #12 closed

[2015-12-07 12:32] alma-castant opened #55 "Fix change room screen on tablets"
Currently, the change room screen displays well in small screens like phones, but on tablets the content stays in the upper left corner. The content should instead be centered and made bigger to fit the tablet screen and still work well on phones

[2015-12-07 21:43] alma-castant commented on #31
This should only be played the first time the app is open, and should explain what the user has to do in the game with images and screenshots

[2015-12-08 16:37] chhavip commented on #19
I was thinking apart from the main story there could be mini games related to healthy eating habits and importance of physical activities in daily life. Also the present storyline can be expanded on various levels, including body image issues for example.

[2015-12-08 18:06] chhavip commented on #54
I have tried to fix this and issue avatar display error together, saw separate issues later. This has been my fix so far, let me know of improvements needed:

![image](https://cloud.githubusercontent.com/assets/7212638/11663813/574198f4-9e04-11e5-975f-fda2dae25528.png)

[2015-12-09 12:14] alma-castant commented on #19
@iogburu

[2015-12-09 12:48] alma-castant commented on #54
This looks good, but what happens if the right character has more text. Does it cover the character? Maybe you can make both text boxes slightly smaller so they don't cover the caracters as they grow

[2015-12-10 02:02] vasukiarunachalam commented on #35
The layout for landscape mode needs the avatar buttons appear next to each other. So I created a layout-land/avatar_room.xml. And for 7" and 10" Tablets the button and margin sizes will increase , so defined respective sizes in values/dimens/xml, values-sw-600dp/dimens.xml etc.,

 While defining the buttons in avatar_room.xml, I noticed there is a id "eyeright" arrow button named as "newUserButton

[2015-12-10 02:04] vasukiarunachalam commented on #55
I will work on this.

[2015-12-10 04:36] jenpaff commented on #29
Have you documented the features in more detail anywhere? Would like to
refer to it when posting them on Github.

On Thu, Nov 12, 2015 at 1:16 PM, Chhavi P. Gupta <notifications@github.com>
wrote:

[2015-12-10 13:18] chhavip commented on #15
@alma-castant , I believe this issue can be closed to keep the list updated.

[2015-12-10 15:16] vasukiarunachalam commented on #55
Are the creator room and change room same ? For creator room issue , I changed the avatar_room.xml.
What layout should I be working with for this issue ? Is it avatar.xml ? Please let me know.

[2015-12-10 20:13] alma-castant commented on #55
Yes, the creator room and the change room are the same. You should be working on an `avatar_room.xml` version for tablets and horizontal displays ;)

[2015-12-10 20:14] alma-castant commented on #15
Thanks @chhavip. Should have closed automatically

[2015-12-10 20:14] #15 closed

[2015-12-10 20:17] alma-castant commented on #29
Each feature should be briefly explained in the corresponding issue. All issues resolved are under closed issues

[2015-12-10 23:07] alma-castant commented on #35
I need to look into this more carefully as soon as I have time. If you have any suggestions for it, feel free to explain them and create a PR ;)

[2015-12-11 02:43] vasukiarunachalam commented on #55
Thank you. so we can close this , isn't it ? I have included this in creator room issue, for horizontal mode and for tablets.

[2015-12-11 02:54] vasukiarunachalam commented on #35
It is just the naming convention. All buttons are named appropriately except "eyeRight" We can leave it as it is or change it, if we are strictly following naming conventions.

 It is named as "newUserButton" and also referenced in AvatarRoom.java in just one place. As I am making lot of changes in avatar_room.xml , I can include this change too. Please let m know.

[2015-12-11 02:54] jenpaff commented on #29
Ok thanks, I will update them for iOS.

On Fri, Dec 11, 2015 at 3:17 AM, Alma Castillo Antolin <
notifications@github.com> wrote:

[2015-12-11 15:16] medhach commented on #31
[IntroScreens.pdf](https://github.com/systers/powerup-android/files/59529/IntroScreens.pdf)
I have made these screens as the introduction screens. These could be shown the first time the app is opened by the user.
I have tried to keep the content simple and small, but do let me know if I should change it. :)

[2015-12-11 22:19] alma-castant commented on #29
Let me know if you have any questions about any of them ;)

[2015-12-14 18:45] alma-castant commented on #55
The two issues are slightly different. This one is about size (everything is the corner) while the other issue is about horizontal vs. vertical display

[2015-12-14 19:17] alma-castant commented on #31
Looks really good @medhach
The only suggestions I would have are:
- I wouldn't write the text "swipe". You can either have a button saying "next" that lets the user move forward when clicking on it or use swipe dots like [these](http://www.appcoda.com/wp-content/uploads/2013/06/pageviewcontroller1.png) to let the user know there is something else when they swipe

- In the last screen, you can prob

[2015-12-14 22:34] vasukiarunachalam commented on #55
I included both in the creator room issue. This involves adding different sizes in values/dimens.xml.
The horizontal display requires the creation of new xml file ( layout-land/avatar_room.xml )

Should I submit the changes as separate PRs ?

[2015-12-14 22:35] vasukiarunachalam commented on #35
Please confirm if the display is fine for vertical and horizontal as in following -

![avatar_room](https://cloud.githubusercontent.com/assets/14137360/11795547/dd18108a-a27c-11e5-8440-982b8ec31609.png)

![2015-12-14_1633](https://cloud.githubusercontent.com/assets/14137360/11796167/7834e00e-a280-11e5-981f-f22b2070c36f.png)

[2015-12-14 22:57] alma-castant commented on #35
I would try to fit the content inside the brown box for a better look and feel. Do you have experience with Photoshop or similar tools? If you do, you could cut the sides of the image so the margins around the brown box are smallet and all the content fits inside ;)

[2015-12-15 02:03] medhach commented on #31
Will make the changes and pull a request soon, Thank you!
On Dec 15, 2015 12:47 AM, "Alma Castillo Antolin" <notifications@github.com>
wrote:

[2015-12-15 08:45] chhavip commented on #54
@alma-castant , I have moved the boxes towards the left so that they dont cover the characters, making them smaller would have made them slightly unreadable

![screenshot_20151215-141128](https://cloud.githubusercontent.com/assets/7212638/11805971/d6b6eb9e-a335-11e5-88bd-9dc65b3b23d3.png)

[2015-12-17 04:31] vasukiarunachalam commented on #35
I changed the background using photoshop. Please let me know if we can proceed with following layout -

![avatar_room](https://cloud.githubusercontent.com/assets/14137360/11861277/49e22494-a444-11e5-8974-f3a12520fcbd.png)
![2015-12-14_1633](https://cloud.githubusercontent.com/assets/14137360/11861279/4df1116c-a444-11e5-858d-a7b6a0ac0085.png)

[2015-12-24 16:23] alma-castant commented on #55
I will look at both in that PR. In the future however, I recommend putting one issue per PR only

[2015-12-24 16:27] alma-castant commented on #54
@chhavip it looks better now. Is there scrolling on the text on the left?

[2015-12-24 17:13] alma-castant commented on #35
Looks good (maybe in the horizontal one it could be slightly smaller so it doesn't overlap at all, but it's generally good :) )

[2015-12-24 17:21] chhavip commented on #54
Yes, there is

[2015-12-24 17:23] alma-castant commented on #54
It looks good then. You can go ahead ;) @chhavip

[2015-12-25 03:43] chhavip commented on #18
@alma-castant , I have fixed the issues with the PR and now it is working fine, please review and merge it before any other PR as due to an internal error I have lost the code and won't be able to fix any merge conflicts if they occur, I apologize for the inconvenience.

[2015-12-25 03:46] chhavip commented on #22
I suppose there should be an option to restart the game if the user has gone through all the scenarios.
Let me know if it should be made an Issue.

[2015-12-26 20:46] alma-castant commented on #18
I have left a few comments in the code. You can retrieve your own code to make the changes by doing:
[code]

The main issue is that I can't run the code as the external library doesn't seem to be correctly included

[2015-12-26 20:47] alma-castant commented on #22
You can create an issue with this, but I don't find it a priority as it is a new feature. There are issues of the current functionality that still need to be fixed

[2015-12-27 02:04] alma-castant opened #59 "Fix start screen for big screens"
The size of the buttons, icon and text is too small for big screens (tablets). It should be resized according to the screen size

[2015-12-27 06:43] chhavip commented on #59
Will do.

[2015-12-27 08:56] chhavip commented on #59
I have given new values in dimens for large screens. Preview on 7" screen:
![tablet_7_screenshot](https://cloud.githubusercontent.com/assets/7212638/12009606/9a14bd3c-aca5-11e5-80c6-fa940a4f6214.png)
If this is satisfactory, should I do the same for 10"? Slight concern about the pixels starting to show on large screens.

[2015-12-27 09:13] chhavip commented on #22
Okay, will create issue after current issues are resolved

[2015-12-29 00:23] alma-castant commented on #59
I think this ratio is ok. It will be great if you also do it for 10" :)
If you have some photoshop/illustrator skills, you can try to edit the buttons for a bigger resolution. If you don't, I can create a new issue with that so we only solve this one once that one is solved. Let me know what you prefer

[2015-12-29 04:34] chhavip commented on #59
I don't have photoshop skills as of now, will try to learn soon. In the meantime, that can be created as a separate issue. I have fixed the start page for 7", 10" in landscape and portrait mode and it looks satisfactory to me. Should I submit the PR?

[2015-12-29 12:31] alma-castant commented on #59
Submit the PR since you already have the code. I will test in my tablets and see how big of a problem the pixelation is there

[2015-12-29 12:56] chhavip commented on #59
I have submitted the PR, #62

[2015-12-31 07:03] vasukiarunachalam commented on #35
I have submitted a Pull Request for this issue.

[2016-01-03 04:36] vasukiarunachalam commented on #53
I will work on this.

[2016-01-03 04:39] chhavip commented on #42
@alma-castant , this issue has been fixed with #61 .Please review

[2016-01-03 04:41] chhavip commented on #16
@alma-castant , the points have to be displayed on a separate activity or a dialog that opens after each scenario finishes?

[2016-01-05 00:32] alma-castant commented on #16
It should be a separate activity after a single scenario is finished

[2016-01-09 06:24] chhavip commented on #16
I have designed the screen and added functional code, the page looks like this: (points will be displayed accordingly)

![display points](https://cloud.githubusercontent.com/assets/7212638/12214774/913fc1f8-b6c7-11e5-9f31-2efb7970d65d.png)

On clicking Map, the user is directed back to MapActivity while on clicking Next Scenario, the next scenario is loaded right after finish of this activity. If

[2016-01-09 20:43] #59 closed

[2016-01-09 20:45] alma-castant opened #69 "Create start screen icons with bigger resolution"
The current start screen buttons are suitable for mobile screens, but they get pixelated in bigger screens. This task doesn't include any coding. It consists of creating bigger resolution buttons with Illustrator, Photoshop or similar tools

[2016-01-09 22:27] alma-castant commented on #16
Looks good. I would maybe rephrase to "Brilliant! Scenario completed. Here are the points you earned:" Feel free to submit a PR. There is currently a bug in how scenarios are handled, so if that becomes an issue when calculating the points, feel free to leave this for later

[2016-01-10 06:49] chhavip commented on #16
@alma-castant, I displayed points for a few scenarios and they seemed to be working fine, I will submit a PR and you can review.

[2016-01-12 01:23] vasukiarunachalam commented on #35
I was trying to squash all commits. There is a problem with untracked files (.dimen.xml.swp) . Can you guide me on this?

[2016-01-12 22:49] vasukiarunachalam commented on #35
I solved the problem and submitted a new pull request for this issue.

[2016-01-13 08:58] alma-castant commented on #14
@medhach will you work on this issue? This is different from the welcome screen you have been implementing

[2016-01-13 10:10] medhach commented on #14
I am working on it. Will pull a request soon.
On Jan 13, 2016 2:28 PM, "Alma Castillo Antolin" <notifications@github.com>
wrote:

[2016-01-17 15:23] hkasera opened #74 "Hardcoded column names for DB"
In the [`AbstractDbAdapter.java`](https://github.com/systers/powerup-android/blob/master/PowerUp/app/src/main/java/powerup/systers/com/db/AbstractDbAdapter.java#L38), I noticed that we have used hardcoded column names of databases (avatar, questions). Instead, we could create a `DbContract.java` that defines these database schemas. This will help us a lot. I would like to fix this. Is this a welco

[2016-01-18 20:48] alma-castant commented on #74
I assume `DBContract.java` would store the names of the columns as static values to use them as a single instance and avoid errors. This will be a very welcome and needed contribution

[2016-01-18 21:15] #18 closed

[2016-01-18 22:21] alma-castant opened #75 "Fix conversation flacement in big screens"
In horizontal mode AND in big displays, such as tablets, the character speaking and the text associated to them and horizontally aligned. However, since the texts are closer to the other character than to the speaker, the conversation is misleading. The positions of the conversation boxes should be swapped in this cases (not in vertical mode for phones, only for horizontal mode and big displays in

[2016-01-19 04:06] hkasera commented on #74
Yes, you are right. The contract class will store the column names as static values. I will send a pull request soon. Thank you!

[2016-01-24 14:51] vasukiarunachalam commented on #35
I resolved the merge conflicts and committed again.

[2016-01-27 21:37] #42 closed

[2016-01-29 03:56] vasukiarunachalam commented on #53
The issue is with the avatar and the question view appearing in same column space. I think this has been handled in the previous issue where chavi has resolved it by moving the question and answer views to center of the layout. So I think we can close this issue ?

[2016-01-29 16:43] vasukiarunachalam commented on #75
The current conversation UI looks like this in 10' Tablet.

![2016-01-29_1037](https://cloud.githubusercontent.com/assets/14137360/12681490/7bc27de0-c674-11e5-9673-b86fc94351ff.png)

In another issue , the conversation boxes are aligned(horizontally) in a line for horizontal display to resolve the space issue. Is this issue same as that or Do we need to make the characters big and also the convers

[2016-01-31 11:12] opticod opened #85 "Test Missing"
Currently there are no tests.
What about adding UI Espresso based test? Should I progress in this?

[2016-02-02 21:55] alma-castant commented on #85
Sounds good. Feel free to assign the issue to yourself

[2016-02-02 22:06] alma-castant commented on #75
It's not a size problem. It is that the boy's text is horizontally aligned on the left, being much closer to the girl. Therefore the text boxes should be swapped for the displays mentioned above to avoid this confusion

[2016-02-03 03:02] vasukiarunachalam commented on #75
I understand the issue. Currently they are aligned to right and left most edges. The textview and the listview can be re-defined in pgame.xml as aligned closer to characters and then the distance can be defined in various values xml files for bigger screens. Shall I start working on it ?

[2016-02-03 04:08] chhavip commented on #85
This sounds interesting and something I would like to try too, @opticod can you state which activities will you write tests for so I can look at some other?

[2016-02-03 07:01] opticod commented on #85
@chhavip ,thank you for your interest...Actually I have already planned about different activites...its more or less similar.

[2016-02-03 07:26] opticod commented on #85
Thank You @alma-castant  for assigning.I will definitely make a PR with the tests.

[2016-02-03 07:51] alma-castant commented on #85
Please @opticod make the setup for testing and add here a list of the tests you are planning to perform so other contributors can also make others. You should create one PR per test

[2016-02-03 07:54] alma-castant commented on #75
Yes, feel free to work on it

[2016-02-03 07:58] opticod commented on #85
In my PR ,I will be writing test on UI only..
Others contributors...can test for different DB tests...Its missing also

[2016-02-03 08:00] alma-castant commented on #85
@opticod The UI has different parts, so please be kind and add the list here

[2016-02-03 08:08] opticod commented on #85
-  In AvatarActivity ,I will be testing all the Image views are correctly displayed,and click events are occuring correctly.
- In AvatarRoomActivity, I will be testing the all the  Imageview and smae click events
- In GameActivty, I will be testing the image and text view and its click events
can i progress with this tests  or u want to divide ?

[2016-02-03 08:18] opticod commented on #85
Sorry @alma-castant , if i made any mistake..

[2016-02-03 14:11] opticod opened #88 "Retain of AppState on Orientation Change"
Currently on changing the orientation of App.The AppState gets lost and we are set to default one.

While Writing test for PR #87 ,I encountered this.
I will make a PR to fix this shortly. :smile:

[2016-02-04 02:49] vasukiarunachalam commented on #75
With slight changes to pgame.xml the conversation appears closer to character only for big screens.

![2016-02-03_1317](https://cloud.githubusercontent.com/assets/14137360/12804280/633047f2-cab7-11e5-9958-06e8852da205.png)

Small screens still face the problem of avatar character not being displayed properly. ( It is handled in another issue). Shall I make a pull request for this ?

[2016-02-04 02:51] chhavip opened #89 "Move database to ORM"
Currently the database is maintained locally converted from csv files which is a process that can get cumbersome if the data grows. I suggest Sugar ORM [http://satyan.github.io/sugar/getting-started.html] as it will make handling the data easier, make querying simpler and also reduce a lot of code, leading to reduced application size. This task can be a long one though and may require some discuss

[2016-02-04 14:15] medhach opened #90 "Take the character's name from user"
We can take the name of the user as input and display it in the points bar during the game. It increases the user's interest and makes the app more dynamic.

[2016-02-04 17:13] AaskaShah commented on #90
If this needs to be done,can I work on this?

[2016-02-04 17:16] medhach commented on #90
@AaskaShah  I will work on this, I want a green signal from the mentor before I start with it. I'm sorry. :)

[2016-02-04 17:18] AaskaShah commented on #90
No problem :)

[2016-02-04 23:08] alma-castant commented on #85
Thank you @opticod

[2016-02-04 23:13] alma-castant commented on #90
I think such a change should be discussed with project managers so both Android and iOs versions of the application are coherent. I would not work on it for now ;)

[2016-02-04 23:13] #90 closed

[2016-02-04 23:43] alma-castant commented on #75
Yes, feel free to make a PR :)

[2016-02-06 06:16] medhach commented on #20
@alma-castant  In landscape mode, the conversation options are not able to scroll. Is this included in the same issue?

[2016-02-06 06:32] AaskaShah commented on #20
I have done that for portrait mode and changes needs to be done in my code for landscape mode, so i will do the same for landscape mode too. :)

[2016-02-07 01:37] vasukiarunachalam commented on #47
I will work on this.

[2016-02-10 23:27] alma-castant commented on #53
@vasukiarunachalam yes, thank you for pointing it out!

[2016-02-10 23:27] #53 closed

[2016-02-11 21:29] alma-castant opened #104 "Fix avatar on horizontal mobile displays"
On mobile devices on landscape mode, the different body parts of the avatar are not correctly places and lay on top of each other. This should be fixed so the avatar is correctly displayed

[2016-02-14 06:18] hkasera commented on #74
This is merge successfully with PRl #77

[2016-02-14 06:18] #74 closed

[2016-02-16 08:36] AkankshaBodhankar commented on #104
I will try to work on this

[2016-02-16 10:30] AkankshaBodhankar commented on #19
The mini-games can be expanded to add new scenarios.
The scenarios can be provided for each item on the map, they can be used like levels
On completion of one scenario other can be started
[Scenarios_for_PowerUp.PDF](https://github.com/systers/powerup-android/files/132266/Scenarios_for_PowerUp.PDF)

[2016-02-16 10:38] AkankshaBodhankar commented on #104
You mean this overlay of avatar right? I'll work on it and make a PR
![screenshot_2016-02-16-14-38-17_powerup systers com powerup](https://cloud.githubusercontent.com/assets/14356938/13073891/34054af8-d4c7-11e5-9cda-bae5f24c9c09.png)

The conversation box (i.e the listview is also not showing all the options
Like here it should show
Maybe some another time
Sure (not showing)
![screenshot_2016-02-1

[2016-02-16 11:00] AkankshaBodhankar commented on #17
I changed the color of hair
Now there are five hair colors
Please do let me know if I can include it in the app and make a PR
Also, if any other ones like eyes, new clothes must be made I would love to work on it
This is just a sample

![hair3](https://cloud.githubusercontent.com/assets/14356938/13074414/71a7308a-d4ca-11e5-800c-82eef0e494f8.png)
![hair4](https://cloud.githubusercontent.com/assets/

[2016-02-16 11:12] AkankshaBodhankar commented on #69
Adding different sizes like xxhdpi, xhdpi, mdpi  will do the trick
I have the zip folder of the button images which will fit in all the screens
Do let me know if i can proceed with it

[2016-02-17 14:42] chhavip opened #107 "Back to Map and Replay button dont finish activity"
When replay or backtoMap is pressed from within a scenario, the corresponding activity is called but current not finished which leads to multiple instances of the same scenario in various stages. Also the visibility of buttons needs to be fixed accordingly. Willing to work on this if required.

[2016-02-22 09:15] yatna opened #108 "Create ' Play Again ' option."
Right now once the user has completed the game , she cannot replay the game . To replay she must re install the .apk file.
I think it would be better if , we provide a option to replay the game. If suggested we can also implement the feature to activate the replay button only when the entire game is finished.

[2016-02-22 09:18] yatna commented on #107
Multiple instances of the same scenario have been fixed by popping off the backstack in PR #83 .

[2016-02-22 09:19] yatna commented on #108
Willing to work on this issue if required.

[2016-02-22 10:41] yatna commented on #19
Possible minigame :

A ' **Match the column** ' type minigame where the user will have some questions related to reproductive health and its corresponding answers.
To make this game interactive, I intend to implement a  **Drag and Drop feature** . The answers will be presented to the user in the form of stickers and the user can drag the answers and paste it over the appropriate question.

![captu

[2016-02-22 13:38] #107 closed

[2016-02-22 13:38] chhavip commented on #107
I probably tested on older code, closed issue!

[2016-02-22 13:40] chhavip opened #109 "Replay and Map button dissapaer after being used once"
If the user clicks on replay or map button once from a scenario, these buttons are permanently disabled from being used again, is that purposely designed or something to be fixed? Willing to work on it if required.

[2016-02-24 22:53] alma-castant commented on #109
Each scenario is supposed to only be replayed once. What needs to be fixed is the game flow so scenarios don't flow one after another

[2016-02-24 22:54] alma-castant commented on #19
@iogburu

[2016-02-24 22:55] alma-castant commented on #108
Each scenario can only be replayed once right after it has been finished ;)

[2016-02-24 22:56] alma-castant commented on #69
@AkankshaBodhankar have you created new images with these resolutions? If so, can you post one here to see it?

[2016-02-24 22:58] alma-castant commented on #17
Looks great @AkankshaBodhankar ! Feel free to create a PR including these in the app (make a static list with the resources for each part: hair, clothes, eyes, etc so it can be easily tested). Also feel free to create other elements

[2016-02-24 22:58] #108 closed

[2016-02-24 22:58] #109 closed

[2016-02-25 14:11] AkankshaBodhankar commented on #17
I'll work on it and make a PR

[2016-02-25 14:19] AkankshaBodhankar commented on #69
Yes all the resolutions are in this zip folder for the start button ...we can have same for another as well
This is a sample
[start_button_resolutions.zip](https://github.com/systers/powerup-android/files/146638/start_button_resolutions.zip)

[2016-02-25 17:48] elpoisterio commented on #89
I would like to work on this issue. What has to be changed?

[2016-02-28 01:52] vasukiarunachalam commented on #75
I closed the previous PR and opened a new one for this issue. I tried to squash the commits and ended  up in 7 commits. So I closed that PR. :)

[2016-03-03 06:02] AkankshaBodhankar commented on #17
Made a PR :-)

[2016-03-03 13:25] AaskaShah commented on #19
Mini game:
A quiz game with different sub topics like
- Health
- Puberty
- Sex
- Diseases
- Relationships
- Friendships
- Family , etc.

Options could be given for each question or it could also be of True/ False type . On clicking any option some explanation would show up below it and a button to next question. Correct answers would give them points.
Please let me know if I could implement it.

[2016-03-04 16:47] AkankshaBodhankar commented on #69
@alma-castant  http://developer.android.com/intl/es/training/basics/supporting-devices/screens.html

[2016-03-04 21:17] AaskaShah opened #114 "Show points and button to map after each scenario"
As one scenario is completed, the second is started automatically without asking the user which scenario should be played next nor gives any information about the points earned in the scenario.

If this needs to be done ,Can I implement this such that at the end of the scenario,
1) A page displaying information about points opens, which has button which will lead to map.
or
2) a toast or dialog bo

[2016-03-05 03:43] chhavip commented on #114
@AaskaShah , hey, the given issue is already under implementation at #103.

[2016-03-05 06:30] AaskaShah commented on #114
I apologize for it, should have checked before.I will surely check from next time onwards. Thanks for pointing it out.

[2016-03-05 06:30] #114 closed

[2016-03-06 19:04] AkankshaBodhankar commented on #47
@alma-castant  what will the powers be ??

[2016-03-10 14:52] medhach opened #117 "startActivityForResult() to startActivity()"
Why not use startActivity() instead of startActivityForResult( , ) in the .java files? According to me, it is more appropriate as we are not expecting any result back to the previous page and it is also more readable.

[2016-03-14 21:07] AkankshaBodhankar opened #118 "Add labels to map items"
The map elements can have relevant labels such as School, house

![screenshot_2016-03-15-02-33-47_powerup systers com powerup](https://cloud.githubusercontent.com/assets/14356938/13759935/a12dad42-ea56-11e5-9ae6-ba7e640e94ff.png)

![screenshot_2016-03-15-02-33-47_powerup systers com powerup](https://cloud.githubusercontent.com/assets/14356938/13759995/e7d5673a-ea56-11e5-8690-49f1e84fc606.png)

[2016-03-14 21:09] AkankshaBodhankar opened #119 "UI and alignment for few buttons"
UI for the two buttons map and store
Proper alignment for the buttons

![screenshot_2016-03-15-02-33-13_powerup systers com powerup](https://cloud.githubusercontent.com/assets/14356938/13760017/0ac51894-ea57-11e5-8e70-0a8f93c10395.png)

[2016-03-17 19:15] imaculate commented on #117
@medhach I would like to work on this , has it been resolved.

[2016-03-17 20:55] chhavip commented on #118
@AkankshaBodhankar A nice initiative but I find it lessens the feeling of this being a gameplay, using self explanatory images can be a better solution or making the places seem clickable/be highlighted properly

[2016-03-17 20:57] chhavip commented on #119
@AkankshaBodhankar  Seems like a genuine issue. Needs to be fixed on all screen sizes supported.

[2016-03-18 05:35] imaculate commented on #119
@AkankshaBodhankar @chhavip I would like to work on this.

[2016-03-18 06:25] imaculate commented on #119
I'm thinking of aligning the text above as well as the buttons to center , Am I on the right track?

[2016-03-18 06:33] imaculate commented on #119
It will look like this .
![centered](https://cloud.githubusercontent.com/assets/4919474/13870110/183dad1c-ece4-11e5-9cd6-3a16b2fdc237.PNG)

[2016-03-18 11:38] AkankshaBodhankar commented on #118
@chhavip Yes thats a valid point. We can make them highlighted. It's just a design issue then

[2016-03-18 11:42] AkankshaBodhankar commented on #119
@chhavip I'll make the required changes to the UI for buttons for all the screens. The design of the buttons will be similar to the buttons we already have. Aligning also will be done easily
@imaculate I have been waiting for a green flag to go ahead with this issue since a very long time.
I hope you dont mind. I would like to work on it.

[2016-03-18 12:19] chhavip commented on #119
@AkankshaBodhankar You can go ahead, but make sure to fix this for all screen sizes in landscape and portrait mode.

[2016-03-18 12:19] AkankshaBodhankar commented on #119
@chhavip Sure Will keep that in mind and procees

[2016-03-18 12:32] chhavip commented on #69
@AkankshaBodhankar  I saw the images in the folder you attached, they are basically reducing the current start button size , xxdpi has similar dimensions to the current start button which will still get pixelated. The buttons need to be redesigned (using Photoshop or similar tools)

[2016-03-18 12:34] chhavip commented on #31
@medhach Are you working on this issue? Would love to see the PR :)

[2016-03-18 12:35] AkankshaBodhankar commented on #69
@chhavip Yes, i'll change the resolutions as required

[2016-03-18 13:27] medhach commented on #31
I have included the introduction screens in my proposal. Will submit it
soon. :)
On Mar 18, 2016 18:04, "Chhavi P. Gupta" <notifications@github.com> wrote:

[2016-03-20 17:57] aanchal07 commented on #89
I would like to work on this.

[2016-03-20 18:26] aanchal07 opened #120 "Add personalization to the Avatar"
Add more options in avatar or allow user to add her own picture so as to connect more with the conversation. Also add your own name as avatar name.

[2016-03-20 18:46] chhavip commented on #120
Adding a picture isn't advisable as that will lead to problems in implementation during gameplay. But name or avatar name can be asked for.

[2016-03-22 15:28] AkankshaBodhankar opened #121 "Change title 'New User' to 'New Avatar'"
The new user title can be changed to new avatar as there the user selects new avatar there

[2016-03-23 05:08] chhavip commented on #121
@AkankshaBodhankar I don't think this is advisable or logical as 'New User' refers to creating a new user and starting the game over. 'New Avatar' would only mean changing the look and resuming the game from the last place itself.

[2016-03-23 09:52] #121 closed

[2016-03-26 09:43] aanchal07 commented on #31
Has it been done?
I would like to work on this issue if not.

[2016-03-26 09:51] aanchal07 commented on #19
I would like to suggest a few mini games that could be related to reproductive health and general awareness related to sexual activity. A few could be :

1. Quiz related to STIs, healthy practices, relationships, etc which would indirectly address key information surrounding reproductive health.

 2. Also a rapid fire question answer round can be included which tests the briskness, alertness and d

[2016-03-26 16:26] iogburu commented on #19
Aanchal, I really like your mini game. We want to stir away from giving
quizes as mini games as typically they are not seen as fun. One mini game
idea that was fully blown out is a bubble game that demonstrates the
probability of a person getting an STI if they don't protect themselves. -
iogburu

On Wed, Dec 9, 2015 at 6:14 AM, Alma Castillo Antolin <
notifications@github.com> wrote:

[2016-03-26 16:26] chhavip commented on #31
@medhach Will you be submitting the PR?

[2016-03-26 16:27] medhach commented on #31
@aanchal07 You can go ahead.:)

[2016-03-26 18:23] aanchal07 commented on #31
@medhach Great! :)

[2016-03-26 18:29] aanchal07 commented on #19
@iogburu Thank you!

[2016-03-27 18:52] AkankshaBodhankar opened #123 "Edit required images to have consistent font for all the buttons"
The font family of 'About' in about button is different than Start and New User
Similarly the 'continue' button used in the app also has different font family

![screenshot_2016-03-28-00-19-45_powerup systers com powerup](https://cloud.githubusercontent.com/assets/14356938/14067147/1f027c06-f47b-11e5-8a93-5bcc151eb0ff.png)

[2016-03-28 17:43] aanchal07 commented on #123
@AkankshaBodhankar The "Start", "New User" and "About" are actually images which have been used as background for buttons in the activity_main.xml. So I would suggest we need to edit the images used on these buttons to display the same font.

[2016-03-31 18:20] AkankshaBodhankar commented on #123
@aanchal07 Yes will do the same thanks for the suggestion! :-)

[2016-04-01 17:27] aanchal07 opened #124 "Using fragments instead of activity"
Currently, there is a separate activity for each screen. **Activities also have a lot of other responsibilities such as lifecycle management, platform interaction, etc.** Fragments eliminate this problem by taking on the UI details and leaving the other responsibilities to the Activity.

Launching a separate activity for each app screen is terribly inefficient, since the system will try to keep th

[2016-04-01 19:39] chhavip commented on #124
@aanchal07 Good suggestion, this will also reduce the navigation issues being faced but will require a thought out plan. This can be worked upon.

[2016-04-04 06:26] yatna opened #125 "Adhering to Java naming convensions"
Following constants have been named incorrectly:
[code]
Constants should be named in ALL_CAPS. Also constants should be declared as final. The correct code would be:
[code]

[2016-04-04 06:48] yatna opened #126 "Remove unused resources from project"
Unused resources in the project increase the application size and makes the code difficult to understand. Hence, i propose to remove all the unused resources from the applications.
Overall there are 48 unused resouces. Here are a few examples:

**Drawable:**
_R.drawable.cellphone_power_up_map
R.drawable.character_design
R.drawable.endingscreen4_

**Strings:**
_R.string.replay
R.string.enter_

**Di

[2016-04-04 07:17] yatna opened #127 "Replacing startActivityForResult() with startActivity()"
startActivityForResult() should be used when we are expecting some result back  as it waits for callbacks from the started activity. However, there are few places in the application where this has been used unnecessarily. I intent to replace these with a simple startActivity(). Eg
[code]

[2016-04-04 11:02] medhach commented on #127
There is already an issue #117
I am working on it. :)

[2016-04-04 11:05] medhach commented on #117
@imaculate I am waiting for the mentors to let me know if I can proceed. :)
@chhavip Shall I pull a request regarding the same?

[2016-04-04 11:10] yatna commented on #127
Thanks for reporting :-). Closing this issue .

[2016-04-04 11:10] #127 closed

[2016-04-04 11:18] yatna opened #128 "Remove hardcoded integers and dimens"
Although, almost all the resources have been placed correctly in their respective places (integer.xml, dimen.xml , colors.xml) , there are few hardcoded integers and dimens still present in pgame.xml and simplerow.xml . I intend to remove these and remove the remaining hardcoding.

[2016-04-05 15:03] chhavip commented on #128
@yatna  go ahead

[2016-04-05 15:05] chhavip commented on #117
@medhach Please give the exact reference where you intend to make these changes so that each can  be individually judged for need of change.

[2016-04-05 18:12] yatna commented on #128
PR sent #116

[2016-04-05 18:20] yatna opened #129 "Add intro screens to the app"
Intro screens appear when the user installs the app and uses it for the first time. These screen guide the user through the app and give details about the features of the application. I intend to create intro screens using the PaoloRotolo AppIntro library which is a widely used library to create intro screens.

[2016-04-05 18:48] chhavip commented on #129
@yatna Thank you for reporting but this is an ongoing issue with discussion underway to its implementation and requirements #122 . Perhaps this thread can be used to refer to the PRs made for the same.

[2016-04-05 19:02] yatna commented on #126
Can I go ahead with this PR?

[2016-04-05 19:04] yatna commented on #125
Can I go ahead with this PR?

[2016-04-05 19:06] yatna commented on #129
@chhavip Sure, we can use #122 for Splash Screen and this one for Intro Screens discussions.

[2016-04-05 19:12] chhavip opened #130 "Add a .gitignore file"
This should contain a basic document containing the correct files needed in .gitignore of an AndroidStudio project. This will make it easier to avoid getting the wrong files committed to the project.

[2016-04-05 19:13] chhavip commented on #129
@yatna As mentioned on the #122 thread itself, for now Splash Screen is not required. Introduction screens are being considered and this can be the thread for the same.

[2016-04-05 19:15] chhavip commented on #129
As mentioned on the thread itself, splash screen is not needed for now and for introduction screens #31 will be used for discussion.

[2016-04-05 19:15] #129 closed

[2016-04-06 10:49] medhach commented on #117
AvatarActivity.java -
![selection_046](https://cloud.githubusercontent.com/assets/14357023/14314155/549bf1fe-fc13-11e5-8465-e0179a899da0.png)

AvatarRoomActivity.java -

CompletedSceneActivity.java -

GameActivity.java -

MapActivity.java -

[2016-04-09 08:07] yatna commented on #130
@chhavip PR sent #131

[2016-04-09 18:58] aanchal07 commented on #130
@chhavip : I would like to do it.

[2016-04-09 20:52] yatna commented on #130
@chhavip Sorry, I did not notice a .gitignore was already present. I have modified the existing .gitignore file to match a standard version of .gitignore. #133

[2016-04-13 09:51] #130 closed

[2016-04-14 05:29] chhavip opened #134 "Code CleanUp"
This includes removing unused imports, removing hard coded string and integers and adhering to Java naming conventions (if needed). A thorough review of the current code is required for this task.

[2016-04-14 05:33] chhavip commented on #128
@yatna I apologize but this issue will be covered under #134 and as you already have some contributions, its better that that be left as a beginner task and can be taken up by you (if you are still willing) after a considerable time has passed and no one picks it.

[2016-04-14 05:33] #128 closed

[2016-04-14 05:33] #126 closed

[2016-04-14 05:33] chhavip commented on #125
Covered under #134

[2016-04-14 05:33] #125 closed

[2016-04-14 09:16] yatna commented on #134
@chhavip This is a nice initiative. It will help new contributers to get started. I will try to find more such  issues and add them under this issue.

[2016-04-14 09:33] yatna opened #135 "Adding DB tests"
Currently, the application has no tests. This problem has been earlier addressed in issue #85 which led to the creation of UI tests. As mentioned in the issue itself , PRs were sent only for the UI testing of the application. Database tests are still to be created.  I intend to create these tests using JUnit.

[2016-04-14 09:38] yatna commented on #135
@chhavip I think we can add this issue to the 'open' issue category as well. Although its not the easiest issue for beginners to start with, yet, I think someone might be interested. If not I will take up the issue later.

[2016-05-07 14:17] aanchal07 opened #136 "Code Cleanup"
I was going through the code and I found some changes that could be done to clean up the code. I am listing them below:

1. **CreatorRoomActivity** has never been used. It should be removed.

2. In **pgame.xml**, _scenarioNameEditText_ and  _questionView_ has ems attribute value hard coded integer.

3. In **simple.xml**, _rowTextView_ has padding attribute value hard coded integer.

4. The drawabl

[2016-05-09 05:21] chhavip commented on #136
@aanchal07 , go ahead, but keep in mind that removing any resource does not break the compilation.

[2016-05-12 15:49] #136 closed

[2016-06-15 19:14] chhavip opened #141 "Add image resources in standard Android sizes"
This would include including resources in mdpi, ldpi, xdpi, xxdpi and whatever are suitable.

[2016-07-15 09:51] riddhik84 commented on #134
I agree. I would like to start contributing on the beginner issues.

[2016-07-18 06:54] riddhik84 commented on #117
@chhavip @medhach Is this issue resolved? If not can you please assign it to me?

[2016-07-18 06:57] riddhik84 commented on #135
@chhavip @yatna I am interested to work on this task? Could you please assign it to me?

[2016-07-20 10:23] chhavip commented on #135
@riddhik84, this is a task you can do the task but currently the database is under transition as new fields are getting added, I would advise you to please wait till that is complete.

[2016-07-20 10:30] riddhik84 commented on #135
@chhavip sure. Thanks for reply. By that time if required i can contribute to any other task.

[2016-08-16 11:31] riddhik84 commented on #134
@chhavip @yatna as a solution of this issue, I have generated pull request and removed hard-coded dimens from layout files.

[2016-08-16 11:53] riddhik84 commented on #141
Since all the images in drawable folder with only one size is available.  @chhavip You mean to make copies of those image files for mdpi, ldpi, xdpi, xxdpi folders correct?

[2016-08-16 14:17] chhavip commented on #141
Not only make copies, but make resized copies, there are tools available for that online. Go ahead if you want to take up the task.

[2016-08-16 15:22] riddhik84 commented on #141
@chhavip yes exactly that is what I mean. I am taking up this task.

[2016-08-16 17:37] chhavip commented on #134
Great! Will review shortly

[2016-08-21 06:00] riddhik84 opened #157 "Error in Create table query for Point and Avatar tables"
In AbstractDbAdapter.java file, there are errors in Create table query for Point and Avatar tables.
The tables are therefor not created with all required columns.

[2016-08-23 05:16] chhavip commented on #157
Hey, nice catch! But this was a known issue and our Gsoc student was working on it which should be fixed after the latest merge. But I really appreciate you going through the investigation of finding this. To save you the effort of writing code and not having it merged from next time, I advise you to propose an issue and wait for a sign off from one of the mentors to go ahead with the coding. Good

[2016-08-23 08:09] riddhik84 commented on #157
@chhavip No problem. Thanks for info!

[2016-08-25 18:49] chhavip opened #159 "Move initialisation of Power Bars to Util Class"
Currently the power bars being displayed at the bottom of the screen are initialized in every screen they are required, leading to repetitive code. This can be moved to a Util class which uses resources from individual activity

[2016-10-02 12:15] goti921 commented on #134
Hi @chhavip
Is it still up for grabs or has the issue been resolved ?

[2016-10-02 15:49] #157 closed

[2016-10-02 15:50] chhavip commented on #134
@goti921 , this issue is still unresolved, @riddhik84 , will you be fixing the PR you sent or can @goti921 work on this?

[2016-10-02 15:51] chhavip commented on #120
Fixed.

[2016-10-02 15:51] #120 closed

[2016-10-02 15:51] chhavip commented on #16
Fixed.

[2016-10-02 15:51] #16 closed

[2016-10-02 15:56] chhavip commented on #117
@riddhik84 , this is not resolved, would you like to take it up?

[2016-10-02 15:56] #89 closed

[2016-10-02 15:58] chhavip opened #160 "Add New User Functionality"
Currently on selecting the "New User" option does not create a new user if one already exists for the game and continues the game from the same point. Modify this to restart game on a new user selection.

[2016-10-02 15:59] #124 closed

[2016-10-02 16:15] riddhik84 commented on #134
@chhavip I will fix the PR

[2016-10-02 16:16] riddhik84 commented on #117
@chhavip sure. Please assign it to me. I will fix it.

[2016-10-03 05:09] chhavip commented on #117
@riddhik84  Sure, go ahead

[2016-10-03 05:15] aanchal07 commented on #159
@chhavip I would like to work on it.

[2016-10-03 06:04] goti921 commented on #134
@chhavip
Should I take that as a No ?

[2016-10-04 03:37] chhavip commented on #159
@aanchal07 , go ahead!

[2016-10-04 03:39] chhavip commented on #134
@goti921 , for now we will wait for @riddhik84 to fix the PR, in the meantime you are welcome to look at other beginner issues I recently added to the project.

[2016-10-04 06:37] goti921 commented on #160
@chhavip
I would like to pick it up.

[2016-10-06 17:54] chhavip commented on #160
@goti921 go ahead!

[2016-10-10 07:26] rohansood42 commented on #14
@chhavip Could i work on this if it has not been completed?

[2016-10-15 19:53] anubhakushwaha commented on #160
@goti921 Still working on it?

[2016-10-16 05:54] chhavip commented on #160
A response or a PR should be submitted within a week of claiming an issue. @goti921, please clarify your status.

[2016-10-16 12:56] shamathmika commented on #123
@AkankshaBodhankar is this done? Or can I work on it?

[2016-10-16 12:57] shamathmika commented on #119
@chhavip Is this still up for grabs?
Or is there any other issue I could work on?

[2016-10-17 06:55] goti921 commented on #160
@chhavip
I am working on it. But having trouble running the application in the emulator.
Any help on this is appreciated.

[2016-10-17 09:07] anubhakushwaha commented on #160
@goti921 Can you please specify your problem so that anyone can help you,what is exactly happening when you are trying to build the project and run it on an emulator/device?

[2016-10-17 10:54] chhavip commented on #160
Sure @goti921, ask away

[2016-10-17 19:01] AkankshaBodhankar commented on #123
@shamathmika Follow up with @aanchal07 and @chhavip for the same :-)

[2016-10-23 21:56] anubhakushwaha commented on #160
@chhavip Please review #162 and let me know if it's okay.

[2016-10-24 11:32] anubhakushwaha opened #163 "More info on how to play the game."
Currently the user is unaware of how to play the the game for instance he is unaware that leaving a game in between in an ongoing scenario leads to deduction in karma points. While configuring the app locally I faced these problems of how are these points calculated, so I think a quick guide would do good.

[2016-10-24 11:41] anubhakushwaha opened #164 "UserPoints in PointsEntry table is never updated."
Apologies if it's a future task deliberately left.

[2016-10-27 01:07] chhavip commented on #119
@shamathmika , please go over the latest version of the application and check if you still feel some UI elements require alignment, if they do you can work on them and if not, you can report the same so this issue can be closed which will also be a good contribution to the project :)

[2016-10-27 01:08] chhavip commented on #163
@anubhakushwaha I am pretty sure leaving a scenario in between should not lead to deduction of points. If that is an issue you feel is genuine, please open an issue and be free to work on it!

[2016-10-27 20:06] shamathmika commented on #119
@chhavip
The activity mentioned in this issue hasn't been resolved yet. I made the changes, should I send a PR?

[2016-10-28 11:05] chhavip commented on #119
yes, go ahead

[2016-10-28 19:00] pandilladivya commented on #163
@chhavip  Can I work on Intro Screens which should be played the first time the app is open, and should explain what the user has to do in the game?!

[2016-10-28 19:07] pandilladivya commented on #31
@aanchal07 , @chhavip Has this been done?

If not, I would like to work on it ..

Thank You!

[2016-11-02 02:29] saketkumar95 commented on #123
Can i work on it?

[2016-11-03 07:32] riddhik84 opened #166 "Add support for app Accessibility"
Provide android:contentDescription to user interface controls.

[2016-11-03 07:34] riddhik84 commented on #166
If approved, I can implement this.

[2016-11-03 15:46] ZBDeveloper commented on #160
hi, where is your project?

[2016-11-04 10:04] chhavip commented on #166
This is a very good suggestion! Please check using TalkBack as well that they are spoken correctly. You can go ahead with the task

[2016-11-04 10:05] riddhik84 commented on #166
Thanks! I will start working on it.

[2016-11-05 18:17] aanchal07 commented on #164
The points are currently updated in totalPoints in SessionHistory.

[2016-11-05 19:21] anubhakushwaha commented on #164
@aanchal07 So can I update it in the PointsEntry table as well?

[2016-11-05 21:33] aanchal07 commented on #164
@anubhakushwaha Yes you can but there is no use of this table entry as of now.

[2016-11-13 16:53] anubhakushwaha opened #167 "Implementing the Replay button"
The replay button can be implemented in the ScenarioOverActivity so that the user can play the same scenario as many times as he/she wants. @chhavip Can I work upon this? It would reset the karma points gained due to the particular scenario.

[2016-11-15 17:43] chhavip opened #169 "Provide Labels to Buildings in Map"

[2016-11-15 17:56] chhavip opened #170 "Create a screen for "Not Enough Points" condition"

[2016-11-15 18:22] anubhakushwaha opened #171 "Complete the avatar in all the activities."
Few of the parameters have not been taken care of like hat,bag,glasses and necklace in some other activities which display the avatar.Even after buying those accessories they are not displayed whenever the avatar is displayed in activities other than Avatar Activity.

The Avatar Activity also shows the wrong avatar due to wrong col_id accessed by the methods in Database Handler like getAvatarHat()

[2016-11-15 18:27] anubhakushwaha opened #172 "Display alert message when user clicks an unappropriate option."
Warn the user if he/she chooses an option which should not be opted.Can be easily implemented by answers.get(position).getPoints() equals zero.An alert dialog can pop up asking the user to rethink about it. @chhavip @MeepyMay Let me know if I can go ahead.

[2016-11-16 17:48] chhavip commented on #172
As discussed, this can be a GCI task for now and up for attempt by pre-university students.

[2016-11-18 04:00] chhavip commented on #171
Sounds good, can go ahead with this if you wish to.

[2016-11-18 05:42] anubhakushwaha commented on #171
@chhavip Sure,thanks :)

[2016-11-18 14:50] anubhakushwaha commented on #171
@chhavip Done. #173 Please review and let me know if any changes need are to be done.

[2016-11-27 07:55] anubhakushwaha opened #174 "The scenario's should be played in order"
The current version allows the user to operate at any level without following the sequence designed to be followed.This feature would require database change as an addition of a new column storing the previous scenarioID will solve this problem. @chhavip Can I start working on this?

[2016-11-27 14:17] anubhakushwaha opened #175 "Static avatar face in power status bar"
The current version of the app shows a fixed image irrespective of the avatar of the player.
![screenshot from 2016-11-27 19-37-32](https://cloud.githubusercontent.com/assets/12814245/20648940/c5e87ce0-b4d9-11e6-9518-dd106736cc1c.png)
@chhavip @alma-castant What I wanted to suggest is to instead include a set of imageviews that would include just-face,eye,hair,hat and glasses. With just this one i

[2016-11-28 04:26] codingblazer opened #176 "Multiple instances of startActivity"
In map Activity , if we use home button to go back to startActivity , multiple instances of start Activity are created as shown below -

![example](https://cloud.githubusercontent.com/assets/13872065/20656257/cbd0defa-b550-11e6-8ac3-f1dc638d2b66.gif)

Should I send PR for this ?

[2016-11-28 06:10] codingblazer opened #177 "Implementing About Button"
Following  #122
The "About" button or Intro slides are not implemented in app which makes it difficult for even developers to understand the app and its purpose for the first time. I suggest the following -

1. Implementing intro slides for first time and using the same for the **"About"** button. As for PR #122 , the PR used library to implement the same while it can be done without library using

[2016-12-01 23:21] MKDEVELOPEMENT commented on #88
is this still up for grabs?

[2016-12-01 23:27] MKDEVELOPEMENT commented on #170
what exactly is the aim of this ? @chhavip  what are the requirements

[2016-12-01 23:48] MKDEVELOPEMENT commented on #14
can I get this please

[2016-12-02 15:30] chhavip commented on #170
Currently if the user wants to buy an item and does not have enough points for the same, the game lets the user buy and just displays a toast in the end saying there were not enough points. It would be better that a purchase of such an item is not possible and the message is displayed in starting either on a separate screen or as a snackbar.

[2016-12-02 15:35] chhavip commented on #88
Yes you can take up this task, make sure the app state is retained in every screen on orientation change.

[2016-12-02 18:33] MKDEVELOPEMENT commented on #166
is this still available ?

[2016-12-02 18:46] MKDEVELOPEMENT commented on #170
![screenshot_2016-12-02-20-40-59 1](https://cloud.githubusercontent.com/assets/24259630/20845936/003851d2-b8d0-11e6-8979-ced10a35a351.png)
so currently it allows you click the continue button which takes you to this activity :
![screenshot_2016-12-02-20-41-05 1](https://cloud.githubusercontent.com/assets/24259630/20845986/349e1434-b8d0-11e6-8069-46aaf6dc72c7.png)
so if I'm correct, you want this b

[2016-12-02 22:09] MKDEVELOPEMENT commented on #169
can I get this please

[2016-12-02 22:10] MKDEVELOPEMENT commented on #169
if I'm correct, I just have to say like "school", "home" over the location on map?

[2016-12-02 22:14] MKDEVELOPEMENT commented on #169
if I'm correct, I just have to say like "school", "home" over the location on map? @chhavip

[2016-12-03 06:00] chhavip commented on #170
Quite correct, yes. But that should happen only when you don't have enough points and not till you can buy items.

[2016-12-03 06:02] chhavip commented on #169
You can come up with any alternative that suits. Can either make the buildings blink once when the app starts or add labels.  My only concern with labels is ruining the look of the scenario so if you can make it still look pretty, go ahead :)

[2016-12-03 06:03] chhavip commented on #169
You can come up with any alternative that suits. Can either make the buildings blink once when the app starts or add labels.  My only concern with labels is ruining the look of the scenario so if you can make it still look pretty, go ahead :)

[2016-12-03 06:13] chhavip commented on #166
@riddhik84 are you working on this? or else this can be taken up by @MKDEVELOPEMENT

[2016-12-03 07:33] MKDEVELOPEMENT commented on #169
cool, ill see which one works best for me

[2016-12-03 08:55] eviltak commented on #172
I'd like to claim this issue for GCI.

[2016-12-03 09:12] anubhakushwaha commented on #172
@eviltak You can submit a link to your PR and screen shot containing the required changes in the comments section on your gci instance of the task, that will help the mentors to provide live suggestions and comments and easier for you to make the changes accordingly.

[2016-12-03 09:16] eviltak commented on #172
I won't be able to work on the task for now, so I'm unclaiming the issue for now so that others can still claim it.

[2016-12-03 15:05] MKDEVELOPEMENT commented on #172
can this message be in the form of a dialog or snackbar (optional)?

[2016-12-03 16:57] riddhik84 commented on #166
@chhavip I had started working on this task but then I have created a GCI task which is mapped to this issue.

[2016-12-03 16:58] anubhakushwaha commented on #172
@MKDEVELOPEMENT Please the claim the task and ask your queries in the comment section there and we will redirect you from there accordingly :)

[2016-12-03 17:40] chhavip commented on #166
Ok! @MKDEVELOPEMENT if you wish to you can claim that task and start working on this issue.

[2016-12-03 17:41] chhavip commented on #176
Please analyse the problem area and suggest how would you be fixing it.

[2016-12-03 17:42] chhavip commented on #175
@anubhakushwaha Sounds like a valid issue that needs to be worked upon.

[2016-12-03 17:49] anubhakushwaha commented on #175
@chhavip So can I start working on this and inform about the changes built by posting the screenshots alongside?

[2016-12-03 19:44] codingblazer commented on #176
@chhavip
Well the problem is -
`homeButton.setOnClickListener(new OnClickListener() {
            @Override
            public void onClick(View v) {
                finish();
                startActivity(new Intent(MapActivity.this, StartActivity.class));
            }
        });`
Here finish() is enough to reach StartActivity as it will be already in backstack. **startActivity(new Intent(MapAc

[2016-12-03 20:12] jacqueline8711 commented on #167
I'm now working on this and claimed the GCI task for it

[2016-12-04 06:15] chhavip commented on #167
@jacqueline8711 Will check, thanks!

[2016-12-04 06:17] chhavip commented on #175
I am assuming you are planning to create images for each set of possible combinations that the user can pick?

[2016-12-04 06:19] chhavip commented on #176
Hmm, from what I remember that line of code was for the purpose of not losing user data. If you think this will not make the game inconsistent at any point and will adhere every scenario, you can go ahead.

[2016-12-04 08:51] jacqueline8711 commented on #175
Wouldn't it be better to just not display any image of the character in the status bar (the character is standing directly above it anyway and the user knows that it's her character) and use the space to add labels to the different health & power bars?

[2016-12-04 09:03] anubhakushwaha commented on #175
@chhavip No,as we are generating the avatar dynamically in every screen using the database values stored in Avatar table in exactly the same manner just the face.

[2016-12-04 14:42] chhavip commented on #175
I actually like @jacqueline8711's suggestion too. Lets put this up for discussion on the slack channel and see what the best outcome is.

[2016-12-04 14:55] chhavip commented on #176
Solved with #187

[2016-12-04 14:55] #176 closed

[2016-12-05 08:56] InfernoCoder commented on #172
I'd like to claim this for Google Code-In. BTW, should I display a Toast, Alert, or a Snackbar?

[2016-12-05 12:16] InfernoCoder commented on #172
@anubhakushwaha  I have created a PR for this issue [here](https://github.com/systers/powerup-android/pull/189).

[2016-12-05 14:15] anubhakushwaha commented on #172
@InfernoCoder There are some more changes to be done in your code. Please follow-up with the suggestions provided in the GCI website comments section.

[2016-12-05 16:18] InfernoCoder commented on #172
I didn't understand the comment in GCI, so it means that I have to return to Map, if a button called 'No' is pressed, and continue if a button called 'Yes' is pressed?

[2016-12-05 16:21] anubhakushwaha commented on #172
@InfernoCoder Please ask your queries in the comments section at GCI web app.

[2016-12-05 16:51] InfernoCoder commented on #172
I have already asked it there but got no response

[2016-12-05 17:00] anubhakushwaha commented on #172
@InfernoCoder Apologies,please check now.

[2016-12-05 18:04] InfernoCoder commented on #172
@anubhakushwaha  All problems fixed, and PR is [here](https://github.com/systers/powerup-android/pull/189).

[2016-12-06 13:38] InfernoCoder commented on #170
@chhavip I would like to claim this issue

[2016-12-06 16:14] InfernoCoder commented on #170
@chhavip  I have created the PR [here](https://github.com/systers/powerup-android/pull/189/commits).
**Please ignore the last 2 commits BEFORE the latest as they were made by accident.**
**This PR also contains [this issue](https://github.com/systers/powerup-android/issues/172).**

[2016-12-07 12:20] InfernoCoder commented on #170
@chhavip  Here is [the PR](https://github.com/systers/powerup-android/pull/193).

[2016-12-08 13:43] InfernoCoder commented on #174
@anubhakushwaha Is this one still available?

[2016-12-13 09:45] mahikaw opened #202 "Improving UI"
As of now, the app doesn't seem to be very intuitive and hence not very usable. I would like to add the following to improve it. Please guide me through it.
- [ ] Adding Demo Screen using Showcase view library.

- [ ] Materialise the app.

- [ ] Highlighting the buttons of home,library,store etc.

- [ ] Add better toolbar.

[2016-12-13 09:51] mahikaw opened #203 "new situations and scenarios"
I think some new scenarios/situations need to be added to the app, which address other problems as well and hence, creates awareness.

[2016-12-14 03:03] anubhakushwaha opened #204 "Add a timestamp to each scenario"
PowerUp is an educational game where the teenagers have to respond to certain situations by answering certain questions.A time bound would make the game more interesting where in limited amount of time they need to respond in each scenario.The time in which they complete would directly update their points accordingly and if the time is over they wouldn't earn any point.@chhavip @MeepyMay Please re

[2016-12-14 06:42] chhavip commented on #204
@anubhakushwaha , the questions asked in the scenarios aren't really difficult that would require computations or take time to answer. We do encourage the users to actually think before answering. However this can be useful mini-games that we plan to implement. So lets keep this in mind and look for incorporating the mini-games in the application.

[2016-12-14 06:43] chhavip commented on #203
Good idea. We are looking for the same, please suggest some that you would like to incorporate.

[2016-12-14 06:45] chhavip commented on #174
@anubhakushwaha @InfernoCoder , this is a good issue that can be worked upon. Let us keep this in mind for after GCI.

[2016-12-14 06:59] anubhakushwaha commented on #204
@chhavip Sure,thanks.

[2016-12-14 07:08] mahikawason commented on #203
I think the following issues can be addressed in a similar way as before( situation-based learning)

**1. Social Coercion** This can be done by creating situation where Rosie's boyfriend says stuff like:

- "Let's have sex, everybody’s doing it.", "Sex is the way to prove that you love me" and so on. Where Rosie can respond in the following ways: " I really like you but I'm not ready", "If you lov

[2016-12-14 07:08] InfernoCoder commented on #174
Ok

[2016-12-14 07:21] mahikawason commented on #203
**Mini Games:**
We include games for sex education, for example the app will throw descriptions of a certain word to the user and the user has to guess that word and select it from a set odf options provided. In this way, she will get to know more about sex, reproduction, puberty etc.
Next, could be a puzzle game where from a block of randomly placed letters, she will have to find specific words(

[2016-12-14 12:47] top-gun007 commented on #134
is this still an issue?

[2016-12-14 13:29] chhavip commented on #134
Yes

[2016-12-14 14:36] mahikaw opened #205 "Modify gitignore"
Right now git isn't optimized for android studio, so i propose to modify the gitignore. I'll add the PR asap.

[2016-12-15 14:02] chhavip commented on #203
Quite good suggestions! Will be kept in mind during the next expansion of the application.

[2016-12-16 04:31] top-gun007 commented on #134
can I work on it then?

[2016-12-16 19:21] mahikaw opened #212 "Missing title for Store activity"
All other scenes like home, hospital etc. have the title at the top, while the store scene doesn't.

[2016-12-17 09:26] mahikawason commented on #175
HI, @chhavip i was looking to work on this issue. Could you please add me to the slack group. My e-mail id is mahika16241@iiitd.ac.in thanks :)

[2016-12-17 10:18] mahikawason commented on #160
Is someone working on it? @chhavip

[2016-12-17 15:38] chhavip commented on #160
This has been handled. Should close the issue, thank for pointing out @mahikawason

[2016-12-17 15:38] #160 closed

[2016-12-18 07:10] anubhakushwaha commented on #175
@mahikawason http://systers.io/slack-systers-opensource/ Welcome to systers

[2016-12-18 07:10] mahikaw opened #215 "Adding a new user screen"
I think we could add a new user screen to the app which appears after the "new user" button is pressed. This screen could have add-ons like prompting a name from the user apart from avatar selection.
This would in-turn enhance the user interaction.
@chhavip , please let me know if this is an intended feature. I would love to work on it. Thanks :smile:

[2016-12-18 07:45] mahikawason commented on #175
@anubhakushwaha thankyou :smile:

[2016-12-18 16:24] chhavip commented on #177
The issue mentioned in part 1 is genuine and needs to be addressed, but the need of a splash screen is still not justified. You are welcome to create a new issue with just the first point to be implemented if you wish to. Closing this issue as it may be misleading.

[2016-12-18 16:24] #177 closed

[2016-12-18 16:26] #117 closed

[2016-12-18 16:26] #104 closed

[2016-12-18 16:26] #88 closed

[2016-12-18 16:27] chhavip commented on #119
Fixed in GSoC 2016.

[2016-12-18 16:27] #119 closed

[2016-12-18 16:27] chhavip commented on #123
Fixed in GSoC 2016

[2016-12-18 16:27] #123 closed

[2016-12-18 16:30] chhavip commented on #215
There is already a new user screen and so far a fixed name is used for the avatar. How will the entered name be used?

[2016-12-18 17:50] codingblazer opened #218 "Implementing Intro Sliders"
Following #122 #177
Intro slides are not implemented in app which makes it difficult for even developers to understand the app and its purpose for the first time. I suggest the following -

Implementing intro slides for first time and using the same for the "About" button. As for PR #122 , the PR used library to implement the same while it can be done without library using the Viewpager (with dot

[2016-12-18 18:01] anubhakushwaha opened #219 "Update README with contributing guidelines"
Our project needs to update it's README ,I have shared this doc , @chhavip Please review the same regarding the contribution guidelines.I will update the doc as per your say and add other things as well.Let me know if I can work on the same.
https://docs.google.com/document/d/1Eu3cNQ3N7URBW-DB4ryeS9gYBd6T_bL_-Gz64n-Vvt0/edit?usp=sharing

[2016-12-19 05:15] chhavip commented on #219
Hey, the guide looks good! But I wouldnt suggest including it in the README as it will make it endless. Include it in the wiki if you wish to. We can link the wiki page in the README

[2016-12-19 05:58] anubhakushwaha commented on #219
@chhavip Yeah I agree,will follow as per your say.

[2016-12-19 07:06] mahikawason commented on #215
The username can be used in the power status bar and other places ( new scenarios added, new games if, added), we could also incorporate a "hi, <name>" at the start. The basic aim is to make it more personalised so as to make it easier for the user to connect with the app.

[2016-12-19 14:50] anubhakushwaha opened #220 "Make all the activities uniform"
It would be a good idea to make the GameOverActivity uniform with the rest of the app, and remove the action bar which shows the app name. Instead the screen should just show the activity with no action bar. @chhavip Please review and if suitable label it as free/beginner so that it can be taken up.Thanks!

[2016-12-19 16:58] top-gun007 commented on #134
@chhavip can I start working on it.
_Thank you_

[2016-12-19 17:04] top-gun007 commented on #159
I am interested in correcting this can I proceed if no one is working on it.
Thank you

[2016-12-19 17:45] mahikawason commented on #220
The same is true for completed scene activity.
There is inconsistency in the way different activities look.

[2016-12-19 19:56] mahikaw opened #222 "Slight error in the house activity"
1. The question displays a "3" instead of a question.. A very trivial issue..
This screenshot depict it.
![device-2016-12-19-231107](https://cloud.githubusercontent.com/assets/21010060/21327063/5a79ac50-c653-11e6-8514-bd716a8f05ca.png)

2. Also, some of the questions/answers are displayed in quotes, which is unnecessary and not required.
![device-2016-12-20-012129](https://cloud.githubusercontent.

[2016-12-20 07:26] mahikaw opened #224 "Enhancing the look and feel of the app."
The app seems to be very basic and static as of now.
I propose to add some transitioning effects to it. @chhavip please tell if this is intended and if I can start working on it.

[2016-12-20 07:26] chhavip commented on #220
Yes, this can be taken up. Attach screenshots of the activities you intend to correct before sendong a PR.

[2016-12-20 07:31] mahikawason commented on #220
![device-2016-12-20-125914](https://cloud.githubusercontent.com/assets/21010060/21341790/53ea32f4-c6b4-11e6-8bad-54d87f21afab.png)

This is what I was talking about.

[2016-12-20 07:47] mahikawason commented on #220
![device-2016-12-20-131244](https://cloud.githubusercontent.com/assets/21010060/21342130/51f40afe-c6b6-11e6-87be-fe2d2b7b8a46.png)

![device-2016-12-20-131321](https://cloud.githubusercontent.com/assets/21010060/21342145/61bc7c5a-c6b6-11e6-8d4a-a49ecdaa0d7b.png)

This one has been taken care of in PR #214 created by me. Please review and merge it. :smile:

[2016-12-20 16:23] mahikaw opened #227 "Alignment problem of text in completed game"
Text at the complete game activity is a bit misaligned. I'll create a PR fixing this ASAP if that's okay. @chhavip

![device-2016-12-20-192705](https://cloud.githubusercontent.com/assets/21010060/21354929/00cc2800-c6f2-11e6-99cc-fa78c746897d.png)

[2016-12-21 05:43] chhavip commented on #224
We do not require transitions effect as of now as they will be superfluous and unnecessary at this point. This can be looked up once the basic structure of the game is complete.

[2016-12-21 05:43] #224 closed

[2016-12-21 05:44] chhavip commented on #219
This has been taken care of so closing as of now.

[2016-12-21 05:44] #219 closed

[2016-12-21 06:32] mahikaw opened #230 "New user account."
Every time the game is completed and the user presses the power up logo to reach the home screen and start the game again, shouldn't it get refreshed/updated? As of now, the game scenario remains the same.
A fix to this could be intimating the user in some way to click on the "new user" button if she wants to play the game from the start or what's better I think is that we could implement a new "r

[2016-12-21 06:45] mahikaw opened #231 "Replaying scenarios"
There are 2 buttons at the top right corner of every scenario, the replay and home button, however when the replay button is pressed once, both the buttons go away. Shouldn't they stay and allow the user to replay a scenario as many times as she wants to?

[2016-12-21 07:35] mahikaw opened #232 "inconsistent layout on different devices"
I was testing the app on a nexus 5x and a few other phones and found some issues with the layout on it. The questions and the answers list views are merging into the template border as can be seen in the following screenshots.
Please approve this as a genuine issue so that it can be taken up for fixing. Thanks. :)

![device-2016-12-21-125615](https://cloud.githubusercontent.com/assets/21010060/213

[2016-12-21 12:32] chhavip commented on #232
What would be your approach to fixing it?

[2016-12-21 12:37] chhavip commented on #17
Fixed during GSoC 2016. Closing.

[2016-12-21 12:37] #17 closed

[2016-12-21 12:39] chhavip commented on #141
Closing for now as requires further discussion.

[2016-12-21 12:39] #141 closed

[2016-12-21 14:46] mahikaw commented on #232
I did some research on this issue and found out that using "sp" instead of "dp" as size units can help solve this problem. I did that on my local repo and tested it on different devices once again. It seemed to solve the issue. @chhavip can I go ahead and create a PR to fix this?

[2016-12-21 15:36] mahikaw commented on #231
oh okay. Thanks @anubhakushwaha for pointing this out. :smile:

[2016-12-21 15:36] #231 closed

[2016-12-21 17:56] top-gun007 commented on #75
According to the current version the text box should be more closer to avatar.
Can I correct it
Thank you

[2016-12-21 18:38] shreab373 commented on #134
@chhavip i would like to work on this too

[2016-12-21 20:33] mahikaw opened #239 "Unwanted scenario names following school scenario"
After the school scenario is played, some unwanted scenarios with scenario names like "sex" and "love" follow. The following depicts it.
![device-2016-12-22-015635](https://cloud.githubusercontent.com/assets/21010060/21405073/5c660e9e-c7ea-11e6-9ca7-76a822525454.gif)

@chhavip , It would be great if you could review and suggest if this is intended or a valid issue.

[2016-12-22 05:36] chhavip commented on #232
Please attach the screenshots of your local repo with the modifications.

[2016-12-22 05:37] chhavip commented on #239
For now this is not a valid issue. We will be revamping the entire database in the future where it will be taken care of together.

[2016-12-22 05:37] #239 closed

[2016-12-22 05:41] chhavip commented on #134
@top-gun007 are you working on this?

[2016-12-22 05:45] top-gun007 commented on #134
yes I would gladly do it will send a PR soon.
One more thing I wanted to know if I have a suggestion for this project should I discuss it on slack or I can directly open an issue for it.
Thank you

[2016-12-22 06:01] mahikaw commented on #239
Oh, okay. Sounds good.

[2016-12-22 07:06] mahikaw commented on #232
![screenshot_1482390016](https://cloud.githubusercontent.com/assets/21010060/21417745/b56aa3da-c842-11e6-887b-e0668b505eb8.png)
![screenshot from 2016-12-22 12-34-16](https://cloud.githubusercontent.com/assets/21010060/21417828/3024fd00-c843-11e6-9b54-b408fa844df7.png)
![screenshot from 2016-12-22 12-35-29](https://cloud.githubusercontent.com/assets/21010060/21417829/302a3e28-c843-11e6-8313-18089d

[2016-12-22 20:21] shreab373 commented on #134
@chhavip i'll find another :)

[2016-12-22 20:35] chhavip commented on #134
You can discuss on #powerup channel on slack @top-gun007

[2016-12-23 07:15] mahikaw commented on #215
@chhavip is this not intended?

[2016-12-24 05:20] mahikaw opened #241 "Game completed screen appears before it actually is completed"
The game when started from home manually goes to "hospital" activity after which the screen saying "game completed, wait till we upload new scenarios" comes up..

![device-2016-12-20-220105](https://cloud.githubusercontent.com/assets/21010060/21465368/9b9e19ca-c9c6-11e6-8866-ee281c60a634.png)

even though the other 2 scenarios aren't played by the user.
Maybe, instead of the game completed scene i

[2016-12-24 14:03] anubhakushwaha opened #243 "Same questions in each scenario"
The purpose of bringing the concept of different scenario's was to make the user more alert to different situations at different places.Providing the users the same set of questions is not so user interactive. @chhavip If you agree I could prepare questions and corresponding answers and share with you so that we can resolve this issue in case it is one.Thanks!

[2016-12-28 17:24] heysadboy commented on #202
Hi @mahikaw! I love your app's concept. I am a 3rd year engineering student into development and UX/UI designing and would want to work on the app's UI. I think I would be able to work on it. Please do tell me if how can I contribute.

[2016-12-30 05:28] chhavip commented on #202
I would suggest to make each of the suggestions as a separate issue. But for discussion, we are not looking to materialise the app as it is a gaming application with a theme of its own. What does adding a better toolbar indicate as there is no toolbar as of now? The demo issue is already open and so is the issue about highlighting labels on buildings.

[2016-12-30 05:28] #202 closed

[2016-12-30 14:00] chhavip commented on #232
Go ahead and send a PR.

[2016-12-30 14:01] chhavip commented on #230
I did not get what you are trying to explain in this issue. Please list down the different scenarios you envision having.

[2016-12-30 14:02] chhavip commented on #227
Closing as it has been fixed via #238

[2016-12-30 14:02] #227 closed

[2016-12-30 14:02] chhavip commented on #222
Closing as has been fixed via #2364

[2016-12-30 14:02] #222 closed

[2016-12-30 16:11] mahikaw commented on #230
After playing a few scenarios and returning to map, if the user wants to start a new game without changing the avatar(or selecting the new user option), there is no provision for that. @chhavip i was wondering if we could implement another button at the start activity to reply the entire game(it would reset the  game except the avatar and other user details, which we might want to incorporate in f

[2016-12-30 21:10] arpnakumari opened #253 "karma points are lost once the app stopped working"
Once the app stops working the karma points are lost and can't be gained again.

**Steps to reproduce:**

1. Complete the game or earn karma points.
2. When the game completes ->store
3. store-> clothes -> click left or right button
4. Error flashes powerup has stopped working
5. As soon as the app again starts working the karma points is displayed 0.

![screenshot_2016-12-31-02-12-53](https://clo

[2016-12-31 05:13] mahikaw commented on #253
hi @arpnakumari!  By"when the game completes" in point 1 in your steps to reproduce, do you mean the following screen?

![device-2016-12-31-103920](https://cloud.githubusercontent.com/assets/21010060/21575947/b020fea6-cf45-11e6-942a-2c1f6fb51d13.png)

Is this the screen where you are telling to go to store to reproduce the error?

[2016-12-31 05:38] arpnakumari commented on #253
By game completes means to earn some karma points or complete all scene in total.

[2016-12-31 05:46] chhavip commented on #253
Can you come up with the cause of the crash? Is it across all devices or specific to your settings of the same?

[2016-12-31 05:48] chhavip commented on #253
The application does not seem to crash on my device (Xperia Z3 with Android Marshmallow) after completion. Please provide a probable cause for the same on yours.

[2016-12-31 08:46] codeb1ooded opened #254 "Found some disordering in activities"
I found out that in some activities if we open an activity and then click back on that activity, it should not go to previous activity that was opened.

1: When I first installed the app and played the game. After the ScenarioOverActivity, if I click home button then it opens up the MainActivity. On the MainActivity, if I clicked back I am again taken to GameActivity. Similarly, on clicking back G

[2016-12-31 10:09] arpnakumari commented on #253
I don't know the cause of the crash :(
I don't even have another phone to test it. And my system is too old to run any emulator.
I tried it and i'm still getting it on Yu Yureka Plus (android 5.1.1 with cyanogen 12.1)

[2017-01-01 09:31] arpnakumari commented on #253
@chhavip sorry, Ichecked on other phone it worked fine.

[2017-01-01 11:40] #253 closed

[2017-01-01 17:39] chhavip commented on #253
Its fine :)

[2017-01-01 17:41] chhavip commented on #254
Good catch. Can work on this. Please illustrate what steps will you take to fix the same.

[2017-01-02 06:08] codeb1ooded commented on #254
For 1st case, since it's the main activity of app and no other activity should be in backStack below it, I guess it should be declared as `android:noHistory="true"` in manifest.

For 2nd case, `android:noHistory="true"` doesn't apply as MapActivity has MainActivity below it. In the app, I found that instance of every activity is maintained and previous activities were finished in some cases using

[2017-01-06 20:11] mahikaw opened #258 "non-uniform button appearance at the starting page"
The text of "start" and "new user" activity are in bold while that of "about" is not. This doesn't give a very nice appearance to the app.
However, I noticed that these are images in the drawable and the text isn't written in android studio.
Maybe, we could replace the images.
@chhavip I would like to work on this. Could you please approve. Thanks.

![photo785144477708822642](https://cloud.githubu

[2017-01-06 20:16] mahikaw opened #259 "The power status bar "current emotion" field"
The current emotion field remains "happy" all the time. I don't exactly get it's utility. Shall we make it dynamic, based on the answers of the users?
Also, there was a previous issue regarding the static avatar face on the bar. Did we come to any conclusion and is someone working on that?
@chhavip , please review. thanks :)

[2017-01-06 20:34] mahikaw opened #260 "Labelling the characters"
As of now, the game activity gives no indication as to who the two figures in it are. For first timers, it could get a bit confusing as to who is asking the questions etc. We could label the two figures as being "you/<name_of_user>" and "boyfriend".
Doing this would enhance the interactivity of the app.
@chhavip please review. :)

![photo785144477708822643](https://cloud.githubusercontent.com/asse

[2017-01-06 20:44] mahikaw opened #261 "Unnecessary imageview in store activity"
There is this unnecessary image showing age as 12 in the store activity. We could specify this age limit at the starting of the app or in the about/introductory pages.
@chhavip please review. Thanks :)

![photo785144477708822644](https://cloud.githubusercontent.com/assets/21010060/21732357/1308f31e-d47f-11e6-97f1-dd9be589f1b1.jpg)

[2017-01-07 22:25] FarbodSalamat-Zadeh opened #263 "Refactor code to avoid repetition and make code structured"
Currently, a lot of the code in the activities are similar to each other. For example in `DressingRoomActivity`, we have this

[code]

This sort of structure is repeated often not only in `DressingRoomActivity` but in other activities too.

Splitting larger methods into smaller ones can also reduce repetitiveness as well as making the code more structured and readable.

[2017-01-08 06:45] aanchal07 commented on #263
Good catch. Yes you can open up an issue for this and send a PR for it. Good luck.

[2017-01-08 07:17] mahikaw opened #264 "Updating README"
We could add the .apk of this app in the README for easy accessibility and building the app for contributors as well as others.
@chhavip @aanchal07 should I go ahead and submit a PR for this?

[2017-01-08 07:23] chhavip commented on #264
@mahikaw We are not looking to add a static apk as it wont get automatically updated with each PR making the work unnecessarily manual. But continuous integration is something that can be a desired addition. Let me know if that is something you are familiar with doing.

[2017-01-08 07:25] chhavip commented on #263
@FarbodSalamat-Zadeh Before sending a PR, can you please illustrate how you are planning to refactor the code? A parent function in each class or a separate utils class as some functions might be repeated over different classes?

[2017-01-08 07:30] chhavip commented on #258
@mahikaw, yes, this is a valid issue, go ahead.

[2017-01-08 07:36] chhavip commented on #260
@mahikaw , no we are not looking to label the characters as of now, probably include it in the introduction or about of the application which is already an open issue. Perhaps labeling will be required when there are more characters but for now not really. Thank you for pointing this out! Closing for now.

[2017-01-08 07:36] #260 closed

[2017-01-08 07:38] mahikaw commented on #264
yes, @chhavip, I can go ahead with dynamic updation. This would mean that the apk will get updated everytime a PR is merged to the main branch "develop".
Can I start working on this?

[2017-01-08 07:39] chhavip commented on #259
Yes, the current emotion needs to be changed dynamically but there is no direct correlation between the answers and the emotions as of now. This needs to be resolved, perhaps in the next development cycle of GSoC 2017. This is a valid issue but with no clear path for resolution, if you have suggestions, please add them.

As for reference to the other issue, please comment on the respective thread

[2017-01-08 07:44] mahikaw commented on #258
Okay. However, @chhavip since the text is with the  button background, will it be okay to change all 3 buttons so as to make them uniform?

[2017-01-08 07:55] mahikaw commented on #260
Okay, so if we do it in the introduction, could we add like an intro screen where the 2 present characters meet and say hi and thus, introduce themselves?

[2017-01-08 08:05] chhavip commented on #258
What is the need to change the other buttons? Cannot a new About button be created similar to existing buttons?

[2017-01-08 08:13] mahikaw commented on #258
I'll need that exact same brown background image which isn't available. I'll try modifying the image to remove the text, nevertheless. :smile:

[2017-01-08 08:15] chhavip commented on #258
You can color pick the brown color and paint over the existing text to get the background.

[2017-01-08 08:16] mahikaw commented on #258
okay sure I'll do that and create a PR asap :)

[2017-01-08 08:25] mahikaw commented on #259
I think we could add conditions like if a specific answer is chosen, the emotion field changes to a corresponding mood entry. Is that what we are looking for?

[2017-01-08 08:28] mahikaw commented on #175
@chhavip @aanchal07 is this issue still up and intended?
If it is, I would love to work on this.

[2017-01-08 08:40] mahikaw opened #265 "Reducing the size of APK"
We could decrease APK size which would enable easy download and better performance.
@chhavip @aanchal07 can I go ahead and make a PR for this?

[2017-01-08 16:34] anubhakushwaha commented on #123
@chhavip Why was this issue closed? It' again referenced now in #258

[2017-01-08 17:12] chhavip commented on #123
Might have missed it, or it got reverted back. Lets continue on that issue for now

[2017-01-09 01:23] BaaniLeen opened #268 "Extra White space and Scroll bars in the Game_Activity screen"
![bug1](https://cloud.githubusercontent.com/assets/22029744/21755266/350d2f70-d637-11e6-97df-0c93f236c52c.png)
![bug1 1](https://cloud.githubusercontent.com/assets/22029744/21755284/8724002c-d637-11e6-94f0-1799e439d8da.png)

There is Extra White Space in some of the screens and a scroll bar in others. We can have a common placeholder which instead of having a fixed size has the height as wrap-cont

[2017-01-09 01:35] BaaniLeen opened #269 "Position of ImageButtons for the hair, clothes, accesories in the Store"
![suggestion1](https://cloud.githubusercontent.com/assets/22029744/21755407/62cfc524-d639-11e6-95b7-09a195702b0f.png)
The clickable ImageButtons in the Store should be aligned along the left and right sides of the parent container and should be center-aligned vertically allowing the user a wider clickable region to move back or forth easily.
@chhavip Shall I make a PR for the same? :)

[2017-01-09 03:22] mahikaw commented on #268
@Baanileen , This has been already taken care of and is on it's way to getting merged. :)

[2017-01-09 03:30] BaaniLeen commented on #268
@mahikaw Okay. That's great :)
Can you plz mention the issue number?

[2017-01-09 03:41] BaaniLeen opened #270 "Change of Name and the Player icon needed in the store"
![bug2](https://cloud.githubusercontent.com/assets/22029744/21756749/4c5ddc24-d64b-11e6-843c-035e241dc55b.png)

The name "Rosey" can be user customised and also the Player Icon placed just above the name "Rosey" should be in sych with the player avatar.
@chhavip @aanchal07 Can I make a PR regarding the same?

[2017-01-09 04:13] mahikaw commented on #270
@BaaniLeen this is same as  #215 #175 . :)

[2017-01-09 04:14] mahikaw commented on #268
#232

[2017-01-09 12:47] BaaniLeen commented on #268
Thank u @mahikaw  :)

[2017-01-09 13:17] BaaniLeen commented on #270
Okay thanks @mahikaw :)
@chhavip @aanchal07 Are any of the issues still open? If so, I would to contribute to them too :)

[2017-01-09 15:43] chhavip commented on #232
Fixed via #252

[2017-01-09 15:43] #232 closed

[2017-01-09 15:43] chhavip commented on #268
Closing as taken care of.

[2017-01-09 15:43] #268 closed

[2017-01-09 15:45] chhavip commented on #215
For now, this is not intended. Closing till further requirement.

[2017-01-09 15:45] #215 closed

[2017-01-09 15:46] chhavip commented on #259
This is intended but currently no discussion can be undertaken as to what answers refer to which emotions. So this issue will be put on hold till next development cycle.

[2017-01-09 15:47] chhavip commented on #270
Closing as already exists. Continue discussion on those issues.

[2017-01-09 15:47] #270 closed

[2017-01-09 15:52] chhavip commented on #269
Please point out the current configurations of the buttons and what all changes you intend to make. As it is a feature who's importance can only be judged after testing, you are welcome to make a PR but whether it'll be merged will depend on the amount of improvement it brings.

[2017-01-09 15:56] chhavip commented on #265
How are you planning to achieve this? Also indicate the current size and the amount of reduction you plan to achieve before making a PR.

[2017-01-09 16:03] mahikaw commented on #265
I was thinking of using scalable drawable resources in place of image files and enabling shrinkResources apart from other things.
@chhavip , sure will do indicate that after I'm done, then you  and @aanchal07  could decide if it is intended. :)

[2017-01-09 16:06] mahikaw commented on #259
Great thanks. :)

[2017-01-09 16:22] chhavip commented on #265
Sure, go ahead

[2017-01-09 20:32] FarbodSalamat-Zadeh commented on #263
@chhavip Sorry, I missed your comment there.

Yes, I've added a utils class for methods that are used regularly throughout the whole app but most of the work involved moving parts of code to methods or loops. Implementing `OnClickListener` in many activities also avoided the repeated boilerplate with the inner anonymous method.

[2017-01-10 00:01] BaaniLeen commented on #269
@chhavip Yeah! Np :) Thanks for the advice. I will send a PR soon regarding the same :)

[2017-01-10 13:44] mahikaw opened #273 "Code cleanup"
The code of this app has a significant amount of redundancies like same images stored under diff. names, unused strings, various typos in code as well as comments, unused drawables, deprecated elements,unused method parameters, unused declarations and various other things.

@chhavip @aanchal07 can I make a PR after cleaning up the code?

[2017-01-10 14:10] aanchal07 commented on #273
@mahikaw There is already an open issue for code cleanup. Please continue discussion here.  #134

[2017-01-10 14:15] chhavip commented on #273
Closing this. In future please go through the existing list of issues before opening one @mahikaw

[2017-01-10 14:15] #273 closed

[2017-01-10 14:29] mahikaw commented on #273
oh, I missed it. Will keep it in mind.

[2017-01-10 14:30] mahikaw commented on #134
@chhavip @aanchal07 Can I send a PR with few fixes?

[2017-01-10 15:37] aanchal07 commented on #134
@mahikaw Yes go ahead.

[2017-01-11 06:43] aanchal07 commented on #264
@mahikaw yes go ahead and work on it. It would be a great if we can have the current apk file immediately.

[2017-01-12 05:48] chhavip commented on #134
@mahikaw and @aanchal07, this was fixed for now with #240 which has been merged. We do not need to work on this for now. Closing this issue till a large amount of code needs to refractored.

[2017-01-12 05:48] #134 closed

[2017-01-12 12:28] mahikaw commented on #134
@chhavip Perhaps, the earlier PR didn't clean a lot of things as there are still same drawables under diff. names, unused strings, dimensions and so on.
I would like to go ahead with a PR if that's okay as I had already cleaned up to a significant amount. :)

[2017-01-12 14:13] codingblazer opened #275 "Landscape UI problems"
In landscape mode,

1. The final avatar shown is not proper as shown below -

![whatsapp image 2017-01-12 at 19 41 05](https://cloud.githubusercontent.com/assets/13872065/21893022/56ebc21c-d8ff-11e6-9aa2-8f3f8e8bd709.jpeg)

2. In any scenario, there is a unnecessary white box below conversation as shown -

![whatsapp image 2017-01-12 at 19 41 05 1](https://cloud.githubusercontent.com/assets/138720

[2017-01-12 14:50] chhavip commented on #275
This looks like a good catch. Can work on theses issues. Also please test for landscape modes of different dpi devices. Plus make sure that the screens have scrollview as some content seems to run off and isnt available.

[2017-01-12 15:03] codingblazer commented on #275
@chhavip Yeah, will look all landscape related issues.

[2017-01-14 13:18] chhavip commented on #134
If you wish to send the PR, please go ahead, will check the significance of it before merging.

[2017-01-14 14:36] top-gun007 commented on #134
@mahikaw sorry for replying late I didn't delete unused strings and dimensions as it is not recommended as they might be used in future especially in projects like this which is still undergoing improvements.

[2017-01-15 05:00] mahikaw commented on #134
@top-gun007 , I think it will be impractical for any contributor to first search for strings and dimension that they want to add, if they exist.

[2017-01-15 05:01] mahikaw commented on #134
@chhavip okay. I am sending a PR please review it. Thanks :)

[2017-01-16 17:38] top-gun007 opened #278 "Changes in avatar gets lost when orientation is changed."
**Summary**
If a user create a new avatar in new user section and meanwhile if he/she rotates the screen the changes gets lost.

**Expected Output**
The changes in avatar should remain unchanged even when orientation is changed.

**Screenshots**
![image](https://cloud.githubusercontent.com/assets/15179401/21993407/b170d58a-dc40-11e6-984b-bbc84975dc37.png)
![image](https://cloud.githubusercontent.c

[2017-01-16 17:47] top-gun007 commented on #278
Can I start working on it @chhavip
_thank you_

[2017-01-16 19:08] top-gun007 opened #279 "Enhancement: When game is in progress."
**Summary**
Just like all popular games if a game is in progress the following things should be taken care of:

- If the game is in progress the _start_ button should be changed to _Resume_.

- If during this time the user clicks on new user and creates a new avatar he should firstly be warned and weather he/she wants to overwrite it or not.

- If a scenario is complete then that particular scenar

[2017-01-16 19:25] top-gun007 commented on #243
hi @anubhakushwaha @chhavip if this issue is going to be implemented wouldn't it be better if the questions can be fetched dynamically(using volley, retrofit etc.) this would enable us to update new scenarios as and when we want.
If yes, I would be happy to help with it.
_Thank you_

[2017-01-16 20:37] anubhakushwaha commented on #163
Closing because of irrelevant issue reported.

[2017-01-16 20:37] #163 closed

[2017-01-16 20:41] anubhakushwaha commented on #220
@mahikaw As it is merged,please close the issue.

[2017-01-16 20:43] anubhakushwaha commented on #220
Fixed via #237

[2017-01-16 20:43] #220 closed

[2017-01-16 20:49] anubhakushwaha commented on #164
Closing as it's not an issue as of now.

[2017-01-16 20:49] #164 closed

[2017-01-17 03:14] codeb1ooded commented on #254
@chhavip should I work on the issue?

[2017-01-18 22:21] codingblazer opened #281 "Bugs in Karma Points"
1. After making selections and continuing, we get our final avatar. Now if we press back, the screen doesn't show updated points (points are still 26). One can change orientation (to recreate activity) and see the original points it should have shown.

<img src="https://cloud.githubusercontent.com/assets/13872065/22085174/f30d78a4-ddf8-11e6-95dc-48162deebab3.gif" height="400" width="200">

2. Also

[2017-01-18 22:21] codingblazer opened #282 "Issues with Orientation Change"
There are following issues with orientation change -
1. In About Screen, if any item is expanded (For ex - Why this App is needed) and orientation is changed, it becomes collapsed.
2. On changing orientation is any scenario, scenario starts from beginning again.
3. Any selection made for avatar in Store goes away on changing the orientation.

@chhavip Should I send PR for this ?

[2017-01-18 22:54] codingblazer opened #283 "Adding Unselect Option in Store"
While selecting anything in store (Clothes/Hair/Accessories), if user has selected anything , he/she has no option to unselect any item.
We can implement a clear button for each item through which user can unselect any selection as shown below -

<img src="https://cloud.githubusercontent.com/assets/13872065/22086528/15e44fd2-ddff-11e6-8fba-23adb6ad79e6.png" height="500" width="250">

The unselecti

[2017-01-20 10:18] anubhakushwaha commented on #281
@codingblazer Yes a valid issue,can go ahead.

[2017-01-20 13:26] mahikaw commented on #264
Hi, I was working on it. I will be needing access to this repo so as to enable Travis @chhavip @aanchal07 .
Please see what can be done. Thanks :)

[2017-01-20 13:27] mahikaw commented on #261
@chhavip @aanchal07 please let me know if this is intended. :)

[2017-01-20 13:28] mahikaw commented on #241
Is this a valid issue @chhavip @aanchal07 ?

[2017-01-20 13:30] #205 closed

[2017-01-20 17:05] chhavip commented on #261
This is not intended right now, no need to modify the look of the store. Closing.

[2017-01-20 17:05] #261 closed

[2017-01-20 17:06] chhavip commented on #264
@mahikaw, write access to repo cannot be granted without a necessary reason, if it is not possible to integrate Travis without it, one of the existing owners will undertake the task.

[2017-01-20 17:08] chhavip commented on #264
Lets close this issue for now as it does not even reflect the actual task, this can be taken up during the next development cycle.

[2017-01-20 17:08] #264 closed

[2017-01-20 17:59] codingblazer commented on #281
@anubhakushwaha @chhavip Will be sending PR soon.

[2017-01-21 04:45] mahikaw commented on #264
@chhavip no problem. :)
maybe we could put it on hold, instead of closing it. You could guide on that.

[2017-01-21 04:47] mahikaw commented on #261
okay :)

[2017-01-21 07:22] chhavip commented on #279
These seem like valid issues, but it would be better to to work on them separately rather than combine them together.  For now, you can work on the issue of changing _start_  to _Resume_ and on the issue of warning a user before they create a new user. Send them as separate PRs.

[2017-01-21 07:27] top-gun007 commented on #282
@codingblazer I reported orientation change issue here #278

[2017-01-21 07:30] top-gun007 commented on #279
Will send PR's soon.
_Thank you_

[2017-01-21 07:31] mahikaw commented on #279
I think this is same as #230

[2017-01-21 07:31] mahikaw commented on #279
@chhavip please review.

[2017-01-21 07:36] top-gun007 commented on #279
hi @mahikaw in reference to your issue #230. It was related to starting a new game and the same can be accomplished through new user and the game would be restarted.

[2017-01-21 07:41] mahikaw commented on #279
My point is that why should the user be made to select an avatar every time she wants to play the game again. There is no way the user can play the game from the start without re-selecting the avatar

[2017-01-21 07:44] mahikaw commented on #230
@chhavip @aanchal07
I propose that we

- add another "resume" button, if the user wants to resume the game(which have functionality of same as the current "start" button".

- change the functionality of start button, so as to restart the game without actually going through the "new user" process involving new avatar selection.

[2017-01-21 07:55] codingblazer commented on #282
@top-gun007 You have not listed any of these issues in your #278 and neither asked for all other orientation issues. Sorry but I have started working on this already as these seem very valid.
( the 3rd issue in this list is also different as you have reported it in New User Screen while I have reported it in Store in which there are more screens like Accessories etc)

[2017-01-21 08:03] top-gun007 commented on #282
@codingblazer according to wiki it is advised that you should first get conformation from mentors before working on any issue.

[2017-01-21 10:14] codingblazer commented on #282
@top-gun007 I have analysed the problem and its location and have a fix for it which mentors do ask as in issue #176 .This is what I mean by work.
As for this issue, I have read your #278 and there is nowhere a mention of these issues. Also you have nowhere mentioned in #278 that you were going to find more such issues.

[2017-01-21 10:21] codingblazer commented on #282
@top-gun007 As for wiki, wiki advised to not make PR before approval (which I haven't done). Also wiki suggests to first claim the issue. Have you claimed these issues anywhere ?

[2017-01-21 13:47] top-gun007 commented on #282
Please don't get me wrong but what I am trying to say is that I founded the orientation related issues first and isn't it obvious that their would be other activities having similar issues as well and planning to report others as well once someone had approved them so what I propose is let's just share the work load as their are quite some of them.

[2017-01-21 14:01] codingblazer commented on #282
@top-gun007 I am not getting you wrong :-) We are just conversing :-)
Its just that I have done some work (identified the fix) on these issues. It won't be productive for you to invest your time again on the same thing. You can work on #278 and solve any more orientation bugs you may find.
And as for your point, I don't agree with it :-) In past, on malaria project, many different contributors rep

[2017-01-21 14:14] top-gun007 commented on #282
ok cool :+1:

[2017-01-22 05:30] mahikaw opened #285 "updating README"
I came across certain instructions in the README file which, I feel should be updated.

@chhavip @aanchal07  Can I go ahead with a PR so that you could review if the changes are valid?

[2017-01-23 12:13] top-gun007 commented on #167
@chhavip currently the replay button is non-responsive. Is it being corrected by someone?

[2017-01-24 11:06] anubhakushwaha commented on #258
@mahikaw Please close this issue as it's fixed via #271

[2017-01-24 14:32] mahikaw commented on #258
closing.

[2017-01-24 14:32] #258 closed

[2017-01-24 19:35] anubhakushwaha commented on #265
@mahikaw Updates?

[2017-01-26 12:31] chhavip commented on #167
We are in the process of checking the PR submitted during GCI and determining if it can be merged.

[2017-01-26 12:33] chhavip commented on #285
Please indicate which instructions are you referring to before sending a PR @mahikaw

[2017-01-26 12:34] chhavip commented on #278
@top-gun007 Can start working on this

[2017-01-26 12:35] chhavip commented on #282
@codingblazer , you can work on the first and second point of your issue mentioned, the third can be taken care of issue by @top-gun007

[2017-01-26 12:50] chhavip commented on #243
@anubhakushwaha @top-gun007 , this is a valid issue but will require a good amount of time and effort which cannot be undertaken right now. Can be considered in the next development cycle.

[2017-01-26 13:00] mahikaw commented on #265
I couldn't reduce it by a significant amount. We could put it on hold or close it for now. @anubhakushwaha

[2017-01-26 13:25] mahikaw commented on #285
I found the following things:-

- Under **"configure remotes/To update your local copy with remote changes, run the following:"**,
Firstly the command should be "git merge upstream/develop". Also, I think using "git pull --rebase" would be better as that wouldn't create extra merge commits.

- Also, now that the gitignore is working, we should encourage using "git add ." when all the files are to

[2017-01-26 15:03] top-gun007 commented on #282
thank you @chhavip

[2017-01-26 15:47] codingblazer commented on #282
@chhavip Yeah sure :-)

[2017-01-26 16:09] codingblazer commented on #265
@anubhakushwaha Can I work on this ?
I will use vector drawables for sharp images. For drawables that are not sharp/scalable can be optimised by tools like pngcrush (Suggested by AndroidDev Docs). Other than this there some more techniques to further reduce apk.

[2017-01-26 19:35] anubhakushwaha commented on #265
@codingblazer You can go ahead and report us the amount by which you could reduce it.

[2017-01-26 23:14] codingblazer commented on #265
@anubhakushwaha Yeah sure

[2017-01-26 23:39] codingblazer opened #286 "Reducing the App startup time"
App takes around 10 sec on a cold start and also take significant time to start on warm start. Since theme based approach has been not accepted by mentors earlier, I will like to use tools like inline tracing and method tracer to identify the bottlenecks causing this problem. Also i will identify other problems as mentioned in this link -
https://developer.android.com/topic/performance/launch-time

[2017-01-27 06:11] anubhakushwaha commented on #286
@codingblazer Yeah you can go ahead and let us know your progress.

[2017-01-27 09:41] himani777 opened #287 "when orientation is changed, colour is non consistent"
default green colour is set as background in landscape orientation for all options in store.

![screenshot_2017-01-27-14-52-14](https://cloud.githubusercontent.com/assets/13470007/22366413/91e65ebe-e4a2-11e6-9f92-47a18b6353ce.png)
![screenshot_2017-01-27-14-52-22](https://cloud.githubusercontent.com/assets/13470007/22366419/9a715c32-e4a2-11e6-8fd6-28bf0e432820.png)
![screenshot_2017-01-27-14-58-03

[2017-01-27 10:16] himani777 opened #288 "Labelling scenes and store on the map"
It will be better if we label all the scenes and location of store for all the users.

[2017-01-27 17:47] anubhakushwaha commented on #287
@chhavip I think it's a workable issue.

[2017-01-28 13:12] harshitagupta30 opened #289 "Button text not visible while selecting the avatar in landscape mode."
**Current Behaviour**

![screenshot_2017-01-28-18-32-55](https://cloud.githubusercontent.com/assets/12701036/22396823/47494ac8-e589-11e6-9979-803fdf864aaa.png)
![screenshot_2017-01-28-18-32-57](https://cloud.githubusercontent.com/assets/12701036/22396820/47419472-e589-11e6-90b1-fccf2cd078ff.png)
![screenshot_2017-01-28-18-32-43](https://cloud.githubusercontent.com/assets/12701036/22396821/47453f96

[2017-01-28 13:20] chhavip commented on #287
@himani777 Sounds good, can send a PR

[2017-01-28 15:13] anubhakushwaha commented on #289
@harshitagupta30 You got this bug after running on which branch? as I can't reproduce this bug

[2017-01-28 15:14] harshitagupta30 commented on #289
@anubhakushwaha I am currently on develop branch.

[2017-01-28 15:17] anubhakushwaha commented on #288
Try avoiding multiple instances for same issues,carry on the discussion on the already "open" issue #169

[2017-01-28 15:17] anubhakushwaha commented on #288
@himani777 Please close this issue

[2017-01-28 15:31] himani777 commented on #289
@anubhakushwaha I also witnessed same bug after cloning from develop branch.

[2017-01-28 15:32] himani777 commented on #288
okay. Closing this issue.

[2017-01-28 15:32] #288 closed

[2017-01-28 17:26] anubhakushwaha commented on #289
Yeah, can go ahead ,also make sure that the buttons re-align properly along with equal sizes for each button in all activities.

[2017-01-28 19:58] HimanshuS01 commented on #289
@harshitagupta30 @himani777 @anubhakushwaha I think that is happening after the last PR got merged ,as button text is clearly visible in landscape mode too before the last PR.

[2017-01-29 08:05] HimanshuS01 opened #290 "Tapping issue in MapActivity"
**Current Behaviour**
GameActivity  corresponding to Hospital and Boyfriend  is opening only when the user taps at a particular area because **HospitalButton** and  **BoyfriendButton** in gamemap.xml doesn't cover the entire view area (Background Buildings).

**Expected Behaviour**
The above mentioned  buttons should cover the background buildings  properly (just like in House and School buildings

[2017-01-29 09:01] HimanshuS01 opened #291 "Replay and Continue button disappears on orientation change"
**Current Behaviour**
replay and continue buttons in ScneraioOverActivity disappears on changing the device orientation.

![ezgif com-optimize 6](https://cloud.githubusercontent.com/assets/18090596/22402966/58710330-e62f-11e6-8cac-120aaee28861.gif)

**Expected Behaviour**
State of the buttons must me preserved on orientation change.

@chhavip @yatna @anubhakushwaha can I send PR for the same?

[2017-01-29 14:49] harshitagupta30 opened #294 "Buttons are not working properly."
On clicking the replay button, nothing happens while on clicking the continue the quiz again starts.
Instead of this on clicking the replay the quiz should start again.

![videotogif_2017 01 29_20 17 03](https://cloud.githubusercontent.com/assets/12701036/22404905/40e372b2-e660-11e6-8766-f42c57ed6a40.gif)

@anubhakushwaha @chhavip Can I work on this issue?

[2017-01-29 15:26] harshitagupta30 opened #295 "On changing the orientation of screen the quiz restarts again."
![videotogif_2017 01 29_20 53 16](https://cloud.githubusercontent.com/assets/12701036/22405226/5836fb64-e665-11e6-8129-1cd378803f9d.gif)

@chhavip @anubhakushwaha Please review. Can I send the PR resolving this issue?

[2017-01-29 17:55] HimanshuS01 commented on #295
Hey @harshitagupta30 This issue is already been reported in #282 in point number 2.

[2017-01-29 19:20] harshitagupta30 commented on #295
@HimanshuS01 my bad! thanks for letting know :+1:

[2017-01-29 19:33] HimanshuS01 commented on #295
@harshitagupta30 No problem.You can close this issue.Thanks :)

[2017-01-29 19:33] #295 closed

[2017-01-30 07:50] HimanshuS01 opened #296 "ScenarioNames issue in GameActivity in landscape mode"
ScenarioNames TextView  in  GameActivity is not displaying properly in landscape mode and the text is cutting with the background layout.

**Screen Shots**
![whatsapp image 2017-01-30 at 1 04 18 pm 1](https://cloud.githubusercontent.com/assets/18090596/22415393/126f9f0e-e6ed-11e6-8296-8e82f621d960.jpeg)
![whatsapp image 2017-01-30 at 1 04 18 pm 2](https://cloud.githubusercontent.com/assets/1809059

[2017-01-30 09:43] aanchal07 commented on #294
@harshitagupta30 On clicking the continue button, the next conversation appears which might be same as the previous one. You don't need to change the functionality of continue button but you can send a PR adding the replay button functionality. Before sending the PR please specify what you intend to do so that we can approve that.

[2017-01-30 09:46] aanchal07 commented on #291
@HimanshuS01 The buttons are appearing in my genymotion device(although the positioning is all wrong). Can you please check again?

@chhavip @anubhakushwaha Can you guys also check once?
![image](https://cloud.githubusercontent.com/assets/13906284/22418401/e635e7ce-e6fe-11e6-89cf-35fa3e667ddb.png)

[2017-01-30 11:33] aanchal07 commented on #283
@codingblazer I think this is a good idea and a workable one.
@chhavip @anubhakushwaha What do you think?

[2017-01-30 15:07] anubhakushwaha commented on #283
@codingblazer Yeah the idea is good but could you possibly think of any other way to do it(unselect) because addition of another imagebutton to existing image buttons thereby reducing their respective weights will not render a good user experience.Incase we don't come up with any better solution we can reconsider the original idea you proposed.

[2017-01-30 15:13] HimanshuS01 commented on #291
yeah @aanchal07 .I have checked it again.It is still happening in the latest fetched code from develop branch.

[2017-01-30 15:17] anubhakushwaha commented on #294
@chhavip @aanchal07 The work for replay has already been implemented nicely during gci via #186 ,do we need anyother thing other than the work already done in the PR mentioned.

[2017-01-30 15:19] anubhakushwaha commented on #291
@HimanshuS01 Yeah go ahead,further try to fix the relative alignment of the buttons along with their sizes as well.

[2017-01-30 15:22] HimanshuS01 commented on #291
Sure @anubhakushwaha . Thanks

[2017-01-30 18:46] aanchal07 commented on #294
I think if the work has already been done we can just merge that PR.

[2017-01-30 18:46] aanchal07 commented on #294
I think if the work has already been done we can just merge that PR.

[2017-01-30 20:23] anubhakushwaha commented on #296
@HimanshuS01 How are you planning to implement it?

[2017-01-31 06:35] codingblazer commented on #283
@anubhakushwaha We can show the cross button on the top instead i.e cross button will be on the right of "**BAG**".

[2017-01-31 07:54] HimanshuS01 commented on #296
I am thinking to align the scenarioNameEditText to extreme left and just give a small left margin thereby maintaining the UI.
@anubhakushwaha what are your views regarding this ?

[2017-01-31 19:18] aanchal07 commented on #283
@codingblazer If a user does not want to purchase an item she can rather press the back button and not buy anything or use the next/previous buttons on bottom of each image to choose the other option. Why need a clear button?

[2017-01-31 19:21] aanchal07 commented on #296
@HimanshuS01 Please send a screenshot of the screen once you edit the UI so that we can approve.

[2017-01-31 19:32] HimanshuS01 commented on #296
@aanchal07 sure. Thanks :)

[2017-01-31 19:52] HimanshuS01 opened #299 "UI Enhancement in completed_scene.xml"
**Suggestion**
Aligning the text content to the center and changing the background of **map** and **store** button(brown_button_background.png) will give the activity more cleaner look .

**Before**
![whatsapp image 2017-02-01 at 1 15 19 am](https://cloud.githubusercontent.com/assets/18090596/22481701/306d2f82-e81c-11e6-9941-2f88a5d8863f.jpeg)

**After**
![device-2017-02-01-011447](https://cloud.g

[2017-01-31 21:23] anubhakushwaha commented on #299
@HimanshuS01 Yeah go ahead.

[2017-01-31 21:24] anubhakushwaha commented on #281
@codingblazer Any update?

[2017-02-01 02:06] codingblazer commented on #283
![whatsapp image 2017-02-01 at 7 33 16 am](https://cloud.githubusercontent.com/assets/13872065/22492657/ece8a676-e850-11e6-8200-b829a390923e.jpeg)

[2017-02-01 02:20] codingblazer commented on #281
@anubhakushwaha I will send a PR soon for all pending issues. I was busy due to travelling.

[2017-02-02 14:21] chhavip commented on #294
Merging the existing PR and closing this issue.

[2017-02-02 14:21] #294 closed

[2017-02-03 20:04] HimanshuS01 commented on #296
**ScreenShots of change**
![device-2017-02-04-011804](https://cloud.githubusercontent.com/assets/18090596/22606260/424dd7e2-ea79-11e6-936c-4bd65e4b03a2.png)
![device-2017-02-04-011614](https://cloud.githubusercontent.com/assets/18090596/22606261/425aac10-ea79-11e6-936e-0a2f8527e372.png)
![device-2017-02-04-011702](https://cloud.githubusercontent.com/assets/18090596/22606262/42672dc8-ea79-11e6-830c

[2017-02-03 20:12] aanchal07 commented on #296
@HimanshuS01 Now in the conversation _"Let's go back to my place"_, **Let's go** is getting cut by the background.
@chhavip  @anubhakushwaha What do you say?

[2017-02-03 20:26] HimanshuS01 commented on #296
Yeah @aanchal07.Sorry for that. I miss that part to correct. Thanks for reviewing . I Will soon update with the correct UI.

[2017-02-03 21:10] HimanshuS01 commented on #296
**Screen Shot**
![device-2017-02-04-023729](https://cloud.githubusercontent.com/assets/18090596/22608466/fcb537e8-ea82-11e6-9a17-2fcfbfb65156.png)

@aanchal07 Please review .Thanks :)

[2017-02-04 06:01] anubhakushwaha commented on #296
@HimanshuS01 Yes it's good,you can send a PR

[2017-02-04 07:36] #282 closed

[2017-02-04 10:06] chhavip commented on #279
Closing as it fixed through #284

[2017-02-04 10:06] #279 closed

[2017-02-04 11:04] HimanshuS01 opened #306 "UI related issues in many activities"
These are some UI related issue in many places in this application:

1)ListView in **GameActivity** is overlapping with the background image .Proper right_margin should be given in order to make UI more cleaner and clutter free

2)White background should not be present just behind the **replay** and **home** icon in GameActivity. Icon's background must be transparent.
![whatsapp image 2017-02-04 a

[2017-02-04 13:50] mahikaw commented on #285
@chhavip is this intended?

[2017-02-05 04:59] codingblazer commented on #283
@aanchal07 @anubhakushwaha @chhavip
Can I start working on this

[2017-02-05 07:15] codingblazer commented on #286
I followed https://developer.android.com/topic/performance/launch-time.html and these are my findings and solutions -

1. Ran the Inline Tracing and Systrace and stored the trace during the launch up time (White screen)
    Output - [Html File](https://drive.google.com/file/d/0B10QL1NTT7VtclBXMG16TjFQMEE/view?usp=sharing)  (Open this file in browser)
**Solution** - You can go to alerts tab in righ

[2017-02-05 07:30] codingblazer commented on #218
@anubhakushwaha @chhavip @aanchal07
I am starting working on this. (as this was a valid issue as discussed with @chhavip in #177)
Please tell if there are any specific requirements. I will soon upload the mockups for these :-)

[2017-02-05 12:26] #299 closed

[2017-02-05 12:26] #296 closed

[2017-02-05 13:54] chhavip commented on #286
These are good suggestions, but not possible to implement right now. They can and will be kept in mind during the next development cycle.

[2017-02-05 14:14] chhavip commented on #285
Hello! The git commands that a person wishes to use can vary depending on personal preferences, the Read Me is intended to provide a basic direction and people can have their own  style. I believe only generic statements and those applicable in any situation should be included in the ReadMe as otherwise it might confuse the beginners. Opinion @aanchal07?

[2017-02-06 08:34] codingblazer opened #309 "Home Button goes away in Game Activity"
Home button and Replay button both goes away in Game Activity after first use.
Though the replay button must be intentional but Home button should not go away as User can anyway go back by pressing the back key.

@chhavip @anubhakushwaha @aanchal07 Should I send PR for this ?

[2017-02-06 12:23] anubhakushwaha commented on #309
@codingblazer So what do you propose as a solution to it?

[2017-02-06 13:46] codingblazer commented on #309
@anubhakushwaha I think Home button should not go away. It will remain and work even if used more than once.
 Currently, it is being set to hide after first use.

[2017-02-06 18:42] codingblazer opened #310 "Opening of PowerUpDemoContent"
I found that after following some patterns user can encounter PowerUpDemoContent which should not be shown.
**How to Regenerate** - After finishing the school scenario, Press Home button and the Press back.

<img src="https://cloud.githubusercontent.com/assets/13872065/22661069/f3c6222a-ecc9-11e6-9cd6-90e87579a46e.gif" height="400" width="200">

@chhavip @anubhakushwaha @aanchal07 Can i send PR fo

[2017-02-07 17:58] HimanshuS01 opened #311 "Multiple bugs in DressingRoomActivity"
Following are some irregularities in DressingRoomActivity:-

1)After selecting the clothes in DressingRoomActivity , user presses the continue button to change the avatar. Now if we press **"back"**  button (two times) to return to the DressingRoomActivity ,avatar shown is not updated. We have to change our device orientation in order to see the updated avatar.

2)Similar problem arises as of abov

[2017-02-07 19:06] HimanshuS01 opened #312 "Overdraw in many activities in an application"
There is an overdraw in many activities in application that  causes performance and battery issues
Overdraw basically means that  system is drawing a pixel on the screen multiple times in a single frame of rendering.
Following are some activities  having an overdraw problem:-

[code]

**Fix**
Removing unneeded backgrounds in different layouts(portrait & landscape) in the  activities mentioned abov

[2017-02-08 13:39] top-gun007 commented on #279
@chhavip only one of the three issues is complete. Please open it.
_Thank you_

[2017-02-08 15:19] codeb1ooded opened #315 "Game ends for each scenario if one scenario is finished"
Though questions are same for all scenarios (which might change in future) even then I guess if one scenario is over others should not be over.

Fix I suggest:
Each scenario keeps track of only its status and not all scenarios have a single status for ScenarioOverActivity.

@anubhakushwaha @chhavip Can I work on this issue?

[2017-02-08 15:22] codeb1ooded opened #316 "Progress is not saved"
If a user plays a game in some Scenario the progress is not saved for the game if user stops the game before finishing it.

Fix:
Progress can be stored in database corresponding to each Scenario.

Also, I guess this can be combined with issue #315 so that database also keeps track of if scenario is over.

@anubhakushwaha @chhavip Can I work on this issue?

[2017-02-08 15:30] codingblazer opened #317 "Replay Button not works"
Replay button in following screen doesn't work.
![whatsapp image 2017-02-08 at 8 59 32 pm](https://cloud.githubusercontent.com/assets/13872065/22743887/9615942a-ee41-11e6-9cb5-ac9992b05c93.jpeg)

Fix : Currently, onClick of this button is not implemented and hence nothing happens. Will implement the onClick() which will replay the scenario from the begining.

@chhavip @anubhakushwaha Should I send

[2017-02-08 15:48] jacqueline8711 commented on #317
@codingblazer An issue for this already exists (#167) and I have already submitted a PR for this (#186).
 It has been approved but hasn't been merged yet.

[2017-02-08 15:54] codingblazer commented on #317
@jacqueline8711 Sorry about that.

[2017-02-08 15:54] #317 closed

[2017-02-08 16:00] jacqueline8711 commented on #317
@codingblazer no problem :)

[2017-02-08 16:00] codingblazer opened #318 "Scenarios starts playing again after School scenario"
Mutiple Bugs -

1. After playing last Scenario (the School Scenario), if we press continue, the Home scenario starts again though it was already visited. Demo is shown below -

<img src="https://cloud.githubusercontent.com/assets/13872065/22745097/61d1a79a-ee45-11e6-9281-a769ed785dad.gif" height="400" width="200">

Fix - The game completed screen ( " Wait till we upload more scenario" which is alr

[2017-02-08 16:56] codingblazer opened #319 "Disable Store Items on Lack of Karma Points"
Currently, if the user don't have enough karma points for any item, he can select it and then continue and then get toast of not having enough points.
But it will be better if we grey out all those items that user can't buy with his current karma points.

@chhavip @anubhakushwaha @aanchal07 Should I send PR for this ?

[2017-02-08 17:30] HimanshuS01 opened #320 "Improper flow after the CompletedSceneActivity"
In the **CompletedSceneActivity** if the user presses the store button -->then after buying anything from clothes, hair & accessories-->then after pressing the  **"continue"** button user is directed to the MapActivity.Now in MapActivity, after pressing the **home button** user is redirected again to the **CompletedSceneActivity** instead of **MainActivity**  .

![ezgif com-optimize 6](https://clo

[2017-02-08 18:17] HimanshuS01 opened #321 "Memory leak issue in some part of code"
There is some part of code in following activities that causes the low memory problem:

[code]

This problem is basically caused by holding onto context classes in static fields.As long as that reference exists, the Activity will be kept in memory, leaking all of its views and hence not collected by GC  in android.

@chhavip @anubhakushwaha @aanchal07 If this is a valid issue should I send PR for

[2017-02-13 13:02] anubhakushwaha commented on #311
@HimanshuS01 You can go ahead with the first two and infact it happens in case the user selects accessories as well, further the third point was covered during GCI and it would be merged soon.

[2017-02-13 13:08] anubhakushwaha commented on #315
@codeb1ooded Could you please elaborate? Further see if #174 is related to what you suggest and carry the discussion there instead.

[2017-02-13 13:12] anubhakushwaha commented on #318
@codingblazer The game was designed keeping in mind a certain sequence of scenarios,these bugs will be automatically resolved once #174 is implemented.You can close this issue.

[2017-02-13 13:40] anubhakushwaha commented on #321
@HimanshuS01 Yes go ahead.

[2017-02-13 15:56] codingblazer commented on #318
@anubhakushwaha Can i solve #174 then ?

[2017-02-13 15:57] codingblazer commented on #174
@anubhakushwaha @chhavip @aanchal07
Can i work on this ?

[2017-02-13 16:32] HimanshuS01 commented on #311
sure @anubhakushwaha . I will handle that part too. Thanks :)

[2017-02-13 16:33] HimanshuS01 commented on #321
sure @anubhakushwaha . Thanks :)

[2017-02-14 16:16] Pankaj-Baranwal commented on #275
If no one is working on this, I can contribute and solve this issue.

[2017-02-14 16:20] codingblazer commented on #275
@Pankaj-Baranwal This is issue is already solved via PR #280 .

[2017-02-14 16:25] Pankaj-Baranwal opened #325 "UI Issues in small screens"
These are the screenshots taken on my test phone:
![landscape](https://cloud.githubusercontent.com/assets/16305338/22937909/1096290e-f300-11e6-89e5-dc96cfd1386f.png)
![portrait](https://cloud.githubusercontent.com/assets/16305338/22937910/10b7c082-f300-11e6-9d67-23e2284626a5.png)

The buttons for changing eyes and hair are not visible while the text on continue button and the clothes section disap

[2017-02-14 16:27] Pankaj-Baranwal commented on #325
I can solve this issue by adding a ScrollView as the parent of the 4 sections.
And the text on buttons issue seems to have been solved by harshitagupta30 but it is still present in developer branch.

[2017-02-14 18:01] Pankaj-Baranwal commented on #275
Is the develop branch up to date or should I checkout to master to view the changes?

[2017-02-14 18:08] codingblazer commented on #275
@Pankaj-Baranwal Yes, develop branch is active branch and updated one.

[2017-02-15 02:49] chhavip commented on #325
@Pankaj-Baranwal , there is already ongoing work on the issue of text not being visible in landscape mode, please do not fix that in this issue as well. You are welcome to fix the issue of small screens, also send your PR against the develop branch itself.

[2017-02-15 02:51] chhavip commented on #318
Closing this issue.

[2017-02-15 02:51] #318 closed

[2017-02-15 03:02] chhavip commented on #320
What is the proposed fix for this?

[2017-02-15 03:03] chhavip commented on #319
Lets keep the functionality as is for now, this can be looked upon at a later time.

[2017-02-15 03:05] chhavip commented on #167
Closing the issue as it has been fixed #186 .

[2017-02-15 03:05] #167 closed

[2017-02-15 03:06] chhavip commented on #316
This is a good suggestion but will be undertaken during the next development cycle and not currently.

[2017-02-15 03:08] #291 closed

[2017-02-15 03:10] chhavip commented on #310
The entire database and the flow of scenarios needs to be fixed which will be done during the next development cycle, this will be handled then.

[2017-02-15 03:10] #310 closed

[2017-02-15 03:23] chhavip commented on #306
Its not possible to work on all thesse under one issue, please break down and create separate issues. Also check if some of the work has already been covered in other issues.

[2017-02-15 04:16] HimanshuS01 commented on #306
@chhavip I would like to ask one thing,
Instead of breaking and creating another issues, can I commit  separately for all the mentioned UI problem(that has not been covered in oher issues) in the same PR itself?
Thanks :)

[2017-02-15 04:34] codingblazer opened #326 "Selection Buttons not visible in Accessories"
When i tested the app on Nexus One in portrait mode, the selection buttons in Accessories for Necklace and Glasses are not visible as shown below -

![screenshot_1487131613](https://cloud.githubusercontent.com/assets/13872065/22960605/19421f94-f365-11e6-8f03-2f6e70cc27eb.png)

Fix - The linear layout for these selection button (grey < > buttons) is not fitting in the screen and is overlapping with

[2017-02-15 04:59] codingblazer opened #327 "Supporting Different Screen Sizes in Store"
Following screens have a improper UI when tested on different screen sizes in Store Activity-

1. In Hair Screen, the Hair box and button are overlapping as shown below (same with clothes) -

![screenshot_1487131683](https://cloud.githubusercontent.com/assets/13872065/22961112/8840cf0e-f369-11e6-88ee-b657d2ca870b.png)

2. In Final Avatar Screen, the continue button is going out of bottom screen as

[2017-02-15 05:17] codingblazer opened #328 "UI issues in Questions Answers"
On testing on Nexus One, the following screens were not proper -

1. As shown below in ques ans screen, the user avatar is not proper.
**Fix** - I have solved the same avatar problem in  #280 and will use same fix.

2. In Scenario ending screen, the scoreboard(in landscape), replay and continue buttons are not proper as shown below.
**Fix** -  Proper arrangement of UI elements and adding correct d

[2017-02-15 15:36] codingblazer opened #329 "App Crashes in Game Activity"
It has happened for the second time. The app crashes with the message "Power Up has stopped working" and then app won't start. I was able to recover the logcat from the adb which is attached below.
[code]
**Fix For the Crash** - The crash is happening because following library is buggy -

It has been reported on lib's issue list many times by other people - [Bug in Lib](https://github.com/akexorci

[2017-02-15 18:14] top-gun007 commented on #279
@chhavip since I have sent PR's for the first two can I send the PR for 3rd one.
I am planning to use ColorFilterAttribute of android for it.
_Thank you_

[2017-02-16 14:48] top-gun007 opened #330 "Enhancement: Justify text inside app"
**Summary**
The text inside app would be more appealing if is justified.

**Observed Output**
![image](https://cloud.githubusercontent.com/assets/15179401/23025686/c74b23ae-f484-11e6-8291-18d6204c25fd.png)

**Desired Output**
![image](https://cloud.githubusercontent.com/assets/15179401/23025712/d7fab4ee-f484-11e6-9019-0b010a305d6b.png)

**Cons:**
Since this would require using a library the size o

[2017-02-16 20:20] HimanshuS01 opened #332 "HomeButton in ScneraioOverActivity is not aligned properly"
HomeButton in ScneraioOverActivity (left in the below image)should be aligned properly(i.e. at the extreme top right) as like in the GameMap activity(right)
![2e970f58-eaeb-11e6-88d1-8c81a39cac02](https://cloud.githubusercontent.com/assets/18090596/23039269/03d92afe-f4b3-11e6-9e19-5674dbc40021.png)

@chhavip @anubhakushwaha @aanchal07 (with reference to issue no #306) I will send the PR soon.
_Tha

[2017-02-16 20:29] HimanshuS01 opened #333 "White and bluish background in clothes ,hair and accessories png image"
There is a  slightly white and blue background present just at the edges of **clothes ,hair and accessories'' png in dressing_room.xml. This can be removed by using some image editor tool like photoshop etc. thereby giving the app more cleaner and clutter free look.

![0dc7461c-eaf0-11e6-8384-7cdfbe381de8](https://cloud.githubusercontent.com/assets/18090596/23039694/796b460c-f4b4-11e6-8be8-db00116

[2017-02-16 20:34] HimanshuS01 commented on #306
@chhavip @anubhakushwaha @aanchal07 I have edited the above issue and created the separate issues #332 #333 respectively. Will soon send the PR.
_Thank you_

[2017-02-17 05:33] chhavip commented on #279
Do not work on the third issue for now as the requirement for the enhancement is not final. Thank you for working on other issues!

[2017-02-17 05:38] chhavip commented on #306
Closing this issue.

[2017-02-17 05:38] #306 closed

[2017-02-17 05:59] HimanshuS01 commented on #306
@chhavip out of the three I have mentioned in the above issue, I have separated only the two one #332 and #333.
One is still pending on the above issue.
Please reopen the issue.
Thank you :)

[2017-02-17 06:28] anubhakushwaha commented on #330
@top-gun007 I don't think it is such an important add-on w.r.t the appeal ,further adding another library for it is not desired as of now.I guess you can close this issue for now.

[2017-02-17 06:29] anubhakushwaha commented on #329
@codingblazer What is the alternative you suggest?

[2017-02-17 07:15] anubhakushwaha commented on #333
@HimanshuS01 Yeah go ahead.

[2017-02-17 07:17] anubhakushwaha commented on #327
@codingblazer Yeah go ahead and attach screenshots of implemented work in your PR along with the device configuration you tested on.

[2017-02-17 07:27] anubhakushwaha commented on #326
@codingblazer Yeah you can proceed,further try testing throughout the app for Nexus One as there are many UI issues for this configuration.Further attach screenshots in your PR once done.

[2017-02-17 07:29] anubhakushwaha commented on #325
@Pankaj-Baranwal .Further attach screenshots in your PR once done.

[2017-02-17 07:30] codingblazer commented on #327
@anubhakushwaha Yeah sure. Thanks

[2017-02-17 08:28] HimanshuS01 commented on #333
sure @anubhakushwaha . Will soon send the PR.
_Thank you_

[2017-02-17 08:37] codingblazer commented on #326
Hey, @anubhakushwaha I received your comment on this issue on my mailer but can't find it here. Should I proceed with this. Thanks.

[2017-02-17 08:43] codingblazer commented on #309
@anubhakushwaha Should i proceed with this. Thanks

[2017-02-17 08:52] codingblazer commented on #326
Also, as you asked for other problems in small devices, I have created #328 #327 which covers the remaining issues with this configuration. Should I send a single PR for this, #328 ,#327 OR separate ones.
 Thanks.

[2017-02-17 09:27] codingblazer commented on #283
@aanchal07 Gentle Reminder :-)

[2017-02-17 10:19] aanchal07 commented on #283
@codingblazer This involves adding a new functionality to the game which needs to be discussed. This can be included in the next iteration after getting approval from team. What do you say @chhavip ?

[2017-02-17 12:14] codingblazer commented on #283
@aanchal07 Yeah sure. In case it look intended enhancement to team, please let me know. I will be more than happy to implement it in next development cycle :-)

[2017-02-17 13:19] aanchal07 commented on #283
@codingblazer Yes definitely!

[2017-02-17 16:52] top-gun007 commented on #330
Closing it @anubhakushwaha and thanks for reviewing this issue.

[2017-02-17 16:52] #330 closed

[2017-02-17 19:13] codingblazer commented on #329
I tried to find alternate library but was unable to find any. I went ahead and implemented the custom Progress Bar by defining custom rounded drawable for progress bar (using layer list). After trying a lot, the final result are as follows -

Earlier
![whatsapp image 2017-02-18 at 12 36 00 am](https://cloud.githubusercontent.com/assets/13872065/23079430/e5a84acc-f572-11e6-84fe-5b6a78642945.jpeg)
A

[2017-02-17 19:14] codingblazer commented on #329
@anubhakushwaha Should I send PR for this ? Thanks :-)

[2017-02-17 19:54] HimanshuS01 opened #335 "UI issue in GameActivity"
1)ListView in **GameActivity** is overlapping with the background image .Proper right_margin should be given in order to make UI more cleaner and clutter free

2)White background should not be present just behind the **replay** and **home** icon in GameActivity. Icon's background must be transparent.
![whatsapp image 2017-02-04 at 2 14 14 pm 2](https://cloud.githubusercontent.com/assets/18090596/2

[2017-02-18 19:36] top-gun007 opened #337 "Enhancement: Karma notifier"
**Summary**
During game play every karma points player gains/looses after making a choice he/she should be notified about it(in form of toast or something else) so that they could figure out which choices are good to do in real life.

like for eg:-
![image](https://cloud.githubusercontent.com/assets/15179401/23096304/43481ece-f63f-11e6-848a-f1fb94e9b67a.png)

In this instance if the user chooses 1

[2017-02-18 19:48] top-gun007 opened #338 "Enhancement: Easy access to store."
**Summary**
When player needs to buy something from the store he/she has to first go to the completed scenarios and then go to store or from map.

**So just like all popular games user is allowed to buy things for the home screen as well as during game play therefore I propose store access be given in the following two screens as well**

1.Here, when the user had just completed the scenario so he

[2017-02-18 19:51] codingblazer commented on #338
@top-gun007 User can go to store through Map Activity :-)

[2017-02-18 19:55] top-gun007 commented on #338
Hi @codingblazer can you post a snap of which activity you are referring to.
_Thanks_

[2017-02-18 19:56] codingblazer commented on #338
![s2](https://cloud.githubusercontent.com/assets/13872065/22857960/b9d0cadc-f0d6-11e6-8f86-57f6008d81af.jpeg)

[2017-02-18 20:03] top-gun007 commented on #338
Oh yeah that I know I thought you were referring to something else.
_Thank you for being so responsive_

[2017-02-18 20:19] codingblazer commented on #338
@top-gun007 Sure :-) Updated issue looks better now.

[2017-02-18 20:44] top-gun007 opened #339 "Bug: Power level meters vary on new game."
**Summary**
When the user starts a new game on some instances the power levels are not default.
_like for eg in this case:_
![image](https://cloud.githubusercontent.com/assets/15179401/23096756/17fc3e1c-f649-11e6-8cce-bcaec4f23175.png)

[2017-02-18 21:49] HimanshuS01 commented on #337
hey @top-gun007 I think This issue is a duplicate of #172 that was opened
by @anubhakushwaha <https://github.com/anubhakushwaha> ,the PR of which has
already been created in #199 by @InfernoCoder
<https://github.com/InfernoCoder> .

On 19 February 2017 at 01:06, Ashutosh Dadhich <notifications@github.com>
wrote:

[2017-02-19 08:20] top-gun007 commented on #337
hello @HimanshuS01 I beg your pardon but the two issues are totally different and both issues can be integrated in sync with each other because of the following reason:

- mine deals only with telling the user how many points he/she have gained by making a decision and on the contrary the other issue warns the user about the choice he/she is making not the points the user had made.
_Thank you for

[2017-02-20 14:59] HimanshuS01 commented on #335
I proposed a fix for the above issue something like this:-
**Screenshot**

![device-2017-02-20-200642](https://cloud.githubusercontent.com/assets/18090596/23130045/fa10e69c-f7aa-11e6-97d7-08e9ae943096.png)

@chhavip @anubhakushwaha @aanchal07 If this seems to be good can I send PR for the same?

[2017-02-23 10:11] HimanshuS01 commented on #312
@anubhakushwaha @chhavip @aanchal07 can I work on this issue ?
_Thank you_  :)

[2017-02-23 10:55] HimanshuS01 commented on #320
@chhavip right now on clicking the **home** button in **MapActivity** the following code is executing:-
[code]
finish() method destroying the activity instance and is redirecting the user to the previous state.

**Fix**
This can be solved by launching an intent to **StartActivity** class like this:
[code]
This fix  has solved the issue. Can I send PR for the same ?

[2017-02-23 11:08] anubhakushwaha commented on #312
@HimanshuS01 Yes go ahead.

[2017-02-23 11:58] HimanshuS01 commented on #312
sure @anubhakushwaha . Will soon send the PR.
_Thank You_ :)

[2017-02-23 12:39] anubhakushwaha commented on #339
@top-gun007 What do you mean when you mention "default" value.

[2017-02-23 12:42] top-gun007 commented on #339
I mean the power meter should remain the same but in some instances of new game it is not.

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, Feb 23, 2017 at 6:10 PM +0530, "Anubha Kushwaha" <notifications@github.com<mailto:notifications@github.com>> wrote:

@top-gun007<https://github.com/top-gun007> What do you mean when you mention "default" value.

—
You are receiving this because you wer

[2017-02-23 12:51] anubhakushwaha commented on #339
@top-gun007 For now, they are just getting random values as of now, we will most probably have it's proper functioning in the next development cycle.You can close this for now.

[2017-02-23 19:34] codingblazer commented on #326
@anubhakushwaha Please review :-)

[2017-02-23 19:35] codingblazer commented on #329
@anubhakushwaha Please review :-)

[2017-02-25 05:58] codeb1ooded commented on #174
@anubhakushwaha Can you elaborate more on the sequence you are referring to or the link where I can find more about it.

[2017-02-25 10:32] codingblazer commented on #309
@chhavip @anubhakushwaha @aanchal07 Should I proceed with this ? Thanks. :-)

[2017-02-25 10:41] HimanshuS01 commented on #335
@anubhakushwaha @chhavip @aanchal07 Please have a look. :)
_Thank you_

[2017-02-26 03:28] anubhakushwaha commented on #335
@HimanshuS01 Yes,go ahead.

[2017-02-26 05:18] HimanshuS01 commented on #335
Sure.  I will send the PR soon
Thank you  :)

[2017-02-26 13:56] #339 closed

[2017-02-28 14:27] codeb1ooded commented on #254
@anubhakushwaha @aanchal07 Can I work on the issue?

[2017-02-28 16:02] HimanshuS01 commented on #320
@chhavip @anubhakushwaha @aanchal07 can I send the Pr for the above fix?
_Thank You_

[2017-03-03 14:31] abs51295 commented on #14
@chhavip I would like to work on this issue! Thanks!

[2017-03-03 14:47] codingblazer commented on #14
Hey @abs51295 , this issue has already been solved. The about was implemented by a gci student and intro screens by me. :-)

[2017-03-03 16:59] abs51295 commented on #14
Thank you @codingblazer. I would look for some issues. Are there any specific issues you would like to point?

[2017-03-03 20:40] abs51295 commented on #85
@alma-castant @chhavip It seems that tests are not integrated. Can I work on it?

[2017-03-03 22:48] top-gun007 commented on #338
please review this issue @anubhakushwaha @chhavip @aanchal07 .
_Thank you_

[2017-03-03 22:48] top-gun007 commented on #337
please review this issue @anubhakushwaha @chhavip @aanchal07 .
_Thank you_

[2017-03-04 13:08] harshitagupta30 commented on #287
@anubhakushwaha @chhavip @aanchal07 Since no progress has been made can I work on this issue?

[2017-03-04 13:23] harshitagupta30 commented on #325
@anubhakushwaha @chhavip Can I work on this issue? :)

[2017-03-04 19:22] anubhakushwaha commented on #287
@harshitagupta30 #292 has done the above task and is yet to be merged.

[2017-03-05 06:09] harshitagupta30 opened #343 "Integrating butterknife library for views injection"
@chhavip @anubhakushwaha @aanchal07 What's your views?
Should I integrate butterknife library?

[2017-03-05 06:47] harshitagupta30 opened #344 "Improvement in UI of Game Activity"
**Current Behaviour**

![screenshot from 2017-03-05 12 10 54](https://cloud.githubusercontent.com/assets/12701036/23585173/ef3a7016-019c-11e7-8f30-8ec85eefa05a.png)

![screenshot from 2017-03-05 12 11 37](https://cloud.githubusercontent.com/assets/12701036/23585174/ef3bb0f2-019c-11e7-8487-c4973aa2f149.png)

**Expected Behaviour**

![screenshot from 2017-03-05 12 00 30](https://cloud.githubusercont

[2017-03-06 15:55] harshitagupta30 opened #346 "UI Bugs in DressingRoomActivity in Landscape mode"
1. Button text "continue" is not visible.

![screenshot from 2017-03-06 00 58 51](https://cloud.githubusercontent.com/assets/12701036/23617416/11c655e8-02b3-11e7-9a24-7d5fcbe669fe.png)

2. The avatar appears distorted.

![screenshot from 2017-03-06 00 59 09](https://cloud.githubusercontent.com/assets/12701036/23617501/4f9e2dc8-02b3-11e7-940e-7249f8aeadf3.png)

@anubhakushwaha @chhavip Can you plea

[2017-03-06 16:02] harshitagupta30 opened #347 "Improvement in DressingRoomActivity."
**Current Behaviour**
Currently, if someone doesn't have enough points even then they can select the items and after clicking continue a toast appears `Not enough points`.
![screenshot from 2017-03-06 00 59 26](https://cloud.githubusercontent.com/assets/12701036/23617753/2034fe26-02b4-11e7-816f-888a9434a4f0.png)

**Expected Behaviour**
Instead of this if someone has fewer points then while selecti

[2017-03-06 16:11] codingblazer commented on #346
Hey @harshitagupta30 These issues already exist and PR for these are already sent.

[2017-03-06 16:12] codingblazer commented on #347
Hey this issue is also duplicate and PR is already sent.

[2017-03-06 16:17] harshitagupta30 commented on #347
@codingblazer Can you please refer the issue number/ PR number?

[2017-03-06 16:19] harshitagupta30 commented on #346
You've not mentioned about the first point in that I suppose! :+1:

[2017-03-06 16:28] codingblazer commented on #347
@harshitagupta30  #170 #192 #319
Though your solution is different but it won't be needed after this PR #192 gets merged :-)

[2017-03-06 16:34] harshitagupta30 commented on #347
@codingblazer Thanks :)

[2017-03-06 16:34] #347 closed

[2017-03-06 16:48] codingblazer commented on #346
Hey #289 reported by you also contains the same bug in Avatar Selection but this is in Store Avatar Selection. I got mixed up :-) +1

[2017-03-09 16:43] harshitagupta30 opened #348 "Removing Lint issues in the app"
Currently, on running lint in the project it raises multiple potential issues which need to be solved.

@anubhakushwaha @chhavip What's your thoughts? Can I work on this?

[2017-03-13 14:24] sashafierce opened #349 "Reflecting power status and karma points in 'Current Emotion'"
'Current Emotion' attribute conveys  the abstract health of the player and hence is very useful. Currently the power_status_bar uses a static png image to show the 'Current Emotion' and nothing is reflected through it. Suggested behaviour - Change in Emotion if 'Health and power' and karma points drops beyond a threshold.
Current Emotion can include 'sad' ,  'anxious' , 'cheerful' e.t.c.
@chhavip

[2017-03-13 15:05] sashafierce opened #350 "'Current Scene' text view in ScenerioOverActivity misleading"
Currently 'Current Scene: x' shows the completed scenario 'x' and clicking ' continue' button leads to next scenario (say 'y') which seems confusing.
One of these slight modifications in ScenerioOverActivity.java  can be done :
- Changing 'Current Scene: x' to 'Completed scene: x'
- Changing 'Current Scene: x' to 'Current/Next scene: y'

[2017-03-13 15:39] sashafierce opened #351 "'PowerUpDemoContent' scenario appears after the last scenario i.e. 'School'"
After consulting 'GameActivity.java' and 'Scenario.csv' I realised that GameOverActivity is supposed to follow after the last scenario which is 'School' (id = 7) but instead  'PowerUpDemoContent' (id = 1) flashes in between for a very short time.

<a href="url"><img src= "https://cloud.githubusercontent.com/assets/18103181/23861437/07065540-0830-11e7-95ce-d0cbc2220344.png" align="left" height="600

[2017-03-13 15:45] sashafierce commented on #351
@anubhakushwaha @chhavip @aanchal07  Can I send a PR? :)

[2017-03-13 16:24] codingblazer commented on #351
@sashafierce This is a duplicate of #310 . please close this issue as it will be handled in next development cycle :-)

[2017-03-13 16:44] #351 closed

[2017-03-13 19:15] HimanshuS01 commented on #349
hey @sashafierce This is a valid issue but it's a duplicate of #259 and #175 .
This needs to be resolved in the next development cycle of GSOC 2017.
kindly close this issue :)

[2017-03-14 05:30] sashafierce commented on #349
Alright! :)

[2017-03-14 05:30] #349 closed

[2017-03-14 05:33] sashafierce opened #352 "Absence of 'ImageButton' for 'Necklace' accessory experienced in API levels 18 , 19 having low screen sizes"
left and right ImageButtons absent for 'Necklace' accessory which prevents it from getting selected.
Experienced on API levels - 18(screen sizes - 4.65 , 4.7) , 19 (screen sizes - 4.65 , 4.7)
Note : Behavior was uniform for other API levels over different screen sizes.

<a href="url"><img src= "https://cloud.githubusercontent.com/assets/18103181/23887031/316abd24-08a5-11e7-9380-400b2b9ad07b.png" a

[2017-03-15 19:22] #321 closed

[2017-03-16 05:14] anubhakushwaha commented on #321
Fixed via #321

[2017-03-17 09:23] shreyans29 opened #353 "Changing button color when pressed."
I think the app would have a better feel to it if we can change the button color when it is pressed by a very little shade.

The buttons to be changed include
Resume
New User
About
Replay
Continue
![17357396_1382353265160891_991215051_o](https://cloud.githubusercontent.com/assets/8592568/24036835/709c8904-0b21-11e7-9c05-6652c8e32bbb.png)

[2017-03-17 09:23] shreyans29 commented on #353
Can I submit a PR for this ?

[2017-03-17 20:16] Siddiq200 opened #354 "Convert activities to fragments"
Every screen is a single activity which makes our app slower, it won't be good user experience.

If we use fragments instead of activities it will be faster than that which will make our app faster than the first one.

If this is a valid issue can I send PR ?

[2017-03-19 05:01] BaaniLeen opened #355 "Reverting to No Accessories in SelectFeaturesActivity"
![selectfeatureserror1](https://cloud.githubusercontent.com/assets/22029744/24078246/d251c718-0c8e-11e7-8df2-fad322186a70.png)

Currently after trying out the accesories, the user cannot unselect his choice and revert back to the No Accessory (eg. No Bag or no Glasses) phase.

@chhavip @aanchal07  Can I work on this issue?
Thanks!

[2017-03-19 05:05] codingblazer commented on #355
Hey, this is duplicate of #283. Please close this issue :-)

On 19-Mar-2017 10:31 AM, "Baani Leen Kaur" <notifications@github.com> wrote:

[2017-03-19 05:21] BaaniLeen commented on #355
@codingblazer Okay..! :)

[2017-03-19 06:25] BaaniLeen commented on #315
![video](https://cloud.githubusercontent.com/assets/22029744/24078665/c3b43fbe-0c99-11e7-9e64-71ca5a164b17.gif)

On starting the game as a new user and clicking on the Hospital scene,on completing the Hospital Scene, it shows 'completed_game.xml', instead of showing 'completed_scene.xml'.
Only when all the 4 scenes are over should it show completed_game.xml'.

@chhavip @aanchal07 Can I work on thi

[2017-03-19 09:06] Siddiq200 opened #356 "first Question answer screen shows At end before result screen"
first Question answer screen showsUp
for a moment At the end, before result screen.

let say on this screen I click "Let's head inside"

##Screen1
![sex](https://cloud.githubusercontent.com/assets/26488668/24079555/909e1916-0cac-11e7-9c07-6680e6cc1c30.JPG)

this screen shows up for a moment
##Screen2
![fst](https://cloud.githubusercontent.com/assets/26488668/24079575/e067e59e-0cac-11e7-8a1c-d48d33

[2017-03-19 09:25] BaaniLeen commented on #31
![sample](https://cloud.githubusercontent.com/assets/22029744/24079663/f90a545a-0cb2-11e7-8b16-af1492852d15.gif)

We can have an introduction to the app(similar to the above GIF) after the splash screen which gives the user information about the aim of the project and the instructions like "You will earn points as you make decisions in the game" as suggested by @alma-castant ...
I can implement th

[2017-03-19 10:03] codingblazer commented on #31
@BaaniLeen Its been already solved via PR #323 :-)

[2017-03-19 10:44] BaaniLeen commented on #31
@codingblazer Okay thanks..! :-)
perhaps I missed it since the PR has not been merged yet.

[2017-03-21 00:20] BaaniLeen opened #357 "Landscape UI Problems (tablets or large screens)"
1) The buttons for choosing the new avatar(avatarroom.xml) are not there. The text on the Continue button is missing,
The alignment of the page is improper as shown below :
![avatarroom_l](https://cloud.githubusercontent.com/assets/22029744/24083600/0f433910-0d00-11e7-937c-b6bdbc4008de.png)

2) The activity for selection of features(activity_select_features.xml) does not appear properly as shown b

[2017-03-21 00:39] BaaniLeen opened #358 "Potrait UI Problems (Tablets or large screens)"
1) ![avatarroom_p](https://cloud.githubusercontent.com/assets/22029744/24127426/8fe838fe-0dfa-11e7-9e7c-9844cd2cbe18.png)
In the avatarroom.xml, the navigation buttons to choose between the various features do not appear. Also the orientation of the various elements across the page is not proper.

2) ![activity](https://cloud.githubusercontent.com/assets/22029744/24127635/3de0d474-0dfc-11e7-9c48-a

[2017-03-21 01:10] codingblazer commented on #357
Hey @BaaniLeen, almost all of these issues are reported in past and have their PR's unmerged. Those PR's are general solution i.e they will solve these issues for all screen sizes.
Please have a look at them to avoid doing the same work again :-) :-)

[2017-03-21 02:22] BaaniLeen commented on #357
Hey @codingblazer , I have had a look at all the past issues but not at the unmerged PRs.....Point taken...!
Yet, I cannot find an open issue or a PR corresponding to the first two points - changes in avatar_room.xml and activity_select_features.xml (Issue #55 has been resolved by PR #71, yet the problem persists on tablets).
@aanchal07 @dhara04 Kindly approve the issue so that I can start working

[2017-03-21 04:34] codingblazer opened #359 "Resource Leaks found using FB Infer Tool [Free]"
I tested app using Facebook Infer tool for android which is used for all Facebook apps like Instagram, etc. Following Null references and Resource Leaks were found -

[code]
@chhavip @aanchal07 If this seems valid, please feel free to tag this as free issue for beginners.

[2017-03-21 07:22] mahikaw opened #360 "Inconsistency in font types and button dimensions at various places"
The screenshots below portray the inconsistency:-

![device-2017-03-21-124701](https://cloud.githubusercontent.com/assets/21010060/24136440/d75b83fa-0e34-11e7-99e8-9154b802c5c6.png)

![device-2017-03-21-124803](https://cloud.githubusercontent.com/assets/21010060/24136455/dd19f33a-0e34-11e7-8f94-f03abc4a5be6.png)

@aanchal07 @chhavip can I go ahead and fix this?

[2017-03-21 14:03] mahikaw commented on #357
@BaaniLeen It will be great if could you  edit the issue and remove the redundant ones.

[2017-03-21 14:10] mahikaw commented on #356
@Siddiq200 This issue has been reported earlier by #239 . Also it will be better if you look into all the previous issues before reporting one. :smile:

[2017-03-21 14:12] mahikaw commented on #355
@BaaniLeen Please close this issue. :smile:

[2017-03-21 14:17] mahikaw commented on #352
@aanchal07 @chhavip Can I submit a PR for this?

[2017-03-21 14:23] mahikaw commented on #346
@harshitagupta30 , is this issue still up?

[2017-03-21 14:32] codingblazer commented on #352
@mahikaw @sashafierce This issue is duplicate of #326 . The problem has no relation with the API level. Its happening because of low screen size.

[2017-03-21 14:35] mahikaw commented on #352
oh. I see. @codingblazer, so you say this can't be solved?

[2017-03-21 14:38] mahikaw commented on #169
@aanchal07 @chhavip is someone working on this? Else, I would love implementing it. Please let me know. :smile:

[2017-03-21 14:38] codingblazer commented on #352
@mahikaw
1. The issue is duplicate of #326
2. Issue is wrong. Imagebutton are present for all API levels. This problem is because of small screen sizes only and thus API level as cause is wrongly mentioned in the issue.
@mahikaw This can be solved for sure. I have solved it actually under issue #326 and am waiting for mentors approval. :-)

[2017-03-21 14:41] mahikaw commented on #352
oh okay, that's great. good job!
@sashafierce please close this issue. :smile:

[2017-03-21 14:45] #355 closed

[2017-03-21 15:50] mahikaw opened #361 "Avatar not updated after shopping at store in Game Activity"
The avatar doesn't get updated after buying in the store.

before buying:-
![device-2017-03-21-205218](https://cloud.githubusercontent.com/assets/21010060/24156051/7d99eca2-0e7b-11e7-88e2-fd824112bac3.png)

After buying:-
![device-2017-03-21-205350](https://cloud.githubusercontent.com/assets/21010060/24156156/c74938b2-0e7b-11e7-936c-3bd59b758741.png)

![device-2017-03-21-210619](https://cloud.gith

[2017-03-21 17:55] aanchal07 commented on #359
How are you aiming to solve this?
I don't think this is a big issue as of now. @chhavip What do you say?

[2017-03-21 17:57] aanchal07 commented on #358
@BaaniLeen How do you plan to solve this? Did you test on any other device too?

[2017-03-21 18:10] aanchal07 commented on #354
@Siddiq200 Since converting all activities to fragments is a huge work, we will need to discuss it thoroughly and this could be taken up in GSoC.

[2017-03-21 18:13] aanchal07 commented on #353
@shreyans29 Can you send screenshot of what the screen would look like when button will be pressed, ie how will the change of color look/ show up.

[2017-03-21 18:26] aanchal07 commented on #326
@codingblazer Separate PRs for different issues.

[2017-03-21 18:31] codingblazer commented on #326
@aanchal07 Yeah sure. Will send a PR soon :-)

[2017-03-21 18:39] codingblazer commented on #359
@aanchal07 Yeah I agree, these are not big issues and can be good beginner issues.
For the database related resource leaks, cursor needs to be closed wherever referred by the tool. For null dereferences, a simple null check will do.

[2017-03-21 18:42] aanchal07 commented on #350
@sashafierce Since its the concluding screen after each scenario, it depicts the point for that particular scenario, hence the name current scene.

[2017-03-21 19:04] aanchal07 commented on #361
@mahikaw You are right, the avatar has not been updated yet in the game_activity. We are gonna take it up in GSoC.

[2017-03-21 19:10] mahikaw commented on #360
A gentle reminder.

[2017-03-21 19:12] mahikaw commented on #361
Oh. Okay. That's great, you could put it on hold maybe. :)

[2017-03-21 19:15] aanchal07 commented on #360
@mahikaw Go ahead. Also attach the screenshots of changed UI in the PR.

[2017-03-21 19:18] aanchal07 commented on #348
@harshitagupta30 Can you elaborate on the issues that arise?

[2017-03-21 20:05] anubhakushwaha commented on #325
@Pankaj-Baranwal Any updates?

[2017-03-21 23:19] BaaniLeen commented on #357
@mahikaw Sure..! :)

[2017-03-22 02:18] BaaniLeen commented on #358
@aanchal07 I have tested the app on multiple devices of various sizes. It works well on all devices tested uptil Nexus 6 (5.96") .The app faces these issues for 7'' devices or devices with greater size (tablets).
We can use configuration qualifiers like layout-xlarge and layout-xlarge-land for the making a design which effectively utilises the screen space we have on the tablet (Or we can enable t

[2017-03-22 02:19] BaaniLeen commented on #357
@mahikaw Sure..! Done :)

[2017-03-22 04:45] aanchal07 commented on #358
@BaaniLeen Would you like to carry out this issue and #357 together?

[2017-03-22 04:56] aanchal07 commented on #344
@harshitagupta30 When you make the answer list the same color of the background, it does not give the impression of the scrollview.

[2017-03-22 04:56] aanchal07 commented on #343
Can you explain what would be the aim for doing so?

[2017-03-22 05:01] aanchal07 commented on #338
@top-gun007 How do you suggest we add the access to store from these activities?

[2017-03-22 05:42] aanchal07 commented on #337
@top-gun007 Do you want to show a toast when a user clicks the answer and before going to the next screen? Please make the functionality clear.

[2017-03-22 06:03] aanchal07 commented on #332
@HimanshuS01 Please do not send PRs without approval.

[2017-03-22 07:05] aanchal07 commented on #329
@codingblazer We are not using the health and power bars as of now, they are just static progress bars. Once we decide on implementing this feature, you can go ahead with the PR.

[2017-03-22 09:06] #333 closed

[2017-03-22 13:05] HimanshuS01 commented on #332
sure @aanchal07 .I Will take care in mind and never do it again :)
_Thank You_

[2017-03-22 15:23] sashafierce commented on #350
@aanchal07  And after that the next scenario abruptly appears , I think it would be better to have an info dialogue before every scenario or the 'current scenario' can be converted

[2017-03-22 15:25] sashafierce commented on #352
@codingblazer  I tested it on higher API levels and did not experience the same. And i thought its better to be specific about the API level I tested it on

[2017-03-22 16:09] codingblazer commented on #352
@sashafierce Yeah, API level can definitely have effect on layout but not in this case as ImageButton were added in API level 1 (i guess so). So, this issue can't be because of API level.
@sashafierce Feel free to ask any doubts. Happy Coding :-)

[2017-03-23 01:19] codingblazer commented on #329
@aanchal07 Yeah that's fine. But should we also defer this crash for now :-)

[2017-03-23 09:23] aanchal07 commented on #350
@sashafierce The next scenario appears only when you click on continue button and not abruptly. Would you like to brief on exactly why the name "current scenario" is confusing. Thank you.

[2017-03-23 09:25] aanchal07 commented on #332
@HimanshuS01 Thank you. :)

[2017-03-23 09:58] top-gun007 commented on #337
Thank you for looking into it.
I propose two things:
1- Create a karma points would be shown on every screen of the app not just on the store area.
2- after every selection the corresponding increase and decrease in karma points would be seen originating from the selection menu and from there it would animate/move to the karma points and fade away and in the mean while the karma pointer is updated

[2017-03-23 10:31] top-gun007 commented on #338
We can implement them in our app through:
1-Add store button for the app startup.
2-And add store button along side reply button and continue

[2017-03-23 11:28] #352 closed

[2017-03-23 11:32] sashafierce commented on #350
@aanchal07 Okay I'll try to make some mocks to clarify.

[2017-03-23 14:31] BaaniLeen commented on #358
@aanchal07 As you suggest maam :)

[2017-03-24 05:13] mahikaw commented on #360
I am GSoC aspirant.

[2017-03-24 11:03] aanchal07 commented on #350
@sashafierce Great!

[2017-03-24 11:20] aanchal07 commented on #337
@top-gun007 The karma points are shown after each scenario gets completed and not on the game activity screen. This change would lead to change in game mechanics. I am asking the project manager about the same and will let you know.

[2017-03-24 11:24] aanchal07 commented on #338
@top-gun007 The store can be easily accessed from the map activity which can be accessed from the home screen on pressing the start button. I don't think adding extra buttons is required right now.

[2017-03-26 13:16] yatna commented on #126
PR sent and merged. #83
(GSoC Aspirant)

[2017-03-30 07:51] asclepiusgal opened #363 "color palette"
Would love to see the background of the buttons changed to be more of an accent. it's kind of hard to read the black font on brown background.

[2017-03-30 07:52] asclepiusgal commented on #363
I'm a GSoC aspirant; can i attempt this?

[2017-03-31 23:33] Michellurito commented on #361
Could I help with this issue? I am also a GSoC aspirant.

[2017-04-01 16:04] Pankaj-Baranwal commented on #325
Issue has been resolved. Will send a pull request day after tomorrow.

[2017-04-02 11:29] fatimarafiqui opened #364 "Open Source License Missing"
It is said often that "Open source simply isn't open source without a proper license. Unless we have explicitly told others that they can modify and reuse our work, We've only showed others our code, We haven't shared it."

We can add AGPL or GPL  license as it is most widely used across all open source projects.

Reference links:
[1] https://choosealicense.com/licenses/mit/
[2] https://github.com

[2017-04-04 16:52] top-gun007 opened #365 "Enhancement: Add theme Chooser on app start up."
**Summary**
Since the app is centred around age group 12-18. I suggest we add a list of science fiction women character(eg Wonder Women, Super Girl, Black Widow etc) and on selecting on any one of the theme(Mainly the colour of the buttons at the home screen) of the app changes:
**Something Like this**
![image](https://cloud.githubusercontent.com/assets/15179401/24668519/ceb939d0-1984-11e7-8b8a-3e

[2017-04-04 17:08] asclepiusgal commented on #365
Cool idea! Unfortunately I don't think you'll be able to publish the app on
the Google Play store without getting hit with the automatic copyright
infringement due to using proprietary Marvel stuff. Also, comic book color
themes may not be targeting the right demographic; saying this since I
personally wouldn't have 'loved' that feature as a primary school girl and
I was more of a tomboy than most

[2017-04-05 04:06] top-gun007 commented on #365
@asclepiusgal I am not saying about using the logos which are a copywriter materiel but instead of that we can use their names and show using a list of some sort of.

[2017-04-11 20:16] aanchal07 opened #366 "Edit the footer"
Remove the telepathy and invisibility powers from the power bar. Also remove the current emotion.

[2017-04-11 20:18] top-gun007 commented on #366
@aanchal07 I would like to work on it!

[2017-04-12 06:44] aanchal07 commented on #366
@top-gun007 How are you planning to implement it?

[2017-04-12 16:50] top-gun007 commented on #366
I plan to approach it in the following manner:

- Remove invisibility and telepathy power from game_activity.xml and then in align healing and strength powers horizontally.

- Redesign power_status_bar.png in order to remove Current emotion using Photoshop.

- Remove the corresponding db entries/functions of invisibility and telepathy powers in the following: PowerUpContract.java/DataHandler.java/

[2017-04-13 21:37] #281 closed

[2017-04-20 19:44] yatna opened #368 "[Bug] Unable to deselect an accessory once selected in store"
In the store, under the 'Accessories' section, it is impossible to deselect an accessory once selected for the avatar. User is either forced to go back or purchase that accessory.
Steps to reproduce the bug:
1.) Go the accessory section with an avatar  neither having a 'Bag' or 'Hat'.
2.) Now select any one 'Hat' and one 'Bag'
3.) Now try to purchase only the 'Bag' without the 'Hat'. Its impossibl

[2017-04-20 19:46] codingblazer commented on #368
@yatna This is duplicate of #283

[2017-04-20 19:48] yatna opened #369 "[Enhancement] Store items replace the previous items"
Once the user purchases something new using karma points the previous items get lost. To regain the previous items they need to be re-purchased. (eg Suppose I buy green clothes and then next time red clothes, now if I want my avatar to have green clothes, I’ll have to re-buy them)
This is incorrect, as the user should be able to use all the items which he/she has purchased anytime irrespective of

[2017-04-20 19:50] #368 closed

[2017-04-20 19:50] mahikaw commented on #369
This is similar to #361All related issues are to be taken up in the upcoming GSoC cycle :smile:

[2017-04-20 19:52] codingblazer commented on #369
@mahikaw  It's not even a valid issue. We have a "Paid" Text shown for already purchased items.
@yatna Is it happening for some specific case ?

[2017-04-20 19:54] yatna commented on #369
@mahikaw No this one is different. #361 is a bug , where the avatar is not being updated, this is more of a enhancement to the feature

[2017-04-20 19:57] mahikaw commented on #369
@yatna I understand it is an enchancement, however I am unable to see how it can be worked upon before fixing that bug #361, which will be done only during GSoC as stated by @aanchal07

[2017-04-20 20:01] codingblazer commented on #369
@mahikaw This is completely different from #361
@yatna This is already included feature in current codebase as shown below -

<img src="https://cloud.githubusercontent.com/assets/18090596/25250087/ea831974-2631-11e7-96f6-a1a5afb76936.jpeg" height="400" width="200">

[2017-04-20 20:01] mahikaw commented on #369
@codingblazer what @yatna meant to say here was that if the user want to change the clothes of the avatar to a previous one that the user had bought, it is not possible as of now.
All this can be incorporated only when the user avatar gets updated permanently or there exists a closet which contains all the items bought.
For this we need to wait for the GSOC period to start.

[2017-04-20 20:01] codingblazer commented on #369
@mahikaw We don't need to wait for it. It's already there as shown below :-))

[2017-04-20 20:04] yatna commented on #369
@mahikaw Thanks for explaining :-) also I just opened this issue because I feel that this feature should be incorporated. I understand that this can be implemented only after fixing #361. I just wanted to put the feature in the issue list

[2017-04-20 20:08] mahikaw commented on #369
That's thoughtful of you. Thanks for going through the app in such great detail. I'm sure @aanchal07 will go through this as soon as she can.

[2017-04-20 20:08] codingblazer commented on #369
@yatna Can you explain why this feature is different from the "Paid" text feature we are already having. We can select the "Paid" item and continue. It won't deduct any point.

[2017-04-20 20:15] yatna commented on #369
@codingblazer A Paid label for purchased items is there, its fine. But still we are not being able to switch to those without karma points.

[2017-04-20 20:25] yatna opened #370 "[Enhancement] Automatic document generation"
Integration of 3rd party libraries like doxygen will let us automatically generate neat and detailed documentation of the entire application. Also any new functions added will automatically be documented which will save developer's time in writing documentation.

[2017-04-20 20:27] codingblazer commented on #369
@yatna Your issue was however about adding this existing feature. That's why I corrected you :-)

The bug you mentioned is valid but it will be solved with #361 because the check condition for points will be corrected in that issue which will correct this bug automatically.
Thanks :-)

[2017-04-20 20:33] yatna opened #371 "[Bug] Avatar's initial possesstions not being marked as 'Paid'"
The items (Clothes, Hair, Accessories)chosen by the avatar during new user creation are not being marked as 'Paid' in the store. This means that they can be re-purchased, which is a bit incorrect since the avatar already possesses them

[2017-04-20 20:41] yatna commented on #369
@codingblazer Its fine. :-) Even I did not thought that the paid feature can be an alternative for the 'closet' feature.
However , I feel that having a 'Bag'/'Closet' where the user can see and switch between all what he/she has purchased will be a better alternative. The user will be able to go the 'Bag' whenever he/she wishes, as currently we can go to the store only upon completion of a scene e

[2017-04-20 20:45] codingblazer commented on #369
@yatna Yeah sure :-)

[2017-04-20 20:49] mahikaw opened #372 "Abrupt message view after scenario completionn"
![device-2017-04-21-015730](https://cloud.githubusercontent.com/assets/21010060/25251878/8c9a6f22-2638-11e7-9d9d-de5efa6b3d0b.png)
This shows up after the scenarios gets over, leaving the user confused about what to do next.
@aanchal07  we could add the power up button or buttons for the map and store activity, just like everywhere else so as to build context.
I am willing to work on it. Please te

[2017-04-20 23:50] BaaniLeen commented on #372
@mahikaw When a scene gets over, the user gets an option to go back to the map and move to another scene, while when a scenario gets over, the user is asked to wait until new questions are put up as the game is over now. The UI for the scenes seems consistent with the aim of each scene :)

[2017-04-20 23:59] mahikaw commented on #372
@baaniLeen
Generally the completed scenario comes up even when some scenarios are left. In that case the user has to go back and play them.
Also, even if the game is completed, it shouldn't lead to an end. There can always be options like start a new game, replay and shop at the store, in this activity. This will help enhance the app's context and user-friendliness.

[2017-04-21 00:16] BaaniLeen commented on #372
@mahikaw The issue of the wrong screen coming up at the wrong time has been already addressed in issue #315 ... Please have a look at it..!
Agreed on the second point :)

[2017-04-21 00:16] BaaniLeen commented on #315
@aanchal07 Can I please work on this? :)

[2017-04-21 00:21] mahikaw commented on #315
@BaaniLeen this is a duplicate issue to #241
@codeb1ooded it is advised to go through the existing list of issues before opening a new one. :)

[2017-04-21 00:24] mahikaw commented on #372
@BaaniLeen the first point that I mentioned above was just to take care of the bug in the app in it's current, however eventually a major change in the database and scenarios needs to be taken up in the upcoming GSoC cycle :smile:

[2017-04-21 00:35] mahikaw commented on #370
Sounds like a great idea. @aanchal07 What do you think?

[2017-04-23 11:11] harshitagupta30 opened #373 "Hiding resume button on first time opening the app"
**Actual Behaviour**
Currently, when user first time installs the app and opens it then along with new user button, resume button is also visible.

![screenshot from 2017-04-23 16 41 40](https://cloud.githubusercontent.com/assets/12701036/25313003/cb764736-2843-11e7-8956-dc889270c188.png)

**Expected Behaviour**
In my opinion, we can hide the resume button if the app is opened for the first time.

[2017-04-23 11:16] top-gun007 commented on #373
@harshitagupta30 can you post a screenshot of that.
Because in mine it shows start game instead of resume.

[2017-04-23 11:22] harshitagupta30 commented on #373
@top-gun007 Sorry my bad! on re-running it showed me resume due to which I got confuse. Thanks for letting know! :+1: Closing issue :+1:

[2017-04-23 11:22] #373 closed

[2017-04-23 21:42] kimhwins opened #374 "UI Update"
The current UI for scenarios could be updated to be cleaner and more space efficient (for example, there's the sprite talking and then a static image in the footer, and the footer itself takes up space that could be used to space out the dialogue more).

I've attached a draft of what I envisioned for a UI update--I sketched this very quickly in my proposal :) Karma is visually represented as stars

[2017-04-24 03:45] codingblazer opened #375 "Back Functionality not working properly"
Currently, the user can go back to previous question in the game and change its answer.
To be precise, the user can keep on pressing back button and go back to already visited scenario as well.

This bug is happening after some recent code changes in the codebase. @aanchal07 Can I work on this?

[2017-04-24 03:52] codingblazer commented on #374
@kimhwins Hey, it looks good. Can you tell what you mean by this -

 I used the piggy bank to show karma points in my proposal. :-)

[2017-04-24 03:58] codingblazer commented on #372
@mahikaw @BaaniLeen I think we can add a button to New level or button to mini games in this scene (yes, in upcoming GSOC cycle). What do you suggest?

[2017-04-24 04:17] BaaniLeen commented on #372
@codingblazer Seems like a great idea...! We can surely do that...! 🙂

[2017-04-24 04:19] codingblazer commented on #370
@yatna Good suggestion. But don't you think other options like JavaDocs will be better considering it is inbuilt in Android Studio and won't require any 3rd party dependency. (Leaving aside diagrams and stuff, it can do most of the things as Doxygen). What do you suggest?

[2017-04-24 05:34] kimhwins commented on #374
@codingblazer hey, thanks! I meant like, if there are other characters in the scenario who are also talking, they'll have full body sprites (sort of like the full body stick figure I showed behind the options boxes?), if that makes sense, as opposed to the headshot the player's avatar has.

A piggy bank works too!! I think any visual interpretation of karma is a good change :)

[2017-04-24 07:09] kimhwins commented on #374
Added a sketch of a redesign of Marco that I included in my proposal into the UI screenshot so you can see the transparency :)
![gui draft 2](https://cloud.githubusercontent.com/assets/22511190/25325843/7b3adc70-289b-11e7-8d4d-461c4467702f.png)

[2017-04-24 10:33] codingblazer commented on #374
@kimhwins That's awesome. Whoever works this GSOC, I would love to see this type of thing.

[2017-04-24 10:35] codingblazer commented on #372
@BaaniLeen Yeah, in addition to that !!

[2017-04-24 12:35] top-gun007 commented on #374
Yeah agree with @codingblazer here enhancement work should be done during GSOC timeline.

[2017-04-24 13:11] mahikaw commented on #372
Sounds great. @codingblazer @BaaniLeen , thanks for your inputs! :smile:

[2017-05-12 15:32] #14 closed

[2017-05-12 15:41] #19 closed

[2017-05-12 15:55] #20 closed

[2017-05-12 15:56] #22 closed

[2017-05-12 16:06] #35 closed

[2017-05-12 16:11] #259 closed

[2017-05-12 16:12] aanchal07 commented on #259
Refer to #366

[2017-05-12 18:30] #254 closed

[2017-05-12 18:31] #243 closed

[2017-05-12 18:32] #241 closed

[2017-05-12 18:39] #218 closed

[2017-05-12 18:41] #212 closed

[2017-05-12 18:41] #204 closed

[2017-05-12 18:52] aanchal07 commented on #203
New scenarios and mini games will be added after discussing with the team managers.

[2017-05-12 18:52] #203 closed

[2017-05-12 19:07] aanchal07 commented on #175
I think this is just a pictorial representation for the main avatar and need not change every time.
@MeepyMay What do you say?

[2017-05-12 19:11] aanchal07 commented on #174
Currently there is no sequence to be followed in the scenarios, once such game mechanics is decided upon, the issue can be reopened.

[2017-05-12 19:11] #174 closed

[2017-05-12 19:12] #315 closed

[2017-05-12 19:15] #172 closed

[2017-05-12 19:16] #337 closed

[2017-05-12 19:17] #170 closed

[2017-05-12 19:19] #171 closed

[2017-05-12 19:21] #166 closed

[2017-05-12 19:24] aanchal07 commented on #159
@top-gun007 you can work on it if you still intend to.
Sorry for the late reply.

[2017-05-12 19:24] #135 closed

[2017-05-12 19:25] #118 closed

[2017-05-12 19:31] aanchal07 commented on #85
The database has been updated since this issue so closing it for now.

[2017-05-12 19:31] #85 closed

[2017-05-12 19:33] aanchal07 commented on #75
Issue solved so closing this.

[2017-05-12 19:33] #75 closed

[2017-05-12 19:34] #69 closed

[2017-05-12 19:41] #358 closed

[2017-05-12 19:41] #357 closed

[2017-05-12 19:41] #55 closed

[2017-05-12 19:41] #54 closed

[2017-05-12 19:42] #47 closed

[2017-05-12 20:04] #265 closed

[2017-05-12 20:06] #269 closed

[2017-05-12 20:07] #275 closed

[2017-05-12 20:10] #346 closed

[2017-05-12 20:11] #278 closed

[2017-05-12 20:14] #283 closed

[2017-05-12 20:22] #285 closed

[2017-05-12 20:27] #287 closed

[2017-05-12 20:28] #289 closed

[2017-05-12 20:45] aanchal07 commented on #312
How has this improved performance/battery issues?

[2017-05-12 20:45] #316 closed

[2017-05-12 20:45] #319 closed

[2017-05-12 20:47] aanchal07 commented on #320
@HimanshuS01 Does this error still persist?

[2017-05-12 20:47] aanchal07 commented on #325
Is anyone working on this issue?

[2017-05-12 20:51] #327 closed

[2017-05-12 21:05] #311 closed

[2017-05-12 21:10] #326 closed

[2017-05-12 21:12] #328 closed

[2017-05-12 21:12] #329 closed

[2017-05-12 21:14] #332 closed

[2017-05-12 21:15] #335 closed

[2017-05-12 21:16] #338 closed

[2017-05-12 21:16] #343 closed

[2017-05-12 21:17] #344 closed

[2017-05-12 21:17] #348 closed

[2017-05-12 21:18] #350 closed

[2017-05-12 21:19] #353 closed

[2017-05-16 19:44] aanchal07 commented on #169
Since we will be designing new map screen this gsoc, closing it.

[2017-05-16 19:44] #169 closed

[2017-05-16 19:45] aanchal07 commented on #175
Closing this as redesigning work will be carried out in gsoc 2017.

[2017-05-16 19:45] #175 closed

[2017-05-16 19:47] #230 closed

[2017-05-16 19:49] aanchal07 commented on #263
@FarbodSalamat-Zadeh Have you included the work intended for #159 too?

[2017-05-16 19:50] #159 closed

[2017-05-16 19:50] aanchal07 commented on #159
The work for this can be included in #263

[2017-05-16 19:51] aanchal07 commented on #286
@codingblazer Would you like to work on this now?

[2017-05-16 19:52] aanchal07 commented on #290
Closing this as redesigning work will be carried out in gsoc 2017.

[2017-05-16 19:52] #290 closed

[2017-05-16 19:53] aanchal07 commented on #309
Closing this as redesigning work will be carried out in gsoc 2017.

[2017-05-16 19:53] #309 closed

[2017-05-16 19:53] aanchal07 commented on #312
Closing this as there is no response as of now.

[2017-05-16 19:53] #312 closed

[2017-05-16 20:19] aanchal07 commented on #356
Closing this as redesigning work will be carried out in gsoc 2017.

[2017-05-16 20:21] #356 closed

[2017-05-16 20:26] #359 closed

[2017-05-16 20:30] aanchal07 commented on #320
I tested the same and I am unable to produce the same bug. It works just fine.

[2017-05-16 20:30] #320 closed

[2017-05-16 20:56] #363 closed

[2017-05-16 20:58] aanchal07 commented on #365
I don't think we can include this feature as of now.

[2017-05-16 20:58] #365 closed

[2017-05-16 21:02] aanchal07 commented on #366
Since we will be doing some redesigning during this gsoc, closing this issue.

[2017-05-16 21:02] #366 closed

[2017-05-16 21:06] aanchal07 commented on #370
I think a personally written documentation by the developer would include more a lot information regarding what all issues he faced and how to overcome the same, etc.

[2017-05-16 21:06] #370 closed

[2017-05-16 21:09] aanchal07 commented on #371
@yatna Would you like to work on this?

[2017-05-16 21:19] aanchal07 commented on #372
We can carry this out right now and add a button to direct to map screen. Would anyone like to work on it?

[2017-05-16 21:24] aanchal07 commented on #374
@kimhwins This looks great! We can discuss the same with @MeepyMay and @codingblazer and go ahead with it.

[2017-05-16 21:34] aanchal07 commented on #375
@codingblazer Does this error still persist?

[2017-05-18 12:40] FarbodSalamat-Zadeh commented on #263
@aanchal07 Yes - [on line 68 of UiUtils](https://github.com/FarbodSalamat-Zadeh/powerup-android/blob/e23996580a0ccd031c0c94d93b3119be91f005ef/PowerUp/app/src/main/java/powerup/systers/com/util/UiUtils.java#L68) there is a `setupProgressBars` method which initializes these power bars.

[2017-05-18 15:30] codingblazer commented on #286
@aanchal07 I was thinking of taking this at end of this development cycle. There will be major changes this cycle and this performance issue will again come up at the end. What do you think?

[2017-05-22 17:17] aanchal07 commented on #286
@codingblazer Alright then we can put this on hold for now.

[2017-05-23 16:31] #364 closed

[2017-05-23 16:50] #325 closed

[2017-05-23 19:49] #263 closed

[2017-05-23 19:50] aanchal07 commented on #354
@codingblazer Do you want to take this up?

[2017-05-23 19:50] aanchal07 commented on #360
@mahikaw Please send an updated PR.

[2017-05-23 19:59] aanchal07 commented on #371
@codingblazer As @yatna isn't replying, you will have to take this up

[2017-06-02 06:01] codingblazer commented on #371
Sure, I am on it !!

[2017-06-02 06:06] codingblazer commented on #31
@aanchal07 This already has a PR #323 . Does this require any changes ?

[2017-06-02 13:48] codingblazer commented on #375
Yes, it does !! I will look at this soon after exams.

[2017-06-03 22:14] codingblazer opened #377 "Store not updating bought items in FinalAvatarScreen"
Go to Store -> Buy Accessories -> Press Continue -> The Final updated Avatar is not showing the bought items.

The problem exists in some merged PR as the problem was not present earlier. I am working on it.

[2017-06-05 10:38] codingblazer commented on #354
@aanchal07 I have some doubts on whether this should be taken or not. I will proceed on this after discussing it with you in this week's meet.

[2017-06-05 10:42] codingblazer opened #378 "Opening of unwanted Scenarios"
After completing the last scenario - "The School", we can move to more scenarios like Sex, Love, etc which are not yet on Map. This is a bug in the database.
I am working on it.

[2017-06-05 13:58] aanchal07 commented on #31
@codingblazer As we will be redesigning the intro screens, I have closed that PR for now. I will put this issue on hold.

[2017-06-05 14:11] codingblazer commented on #31
Yeah sure !!

[2017-06-05 22:50] codingblazer commented on #377
**Issue #377 Final Avatar Screen not showing Bought items** - Since issue wasn't present earlier, I rollbacked PRs one by one to identify the faulty one #324

[2017-06-05 22:50] codingblazer commented on #375
**Issue #375  Back Functionality error** - Since issue wasn't present earlier, I rollbacked PRs one by one to identify the faulty one #331

[2017-06-06 11:06] #360 closed

[2017-06-06 18:08] MeepyMay opened #382 "User completes the Home Scenario."
## Description
As an player,
I want to complete the "Home" scenario,
so that I can earn karma points and buy new things!

## Mocks
TBD

## Acceptance Criteria
- User interacts with an NPC.
- Once conversation is finished, user is notified with the # of karma points earned.

## Definition of Done
- Passes all regression tests.
- Passes testing per acceptance criteria items.
- Approved by UI team.
-

[2017-06-06 18:25] MeepyMay opened #383 "Mentors create issues for all stages' scenarios."
## Description
As an Student,
I want to view all the work I need to do,
so that I can manage my time and program with weekly reports on time.

## Mocks
N/A

## Acceptance Criteria
- Student can view all user stories in the issues list.
- User stories follow this format.
- Includes labels, assignees, and added to the "Student Tasks" Project board.

## Definition of Done
- All 5 scenarios are covere