[2018-03-16 16:03] geekanamika commented on #1078
@swaroop-nath As murad mentioned, it would be added during GSoC period.

[2018-03-16 18:22] geekanamika commented on #1044
Hi @DipanshKhandelwal , Can you explain it more ? Looks like an enhancement, we should discuss it on slack channel.

[2018-03-17 05:38] DipanshKhandelwal commented on #1044
Yes, @geekanamika we must discuss it. Actually I think, the karma points distribution earning from a scenario, is not clear or correct. Some places I saw that if we choose the options that should not be chosen gives you a better karma score than the correct one. So we must define a good map about how the points should be distributed in the scenarios.

[2018-03-17 11:24] SIMRAN1 commented on #995
okk @Rimjhim28

[2018-03-17 12:35] arundhati24 commented on #776
@m-murad May I now work on this? This issue was closed by @may earlier with the label open later. I had asked again to work on it but there was no reply.. So May I now work on this? :slightly_smiling_face:

[2018-03-17 12:36] arundhati24 commented on #775
@m-murad May I now work on this? This issue was closed by @may earlier with the label open later. I had asked again to work on it but there was no reply.. So May I now work on this? :slightly_smiling_face:

[2018-03-17 12:36] arundhati24 commented on #774
@m-murad May I now work on this? This issue was closed by @may earlier with the label open later. I had asked again to work on it but there was no reply.. So May I now work on this? :slightly_smiling_face:

[2018-03-17 12:59] geekanamika commented on #1066
Since , Similar issue exist , Closing it.

[2018-03-17 12:59] #1066 closed

[2018-03-17 13:01] geekanamika commented on #775
@arundhati24 This will be an enhancement to the current application(every enhancement should be discussed first) . Discuss it on slack & if admin/mentors will approve , you can work on it :) Same goes for #774 & other issues related to skip tutorial.

[2018-03-17 13:04] geekanamika commented on #861
Similar to #1078 . It can be closed.

[2018-03-17 13:04] #861 closed

[2018-03-17 21:21] Rimjhim28 commented on #994
@m-murad I have already discussed this on slack. The contributors feel this is a valid issue. Can I proceed now?

[2018-03-17 21:21] Rimjhim28 commented on #997
@m-murad Can I proceed with this issue.
Should I create another one for crash?

[2018-03-18 03:54] Nuwini commented on #1082
@pprathameshmore It is very much needed that you pay attention to the quality of the images, when doing the suggested change

[2018-03-18 04:31] pprathameshmore commented on #1082
@Got it!

[2018-03-18 09:16] m-murad commented on #997
@Rimjhim28
You can send a PR for this

[2018-03-18 09:18] Rimjhim28 commented on #997
ThankYou @m-murad!! Will be sending a PR soon.

[2018-03-18 20:07] haroonshah2764 opened #1084 "Update deprecated configration"
## Description
As developers
we are using deprecated configuration in app level `build.gradle` file. e.g. we are still using `compile` instead of `implementation`. We need to update the configrations
so that we are following the latest guidelines.

## Acceptance Criteria
- [ ] Update the deprecated configurations.
### Enhancement to Update [Optional]
- [ ] Configrations

## Definition of Done
- [

[2018-03-18 20:08] haroonshah2764 commented on #1084
Can I send a PR to fix this issue?

[2018-03-18 22:18] isabelcosta commented on #797
@MeepyMay I just want to highlight one of the effects of this bug is that when an image of the eyes isn't found.

- This does not have a direct impact on the AvatarRoom screen, because the eyes simply aren't replaced.
- But this affects when we go to the Store screen, because when the avatar is created from what is saved on the DB, the image does not exist hence does not appear.

Example:

![image

[2018-03-19 04:50] Rimjhim28 commented on #797
@isabelcosta The issue is already solved through PR #511 . The PR is yet to be merged.

[2018-03-19 10:31] pprathameshmore commented on #775
@arundhati24 Skip button must be required!

[2018-03-19 10:37] pprathameshmore commented on #1084
@haroonshah2764 Yeah! We must update the configuration! The latest Android Gradle plugin now requires you to explicitly define. [Reference](https://stackoverflow.com/questions/44493378/whats-the-difference-between-implementation-and-compile-in-gradle)

[2018-03-19 10:53] isabelcosta commented on #797
Thank you for telling me about the PR @Rimjhim28
I just wanted to highlight the effects of this bug, since the PRs referenced here were from the last year.

[2018-03-19 11:39] pprathameshmore opened #1085 "Safe remove unnecessary methods and code"
## Description
As a developer,
I need safe remove unnecessary methods and code,
so that I can make code look better and maintainable.

## Mocks

![gith](https://user-images.githubusercontent.com/17108186/37593457-106ef0ce-2b98-11e8-8719-ed4d447e44b9.JPG)

### Update [Required]
- [ ] Removed innecessary code from all files.

## Definition of Done
- [ ] All of the required items are completed.
- [ ]

[2018-03-19 11:44] Rimjhim28 commented on #1085
IMO, these are not completely unnecessary but the basic getters and setters. Though they are not being used right now but can be expected to be used in future with addition of more scenarios and mini games. Removing them completely would be costly, in a way that if they are needed in next development cycle, time has to be invested again to write them.

[2018-03-19 12:42] swaroop-nath opened #1086 "Addition of Feature: Education on sanitary napkins"
I have played the entire game in order to have an overview and felt that there should be a feature where
the users are taught about the benefits of using sanitary napkins.

I am from India and according to surveys conducted, almost 58% of total women population have access to sanitary napkins (Source: https://thelogicalindian.com/health/menstruation-in-rural-india/)

I feel that including this fea

[2018-03-19 12:49] Rimjhim28 commented on #1086
@swaroop-nath This is new feature, that is, a kind of enhancement. It's better if you first discuss it on the community channel rather than proceeding to create an issue.
Also, for creating any issue , please follow the issue template that comes by default.

[2018-03-19 12:53] swaroop-nath commented on #1086
Ok, So I can discuss it on Slack?

[2018-03-19 12:56] Rimjhim28 commented on #1086
Yes exactly! You can discuss any of the new ideas and enhancements on slack (it is recommended to do so).
Also, since this issue of yours is not a bug that needs to fixed, you can close this for now.
For any new issue, please follow the issue template.

[2018-03-19 12:57] swaroop-nath commented on #1086
Ok, I will keep that in mind. Thanks :)

[2018-03-19 12:57] #1086 closed

[2018-03-19 13:33] pprathameshmore commented on #1085
@Rimjhim28 You are right!

[2018-03-19 13:33] #1085 closed

[2018-03-20 06:05] pprathameshmore commented on #1080
@geekanamika Add GSoC lable

[2018-03-21 00:53] AjaySharvesh3 commented on #1080
Can I claim this issue?

[2018-03-23 13:34] swaroop-nath commented on #463
@Masquerade0097 are you working on this? If not I can take it up.

[2018-03-26 19:34] nirupamgunwal opened #1088 "Bad Readability in AboutActivity"
## Description
As a [USER],
I need [to give a white background behind the text],
so that I can [make the text readable].

## Acceptance Criteria
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[1] hours

[2018-03-27 09:26] PiumiHR opened #1090 "Appearing a corrupted image in ReadMe.md"
## Description
As a GSoC Aspirant,
I need improve the ReadMe documentation.
The Travis icon is corrupted.

## Mocks
![readme-powerup-uppersection](https://user-images.githubusercontent.com/19715380/37958308-cd458326-31cd-11e8-839a-c2b3b6d825a2.PNG)

## Acceptance Criteria
### Update [Required]
- [ ] https://img.shields.io/travis/rust-lang/rust.svg?style=plastic file is not loading
### Enhancement

[2018-03-27 13:01] geekanamika commented on #1088
@nirupamgunwal You are supposed to use the issue template to create an issue. Leaving Acceptance criteria blank & not mentioning the enhancement is not the goal of providing the issue template.
This is a enhancement. Please join slack channel #powerup  & discuss it. You can reopen this issue once it's approved & Please go through contribution guidelines!

[2018-03-27 13:01] #1088 closed

[2018-03-27 13:09] geekanamika commented on #1090
This is a valid issue. Though  PR 1091 doesn't solve the problem.  Replacing the existing link with [![Build Status](https://travis-ci.org/systers/powerup-android.svg?branch=develop)](https://travis-ci.org/systers/powerup-android) will solve the issue.

@m-murad @Rimjhim28 What do you think?

[2018-03-27 13:12] geekanamika commented on #1090
Strange, It is working fine now. ![image](https://user-images.githubusercontent.com/16922933/37969517-929620de-31ee-11e8-86d0-9f8f7a53413b.png)

[2018-03-27 16:51] Rimjhim28 commented on #1090
It is working fine on my end @geekanamika @PiumiHR

[2018-03-27 20:11] geekanamika commented on #1090
@PiumiHR I'm closing this issue for now.

[2018-03-27 20:11] #1090 closed

[2018-03-28 16:53] Rimjhim28 commented on #1023
@Akanshi32 Are you still on it?
I have not encountered this yet.
@geekanamika What do you think?

[2018-03-28 16:57] Rimjhim28 commented on #1025
As far as I can remember, this was discussed on slack and didn't have any clear decision.
I think this can be closed with an OPEN-LATER label, taking into consideration that if any decision is reached the PR can be addressed.
@geekanamika @m-murad What is your opinion?

[2018-03-28 17:01] Rimjhim28 commented on #1031
@Akanshi32 It would be better if you could provide some mocks on how you intend to solve this.
Moreover, since this is an UI change, it would require decision from community as well, so initiating the dicussion on slack channel could be a better option.

[2018-03-28 17:05] Rimjhim28 commented on #1061
I don't think this is a valid one and it can be closed.
@geekanamika @m-murad What do you think?

[2018-03-28 17:12] Rimjhim28 commented on #1065
@Mandeepsinghchadha Can you please be more clear on this.
I think LOAD GAME nutton is doing the same thing now.

[2018-03-28 17:13] geekanamika commented on #1023
I haven't encountered it too. Closing it. @Akanshi32 Please reopen the issue with gif file & log file if you encounter it again. Thank you.

[2018-03-28 17:13] #1023 closed

[2018-03-28 17:14] Rimjhim28 commented on #1068
This instruction is misleading and it's better to solve it as soon as possible.
@aayushinigam Please send a PR for this.

[2018-03-28 17:15] Rimjhim28 commented on #1084
Sounds good! @haroonshah2764 Can you please initiate a discussion for this on slack so that we can have different opinions?

[2018-03-28 17:16] geekanamika commented on #1025
Yeah, agreed. We can re-open it whenever required.

[2018-03-28 17:19] geekanamika commented on #1084
@rimjhim28 Android studio 3.1 also shows the warning in `Build` section due to `compile`. Since this is a small fix, @haroonshah2764 Go ahead.

[2018-03-28 17:22] Rimjhim28 commented on #1010
@geekanamika @MeepyMay This can be closed. Right?

[2018-03-28 17:31] Rimjhim28 commented on #981
@geekanamika I think this can be closed.

[2018-03-28 17:39] Rimjhim28 commented on #990
@PrajwalM2212 Are you still working on this?
Poviding some instances would be a better option since it would give a better option on what you intend to solve and how.

[2018-03-28 17:43] Rimjhim28 commented on #953
@Aryaman21 Since this requires a UI change please discuss on slck first.
Closing the issue for now. If any decision is reached, you can reopen it.

[2018-03-28 17:43] #953 closed

[2018-03-28 18:04] Mandeepsinghchadha commented on #1025
@geekanamika @Rimjhim28  sometimes I really get confused are you a Gsoc participant or a mentor or maintainer.I think closing an issue should require a mentor's approval .Also If you have power to close an issue then do you have the authority of approving a PR in the same way?

[2018-03-28 18:08] Rimjhim28 commented on #1025
@Mandeepsinghchadha Sorry for the confusion.
With the new member levels of Systers we are also working as maintainers for the repo.
Yes, we can approve issues and PRs, provided they are valid ones.
We are also GSoC aspirants. I hope this clears up your doubt.

[2018-03-28 18:22] Mandeepsinghchadha commented on #1025
@Rimjhim28 In that case there is no difference between a maintainer  and a mentor . Also if a Gsoc participant has the power to approve this own issues and pr's then why do we need a mentor for this project?

[2018-03-28 18:53] m-murad commented on #1025
@Mandeepsinghchadha
That's not the case.
If a maintainer is selected as a GSoC student they will not be allowed to approve issues or PRs. It will be done be GSoC mentors.

Maintainers can only do stuff on related to GitHub (approving PRs etc), stuff related to GSoC like selecting students, passing/failing student can only be done by GSoC mentors.

[2018-03-28 19:31] Rimjhim28 commented on #1025
We can give our opinions on other contributors' issues and prs. We don't have the authority to approve our owns. In that case we require other maintainers and mentors to approve them.

[2018-03-29 04:51] aayushinigam commented on #1068
@geekanamika  @Rimjhim28 Okay, I will. Thanks :)

[2018-03-29 09:10] m-murad commented on #1068
@aayushinigam @Rimjhim28 @geekanamika
`Readme.md` needs some other changes, should those be done along with this?

[2018-03-29 09:15] Rimjhim28 commented on #1068
@m-murad this issue only pointed out the misleading instruction.
I think you are pointing the changes for contribution guidelines. We had a conversation on this on slack and @geekanamika pointed that it had some discussion in one of maintainers call. I think we can hold this change for now and come back to it after a proper decision has been taken.

[2018-03-29 10:23] haroonshah2764 opened #1094 "Fatal exception in StartActivity"
## Description
There is a fatal exception in StartActivity because width of a view has not been specified. We should fix this.

## Mocks
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Issue is fixed
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-03-29 16:10] AjaySharvesh3 commented on #1080
@m-murad can I claim this?

[2018-03-29 16:12] Rimjhim28 commented on #1080
@AjaySharvesh3 as mentioned by @geekanamika the issue will be taken up during gsoc.

[2018-03-29 18:56] #532 closed

[2018-03-29 18:58] #1068 closed

[2018-03-29 19:05] geekanamika commented on #1020
@pprathameshmore Re-open this issue if you face it again( with log messages).

[2018-03-29 19:05] #1020 closed

[2018-03-29 19:10] geekanamika commented on #1010
@Rimjhim28 It can be closed yes.

[2018-03-29 19:17] geekanamika commented on #505
@Adeti As May mention, Can you create another issue with the new template? I'm closing it for now.

[2018-03-29 19:17] #505 closed

[2018-03-29 19:29] Rimjhim28 commented on #1029
@geekanamika This is a kind of enhancement. I am adding the label, while the issue can still be kept open to avoid any duplication.

[2018-03-29 19:32] geekanamika commented on #923
Similar issue already exists.

[2018-03-29 19:32] #923 closed

[2018-03-30 05:40] AjaySharvesh3 commented on #534
@Rimjhim28 Can I claim this issue?
Will you give me approval?

[2018-03-30 05:48] AjaySharvesh3 commented on #1031
Shall I claim this make the UI better @Rimjhim28

[2018-03-30 07:06] Rimjhim28 commented on #534
@AjaySharvesh3 take up the issue but send a PR only after the issue is approved.
@geekanamika @m-murad please approve the issue.

[2018-03-30 07:07] Rimjhim28 commented on #1031
@AjaySharvesh3 as explained earlier, this is a ui enhancement and would require community decision.

[2018-03-30 07:11] Rimjhim28 commented on #1094
@haroonshah2764  please provide steps to reproduce the exception.

[2018-03-30 08:07] geekanamika commented on #534
@AjaySharvesh3 If you're claiming first time in this repository, Go ahead & send a PR.

[2018-03-30 08:32] #981 closed

[2018-03-30 08:35] #1006 closed

[2018-03-30 09:09] geekanamika opened #1095 "Update README file"
## Description
As a developer,
I need to update README.md,
so that Information available is consistent with the repository.

## Acceptance Criteria
All the following changes will be completed:
* Remove the link provided in Point 1 under `Set up for developers`
* Delete point 5 under `Set up for developers`
* Remove step 1 under `Configure remotes`
* Update command `git merge upstream/master` to `g

[2018-03-30 09:12] Rimjhim28 commented on #1095
@geekanamika Looks good to me.

[2018-03-30 10:46] AjaySharvesh3 commented on #1095
@geekanamika @Rimjhim28 Can I claim this now?

[2018-03-30 11:06] Rimjhim28 commented on #1095
@AjaySharvesh3 as the label suggests, the issue is for first timers.
Since you have already worked on one of the first timer issue you cannot work on this one.

[2018-03-30 11:07] AjaySharvesh3 commented on #1095
Oh! Yah, I'm sorry!

[2018-03-30 11:09] AjaySharvesh3 commented on #697
@Rimjhim28 @geekanamika Shall I claim this?

[2018-03-30 12:17] Rimjhim28 commented on #697
@AjaySharvesh3 if the issue is approved , I myself would work on this
So, you cannot claim it.

[2018-03-30 12:32] AjaySharvesh3 commented on #697
Ohh kk Rimjhim

[2018-03-30 12:38] AjaySharvesh3 commented on #944
Can I solve this issue? @codingblazer @Rimjhim28

[2018-03-30 12:40] AjaySharvesh3 commented on #1094
Can I solve this issue? @m-murad @Rimjhim28 @geekanamika

[2018-03-30 14:25] Rimjhim28 commented on #944
The issue is not approved. We need to discuss more on this.

[2018-03-30 14:27] Rimjhim28 commented on #1094
@AjaySharvesh3 The issue is not approved yet.
Moreover, @haroonshah2764 may intend to solve this.

[2018-03-30 14:30] haroonshah2764 commented on #1094
@Rimjhim28 When ever I open the app I get this log
@AjaySharvesh3 I want to work on this.

[2018-03-30 15:35] #534 closed

[2018-03-30 16:15] AjaySharvesh3 commented on #1045
It's in opened. Is there any discuss for this issue? Or can I claim it? @geekanamika @Rimjhim28 @m-murad

[2018-03-30 16:17] AjaySharvesh3 commented on #1032
Can I claim this issue? @m-murad @Rimjhim28 @geekanamika

[2018-03-30 16:54] #1062 closed

[2018-03-30 18:17] Rimjhim28 commented on #994
@m-murad @geekanamika I have already discussed this on channel.
Link to conversation: https://systers-opensource.slack.com/archives/C0C9VK8UE/p1521031644000577

[2018-03-30 19:11] #1032 closed

[2018-03-31 04:11] Sabihashaik commented on #1095
Hi! I'd like to work on this.

[2018-03-31 05:32] Rimjhim28 commented on #1095
@Sabihashaik sure! Send a PR.

[2018-03-31 06:37] Sabihashaik commented on #1095
Thanks, I have a question regarding the 6th change. Adding a point which directs to build Powerup. Does that mean I should link it to the build.gradle file in the base directory? I didn't quite get that task.

[2018-03-31 08:17] geekanamika commented on #1095
@Sabihashaik Usually base repo project is the android project, many newcomers make this mistake while building the project. You just have to add a point that will mention "Build powerup(link with if possible) as an android project instead of building the base directory"

[2018-03-31 09:05] Sabihashaik commented on #1095
@geekanamika Thank you for the clarification. I have sent a PR.

[2018-03-31 12:50] AjaySharvesh3 commented on #1012
Is this in discuss or I can claim this issue @MeepyMay

[2018-03-31 15:35] AjaySharvesh3 commented on #1044
Is there any discussion going on for this issue? @geekanamika @DipanshKhandelwal

[2018-04-01 07:26] Rimjhim28 commented on #1012
Yes it is just a template @geekanamika

[2018-04-01 11:15] AjaySharvesh3 commented on #545
Can I claim this as a issue? @MeepyMay

[2018-04-01 15:01] isabelcosta commented on #777
I also encountered this bug. Here is a way to reproduce/test it:
1. In the Hospital scenario, when I answer with "Ask your all doubts related to puberty", the game to match words (vocab) with images starts
2. Once on the VocabMatchGameActivity, after winning the game, I reach the "Game Completed" screen
3. I leave the app, before hitting "continue"
4. I open the app again
5. I load the previous ga

[2018-04-01 15:05] isabelcosta commented on #777
Related to #1001. The solution to these issues might be the same.

[2018-04-01 15:49] Rimjhim28 commented on #777
@isabelcosta this issue concerns activity lifecycle of VocabMatch particularly while #1001 would require identification of scenario user chooses on the map.
Would you mind explaining the solution in a more elaborate way that might go with both of them.

[2018-04-02 12:31] AjaySharvesh3 commented on #1027
Is this discussed on slack? Or shall I claim this issue? @m-murad

[2018-04-03 05:58] DipanshKhandelwal commented on #1044
@AjaySharvesh3 No we didn't have any discussion on this topic till date.

[2018-04-05 11:26] PiumiHR commented on #703
@geekanamika Can I work on this?

[2018-04-05 14:38] PiumiHR commented on #703
@geekanamika yes it is. Thank you. :)

[2018-04-05 17:27] krshma commented on #549
Is this issue yet to be done? I can see an Outreachy label but still if its open I would like to work on it. Please assign me if possible @MeepyMay @rosariorobinson  @kangaroo5383

[2018-04-06 12:48] Rimjhim28 commented on #777
@isabelcosta I think you have got the issue worng. Please refer to gifs provided to have a clear picture.

[2018-04-06 13:34] isabelcosta commented on #777
Another way to get this bug:
1. While playing the VocabMatch game, from the Hospital Scenario
2. At the end don't click "Continue", and go back to  the Map by clicking the "back button"

![after-finishing-game-no-click-continue](https://user-images.githubusercontent.com/11148726/38423909-3dd9c1ca-39a7-11e8-817c-f2d83a85f7c3.gif)

3. Return to any scenario, and you'll get the game starting again wi

[2018-04-06 17:30] PiumiHR opened #1101 "Fix warning "Field can be local""
## Description
There are some "Field can be local" warnings in the project.

## Mocks
![warningfieldcanbelocal](https://user-images.githubusercontent.com/19715380/38434924-c041a362-39ed-11e8-89a2-b562caf66ccf.png)

## Acceptance Criteria
- [ ] Converting specific fields to local variables

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimati

[2018-04-06 18:05] Rimjhim28 opened #1102 "Fix lint errors"
## Description
As a maintainer,
I need remove the lint errors in the code,
so that the overall code structure and app performance can be improved.

## Mocks
Not applicable

## Acceptance Criteria
### Update

The warnings/error that need to fixed are
- [ ] Android Resource Validation ( 8 errors )
- [ ] Extraneous text in resource file ( 1 waining )
- [ ] Missing commit() on SharedPreference editor

[2018-04-07 03:42] aayushinigam opened #1103 "Deal with software interruptions."
## Description
As a user,
my game should be paused while a software interrupt is caused,
so that I can resume playing the game without loss of any data.

Various software interrupts include -
  1. Incoming phone call / Incoming sms
  2. Removal of battery / Device shut off
  4. Alarm
  5. Incoming alerts from other applications.
  6. Network connection loss / Network connection restoration
  7. Ap

[2018-04-07 03:52] Rimjhim28 commented on #1103
@aayushinigam you might also include the case when the device's screen is turned off.

[2018-04-07 05:24] aayushinigam commented on #1103
@Rimjhim28 yes right. Thanks :)
@m-murad please approve this so that I can start working on it.

[2018-04-07 06:48] saurabhjn76 commented on #1103
@aayushinigam  Yes, it is a valid issue, you can send a PR for it.

[2018-04-08 18:15] geekanamika commented on #1004
I added GSoC label on it as there is a probability that we might shift the project to Room. That's why I'm not solving any database issues currently. As Room provides an abstraction layer, the redundant code will automatically get removed.

[2018-04-10 15:49] Rimjhim28 commented on #989
@isunitha98selvan Any updates??

[2018-04-10 18:36] Rimjhim28 commented on #1102
Sure @krshma! You may choose *any one* of the listed items.
Comment here which warning you are taking up to fix.

[2018-04-13 20:50] m-murad opened #1106 "Automate the apk building process"
## Description
As a developer,
I need to automate the process of building the apk,
so that we always have the apk with the latest code.

## Acceptance Criteria
### Update [Required]
- [ ] Apk is automatically updated on the apk branch

## Estimation
1 hours

[2018-04-13 20:59] #1106 closed

[2018-04-15 03:26] AjaySharvesh3 opened #1108 "Audio for Button OnClick()"
## Description
As a maintainer,
I need to add an audio for the button,
so that the app will more be entertained and looks great.
## Mocks
Not Applicable

## Acceptance Criteria
### Update [Required]
- [ ] Adding audio files to raw folder
- [ ] Implementing the audio to the buttons onClick() method.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

#

[2018-04-15 03:28] AjaySharvesh3 commented on #1108
@m-murad @geekanamika @Rimjhim28 @MeepyMay Can you please give me the approval for this?

[2018-04-16 06:12] swaroop-nath commented on #989
@isunitha98selvan If you're not working on this anymore, I would like to take it up.

[2018-04-16 06:25] swaroop-nath commented on #989
@isunitha98selvan If you're not working on this anymore, I would like to take it up.

[2018-04-16 13:17] swaroop-nath commented on #989
@isunitha98selvan  If you aren't working on it, I would like to take it up.

[2018-04-16 18:08] geekanamika commented on #1108
@AjaySharvesh3 It's not a bug fix. Let's discuss it in slack/open session?

[2018-04-16 18:14] geekanamika commented on #1094
@Rimjhim28 I didn't face this issue yet. Can you check on your end too? @haroonshah2764 Make sure your code is updated with the repo. If it still persists, Comment here with steps to solve the issue.

[2018-04-17 05:31] AjaySharvesh3 commented on #1108
@geekanamika Sure, let's discuss that.

[2018-04-17 07:04] pprathameshmore commented on #1102
Can I work on this? @Rimjhim28

[2018-04-17 19:43] krshma commented on #1102
@Rimjhim28
Hi Rimjhim! I have fixed warnings for unused imports and hardcoded strings.
https://github.com/krshma/powerup-android/commit/2a3a73008e6aa12b7d1e552579b2e6c9ab9c62f8

[2018-04-18 07:34] Rimjhim28 commented on #1102
@pprathameshmore As the label clearly specifies that the issue is intended for first time contributors, you cannot claim this since you already have PRs sent to the repository.
Also, you have sent a PR without approval and to fix the error that has already been claimed by @krshma
Please folow instructions and contributing guidelines.

[2018-04-18 08:15] pprathameshmore commented on #1102
Oh! 👍

[2018-04-18 09:01] Vaibhavi24 commented on #463
@swaroop-nath Pls update on the progress in this issue.

[2018-04-19 16:25] Rimjhim28 commented on #1103
@aayushinigam Any updates??

[2018-04-19 18:07] aayushinigam commented on #1103
@Rimjhim28 @geekanamika I'm still working. Will soon send a PR.
Apologies for the delay.

[2018-04-19 18:58] #797 closed

[2018-04-20 00:09] mayburgos opened #1113 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-04-20 17:52] #1000 closed

[2018-04-20 17:53] #524 closed

[2018-04-20 18:30] m-murad commented on #1069
@geekanamika
valid issue

[2018-04-21 06:20] SIMRAN1 opened #1114 "Change in Description of avatar in final_avatar.xml"
## Description
As a user,
I need to get proper description of avatar when it is setup.In final_avatar message should be changed to
"This is your avatar! Tap CONTINUE to start your journey." instead of This is your final avatar! Press continue to start your Journey...

## Acceptance Criteria
When the message is changed as mentioned above!

## Definition of Done
- [ ] All of the required items are c

[2018-04-21 06:26] Rimjhim28 commented on #1114
@SIMRAN1 since this is not a "bug" and requires a change in ui discussing on slack first would be a better option.

[2018-04-21 08:02] SIMRAN1 commented on #1114
Okk @Rimjhim28 I will discuss it on slack first!!

[2018-04-23 15:09] Vaibhavi24 commented on #988
Is this a valid issue? Pls tell so that we can review the associated PR too. @m-murad @geekanamika @Rimjhim28

[2018-04-24 08:12] #530 closed

[2018-04-27 15:19] MeepyMay opened #1115 "FrontEnd Updates"
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[INSERT NUMBER HERE] hours

[2018-05-03 13:16] Rimjhim28 commented on #975
I have not faced this error. @geekanamika @m-murad can you please check.

[2018-05-03 13:17] Rimjhim28 commented on #975
@sammy1997 Can you please provide soecific steps to reproduce.

[2018-05-03 13:29] geekanamika commented on #1069
I missed it somehow. Go ahead @Rimjhim28  :)

[2018-05-03 14:20] m-murad commented on #515
Valid issue, please send a PR for this.

[2018-05-03 15:42] Rimjhim28 commented on #515
@m-murad Should I create a different database table to store the points of the user?

[2018-05-03 16:16] #969 closed

[2018-05-03 21:48] m-murad opened #1118 "Travis tries to update apk even if a build fails"
## Description
Travis tries to update apk even if a build fails
As a developer,
I need to configure travis to upload apk only when build is successful,

## Acceptance Criteria
### Update [Required]
- [x] Apk is uploaded only when travis build passes.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 2 mentors.

## Estimation
1 hours

[2018-05-04 01:32] asclepiusgal commented on #1044
@geekanamika @DipanshKhandelwal what is the status of this? Our GSoC student is ready & willing to resolve this

[2018-05-04 14:52] #999 closed

[2018-05-04 17:25] Rimjhim28 commented on #515
I think it's better to postpone this issue for now. This can be taken after moving to Room library.

[2018-05-04 18:27] #500 closed

[2018-05-08 09:25] #1118 closed

[2018-05-11 15:30] #996 closed

[2018-05-11 18:34] manishakeim opened #1121 "Creating entity classes for Room Database"
## Description
As a developer, I need entity classes with all columns/information so that I can use it for creating the database.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
48 hours

[2018-05-12 16:56] #1044 closed

[2018-05-12 17:48] #997 closed

[2018-05-13 09:50] geekanamika opened #1123 "Create a Util file for reading CSV"
## Description
As a developer,
I need a Util file which will read CSV and return corresponding List of objects,
so that I can use it during insertion of values in database.

### Update [Required]
- [ ] [CSVReader.java file]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
8 hours

[2018-05-13 09:51] geekanamika commented on #1123
@niksj @manishakeim Can you please assign this issue to me & add a gsoc label on it?

[2018-05-13 18:42] geekanamika commented on #1077
@m-murad I think, we can close this issue as I'll be needing step wise issues to create PRs. I'm working on it.

[2018-05-13 18:48] #1077 closed

[2018-05-13 18:57] geekanamika commented on #1103
@aayushinigam Any updates? Discuss it on slack if you need any help :)

[2018-05-13 19:01] m-murad commented on #1123
@geekanamika
when you use this file please make sure that this runs on a background thread just like the SQL queries.

[2018-05-13 19:08] geekanamika commented on #1123
I'll keep it in mind, Thank you :)

[2018-05-14 08:38] debanjanah opened #1124 "Including new scenarios"
## Description
As a developer,
I need to set up the scenario map,
so that I can include new scenarios.

### Update [Required]
- [ ] scenario.csv
- [ ] question.csv
- [ ] answer.csv

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
[INSERT NUMBER HERE] hours

[2018-05-14 08:43] debanjanah opened #1125 "Creating XML layouts for Pre-Game Setup"
## Description
As a developer,
I need to create XML layouts for the pre-game setup screen,
so that users can choose NPCs of their choice prior to the game.

## Mocks
![2 1](https://user-images.githubusercontent.com/11819085/39985484-67a59324-577c-11e8-8bb0-17a895dfbb16.png)

### Update [Required]
- [ ] game_activity.xml
- [ ] [relevant new xml files]

## Definition of Done
- [ ] All of the require

[2018-05-14 13:34] geekanamika commented on #1121
PR has been merged already, It can be closed.

[2018-05-14 13:34] #1121 closed

[2018-05-14 17:55] geekanamika commented on #1081
Closing it as We'll be following MVP for design pattern.

[2018-05-14 17:55] #1081 closed

[2018-05-14 17:55] geekanamika commented on #1080
Closing it as We'll be following MVP for design pattern.

[2018-05-14 17:55] #1080 closed

[2018-05-14 17:57] geekanamika commented on #1079
Closing it as We'll be following MVP for design pattern & there isn't much need of LiveData in powerup application(as per community open session discussion).

[2018-05-14 17:57] #1079 closed

[2018-05-14 17:59] geekanamika commented on #1078
As per community decision, we'll use Butterknife for view injection. Closing it.

[2018-05-14 17:59] #1078 closed

[2018-05-14 18:01] geekanamika commented on #1004
This can be closed as I'll be handling it during Room implementation.

[2018-05-14 18:01] #1004 closed

[2018-05-15 06:32] aayushinigam commented on #1103
@geekanamika Yes I need help. Yes I'll discuss it on slack. It was put on hold because I was busy with exams, tomorrow's the last then I'll get on with it.

[2018-05-15 06:55] geekanamika opened #1128 "Create DAO for Room implementation"
## Description
As a developer,
I need DAO files with all required functions,
so that I can use it with the help of DataSource file for different SQL queries.

### Update [Required]
- [ ] Create new DAO files inside data directory

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
48 hours

[2018-05-16 08:29] geekanamika opened #1130 "Infra-Android: Add comments to Codebase"
## Description
As a developer,
I need comments in codebase,
so that I can understand the reason behind code & approach used.

### Update [Required]
- [ ] Class files

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
24 hours

[2018-05-16 08:42] geekanamika commented on #1130
@niksj @manishakeim @roopalJazz @aviaryan Can you please assign it to me?

[2018-05-17 08:22] geekanamika opened #1132 "Infra-Android: Create constraint layout for gamemap.xml"
## Description
As a developer,
I need a layout with less nesting(only one view for school,library & so onn),
so that I can reduce the overdraw in application.

## Acceptance Criteria
Gradle build should pass successfully with required changes.

### Update [Required]
- [ ] gamemap.xml
- [ ] MapActivity.xml
- [ ] MapLevel2Activity.xml

## Definition of Done
- [ ] All of the required items are comple

[2018-05-17 12:54] Rimjhim28 opened #1134 "Add initial screen for Pre-Game Setup"
## Description
As a Developer,
I need to add initial screen for pregame setup,
so that the user has a choice to choose NPCs for the scenario conversations.

## Mocks
![updated_mock.png](https://images.zenhubusercontent.com/5ae5ff644b5806bc2bd111c0/b755e2d4-7aa8-468c-b6da-96b5960cee63)

## Acceptance Criteria
### Update [Required]
- [ ] Create xml layout for the screen

## Definition of Done
- [ ]

[2018-05-17 12:58] Rimjhim28 opened #1135 "Modify Game Activity to contain NPCs"
## Description
As a developer,
I need modify game_activity.xml
so that the activity contains user-chosen NPCs.

## Mocks
![npc mock1.png](https://images.zenhubusercontent.com/5ae5ff644b5806bc2bd111c0/71619f63-f56e-420b-b743-a3cba20d747c)

## Acceptance Criteria
### Update [Required]
- [ ] Modify Game Activity

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1

[2018-05-17 17:32] #1053 closed

[2018-05-17 17:33] #1054 closed

[2018-05-19 08:03] #1123 closed

[2018-05-19 08:08] geekanamika opened #1138 "Create Datasource & AppDatabase file"
## Description
As a developer,
I need Datasource file(used to access database) & AppDatabase(extend RoomDatabase)
so that I can utilize DAOs/entities file created.

### Update [Required]
- [ ] IDataSoure.java
- [ ] DataSource.java
- [ ] AppDatabase.java
- [ ] InjectionUtil.java

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
48 hours

[2018-05-19 12:14] aayushinigam commented on #777
@Rimjhim28 This issue also includes the case when user presses back button while playing the game?

[2018-05-20 03:49] #1130 closed

[2018-05-20 11:53] debanjanah commented on #777
@Rimjhim28 were you working on this?

[2018-05-20 12:03] Rimjhim28 commented on #777
@debanjanah , As I was busy with GSoC, aayushi wanted to work on this. We had a chat on this on project channel. She can surely fix this.
@aayushinigam , yes! The issue also includes the case when the user presses back button.

[2018-05-20 12:50] debanjanah commented on #777
#1001 is basically same.
what is happening is that minigames are running in the background, also because of that, the next scenario is unlocked even if the minigame isn't completed.
and on accessing the previous scenarios, the current incomplete minigame starts irrespective of which scenario it is.
it can't be identified for the minesweeper game because the game doesn't complete itself like vocabm

[2018-05-20 12:57] debanjanah commented on #1001
can be solved by solving #777

[2018-05-20 12:57] #1001 closed

[2018-05-20 13:42] aayushinigam commented on #777
@debanjanah Shouldn't we then have two different issues for both the mini games because it will involve making changes in two different packages - 1.minesweeper  2.vocab_match_game ?
I'm guessing changes will have to be made in their respective SessionManagers and GameActvities.

[2018-05-20 16:06] aayushinigam commented on #975
@Rimjhim28 @geekanamika  I haven't faced this issue either. I guess this could be closed.

[2018-05-20 16:12] aayushinigam commented on #968
@geekanamika @Rimjhim28 I don't think this issue still persits. I uninstalled it and installed it again. Issue could be closed maybe?

[2018-05-21 11:31] aayushinigam opened #1143 "Removal of non-functional code from StartActivity.java"
## Description
As a developer,
my code should only contain the functional pieces
so that there are no unnecessary lines of code.

The onResume() method of StartActivity.java  contains code that would change the text of LoadGame button but it couldn't be changed since the layout has a fixed background image.

## Mocks
![screenshot from 2018-05-21 16-57-00](https://user-images.githubusercontent.com/

[2018-05-21 11:32] aayushinigam commented on #1143
@systers/maintainers-powerup-android Could you please approve this issue?

[2018-05-21 17:56] geekanamika commented on #1143
Go ahead with it @aayushinigam :)

[2018-05-25 06:19] manjumegh opened #1145 "Unit Test for DAO for Room Implementation"
## Description
As a Developer,
I need write UnitTest,
so that I can test DAO for Room Implementation (https://github.com/systers/powerup-android/issues/1128) .

## Acceptance Criteria
### Update [Required]
- [ ] Unit test for all API

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
48 hours

[2018-05-27 12:59] #1143 closed

[2018-05-28 16:31] Rimjhim28 opened #1146 "Add functinality to PreGame Setup"
## Description
As a developer,
I need add functionaloty to PreGame Setup
so that the game has a feature to select askers for the scenario conversations depending on user's choices.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] PowerUpUtils
- [ ] PreGameSetupInitialActivity
- [ ] PreGameSetupActivity
- [ ] GameActivity

## Definition of Done
- [ ] All of the required items are c

[2018-06-02 02:47] Rimjhim28 opened #1147 "Add PreGame setup to main flow of the game"
## Description
As a developer,
I need add all the created screens for pregame setup to main flow of the app,
so that I can create the feature to choose NPCs.

## Mocks
Not applicablee

## Acceptance Criteria
### Update [Required]
- [ ] Launch PreGame Setup after Avatar Room
- [ ] Populate grid view according to the choice made in initial screen

## Definition of Done
- [ ] All of the required item

[2018-06-03 03:01] Rimjhim28 opened #1150 "Save user chosen pre game setup characters"
## Description
As a developer,
I need save the npcs that user have chosen,
so that the asker in the game activity is updated accordingly.

## Mocks
Not applicable

## Acceptance Criteria
### Update [Required]
- [ ] Save the chosen option in PowerUpUtils.java

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
10 hours

[2018-06-03 08:28] Rimjhim28 opened #1152 "Add proper NPCs to Game Activity"
## Description
As a developer,
I need to update the game activity to contain user chosen NPCs,
so that I can increase the UX.

## Mocks
Home Scenario should contain Sister
School scenario should contain Friend
Hospital scenario should contain Doctor
Library Scenario should contain Teacher

## Acceptance Criteria
### Update [Required]
- [ ] Modify GameActivity.java
### Enhancement to Update
- [ ] U

[2018-06-04 15:14] Rimjhim28 opened #1154 "Create JUnit tests for PreGame Setup Initial Screen"
## Description
As a developer,
I need to create JUnit tests for PreGame Setup screen,
so that I can assure proper functionality.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] PreGameSetupActivityTest

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
20 hours

[2018-06-04 15:16] Rimjhim28 opened #1155 "Create JUnit tests for PreGame Setup main screen"
## Description
As a developer,
I need create tests for main screen of pregame setup,
so that I can assure proper functionality.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] PreGameSetupInitialActivityTests

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
15 hours

[2018-06-04 17:44] thisum opened #1156 "UI inconsistencies in Pre-Game setup, related to the PR - 1149"
## Description
As a User,
I need to have consistent and intuitive navigation on the game UI,
so that I can navigate through the game screens easily.

## Mocks
![screenshot_2018-06-05-01-30-44](https://user-images.githubusercontent.com/1425395/40932487-1387f0b6-6861-11e8-848d-70abf19194a2.png)

## Acceptance Criteria
### Update [Required]
- [ ] PreGameSetupInitialActivity.java
- [ ] Default selecte

[2018-06-06 04:36] #998 closed

[2018-06-06 06:12] aayushinigam commented on #777
#1158

[2018-06-08 05:22] manjumegh opened #1161 "Fixing long parameter list codacy error for powerup"
## Description
As a developer,
I need fix long list of parameter issue in https://github.com/systers/powerup-android/pull/1148/, more detail about issue is here:https://app.codacy.com/app/Systers/powerup-android/pullRequest?prid=1728500

## It should fix long list parameter issue
### Update [Required]
- [ ] Create an additional class (wrapper class) and add long list param as class variables
- [ ]

[2018-06-08 07:07] m-murad commented on #1152
Fixed in  #1153

[2018-06-08 07:07] #1152 closed

[2018-06-09 11:19] Rimjhim28 commented on #1150
Solved through #1151

[2018-06-09 11:19] #1150 closed

[2018-06-09 11:19] Rimjhim28 commented on #1147
Solved through #1149

[2018-06-09 11:19] #1147 closed

[2018-06-09 11:19] #1146 closed

[2018-06-09 11:21] Rimjhim28 opened #1163 "Rectify the PreGame Setup Initial Screen"
## Description
As a developer,
I need rectify the implementation of pregame setup initial screen according to feedback in project weekly meeting,
so that the screen has multiple options to choose family members..

## Mocks

The screen should present family members
![pregame screen](https://user-images.githubusercontent.com/26908195/41190977-d3511100-6c05-11e8-9841-dfc66f28dfb3.png)

Each of the op

[2018-06-09 22:00] geekanamika commented on #1138
It can be closed as PR is already merged.

[2018-06-09 22:00] #1138 closed

[2018-06-09 22:32] geekanamika opened #1165 "Replace DbHandler function with Room DAO function"
## Description
As a developer,
I need to use Datasource function in the activities/classes,
so that I can utilize Room function & replace the SQLite function.

## Acceptance Criteria
Update all instance of DatabaseHandler with Datasource function

### Update [Required]
- [ ] All activities & related class files

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by

[2018-06-10 17:44] Rimjhim28 commented on #1163
Solved via #1164

[2018-06-10 17:44] #1163 closed

[2018-06-11 05:24] justkd opened #1167 "Port PopupEventPlayer from iOS"
## Description
As a developer,
I need to port PopupEventPlayer from the iOS version,
so that I can ensure both platforms have the same capability and can use generic datasets to design and implement this funtionality.

Popups should be overlays on the view that slide out from the side, animate an icon badge, can play a sound, and are automatically dismissed after a set time period (or manually dis

[2018-06-11 05:29] justKD opened #1168 "Port StorySequencePlayer from iOS"
## Description
As a developer,
I need port StorySequencePlayer from the iOS version,
so that I can ensure both platforms have the same capability and can use generic datasets to design and implement this funtionality.

The class and it's dependencies can be found in the OOC-Event-Classes folder:
[code]

It shares these dependencies with PopupEventPlayer:
[code]

Its use can be found in `ScenarioVi

[2018-06-11 05:41] justKD opened #1169 "Port dependencies for StorySequencePlayer and PopupEventPlayer"
## Description
As a developer,
I need to port the utility dependencies `SoundPlayer.swift` and `Animate.swift`,
so that the ports for StorySequencePlayer and PopupEventPlayer will work in similar fashion to the iOS versions and be able to utilize the same generic json data.

Examples of how `Animate` and `SoundPlayer` are used can be found in `PopupEventPlayer` and `StorySequencePlayer`.

## Accep

[2018-06-11 10:39] Rimjhim28 opened #1170 "Rectify Pregame Activity"
## Description
As a developer,
I need rectify the already implemented pregame setup according to the feedback in weekly meeting,
so that I can include options to choose family members.

## Mocks
The main screen should have a horizontal scroll view to choose the family members
![screen shot 2018-06-09 at 12 32 09 am](https://user-images.githubusercontent.com/26908195/41227192-a75ffc2c-6d91-11e8-8d9

[2018-06-13 11:03] Rimjhim28 opened #1172 "Rectify PreGame Setup"
## Description
As a developer,
I need rectify the pregame setup according to the instructions in weekly meeting,
so that Ithe characters can be chosen.

## Mocks

![screenshot_2018-06-13-16-07-20-733_powerup systers com powerup](https://user-images.githubusercontent.com/26908195/41347460-5cd056d8-6f27-11e8-8b32-df0638296ba6.png)
![screenshot_2018-06-13-16-07-25-445_powerup systers com powerup](htt

[2018-06-13 11:12] #1170 closed

[2018-06-15 05:10] Rimjhim28 commented on #1172
Solved through #1171

[2018-06-15 05:10] #1172 closed

[2018-06-15 05:14] Rimjhim28 opened #1175 "Create layout for main screen of mini game - Kill the virus"
## Description
As a developer,
I need to create xml layouts for the proposed mini game - Kill the virus,
so that I can have screens for the game.

## Mocks

![kill the virus](https://user-images.githubusercontent.com/26908195/41451092-ec939c0a-7088-11e8-8332-728836fc7fdf.png)

## Acceptance Criteria
### Update
- [ ] activity_kill_the virus_game

## Definition of Done
- [ ] All of the required item

[2018-06-15 08:39] Rimjhim28 opened #1177 "Create game end screen for mini game 1 - Kill the Virus"
## Description
As a developer,
I need add game completion screen for mini game,
so that the points scored by the user are displayed once the game is over.

## Mocks
The screen can be similar to the current game completion screens with proper text headers to display right info

## Acceptance Criteria
- [ ] activity_kill_the_virus_end.xml

## Definition of Done
- [ ] All of the required items are co

[2018-06-16 05:35] Rimjhim28 commented on #1175
Solved through #1176

[2018-06-16 05:35] #1175 closed

[2018-06-16 07:29] Rimjhim28 opened #1179 "Create tutorial screens for mini game 1"
## Description
As a developer,
I need add tutorial screens for mini game,
so that the user can be given necessary instructions before starting the minigame.

## Mocks
The tutorial screen needs to be similar to the ones already existing one with textviews

## Acceptance Criteria
### Update
- [ ] activity_kill_the_virus_tutorial

## Definition of Done
- [ ] All of the required items are completed.
-

[2018-06-16 08:28] Rimjhim28 commented on #1124
Solved through #1131

[2018-06-16 08:28] #1124 closed

[2018-06-17 11:39] Rimjhim28 opened #1181 "Add JUnit tests for tutorial screen of mini game 1"
## Description
As a developer,
I need to add tests for tutorial screen of mini game 1.
Since I am following TDD the tests would fail at first but would pass once the related functionality is developed.

## Mocks
Not applicable

## Acceptance Criteria
### Update [Required]
- [ ] JUnit test file

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Est

[2018-06-17 11:46] Rimjhim28 opened #1182 "Add JUnit test for main screen of mini game 1"
## Description
As a developer,
I need add JUnit test for main screen of mini game 1.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] JUnit file for testing

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
12 hours

[2018-06-17 11:53] Rimjhim28 opened #1183 "Add JUnit test for end screen of mini game 1"
## Description
As a developer,
I need add test for end screen of mini game 1.

## Mocks
Not Applicable

## Acceptance Criteria
### Update [Required]
- [ ] JUnit test file

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 hours

[2018-06-18 23:56] #1177 closed

[2018-06-19 05:34] Rimjhim28 opened #1187 "Add tutorial screen for mini game 2"
## Description
As a developer,
I need to add tutorial screens for mini game 2 - Memory Match,
so that the user could be given proper instructions before the mini game is started.

## Mocks
The screens should have text views with proper instructions about the game.

## Acceptance Criteria
### Update
- [ ]  initial xml file for tutorial screen

## Definition of Done
- [ ] All of the required items a

[2018-06-19 05:39] Rimjhim28 opened #1188 "Add game screen for mini game 2"
## Description
As a developer,
I need to add game screen for mini game 2 - Memory Match,
so that I can design the initial layout for the mini game as described in the proposal.
The idea is already described in the shared working doc.

## Mocks

![memory match](https://user-images.githubusercontent.com/26908195/41578689-15fbca1a-73b1-11e8-883c-ad8e8b5d62c4.png)

## Acceptance Criteria
### Update
-

[2018-06-19 05:45] Rimjhim28 opened #1189 "Add game end screen for mini game 2"
## Description
As a developer,
I need to add layout for game end screen of mini game 2 - Memory Match,
so that there could be a proper game end screen to mark the end of the game.

## Mocks

The screen should show the number of right and wrong answers. It should have a continue button to migrate to the next scenario.

## Acceptance Criteria
### Update
- [ ] layout screen for the screen

## Definit

[2018-06-21 05:45] Rimjhim28 opened #1193 "Add initial JUnit tests for tutorial screen of mini game 2"
## Description
As a developer,
I need add initial JUnit tests for tutorial screen of mini game 2 - Memory Match,
so that I can assure proper functionality of the same.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] JUnit test file
- [ ] Initial java file for the activity

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimat

[2018-06-21 05:46] Rimjhim28 opened #1194 "Add JUnit tests for main screen of mini game 2"
## Description
As a developer,
I need add initial JUnit tests for main screen of mini game 2 - Memory Match,
so that I can assure proper functionality of the same.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] JUnit test file
- [ ] Initial java file for the activity

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2018-06-21 05:47] Rimjhim28 opened #1195 "Add JUnit tests for end screen of mini game 2"
## Description
As a developer,
I need add initial JUnit tests for end screen of mini game 2 - Memory Match,
so that I can assure proper functionality of the same.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] JUnit test file
- [ ] Initial java file for the activity

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5

[2018-06-24 04:59] thisum opened #1201 "Improve test cases of KillTheVirusGame"
## Description
As a tester,
I need to have test cases to check the functionality of the KillTheVirusGame,
so that I can make sure the logics are working correctly and will not fail.
Related to further developments of #1185

## Acceptance Criteria
### Update [Required]
- [ ] add test cases to check the functinality of the KillTheVirusGame
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

##

[2018-06-24 05:05] thisum opened #1202 "Improve test cases of KillTheVirusEndActivity"
## Description
As a tester,
I need to have test cases to check the functionality of the KillTheVirusEndActivity,
so that I can make sure the logics are working correctly and will not fail.
Related to further developments of #1186

## Acceptance Criteria
### Update [Required]
- [ ] add test cases to check the functinality of the KillTheVirusEndActivity
### Enhancement to Update [Optional]
- [ ] [LI

[2018-06-24 05:18] Rimjhim28 opened #1203 "Add functionality to Kill the virus main screen"
## Description
As a developer,
I need to add functionality to the main screen of the mini game,
so that I can develop the mini game as expected.

## Mocks

![kill the virus](https://user-images.githubusercontent.com/26908195/41816171-9a56e6ee-779b-11e8-80b6-d7468f28f417.png)

## Acceptance Criteria
### Update
- [ ] All the images should rotate
- [ ] The countdown timer should work such that the ga

[2018-06-26 07:00] Rimjhim28 opened #1205 "Add functionality to tutorial screen of mini game 1"
## Description
As a developer,
I need to add functionality to tutorial screen of mini game 1,
so that I can add functionality as discussed on issue #1179 .

## Mocks

![screenshot_2018-06-16-12-48-09-318_powerup systers com powerup](https://user-images.githubusercontent.com/26908195/41497004-2fcc4c88-716a-11e8-80e2-456a8fed51b3.png)

![screenshot_2018-06-16-12-45-41-119_powerup systers com powerup

[2018-06-27 07:45] Rimjhim28 opened #1207 "Add end screen to mini game 1"
## Description
As a developer,
I need to add end screen to mini-game 1 ,
so that the total points scored in the game can be displayed at the end.

## Mocks

The screen should display the score attained by the user
![end_kill](https://user-images.githubusercontent.com/26908195/41496095-b0f19f86-7154-11e8-931e-5b2f1668437f.png)

## Acceptance Criteria
### Update [Required]
- [ ] The screen should di

[2018-06-27 08:46] #1154 closed

[2018-06-27 08:46] #1155 closed

[2018-06-27 08:47] #1179 closed

[2018-06-27 08:47] #1181 closed

[2018-06-27 08:47] #1182 closed

[2018-06-27 08:47] #1183 closed

[2018-06-27 08:47] #1187 closed

[2018-06-27 08:48] #1188 closed

[2018-06-27 08:48] #1189 closed

[2018-06-27 08:49] #1203 closed

[2018-06-29 05:32] #1194 closed

[2018-06-29 05:33] #1193 closed

[2018-06-29 05:33] #1205 closed

[2018-06-29 05:33] #1207 closed

[2018-06-29 09:44] Rimjhim28 opened #1210 "Add functionality to mini game 2"
## Description
As a developer,
I need add functionality to mini game 2 as described in working doc,
so that I can develop the mini game.

## Mocks
The working should be similar to as described here:
https://user-images.githubusercontent.com/26908195/37972531-31c258ba-31f6-11e8-95ab-44b0fdce0983.gif

## Acceptance Criteria
### Update
- [ ] Java code to have proper functionality
- [ ] All the tests

[2018-06-29 09:49] Rimjhim28 opened #1211 "Add functionality to tutorial screen of mini game 2"
## Description
As a developer,
I need to add functionality tutorial screen to mini game 2,
so that I can all the tutorial texts are shown in proper sequence .

## Mocks
![35895361_1659479790836992_2515928886366175232_n](https://user-images.githubusercontent.com/26908195/41642050-de376312-7484-11e8-9cb8-0c9aadf83f06.png)

![35829011_1659479844170320_1193009711440461824_n](https://user-images.github

[2018-06-29 09:53] Rimjhim28 opened #1212 "Add functionality to game completion screen of mini game 2"
## Description
As a developer,
I need to add functionality to game completion screen of the mini game 2,
so that score and number of correct and wrong hit are displayed properly.

## Mocks

![35922879_1659535490831422_30619689436577792_n](https://user-images.githubusercontent.com/26908195/41644678-6528ff00-748c-11e8-9a7f-260e97d0eb4b.png)

## Acceptance Criteria
### Update
- [ ] Java file for the

[2018-07-05 14:44] debanjanah commented on #1195
PR merged

[2018-07-05 14:44] #1195 closed

[2018-07-05 14:45] debanjanah commented on #1201
PR merged

[2018-07-05 14:45] #1201 closed

[2018-07-06 07:09] #1210 closed

[2018-07-06 07:12] Rimjhim28 opened #1216 "Add modifications to Kill the Virus game"
## Description
As a developer,
I need add modifications to kill the virus games according to the feedbacks received in project meeting ,
so that I can make the game more user friendly.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] the game should have lives
- [ ] the speed of rotation should gradually increase

## Definition of Done
- [ ] All of the required items are completed

[2018-07-06 07:29] Rimjhim28 opened #1218 "Rearrange the character display in pregame setup"
## Description
As a developer,
I need rearranage the the character display in pregame setup,
according to the modifications suggested during weekly meeting.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] the characters in the preagame setup should be diplayed such that the upper row is males and lower row is females.

## Definition of Done
- [ ] All of the required items are com

[2018-07-06 15:35] #1216 closed

[2018-07-07 12:58] Rimjhim28 opened #1220 "Develop Session Manager for Kill the Virus"
## Description
As a user,
I need to develop session manager file for kill the virus as done for the previous games,
so that I can handle the case when the mini  game is left in the middle.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Session /manager file for the mini game

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Est

[2018-07-07 13:00] Rimjhim28 opened #1221 "Develop Session Manager for Memory Match"
## Description
As a developer,
I need to add session manager file for memory match,
so that I can handle the case when the the user migrates out of the mini game before actually finishing it.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Session manager file for memory macth

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Es

[2018-07-09 12:41] geekanamika opened #1224 "Double tap on any answer leads to end of scenario"
## Description
As a User,
I need normal behaviour of the application in the last answer of scenario,
so that I can complete scenario with one single appropriate answer for GSoC18-infra branch.

## Mocks
https://drive.google.com/open?id=1x3ja0nCtgMZfq-Yw9LrXdqL-Nfp7owIA

## Acceptance Criteria
Reported issue is solved & *one correct* single answer completes the scenario.

### Update [Required]
- [

[2018-07-09 16:42] Rimjhim28 opened #1225 "Develop Level 2 of the game"
## Description
As a developer,
I need add level to the game,
so that I can make the app more involving.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] The map should reset to initial state with only first scenario unlocked
- [ ] The conversations should be generic
- [ ] Proper mechanism to launch the mini games
- [ ] The avatar should be the high school version

## Definition of

[2018-07-10 05:05] #1211 closed

[2018-07-10 05:06] #1212 closed

[2018-07-10 05:06] #1218 closed

[2018-07-10 05:06] #1220 closed

[2018-07-10 05:07] #1221 closed

[2018-07-11 05:16] Rimjhim28 opened #1227 "Modify the avatar to high school version in Game Activity"
## Description
As a developer,
I need modify the avatar according to hight scholl design elements,
so that I can develop a new version of avatar for level 2.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] The GameActivity for level 2 should have high school version

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5

[2018-07-11 10:39] Rimjhim28 opened #1229 "Modify the code to use to use ButterKnief Library"
## Description
As a developer,
I need modify the files for level 2 to use butterknief library,
so that I can reduce the boilerplate code.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] GameLevel2Activity
- [ ] MapLEvel2Activity
- [ ] ScenarioOverLevel2Activity

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-07-12 03:39] thisum opened #1230 "MiniGame - Memory match: issue in game logic"
As a tester,
In the memory match game, I need to have a mechanism to prevent users from bypassing the game score logic, so that there's a consistency in the game logic.

![screenshot_20180712-152813](https://user-images.githubusercontent.com/1425395/42611245-47f6e320-85e9-11e8-97fe-31f0add2d719.png)

![screenshot_20180712-152701](https://user-images.githubusercontent.com/1425395/42611249-4cf42914-

[2018-07-12 12:48] Rimjhim28 opened #1231 "Modify Store Activity for level 2"
## Description
As a developer,
I need to modify store activity to use design elements for high school avatar version,
so that I can develop store according to high school avatar version.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] StoreLevel2Activity.java

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-07-12 16:32] Rimjhim28 opened #1234 "Add mini game scores to total points"
## Description
As a developer,
I need add scores of mini games to total scenario scores,

Not applicable

## Acceptance Criteria
### Update
- [ ] Add scores of memory match
- [ ] Add scores of kill the virus

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
30 minutes

[2018-07-13 09:50] Rimjhim28 opened #1236 "Add layout for main screen of mini game 3"
## Description
As a developer,
I need add xml layouts for main screen of mini game 3.
The idea is described here: https://docs.google.com/document/d/16iXuIsx5ehYOb5hzq61cFgb3ZgfAR7pj1qyi6qpJOR0/edit?usp=sharing

## Mocks

![save the blood](https://user-images.githubusercontent.com/26908195/42685276-2d471884-86b0-11e8-84db-ecc90250d0e9.png)

## Acceptance Criteria
### Update
- [ ] xml file for main

[2018-07-13 12:41] Rimjhim28 opened #1238 "Add layout for tutorials of mini game 3"
## Description
As a developer,
I need to add layout for tutorial screen of mini game 3,
so that I can add mechanism to give instructions to user before the game is started.

## Mocks

The layouts should be text views showing proper instructions

## Acceptance Criteria
### Update
- [ ] xml file for tutorial screen

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval

[2018-07-13 12:44] Rimjhim28 opened #1239 "Add layout for completion screen of mini game 3"
## Description
As a developer,
I need add XML file for completion screen of mini game 3,
so that I can develop a screen to show the points scored by the user.

## Mocks

Similar to already implemented game completion screens

## Acceptance Criteria
### Update
- [ ] xml file for game completion screen

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-07-13 12:45] #1230 closed

[2018-07-14 04:51] #1234 closed

[2018-07-14 08:04] Rimjhim28 opened #1242 "Add functionality to main screen of mini game 3"
## Description
As a developer,
I need add functionality to main screen of mini game 3,
so that I can develop the actual game.

## Mocks
The functionality would correspond to the idea presented in GSoC proposal.

## Acceptance Criteria
### Update
- [ ] Java file for main screen

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
12 hours

[2018-07-15 17:24] geekanamika opened #1244 "Merge Pregame setup work"
## Description
As a developer,
I need to merge pre-game setup changes into gsoc18-infra branch,
so that I can compile a complete working application.

### Update [Required]
- [ ] FinalAvatarActivity
- [ ] AvatarRoomActivity
- [ ] NPC images

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
12 hours

[2018-07-16 13:52] Rimjhim28 opened #1245 "Add functionality to end screen of save blood"
## Description
As a user,
I need to add functionality to end screen of mini game save blood,
so that I can have proper mechanism to display the points cored by the user.

## Mocks
The screen should display the points scored by the user with number of right and wrong choices.

## Acceptance Criteria
### Update
- [ ] java file for functionality of game completion

## Definition of Done
- [ ] All of

[2018-07-16 14:01] Rimjhim28 opened #1246 "Add functioality to tutorial screen of save blood"
## Description
As a developer,
I need to add functionality to the tutorial screen of save blood,
so that I can add a mechanism to show proper instructions before the game is started.

## Mocks
The screens should show proper instructions for the game

## Acceptance Criteria
### Update
- [ ] java file for the tutorial screen

## Definition of Done
- [ ] All of the required items are completed.
- [ ]

[2018-07-17 19:04] Rimjhim28 opened #1250 "Add Session Manager for mini game 3"
## Description
As a developer,
I need to add session manager to mini game 3,
so that I can save the states if the user presses back in the middle of the game.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Java file for session manager

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 hours

[2018-07-18 14:48] #1225 closed

[2018-07-18 14:48] #1231 closed

[2018-07-18 14:48] #1227 closed

[2018-07-18 14:49] #1236 closed

[2018-07-18 14:49] #1238 closed

[2018-07-18 14:49] #1239 closed

[2018-07-18 14:49] #1242 closed

[2018-07-18 14:55] Rimjhim28 opened #1252 "Attach session manager of Kill Virus"
## Description
As a developer,
I need attach session manager of kill the virus,
so that I can save the opened status of the mini game and launch it when the map is pressed.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Modify the map activity to launch the mini game

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2018-07-18 14:56] Rimjhim28 opened #1253 "Attach session manager of memory match"
## Description
As a developer,
I need attach session manager of memory match,
so that I can save the opened status of the mini game and launch it when the map is pressed.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Modify the map activity to launch the mini game

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3

[2018-07-19 01:45] thisum opened #1256 "Application crashes when going into the level 2"
## Description
As a User
I need able to continue the game to the level 2,
so that I can continue to play.

## Mocks
![screenshot_2018-07-19-13-39-29](https://user-images.githubusercontent.com/1425395/42916466-75871ed4-8b59-11e8-88ff-4405c0f57848.png)

![screenshot_2018-07-19-13-39-34](https://user-images.githubusercontent.com/1425395/42916470-7a0a6c36-8b59-11e8-8d41-c1dbf3fd7c9f.png)

![screen sho

[2018-07-19 11:58] Rimjhim28 commented on #1256
@thisum I am able to navigate to Level 2 successfully.

![videotogif_2018 07 19_17 16 24](https://user-images.githubusercontent.com/26908195/42940996-e456d592-8b78-11e8-833f-81c6cc1ca7e8.gif)

[2018-07-19 12:11] Rimjhim28 opened #1257 "Attach Session Manager to Save Blood"
## Description
As a developer,
I need to attach session manager of save blood
so that I can save the opened status of the mini-game and launch it when the map is pressed.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Modify the map activity to launch the mini game

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3

[2018-07-21 04:53] Rimjhim28 opened #1259 "Inculde progress bars in game activity"
## Description
As a developer,
I need to add progress bars to game activity of level 1 and 2,
so that I can add functionality to powers to the game.

## Mocks
The progress bars should be added at the bottom of the screen.

## Acceptance Criteria
### Update [Required]
- [ ] inclusion of progress bar in the bottom of screen
- [ ] functionality to the progress bars

## Definition of Done
- [ ] All of

[2018-07-21 05:24] Rimjhim28 opened #1260 "Change layout for game activity from relative to constraint layout"
## Description
As a developer,
I need change the XML file for game activities to use constraint layout,
so that the layouts could be more flexible.

## Mocks
The layouts should look exactly the same

## Acceptance Criteria
### Update
- [ ] Constraint layout for game activity of level 1
- [ ] Constraint layout for game activity of level 2

## Definition of Done
- [ ] All of the required items are c

[2018-07-21 14:35] #1260 closed

[2018-07-21 14:37] #1245 closed

[2018-07-21 14:39] #1246 closed

[2018-07-24 13:01] Rimjhim28 opened #1263 "Map Button not working"
## Description
As a user,
I need to handle the click event on map button in game over screen,
so that map could be launched when it is pressed.
With the changes in infra branch, the map button in game over screen is not working.

## Mocks
The bug can be reproduced by completing the whole game to navigate to game over screen and then pressing map button which is not working.

## Acceptance Criteria

[2018-07-24 13:49] Rimjhim28 opened #1264 "Scenario is populated with wrong dialouges"
## Description
As a developer
I need to fix the populating of scenarios with correct dialogues.
With the latest changes in infra branch, a particular scenario is populated with dialogues of its previous scenario.

## Mocks
As seen in the screenshot, the scenario background and labels indicate that it is school scenario but the dialogues show it is home scenario.
![screenshot_2018-07-24-18-32-37-12

[2018-07-24 13:53] Rimjhim28 opened #1265 "Fix the lauch of scenario over screen"
## Description
As a developer
I need to fix the launch of scenario over screen
so that it is lauched everytime an already played scenario is clicked.

## Mocks

As seen in the animation, pressing an already unlocked scenario (home), the user is directly navigated to game screen without showing the scenario over screen.

![videotogif_2018 07 24_18 42 34](https://user-images.githubusercontent.com/26

[2018-07-26 13:50] Rimjhim28 opened #1269 "Change the level 2 code to use Room Library"
## Description
As a developer,
I need extend the level 2 code to use room library,
so that the new code is perfect to be merged with infra changes.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Change all the level 2 code

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
24 hours

[2018-07-27 14:02] justKD opened #1271 "Port Unit and UI tests for StorySequencePlayer and PopupEventPlayer from iOS"
## Description
As a developer,
I need to port the tests found in:
[code]
so that I can ensure the class and dependency ports for `StorySequencePlayer` and `PopupEventPlayer` are viable.

## Acceptance Criteria
### Update [Required]
- [ ] Port or create appropriately similar unit tests for StorySequencePlayer.
- [ ] Port or create appropriately similar unit tests for PopupEventPlayer.
- [ ] Port or

[2018-07-28 11:42] thisum commented on #1256
I couldn't reproduce the issue with the new updates, so closing the issue.

[2018-07-28 11:42] #1256 closed

[2018-07-28 12:23] thisum opened #1272 "Without purchasing from the store, changes are still applied"
## Description
As a tester, if the player doesn't buy anything from the store but just tested, changes should not be applied until the player buy that. If bought, then the points should be reduced correctly.

## Mocks
![20180729_000214](https://user-images.githubusercontent.com/1425395/43356434-c31c4760-92c4-11e8-823b-2d36af08733f.gif)

To recreate the issue:
1. Score more than 5 points and go to

[2018-07-28 14:05] thisum opened #1273 "Using hardcode values - constants: code standards"
## Description
As a developer, all the constants have to be declared in one class and then use them in other classes as necessary. Having the constants declared in one place will make the code easy to maintain.

In the PowerUpUtils, constants are declared for HAIR, CLOTHS and ACCESSORIES. But in StoreActivity and StoreLevel2Activity, those values are not used in several instances. Check the follow

[2018-07-28 14:33] thisum opened #1274 "When trying to purchase accessories from the store, the purchase warning message is not given"
## Description
As a tester, the purchasing logic should be consistent. If the player tries by purchase something that has been already purchased, then dialog box should not appear, else dialog box should appear.

steps to recreate:
start a new game
score more than 5 points
go to the store
go to the accessories
press on the first item(bag)
expected: warning message should appear and only if the pla

[2018-07-28 19:26] #1244 closed, assigned to nobody

[2018-07-28 19:29] geekanamika commented on #1165
PR merged, closing issue.

[2018-07-28 19:29] #1165 closed

[2018-07-28 19:31] geekanamika commented on #1128
Room implemented successfully in `gsoc18-infra` branch, closing issue.

[2018-07-28 19:31] #1128 closed

[2018-07-28 19:33] geekanamika commented on #985
I tried above approach as mentioned in issue, couldn't solve the problem, app crashes everytime, closing this issue.

[2018-07-28 19:33] #985 closed

[2018-07-28 19:45] #968 closed

[2018-07-29 05:14] yatri1609 commented on #1132
@geekanamika Can I work on this issue?

[2018-07-29 11:42] #1250 closed

[2018-07-29 11:43] #1252 closed

[2018-07-29 11:44] #1253 closed

[2018-07-29 11:44] #1257 closed

[2018-07-29 11:45] #1263 closed

[2018-07-29 11:45] #1264 closed

[2018-07-29 11:46] #1265 closed

[2018-07-29 14:41] #1259 closed

[2018-07-29 14:41] #1269 closed

[2018-07-30 03:35] #1202 closed

[2018-07-30 03:38] Rimjhim28 opened #1275 "Create screen for stage transition"
## Description
As a developer,
I need to create screens for stage transition,
so that I can show a clear transition of user from level 1 to level 2.

## Mocks
The screen could contain characters from the intro/outro sequences designed by iOS student.

## Acceptance Criteria
### Update
- [ ] Create a screen with animations and characters

## Definition of Done
- [ ] All of the required items are co

[2018-07-30 07:52] thisum opened #1277 "Has to select the final answer twice to close the game"
## Description
As a user, when I'm selecting the answers to questions in different scenarios when I select the last answer, the screen should change to the game points activity.

## Mocks
![20180730_194156](https://user-images.githubusercontent.com/1425395/43384176-53a5668c-9431-11e8-9d8e-3a334b1ee4d5.gif)

To recreate:
open any scenario
keep answering questions until you come to the last question

[2018-08-01 17:01] #1275 closed

[2018-08-03 14:49] Rimjhim28 opened #1280 "Improve Memory Match UI to reflect right/wrong choices"
## Description
As a developer,
I need to improve UI for Memory Match game,
so that there could be an UI that easily reflects the choices made by the user.

## Mocks

![option](https://user-images.githubusercontent.com/26908195/43649283-60667c9a-975a-11e8-8ae6-e8e8c46c1c3d.png)

The star image could be turned red/green

## Acceptance Criteria
### Update
- [ ] Enhancement of the UI

## Definition of

[2018-08-04 05:37] Rimjhim28 opened #1282 "Add background music for right/worng answers is memory match"
## Description
As a developer,
I need to add background music to right and wrong choices in memory match,
so that I can make the app more engaging.

## Mocks
Not applicable

## Acceptance Criteria
### Update [Required]
- [ ] Correct should play for right and wrong answers

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-08-04 06:41] Rimjhim28 opened #1284 "Add background music to Kill the virus game"
## Description
As a developer
I need to add a background music to kill the virus game
so that I can make the game more engaging.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Background music to kill the virus

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-08-04 13:43] #1273 closed

[2018-08-05 16:28] #1284 closed

[2018-08-05 16:28] #1280 closed

[2018-08-07 09:30] Rimjhim28 opened #1287 "LOAD Game should launch level 2"
## Description
As a developer,
I need to add enhancement to LOAD Game button,
so that it launches Map Activity to Level 2 once the Level 1 is completed.

## Mocks
Steps to reproduce:
1. Complete Level 1 and go to map for Level 2
2. Press the home button on the Map screen and go the start screen
3.  Press the LOAD Game Button

Since Level 1 is completed it should have launched Level 2

## Acceptanc

[2018-08-07 10:37] Rimjhim28 opened #1289 "App Crashing due to Out of Memory Exception"
## Description
As a developer
I need to fix the app crash due to out of memory exception,
so that I can ensure proper functionality of the application.

## Mocks
The app crashes frequently after launching the memory match game.

![error_log](https://user-images.githubusercontent.com/26908195/43771122-d98eeda6-9a5b-11e8-8737-a878f863cabe.png)

## Acceptance Criteria
### Update
- [ ] Fix the crash

[2018-08-07 15:55] yatri1609 commented on #1132
@m-murad @geekanamika @roopalJazz Can you please approve whether I should work on this issue or not?

[2018-08-07 23:25] thisum opened #1291 "Compile errors in the code"
As a tester, I should be able to compile the code without any errors

![screen shot 2018-08-08 at 11 23 01 am](https://user-images.githubusercontent.com/1425395/43807632-76aa2b4a-9afd-11e8-9f3c-0b7fc9b76345.png)

when replacing the db handler functions, although the DatabaseHandler class is removed from the project, it's usages are not removed.

## Acceptance Criteria
### Update [Required]
- [ ] t

[2018-08-07 23:31] #1274 closed

[2018-08-09 06:02] #1272 closed

[2018-08-09 06:30] #1287 closed

[2018-08-09 10:27] #1289 closed

[2018-08-10 15:14] Rimjhim28 commented on #1224
Solved through #1292

[2018-08-10 15:14] #1224 closed

[2018-08-10 15:23] Rimjhim28 opened #1293 "Kill the Virus not launching everytime"
## Description
As a developer,
I need to rectify the data in csv file,
so that the mini-game - Kill The virus launches everytime the home scenario is over.

## Mocks
Steps to reproduce:
Choose answer in sequence: Ques 1 - Ans 1, Ques 4 - Ans 1, Ques 5 - Ans 1
The scenario is over without launching the mini game.

## Acceptance Criteria
### Update
- [ ] Completing the home scenario in Level 2 shoul

[2018-08-10 16:21] Rimjhim28 opened #1295 "Save The Blood mini game is never marked as complete"
## Description
As a developer,
I need to handle error with the mini game - Save the blood,
so that the mini game is marked complete once it is played.
Currently, the mini-game is not marked complete. Due to this when the game is completed and another scenario is chosen, the game launches again.

## Mocks
Steps to reproduce:
1. Complete the mini game
2. Go to scenario over screen
3. Click Map to la

[2018-08-12 18:17] Rimjhim28 commented on #31
Closing the PR for now. Can be reopened after updating the issue according to template and discussion with the community

[2018-08-12 18:17] #31 closed

[2018-08-12 18:26] Rimjhim28 commented on #774
This is an enhancement. I am closing the issue for now. It can opened and worked on after discussion on community channel.

[2018-08-12 18:26] #774 closed

[2018-08-12 18:27] Rimjhim28 commented on #775
This is an enhancement. I am closing the issue for now. It can opened and worked on after discussion on community channel.

[2018-08-12 18:27] #775 closed

[2018-08-12 18:28] Rimjhim28 commented on #776
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:28] #776 closed

[2018-08-12 18:29] Rimjhim28 commented on #804
This is an enhancement. I am closing the issue for now. It can opened and worked on after discussion on community channel.

[2018-08-12 18:29] #804 closed

[2018-08-12 18:37] Rimjhim28 commented on #944
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:37] #944 closed

[2018-08-12 18:39] Rimjhim28 commented on #960
Closing the issue for nw. This can be opened after discussion with the community on stheto.

[2018-08-12 18:39] #960 closed

[2018-08-12 18:39] Rimjhim28 commented on #962
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:39] #962 closed

[2018-08-12 18:41] #973 closed

[2018-08-12 18:43] Rimjhim28 commented on #976
The code is updated to use room library so the issue can be closed.

[2018-08-12 18:43] #976 closed

[2018-08-12 18:44] Rimjhim28 commented on #979
I will update this task firther and open another issue

[2018-08-12 18:44] #979 closed

[2018-08-12 18:47] Rimjhim28 commented on #990
Closing the issue since the description is not sufficient.

[2018-08-12 18:47] #990 closed

[2018-08-12 18:48] Rimjhim28 commented on #1013
The issue was covered during GSoC.

[2018-08-12 18:48] #1013 closed

[2018-08-12 18:50] Rimjhim28 commented on #1025
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:50] #1025 closed

[2018-08-12 18:51] Rimjhim28 commented on #1027
I think this will be covered in outro sequences to be ported from iOS.

[2018-08-12 18:51] #1027 closed

[2018-08-12 18:51] Rimjhim28 commented on #1029
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:51] #1029 closed

[2018-08-12 18:52] Rimjhim28 commented on #1031
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:52] #1031 closed

[2018-08-12 18:52] Rimjhim28 commented on #1045
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:52] #1045 closed

[2018-08-12 18:53] Rimjhim28 commented on #1060
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:53] #1060 closed

[2018-08-12 18:54] Rimjhim28 commented on #1061
Closing as this is not a valid issue.

[2018-08-12 18:54] #1061 closed

[2018-08-12 18:55] Rimjhim28 commented on #1063
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:55] #1063 closed

[2018-08-12 18:56] Rimjhim28 commented on #1064
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:56] #1064 closed

[2018-08-12 18:56] Rimjhim28 commented on #1065
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 18:56] #1065 closed

[2018-08-12 18:58] Rimjhim28 commented on #1082
The issue was covered during GSoC.

[2018-08-12 18:58] #1082 closed

[2018-08-12 18:58] Rimjhim28 commented on #1094
The issue is not valid with latest code changes.

[2018-08-12 18:58] #1094 closed

[2018-08-12 19:02] Rimjhim28 commented on #1103
@aayushinigam I think we can discuss this on slack now.

[2018-08-12 19:03] Rimjhim28 commented on #1108
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 19:03] #1108 closed

[2018-08-12 19:04] Rimjhim28 commented on #1114
This is an enhancement. I am closing the issue for now. It can be opened and worked on after discussion on community channel.

[2018-08-12 19:04] #1114 closed

[2018-08-12 19:05] Rimjhim28 commented on #1156
The issue can be closed since the screens were updated

[2018-08-12 19:05] #1156 closed

[2018-08-12 23:12] #1295 closed

[2018-08-12 23:13] thisum commented on #1295
closed by the PR #1296

[2018-08-13 08:11] Rimjhim28 opened #1297 "Merge infra branch with develop branch"
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[INSERT NUMBER HERE] hours

[2018-08-13 08:13] Rimjhim28 opened #1298 "Merge infra branch with develop branch"
## Description
As a developer
I need to merge infra and develop branch,
so that I can update the code in develop branch.

## Mocks
Not applicable

## Acceptance Criteria
### Update [Required]
- [ ]develop branch is updated

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-08-13 16:15] debanjanah commented on #1297
duplicate issue

[2018-08-13 16:15] #1297 closed

[2018-08-13 18:53] Rimjhim28 opened #1300 "Add real content to Home scenario Level 2"
## Description
As a user,
I need to replace dummy data in Home Scenario of Level 2 with actual content
so that the informative value of the application could be increased.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Validate the content with a professional
- [ ] Update Answer.csv file

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 me

[2018-08-13 18:54] Rimjhim28 opened #1301 "Add real content to School scenario Level 2"
## Description
As a user,
I need to replace dummy data in School Scenario of Level 2 with actual content
so that the informative value of the application could be increased.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Validate the content with a professional
- [ ] Update Answer.csv file

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1

[2018-08-13 18:54] Rimjhim28 opened #1302 "Add real content to Hospital scene Level 2"
## Description
As a user,
I need to replace dummy data in Hospital Scenario of Level 2 with actual content
so that the informative value of the application could be increased.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Validate the content with a professional
- [ ] Update Answer.csv file

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by

[2018-08-13 18:55] Rimjhim28 opened #1303 "Add real content to Library scene Level 2"
## Description
As a user,
I need to replace dummy data in Library Scenario of Level 2 with actual content
so that the informative value of the application could be increased.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Validate the content with a professional
- [ ] Update Answer.csv file

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1

[2018-08-13 19:27] Rimjhim28 opened #1304 "Enhance the UI of Kill Virus Game to include images of actual viruses and syringe"
## Description
As a user,
I need add real pictures of viruses and syringes in kill virus mini game,
so that the UI fits perfectly with the appearance of the application.
The images should retain the actual idea of the game

## Mocks

The random images of viruses and placeholder for syringe here need to replaced.

![screenshot_2018-06-15-13-06-37-618_powerup systers com powerup](https://user-images

[2018-08-13 19:42] Rimjhim28 opened #1305 "Populate the Game Activity with selected NPCs"
## Description
As a user
I need populate the game activity with the characters selected in PreGame Setup screen,
so that there could be proper askers in Game Activity.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] Discuss the approach on slack channel or comments section first
- [ ] Game Activity for Level 1 and Level 2 should be populated with chosen characters

## Definition

[2018-08-15 22:49] #1298 closed

[2018-08-19 07:39] yatri1609 commented on #1132
@geekanamika Can I work on this issue as I have been wanting to work on this since long and have been commenting on this issue?

[2018-08-19 12:36] Rimjhim28 commented on #1132
Go ahead @yatri1609!

[2018-08-19 13:27] yatri1609 commented on #1132
@Rimjhim28 thanks !

[2018-08-19 17:06] Rimjhim28 opened #1306 "Update master branch"
## Description
As a developer,
I need to update master branch with gsoc code.

## Mocks
Not applicable

## Acceptance Criteria
### Update
- [ ] update master branch

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
10 minutes

[2018-09-01 05:29] #1306 closed

[2018-09-01 05:30] #1293 closed

[2018-09-03 02:50] Shreya001 commented on #1304
![syringe 1](https://user-images.githubusercontent.com/22895094/44965233-23f15e00-af52-11e8-92b0-6ee12b9ce14b.png)
![syringe 1 1](https://user-images.githubusercontent.com/22895094/44965234-23f15e00-af52-11e8-809c-1edf08099e2d.png)
![syringe 2](https://user-images.githubusercontent.com/22895094/44965235-23f15e00-af52-11e8-8ee4-7effd5db74e8.png)
![syringe 3](https://user-images.githubusercontent.co

[2018-09-05 17:24] smieras commented on #1102
May I help with the task - Redundant throws clause @Rimjhim28 ?

[2018-09-06 13:53] Rimjhim28 commented on #1102
Sure @smieras! Go ahead and send a PR

[2018-09-06 13:56] Rimjhim28 commented on #1304
The images look good to me but since this would an UI change can you please post all the images on powerup project channel in community slack so that we can get other community members' opinion as well.

[2018-09-06 16:27] Shreya001 commented on #1304
Can you please share the link for the same @Rimjhim28

[2018-09-07 11:46] Shreya001 commented on #1305
Can you please elaborate...as in pregame activity a minimum of one is choosen so on which basis do we have to populate the game activity? @Rimjhim28

[2018-09-08 23:54] ghost commented on #1095
@geekanamika Is this issue still open? If so can I work on it? I ask because I saw that you changed the status to "Available."

[2018-09-09 00:17] ghost commented on #994
@geekanamika Is this available to be worked on for first timers?

[2018-09-09 00:18] ghost commented on #703
@Rimjhim28 @geekanamika I'm a first-timer. Is this issue still open to be worked on?

[2018-09-09 01:00] Arbalest007 commented on #989
@Rimjhim28 Is this issue still available for working on? I'm a first-timer looking to get into OSS!

[2018-09-09 04:29] geekanamika commented on #703
I believe that it's already resolved while updating code during gsoc. @Rimjhim28 Correct me if I'm wrong.

[2018-09-09 04:51] geekanamika commented on #994
@Rimjhim28 can answer better regarding this issue as I am not updated with UI related discussion of project.

[2018-09-09 04:51] geekanamika commented on #1095
@Arbalest007 Yes, this issue is available. Go ahead :)

[2018-09-09 08:09] ghost commented on #1095
Awesome thanks! I'll get on it!

[2018-09-09 12:02] Shreya001 commented on #1305
@Rimjhim28 please elaborate?

[2018-09-09 17:35] ghost commented on #1095
@geekanamika I have a question regarding the first requirement for the README changes. The instructions say to remove the link provided under Point 1 for "Set Up." There are 3 links total - 1 directing to Android Studio's SDK, and 2 referring to links regarding the AD 3.0 Gradle Plugin Migration + Gradle Plugin. Would you like all 3 links to be removed?

[2018-09-10 02:22] rhythm1705 commented on #1095
Hey, I would like to contribute to this issue too. Can I please?

[2018-09-11 09:39] Rimjhim28 commented on #994
@Arbalest007 The issue still exist. If this is the first issue that you are claiming, please go ahead and submit a PR. :)

[2018-09-11 09:42] Rimjhim28 commented on #1305
@Shreya001 There isn't any predefined way on how this needs to be done. You can come up with your own idea here. The main reason for not developing this functionality during GSoC was since there are dummy data and not actual conversations in the game the characters that might be included in a scenario is uncertain.

[2018-09-11 09:43] Rimjhim28 commented on #1304
Here's the link for slack inviter: https://slack-systers-opensource.herokuapp.com/

[2018-09-11 18:44] ghost commented on #994
@Rimjhim28  Awesome I'll start work on it.

[2018-09-11 18:44] ghost commented on #1095
@rhythm1705 I'm not working on this issue anymore so it's up for grabs!

[2018-09-12 15:54] Shreya001 commented on #1305
@Rimjhim28 during the pregame activity we can make the user select a male and a female adult character and populate the activities accordingly?

[2018-09-17 01:33] ghost commented on #994
@Rimjhim28 Just an update but I will submitting a pull request later today for the changes. I was able to get both the orientation and images changes as per the original issue's request.

[2018-10-03 05:48] geekanamika commented on #1132
@yatri1609 Are you working on issue or shall I label it as available issue?

[2018-10-03 06:41] geekanamika opened #1310 "Shift dependency versions in project level gradle file"
## Description
As a developer,
I need all version at one place
so that I can change/update dependency easily and it's maintainable.

## Acceptance Criteria
* Create appropriate version variables in project level gradle file

### Update [Required]
- build.gradle (project)
- build.gradle(app)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 maintainer.

## Es

[2018-10-03 06:50] geekanamika commented on #1310
@Rimjhim28 I am working on this issue.

[2018-10-05 19:39] manddy commented on #1303
@Rimjhim28  hey can i work on this issue

[2018-10-05 20:10] manddy commented on #1304
hey @Rimjhim28  these are some pictures of virus kindly have a look at them
![104](https://user-images.githubusercontent.com/22556185/46557779-ae89fc00-c908-11e8-9b10-bdab21ecfdb2.png)

![103](https://user-images.githubusercontent.com/22556185/46557789-b9dd2780-c908-11e8-9e8b-648adc4ea678.png)

![101](https://user-images.githubusercontent.com/22556185/46557796-bf3a7200-c908-11e8-9a0a-359f8d60db45.

[2018-10-05 20:35] manddy commented on #1302
@Rimjhim28  could we add mentruation related problem in this section?

[2018-10-06 15:19] Rimjhim28 commented on #1303
@manddy Actual content was left purposely during GSoC. We agreed to proceed with dummy data and include actual content after proper research and verification from professionals. If you want to work on this issue, please initiate a discussion on project channel. Let's see what admins and other members have to say.

[2018-10-06 15:23] Rimjhim28 commented on #1304
@manddy Please initiate a discussion on project channel. UI changes require community decision.

[2018-10-06 15:24] Rimjhim28 commented on #1302
@manddy Please refer to the reply on #1303

[2018-10-13 17:34] FIITAY commented on #1095
hey, can I contribute to this issue?

[2018-10-15 12:13] carloshpb commented on #989
As it looks like the status was made Available a month ago, and got no answer yet, may I claim this issue ?

[2018-10-15 16:57] geekanamika commented on #989
@carloshpb  Go ahead :)

[2018-10-18 17:55] mayburgos commented on #1304
@Shreya001 @manddy Can you both post to the PowerUp channel on Slack to receive feedback?

Please join here: http://systers.io/slack-systers-opensource/

[2018-10-19 02:01] carloshpb commented on #989
@geekanamika  good evening! Just saw the activity now and did it. But I can't push the new branch that I've created for the activity, as it says :
remote: Permission to systers/powerup-android.git denied to carloshpb.
How is it possible for me to push it and enable me to do a pull request ?

[2018-10-19 08:38] geekanamika commented on #989
@carloshpb You are not supposed to push changes to Systers's repo. Have you "forked" this repo & then cloned the github project or downloaded zip file?
Suggestions:
1. check remotes added by `git remote -v`
2. if it doesn't shows your url project url i.e https://github.com/carloshpb/powerup-android then add ur remote by `git remote add upstream https://github.com/carloshpb/powerup-android`
3. push

[2018-10-19 12:53] carloshpb commented on #989
Sorry for the mistake, I'm used to work with BitBucket and never did a fork in there xD
I'll correct it right now and deliver it.

[2018-10-26 14:13] RocknrolliRakacolli commented on #1102
May I help with the task "Method Can be Void"?

[2018-10-26 14:23] Rimjhim28 commented on #1102
Sure @RocknrolliRakacolli ! Go ahead and send a PR.

[2018-12-08 16:15] imashwani commented on #1291
I have encountered/reproduced this error.
I got the following error

powerup/systers/com/MapActivity.java |  
-- | --
error: package powerup.systers.com.db does not exist |  
error: cannot find symbol class DatabaseHandler |  
error: cannot find symbol class DatabaseHandler |  
error: cannot find symbol class DatabaseHandler |  

Since roomDB is being used for database query so somebody might have

[2018-12-08 16:28] imashwani commented on #1291
I have checked that the code in master branch doesnot use this  activity(powerip.syster.com.MapActivity) anywhere in the project hence we can delete it. Should i do this and make a PR?

[2018-12-09 08:14] geekanamika commented on #1291
@imashwani Error is in MapActivityTest class. You're right that DatabaseHandler is deleted without changing the unit tests.
In PR, You will need re-write tests according to current MapActivity implementation.
Can you do it?

[2018-12-09 10:58] imashwani commented on #1291
I have rechecked and from what i understand, the MapActivity (powerip.syster.com.MapActivity) is of no use anymore.
1. There is no associated layout file. The new map layout is gamemap.xml
2. powerip.syster.com.MapActivity hasn't been used anywhere in the code insted powerup.systers.com.ui.MapActivity is being used with gamemap.xml

So, I will **delete powerip.syster.com.MapActivity** and write **

[2018-12-09 11:17] imashwani commented on #1291
I have rechecked and from what i understand, on the master branch the MapActivity (powerip.syster.com.MapActivity) is of no use anymore.

    There is no associated layout file. The new map layout is gamemap.xml
    powerip.syster.com.MapActivity hasn't been used anywhere in the code insted powerup.systers.com.ui.MapActivity is being used with gamemap.xml

I don't know how to write unit tests, can

[2018-12-13 21:15] #1310 closed, assigned to nobody

[2018-12-14 13:11] namrata-jha commented on #1102
Looks like this issue is still open, can I go ahead and work on this issue?

[2018-12-14 13:11] namrata-jha commented on #1095
Looks like this issue is still open, can I go ahead and work on this issue?

[2018-12-15 03:51] geekanamika commented on #1095
@namrata-jha Refer to PR #1313 . It's almost complete except one required change. @FIITAY hasn't responded since review so you can go ahead & create PR. Let me know if you need any help :)

[2018-12-15 04:00] geekanamika commented on #703
Closing this issue as it's already resolved & it can also be covered under #1101

[2018-12-15 04:00] #703 closed

[2018-12-18 15:47] namrata-jha commented on #989
Is this issue open for contribution, if yes may I claim this issue?

[2018-12-18 15:49] namrata-jha commented on #1101
If anyone's not working on this, may I claim this issue?

[2018-12-19 07:18] namrata-jha commented on #1095
Yes, I have created a PR, please check.

[2018-12-20 14:39] Rimjhim28 commented on #1095
@namrata-jha You have already claimed one first timer issue, #1102. You can claim and work on only one first timer issue. I am considering the older one and closing the PR related to this issue.

[2018-12-20 14:43] namrata-jha commented on #1095
Alright, I thought I'd claimed so I could do it, sorry for this.

[2018-12-28 11:15] CheshtaK commented on #994
Is this issue open for contribution? If yes, may I claim this issue?

[2018-12-28 18:20] CheshtaK opened #1317 "Points lost when app is reloaded"
## Description
As a developer,
I need to make sure that the points are recovered when the user clicks on 'Load Game',
so that the user can continue from where she left off.

## Mocks
![ezgif com-optimize 1](https://user-images.githubusercontent.com/32400008/50522721-671fa000-0af2-11e9-97ac-99931960eb0d.gif)

## Acceptance Criteria
### Update [Required]
- [ ] Store the user's points

## Definition

[2018-12-29 17:18] Rimjhim28 commented on #994
Sure @CheshtaK! Please go ahead and send a PR.
I am assigning the issue to you! :)

[2018-12-29 17:20] Rimjhim28 commented on #994
@CheshtaK I am not able to assign the issue. Nevertheless, I have removed the Available tag

[2018-12-29 17:23] Rimjhim28 commented on #1317
@CheshtaK Can you please discuss on how you intend to solve the stated issue.

[2018-12-29 17:29] ghost commented on #994
@Rimjhim28 Sorry for the delay but I believe I submitted a PR for this issue a while ago haha.

[2018-12-29 17:43] Rimjhim28 commented on #994
@Arbalest007 My bad! I am really sorry. I overlooked your comment.
@CheshtaK The issue isn't available anymore. Sorry for the inconvenience.

[2018-12-30 07:36] CheshtaK commented on #1317
@Rimjhim28  I could store the user's points in a separate table using the Room library and hence recover them when the user loads the game.

[2018-12-30 13:14] CheshtaK commented on #994
@Rimjhim28 No issues! :)

[2018-12-31 20:59] Rimjhim28 commented on #1317
Sounds good @CheshtaK!
Please send a PR.
Feel free to reach out if you need any help.
Also, you can join the community slack channel to talk about the issue, the project or the community in general.

[2019-01-05 11:53] CheshtaK commented on #1317
@Rimjhim28 I've sent a PR. Please review the same.

[2019-01-07 12:54] CheshtaK commented on #697
Hey @Rimjhim28! Can I work on this issue?

[2019-01-09 05:55] hridyakrishna commented on #1095
Hello, Can I please work on this?

[2019-01-09 06:58] Rimjhim28 commented on #1095
@hsymphonyk The issue is already solved and is not available anymore!
Nevertheless, you can work on other issues!
This is a link to one beginner friendly issue: https://github.com/systers/powerup-android/issues/1102
You can go ahead and solve any one of the errors.

[2019-01-09 07:04] hridyakrishna commented on #1095
@Rimjhim28 Okay. I did not know it. I will try other issues then.

[2019-01-12 08:37] #1095 closed

[2019-01-12 08:40] #994 closed

[2019-01-20 06:32] hridyakrishna commented on #1102
Hello, can I work on this?

[2019-01-21 13:17] hridyakrishna opened #1322 "Translations for the app in Malayalam."
## Description
As a user, I need to translate the app in Malayalam, so that everyone can use the app in Malayalam.

## Acceptance Criteria
### Update [Required]
- [x] [powerup-android/PowerUp/app/src/main/res/values-ml/strings.xml]

## Definition of Done
- [x] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
48 hours

[2019-01-21 13:18] hridyakrishna commented on #1322
May I please work on this issue?

[2019-01-23 11:45] hridyakrishna commented on #1069
May I please work on this?

[2019-01-24 13:19] apoorva-mk opened #1325 "Matching tiles game freezes if home button pressed and app reopened"
## Description
The matching tiles game freezes if the home button is pressed midway and again resumed. It causes infinite number of loops.
To recreate the issue, press home button midway and then reopen the app.

## Mocks
![whatsappvideo20190124at61](https://user-images.githubusercontent.com/42450012/51680580-24c18400-2008-11e9-9b30-b67aeba8da1b.gif)

## Acceptance Criteria
### Update [Required]
-

[2019-01-24 13:20] apoorva-mk commented on #1325
I'd like to take up the issue, can I do it?

[2019-01-25 05:53] nidhinmahesh opened #1326 "Chinese Translation"
## Description
I need to add Chinese translation to Power Up app.

Smartphone users in China were predicted to account for around 56 percent of all mobile phone users in 2017. This figure is expected to grow to more than 60 percent by 2019. Android is also the most popular operating system among Chinese smartphone users, with almost 80 percent of the share as of July 2017.

User base of the app wi

[2019-01-25 05:54] nidhinmahesh commented on #1326
may I work on this issue

[2019-01-25 09:21] Rimjhim28 commented on #1326
Hello @nidhinmahesh!
Since this is an enhancement to the project rather than a technical issue, could you please initiate a discussion about this on #powerup in Systers community slack channel so that we can have inputs from other community members as well before you work on this issue.
Link to join Slack Channel Inviter: systers.io/slack-systers-opensource/

[2019-01-25 09:27] Rimjhim28 commented on #1322
Hello @hsymphonyk!
Since this is an enhancement to the project rather than a technical issue, could you please initiate a discussion about this on #powerup in Systers community slack channel so that we can have inputs from other community members as well before you work on this issue.
Link to join Slack Channel Inviter: systers.io/slack-systers-opensource

Also, go through the Contribution guideli

[2019-01-25 09:43] Rimjhim28 commented on #1325
This is a valid issue! Please work on it and send a PR. :)

[2019-01-25 10:09] apoorva-mk commented on #1325
Hey, that's great, I'll work on it. :+1:

[2019-01-25 13:42] nidhinmahesh commented on #1326
Certainly!

[2019-01-25 16:37] moksh-mahajan opened #1327 "Make the app full screen."
## Description
The introductory screen of the app shows the status bar as well. My idea is to make the app should be a full screen app like most of the landscape oriented games are. This will improve the UI to some extent.

## Mocks
Present state of the app
![screenshot_2019-01-25-21-44-05-960_powerup systers com powerup](https://user-images.githubusercontent.com/36201975/51758739-6d526d80-20ec-11

[2019-01-26 07:54] hridyakrishna commented on #1132
May I please work on this?

[2019-01-26 10:40] hridyakrishna opened #1328 "Karma point adds abruptly with multiple taps."
## Description
The Karma points gets added when tapped more than a certain number of times in scene:home,school and hospital.

## Mocks

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/43813666/51785998-755dec00-2184-11e9-863e-1e1bb6b6d393.gif)

## Acceptance Criteria
### Update [Required]
The karma points scored by corrrect answers should be same even if tappped multiple times

[2019-01-26 10:41] hridyakrishna commented on #1328
May I work on this issue?

[2019-01-26 15:03] Rimjhim28 commented on #1132
@hsymphonyk You can go ahead if @yatri1609 confirms that she is not working on the issue.

[2019-01-26 15:05] Rimjhim28 commented on #1132
@yatri1609 Are you still working on the issue?
If yes. please send a pull request otherwise @hsymphonyk is interested to work on it.

[2019-01-26 19:31] apoorva-mk commented on #1325
Hey so I am currently working on adding the onRestart() function to the respective class. I could overcome partially, I'll update again once I'm fully done.

[2019-01-28 07:14] honeycoder96 commented on #1327
can I work on this issue?

the theme attribute is actually redundant in the manifest file and can be removed and the estimated time is 2 min, not 2 hours.

[2019-01-28 11:52] hridyakrishna commented on #1322
Hello, @Rimjhim28  Yes, I will start a discussion about it on the #powerup channel.
Sure, I will go through the Contribution guidelines and will take care of giving pull requests only after approval, from now. Thank you.

[2019-01-28 12:19] Rimjhim28 commented on #1327
@moksh-mahajan While the issue is valid, there are several screens that can be converted to full screen mode. Coud you please list all the screens on the issue itself first?

[2019-01-28 12:20] Rimjhim28 commented on #1327
@honeycoder96 I am not sure if @moksh-mahajan would like to work on the issue itself or pass it on to some other contributor.
@moksh-mahajan Are you fine with @honeycoder96 working on the issue and sending a pull request or would you like to fix this by yourself?

[2019-01-28 12:24] Rimjhim28 commented on #1328
@hsymphonyk The issue looks valid.
Can you please find and comment here the reason behind the issue and how you want to fix this?

[2019-01-28 12:45] honeycoder96 commented on #1327
I think we can configure the base theme attribute in parent **application** tag to full screen all the activities and I will wait for @moksh-mahajan before submitting a pr.

[2019-01-28 13:10] moksh-mahajan commented on #1327
@honeycoder96 sure go for it. By the way, I'm experiencing this problem on Poco F1.

[2019-01-28 16:45] honeycoder96 commented on #1327
Ok i am working on it @Rimjhim28

[2019-01-28 19:44] apoorva-mk commented on #1325
Hey I've sent a PR, please review it and let me know if it there's anything to change, I'd be happy to do so. I have also uploaded a relevant gif to make things clearer. Thanks!

[2019-01-28 20:07] moksh-mahajan opened #1333 "Migrate to Android X"
## Description
Since AndroidX is released, we should migrate the support libraries to the androidx namespace.AndroidX maps the original support library API packages into the androidx namespace. Atleast migrate the stable libraries to the androidx namespace.
Please refer this https://developer.android.com/jetpack/androidx/migrate#migrate

### Update [Required]
- [ ] Refactor > Migrate to AndroidX f

[2019-01-28 20:07] moksh-mahajan commented on #1333
@Rimjhim28 What do you think about this?

[2019-01-29 14:39] moksh-mahajan opened #1335 "Update the compile and target SDK version."
## Description
The compileSdkVersion and targetSdkVersion which are set to versions 27 and 27, respectively, must be changed to 28( Android Pie) as the latest Android APIs must be used to make use of the latest features.

### Update [Required]
- [ ] Update the project level gradle file.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2019-01-29 14:49] moksh-mahajan opened #1336 "Place `google()` repository as the first priority repository"
## Description
In build. gradle file jcenter() repository have first priority than google() repository. My idea is to Place google() repository as the first priority repository to avoid such errors like:
**Failed to resolve: multidex-instrumentation**
Here is a[ link](https://stackoverflow.com/questions/45608362/android-studio-3-0-beta-1-failed-to-resolve-com-android-supportmultidex1-0-2) to check

[2019-01-29 15:54] moksh-mahajan opened #1337 "Clean up casting."
## Description
One of the things that google announce in IO 2017 is something that’s called ‘cast away’ :). Android developer don’t have to do a manual casting for findViewById(). It’s a simple change. But for a seasoned programmer, a clean code like this can make you very happy and it helps with your coding mood :)

### Update [Required]
- [ ] Clean up all casting for findViewById() from all acti

[2019-01-29 16:01] moksh-mahajan commented on #1337
@Rimjhim28 I would like to work on this.

[2019-01-29 18:12] Rimjhim28 commented on #1132
@hsymphonyk Are you still interested in working on this issue?
If yes, please go ahead and submit a PR.

[2019-01-29 18:51] Rimjhim28 commented on #1322
Since the issue is not high priority, I am closing it.
It can be worked upon after the game has actual data.
Reference: https://systers-opensource.slack.com/archives/C0C9VK8UE/p1548608573053100?thread_ts=1548423803.041500&cid=C0C9VK8UE

[2019-01-29 18:52] Rimjhim28 commented on #1326
Since the issue is not high priority, I am closing it.
It can be worked upon after the game has actual data.
Reference: https://systers-opensource.slack.com/archives/C0C9VK8UE/p1548608573053100?thread_ts=1548423803.041500&cid=C0C9VK8UE

[2019-01-29 18:52] #1326 closed, assigned to nobody

[2019-01-29 18:52] #1322 closed, assigned to nobody

[2019-01-29 19:23] Rimjhim28 commented on #1335
@moksh-mahajan This sounds resonable.
Go ahead and send a PR. Be sure that you are not affecting the project's build.

[2019-01-29 19:23] Rimjhim28 commented on #1336
@moksh-mahajan This sounds resonable.
Go ahead and send a PR. Be sure that you are not affecting the project's build.

[2019-01-30 00:47] DamianNieves commented on #1102
Would it be ok if I tried to fix the "Extraneous text in resource file error."

[2019-01-30 19:23] Rimjhim28 commented on #1102
Sure @DamianNieves! Please go ahead and send a PR.

[2019-01-31 15:04] #1327 closed, assigned to nobody

[2019-01-31 15:32] geekanamika commented on #1291
@m-murad @Rimjhim28 Can I work on this issue? I'll rewrite the tests as per new code changes made during GSoC using Junit.

[2019-02-09 16:14] #1335 closed, assigned to moksh-mahajan

[2019-02-09 16:15] #1336 closed, assigned to moksh-mahajan

[2019-02-12 23:02] KING-SID commented on #989
Hey, is this issue still open? if so can I take it up! I am trying to familiarise myself with the code base and prepare for GSoC 2019!

[2019-02-18 07:47] hridyakrishna commented on #1304
Hello, can I please work on this?

[2019-02-20 10:24] Tanvi-Goyal commented on #989
Can i claim this issue if open?

[2019-02-20 10:28] Tanvi-Goyal commented on #975
I would like to work on this.

[2019-02-20 10:45] Tanvi-Goyal commented on #875
Hey can i work on this issue.

[2019-02-20 10:46] Tanvi-Goyal commented on #697
Can i work on this issue ?

[2019-02-20 10:48] Tanvi-Goyal commented on #545
Can i work on this issue

[2019-02-20 11:33] moksh-mahajan opened #1340 "Make Room Database annotations simpler."
## Description
In many entity files like Answer.java, Avatar.java, Clothes.java etc., the name of the class and table name are the same, therefore, there is no need to mention the table_name attribute in the @entity Room annotation of these model classes, as Room by default, makes the SQLite table of the same name as the name of the entity class. My idea is to make these annotations simpler.

## M

[2019-02-20 11:35] moksh-mahajan commented on #1340
@Rimjhim28 @geekanamika Can I submit a PR for the same?

[2019-02-20 14:05] moksh-mahajan commented on #1317
Can I work on this issue? @CheshtaK @Rimjhim28

[2019-02-20 15:43] hridyakrishna commented on #1328
This issue can be resolved by making certain changes in the GameActivity.java file. SessionHistory.currScenePoints behaves normally when game is played slowly, but the score changes when the gameplay speed is increased. I hope this can be resolved by giving a seperate thread for adding points rather than being on the same thread as of UI. What do you suggest about this @Rimjhim28

[2019-02-21 09:27] #1102 closed

[2019-02-21 12:07] hridyakrishna opened #1341 "Sink to Swim game ends within 5 entries of answers."
## Description
Sink To Swim game does not wait for the countdown to end, rather finishes the level once five choices are fed.

## Mocks

## Acceptance Criteria

### Update [Required]
-Game must give chances until the countdown ends and add points accordingly.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
48 hours

[2019-02-21 12:08] hridyakrishna commented on #1341
May I please work on this issue?

[2019-02-21 12:36] hsymphonyk commented on #1341
May I please work on this issue?

[2019-02-22 23:58] KING-SID commented on #1132
Hey @geekanamika is this issue still open? If so I'd like to take it up!

_P.S I'm working towards participating in GSoC_

[2019-02-24 02:40] F20170604 commented on #1069
@geekanamika Currently what is the status of this Issue and what work is to be done on this? There are a lot of PR's on this but I can't really understand what part of it is left and what is done and what is the enhancement?

[2019-02-24 04:58] hridyakrishna commented on #1340
Hello, May I work on this?

[2019-02-24 05:20] geekanamika commented on #1340
Looks like a valid issue to me. @moksh-mahajan Go ahead if you don't have any pending/claimed issue at the moment.
@hsymphonyk Hey, Moksh claimed the issue first, so I have assigned it to him. If he doesn't respond back in the next few days, I'll assign it to you. Thanks.

[2019-02-24 05:25] geekanamika commented on #1328
@hsymphonyk @Rimjhim28  Can't we shift currScenePoints to preferences & update value off the main thread? Do we really need SessionHistory & static variables? Correct me If I'm wrong.

[2019-02-24 08:54] hridyakrishna opened #1344 "Instruction given may be more informative."
## Description
The game, Kill the virus must specify how the injection must be shot. ( dragging/tapping/drag and hold the injection etc)
## Mocks

## Acceptance Criteria
### Update [Required]
- Instruction boxes should specify the way to shoot the virus.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
24 hours

[2019-02-24 08:55] hridyakrishna commented on #1344
@Rimjhim28 @geekanamika , May I work on this issue?

[2019-02-24 08:55] moksh-mahajan commented on #1340
@geekanamika I claim working on this issue.

[2019-02-24 08:57] hridyakrishna commented on #1328
Hello,@geekanamika That is a good idea. Did you try implementing it?

[2019-02-24 10:00] moksh-mahajan commented on #1340
@geekanamika Done. Please review.

[2019-02-24 10:48] moksh-mahajan opened #1347 "Arrange the layout files in different sub-folders."
## Description
At present, there are around 35 layout files under the res/layout directory. It would be nice if they are arranged inside different sub-directories. It will make these layout files well-organized and easier to find.

## Mocks
For example, there are 3 layout files related to kill_the_virus game. So, they can be arranged inside a separate sub-folder.
![imageedit_3_9570300456](https://

[2019-02-24 10:52] moksh-mahajan commented on #1347
@geekanamika @Rimjhim28 May I start working on this issue?

[2019-02-24 12:05] moksh-mahajan opened #1348 "Animation should me shown when back button is pressed in the game map screen."
## Description
In the game map screen, when a building is clicked, then a nice animation effect is shown when the screen changes from map to conversation scenario. Also when the user goes back to map screen from any conversation screen using the home button (on the top right corner), then also the animation effect is shown.
But when the **back button** is pressed, this animation effect is not show

[2019-02-24 12:26] moksh-mahajan commented on #1348
I would like to work on this issue. @Rimjhim28 @geekanamika

[2019-02-24 14:22] geekanamika commented on #1344
@hsymphonyk Can you give an example of improved instruction or what's missing in current & how you plan to improve it?

[2019-02-24 19:12] Rimjhim28 commented on #1344
@hsymphonyk Please send a pull request only after the issue is approved by any maintainer.
Please go through [Contribution Guidelines](https://github.com/systers/powerup-android/wiki/How-to-Contribute)

[2019-02-24 19:22] Rimjhim28 commented on #1341
@hsymphonyk this is only because the number of questions in the game is five.
I am closing the issue since it is not valid.

[2019-02-24 19:22] #1341 closed, assigned to nobody

[2019-02-24 19:23] Rimjhim28 commented on #1348
This looks valid.
@moksh-mahajan You can send a PR for this.

[2019-02-24 19:24] Rimjhim28 commented on #1347
@moksh-mahajan This can surely be done.
Please send a PR for this.

[2019-02-24 19:25] #1340 closed, assigned to moksh-mahajan

[2019-02-24 19:27] Rimjhim28 commented on #1328
This sounds logical @geekanamika
@hsymphonyk Can you work towards the solution the way suggested by @geekanamika

[2019-02-25 01:32] moksh-mahajan commented on #1347
@Rimjhim28 on it.

[2019-02-25 01:41] moksh-mahajan commented on #1348
@Rimjhim28 sending a PR soon.

[2019-02-25 14:16] moksh-mahajan commented on #1348
@Rimjhim28 Done. Please review.

[2019-02-25 14:54] moksh-mahajan commented on #1347
@Rimjhim28 I think it will complicate the code more.

[2019-02-26 11:44] hridyakrishna commented on #1344
Hello, @geekanamika, the instruction given was just to shoot the virus. It can be made more informative giving how the syringe can be shooted. I mentioned that tapping the syringe helps in the shooting.

[2019-02-26 12:00] hridyakrishna commented on #1344
Hello, @Rimjhim28, I apologize for the action. I will send the pull request only after approval of the issue by a maintainer, from now. I will definitely go through the Contribution Guidelines.

[2019-02-26 12:03] hridyakrishna commented on #1328
Hello @Rimjhim28, I will surely work the way suggested by @geekanamika.Thank you

[2019-03-22 17:28] sawhney-medha commented on #989
Is this issue still open? Can I claim it?

[2019-04-18 09:47] LSariel commented on #1113
Is this issue still available? :)

[2019-05-24 11:11] yoonbincho opened #1350 "I am a software engineer interested in this program."
. I would like to translate the game manual of this game into Korean. Do you need help?

[2019-12-12 21:14] isabelcosta commented on #1113
i just updated the wiki sidebar here https://github.com/systers/powerup-android/wiki

![image](https://user-images.githubusercontent.com/11148726/70749506-62182880-1d24-11ea-87d7-6839b8ff197c.png)

@systers/maintainers-powerup-android

[2020-01-21 18:43] sreyans01 opened #1352 "Replay and Map button not working issue"
Description
The replay and map button doesn't work just after completing a successful task or need to be clicked multiple times to respond .I tested this bug on Lenovo vibe k5 plus. Should I work on this issue?

Mocks
![Screenshot_Power_Up_20200122-000805](https://user-images.githubusercontent.com/47531297/72832785-8df7c980-3c53-11ea-9404-82e8d8ec0eda.png)

## Acceptance Criteria
### Update [Requi

[2020-02-21 12:19] ritika-11 commented on #989
May I claim this issue?

[2020-02-22 06:44] ritika-11 commented on #989
@PrajwalM2212 if available, can I work on this issue?

[2020-02-22 09:23] Rita-Okonkwo commented on #1132
Hello everyone! Please is this issue still available? I would love to work on it.
I am a GSoC aspirant

[2020-02-22 12:49] jindalshiva opened #1354 "Build error"
## I am combining checker framework with my android studio but I am facing a build error, when I run gradlew assembleCheckTypes from terminal of android studio.

As a android app developer,
I need establish checker framework with android studio,
so that I can use checker framework facility with android studio.

## Mocks
![Error](https://user-images.githubusercontent.com/33796163/75092628-c7e42480-

[2020-02-23 06:43] devanshi7799 commented on #545
@mayburgos can i work on this if this issue is still open?

[2020-02-23 10:14] ritika-11 commented on #1347
@Rimjhim28 if available, can I work on this issue?

[2020-02-23 10:44] satyamaroraofficial commented on #1333
Linked pull requests
https://github.com/anitab-org/powerup-android/pull/1357
Successfully merging a pull request may close this issue.

[2020-02-23 10:54] vibhusharma101 commented on #1317
@Rimjhim28 @geekanamika Can I work on this, If it is still open?

[2020-02-23 14:39] devanshi7799 commented on #989
@ritika-11 i have solved this issue

[2020-02-23 14:53] vibhusharma101 commented on #988
@Rimjhim28 @geekanamika  can I work on this ?

[2020-02-23 18:26] devanshi7799 commented on #1344
@hridyakrishna can i work on this issue?

[2020-02-23 18:33] devanshi7799 commented on #1113
@isabelcosta @mayburgos @m-murad  i would like to work on this one. But i did not quite understand what is to be done. Can you help me?

[2020-02-23 18:36] devanshi7799 commented on #875
@ShriyaSalian i would like to work on this one

[2020-02-23 18:39] devanshi7799 commented on #1132
@geekanamika can i work on this one?

[2020-02-24 17:58] devanshi7799 commented on #1347
@ritika-11 Are you working on this? if not @mayburgos @m-murad i would like to work on this

[2020-02-24 18:43] devanshi7799 commented on #1132
@Rimjhim28 hello,
I am working of this issue but i am not quite sure what exactly is to be done.
Can you please help me with this?

[2020-02-24 18:53] m-murad commented on #1132
_Time - 10:53 am PST_

@KING-SID if you want you can take up this issue withing next 24 hours
@Rita-Okonkwo if @KING-SID doesn't claim the issue you will have a 24-hour window to claim it
@devanshi7799 if @Rita-Okonkwo doesn't claim the issue you will have a 24-hour window to claim it

**Whatis to be done** -
Find the layout file named `gamemap.xml `, reimplement it using the ConstraintLayout.

[2020-02-25 06:56] pknotfound commented on #1352
@Rimjhim28 should I work on this issue?

[2020-02-25 07:05] pknotfound commented on #1348
@Rimjhim28 May I work on this issue?

[2020-02-25 13:31] devanshi7799 commented on #1302
@Rimjhim28 i would like to work on this issues.

[2020-02-25 13:44] devanshi7799 commented on #975
can i work on this issue?

[2020-02-25 18:58] devanshi7799 commented on #1304
I would like to work on this

[2020-02-26 13:44] pknotfound commented on #1348
@sunjunkie May I work on this issue?

[2020-02-26 13:45] pknotfound commented on #1352
@sunjunkie May I work on this issue?

[2020-02-26 13:59] Mr-garg commented on #1352
i crossed checked it ,only  map is not functioning

[2020-02-26 14:06] pknotfound commented on #1352
Yes, but it also changes with the changing screen size
On small screens, both are functional to some extent

[2020-02-26 15:03] Priyansh-Kedia commented on #1352
https://github.com/anitab-org/powerup-android/pull/1361#issue-380333236
Please review
I have generated the pull request

[2020-02-26 15:07] sunjunkie commented on #1352
I am not a maintainer on this repo.

[2020-02-26 15:10] Priyansh-Kedia commented on #1348
https://github.com/anitab-org/powerup-android/pull/1362#issue-380337342
Please review this PR

[2020-02-26 15:16] pknotfound commented on #1132
Is this issue still available?

[2020-02-26 15:19] pknotfound commented on #1103
@Rimjhim28 @saurabhjn76 @geekanamika Is this issue still avaiable?

[2020-02-26 15:20] pknotfound commented on #1101
@geekanamika Is this issue still available?

[2020-02-26 15:22] pknotfound commented on #988
@Rimjhim28 @geekanamika Can i work on this issue?

[2020-02-26 15:24] pknotfound commented on #975
@Rimjhim28 @geekanamika @m-murad Can i work on this issue?

[2020-02-27 05:41] pknotfound commented on #1352
@sunjunkie Could you please tell me the maintainers for the same?
Thanks

[2020-02-29 18:07] vold-la opened #1363 "Question get updated even when we click replay button in ScenarioOverActivity"
## Description
when  a user completes a level it get an option to replay the current scenario but when replay button is clicked the question get updated to next level's Question.
## Type of Change:
Code
Quality Assurance

##
![replay_error](https://user-images.githubusercontent.com/42201292/75612712-2daa5080-5b4c-11ea-865c-2fe828122cbd.gif)

Code/Quality Assurance Only

Bug fix (non-breaking chang

[2020-02-29 18:10] vold-la commented on #1363
@mayburgos   @Rimjhim28 @sunjunkie  @acoconut  can i work on this?

[2020-03-02 14:20] 7phalange7 opened #1365 "Low resolution hair"
## Description
The hairs of the Avatar Standout as they are blurred/ their image is of low resolution.

## Screenshots

![Screenshot (138)](https://user-images.githubusercontent.com/54908857/75684443-d24c9f80-5cbe-11ea-877a-e0485f5bccf6.png)
![Screenshot (139)](https://user-images.githubusercontent.com/54908857/75684469-dc6e9e00-5cbe-11ea-997b-c642015996da.png)

### Update [Required]
- [ ] Add bet

[2020-03-02 14:23] 7phalange7 commented on #1365
I would like to work on this issue

[2020-03-02 22:11] Sommie09 commented on #1347
i'll want to work on this issue too please

[2020-03-02 22:13] Sommie09 commented on #1347
@Rimjhim28 May i start working on this issue?

[2020-03-03 00:03] PaRaDoX50 opened #1366 "Unwanted behavior when ABOUT button is clicked rapidly."
## Description
When we click on the ABOUT button twice rapidly, 2 new activities get opened.

I have fixed it by disabling the ABOUT button as soon as it is clicked once.

## Mocks
![ezgif-6-f6996f65ccae](https://user-images.githubusercontent.com/55514928/75728950-54fd4b00-5d0f-11ea-8d71-b274f3762770.gif)

### Update
- [x]  When clicked on ABOUT button rapidly, only a single activity should open.

[2020-03-03 16:12] pknotfound commented on #1366
May I work on this issue?

[2020-03-03 16:14] pknotfound commented on #1365
May I work on this issue?

[2020-03-03 16:15] pknotfound commented on #1363
@mayburgos @Rimjhim28 @sunjunkie @acoconut @geekanamika May I work on this issue?

[2020-03-03 16:25] pknotfound commented on #1347
@Rimjhim28 @acoconut @geekanamika @mayburgos May I work on this issue?

[2020-03-03 17:25] therealsanjeev commented on #1132
@geekanamika ma'am, there is a small issue in your Update [Required] section, the files should be  MapActivity.java, MapLevel2Activity.java instead of MapActivity.xml, MapLevel2Activity.xml. update it.
@m-murad sir look into this.

[2020-03-03 21:59] PaRaDoX50 commented on #1366
I already fixed it and sent a PR. #1367

[2020-03-03 22:06] PaRaDoX50 commented on #1366
#1367

[2020-03-04 03:26] therealsanjeev commented on #1337
@moksh-mahajan - this is resolved, I have reviewed the code and I found that it is replaced with @BindView. so, close this issue, if I'm right :)

[2020-03-04 09:46] therealsanjeev opened #1369 "UI Enhancement, Need to add functionality in buttons like Animation or Vibration effects"
## Description
When the user clicked on the any button and locked/unlocked scenario in our game they receive feedback for a better experience, she does not receive any message or any feedback for the user's satisfaction. we add this for a better experience.

#### For Locked Scenario -
when I'm trying to click on the locked scenario, nothing will happen and I'm getting confused, that the game is pr

[2020-03-04 10:51] sidvenu commented on #1369
Hey Sanjeev. Welcome to AnitaB.org Open Source! :)

I just have a few quick suggestions in raising issues that you can incorporate to make it better.

Whatever is in the brackets [ ], those are placeholders that you should replace. The intention is to make a template everyone follows so that issues remain structured.

Instead of "add a message using Toast
() or Snackbar()", you can write "Display

[2020-03-04 11:40] pknotfound commented on #1369
You'd also need to add to the manifest file and make sure that you add additional checks for SDK Version to avoid any new warnings coming your way.

[2020-03-04 11:51] pknotfound commented on #1352
@sidvenu
May I work on this issue?

[2020-03-04 11:52] pknotfound commented on #1348
@sidvenu
May I work on this?

[2020-03-04 11:53] sidvenu commented on #1352
Hey Priyansh! I'm not a maintainer for this project.

[2020-03-04 11:54] sidvenu commented on #1348
Hey Priyansh!
I'm not a maintainer for this project.

[2020-03-04 12:01] pknotfound commented on #1352
@sidvenu
Could you please tell me the maintainers for the same?
Thanks.

[2020-03-04 12:01] pknotfound commented on #1348
@sidvenu
Could you please tell me the maintainers for the same?
Thanks.

[2020-03-04 12:02] sidvenu commented on #1352
For PowerUp, I think it is Ms. Rhimjim. I'm not entirely sure.

[2020-03-04 12:03] pknotfound commented on #1352
Thank you.

[2020-03-04 12:19] pknotfound commented on #1352
@m-murad
May I work on this issue?

[2020-03-04 13:40] pknotfound commented on #1366
Okay,Thanks

[2020-03-04 14:12] pknotfound opened #1370 "App crashes on backpressed from MemoryMatchGameActivity"
## Description
When back is pressed on MemoryMatchGame after the hospital, the app crashes.

## Mocks
![WhatsApp Video 2020-03-04 at 7 17 48 PM](https://user-images.githubusercontent.com/52661249/75887696-30f55300-5e50-11ea-9685-a12e6a8dcb1c.gif)

### Update [Required]
The app should not crash on back pressed, but should go to the previous activity.

[2020-03-04 14:12] pknotfound commented on #1370
@mayburgos May I work on this issue?

[2020-03-04 16:05] sammy1997 commented on #1370
@Priyansh-Kedia Can you share the crash log? Use this https://justpaste.it/ to paste the log! I have to check if this is something device-specific or a generic error?

[2020-03-04 16:09] pknotfound commented on #1370
[5kzg2-justpasteit.pdf](https://github.com/anitab-org/powerup-android/files/4288318/5kzg2-justpasteit.pdf)

@sammy1997 Here is the crash report.

[2020-03-04 16:33] sammy1997 commented on #1370
Ok. Seems like some kind of out of bound exception in MemoryMatchGameActivity. Seems like a valid issue! @Rimjhim28 @geekanamika ?

[2020-03-04 16:44] therealsanjeev commented on #1369
@sidvenu , thanks bro to giving time to my issue, this is my first issue that's why I made lots of mistakes. I'll keep in mind your all suggestions for the future.

now come back to my issue, as a user when I'm trying to click on the locked scenario, nothing will happen and I'm getting confused, that the game is properly working or not although screen showing it is locked, as a user human satisfac

[2020-03-04 16:46] therealsanjeev commented on #1369
thanks bro for your tip :)

[2020-03-04 16:47] pknotfound commented on #1369
Happy to help.
You can use this thread if you face any issue.

[2020-03-04 17:35] sunjunkie commented on #1370
I don't see a back button. Is that part of the Android OS? At any rate, why is there a back button on the Memory match game? Is is supposed to be a "replay" of the game?

[2020-03-04 17:37] pknotfound commented on #1370
There is no back button as such. It is when you push back from the phone swipe up.

[2020-03-04 17:40] sunjunkie commented on #1370
OK. The game shouldn't crash no matter what so this seems like a valid issue.

[2020-03-04 17:43] pknotfound commented on #1370
May I send a PR then?

[2020-03-04 17:45] sunjunkie commented on #1370
Yes, go ahead. (However, I can't review it. Someone else will have to.)

[2020-03-04 17:46] pknotfound commented on #1370
Thanks. Will send a PR soon.

[2020-03-04 18:10] pknotfound commented on #1370
This is the PR for the issue https://github.com/anitab-org/powerup-android/pull/1371#issue-383756297

Please review.
Thanks.

[2020-03-05 09:14] pknotfound opened #1372 "Load Game button clicked from bottom of screen."
## Description
The load game button in the main page clicks even when screen bottom is clicked.

## Mocks
![WhatsApp Video 2020-03-05 at 2 37 30 PM](https://user-images.githubusercontent.com/52661249/75966015-ae23d500-5eef-11ea-9ec8-95f25e9efc6c.gif)

### Update [Required]
The button should not be clicked when screen bottom is clicked.

[2020-03-05 09:16] pknotfound commented on #1372
@sunjunkie @m-murad @isabelcosta
May I work on this issue?
The pointer position is where the screen is touched.

[2020-03-05 09:59] pknotfound opened #1373 "Enhancing User Experience on StoreActivity"
## Description
In the current StoreActivity, if the user selects hair, clothes or accessories, the respective buttons do not show any activity.
It would be good if the user knows what they have selected.

## Mocks

##Before
![before](https://user-images.githubusercontent.com/52661249/75970138-ef1ee800-5ef5-11ea-9db3-0fb4567141be.gif)

##After
![WhatsApp Video 2020-03-07 at 4 55 53 AM (1)](https://

[2020-03-05 09:59] pknotfound commented on #1373
@m-murad @sunjunkie @isabelcosta
May I work on this issue?

[2020-03-05 12:38] pknotfound commented on #1369
@therealsanjeev Hello, have you taken up this issue?

[2020-03-05 13:04] therealsanjeev commented on #1369
@Priyansh-Kedia yes bro, before that I want to confirm this issue by mentor'S. any mentor, whenever you feel free please look into this :)

[2020-03-05 13:08] pknotfound commented on #1369
Alright.
All the best.

[2020-03-05 19:51] pknotfound opened #1374 "Time lag on press of home button in AboutActivity"
## Description
On the press of home button in AboutActivity, there is a lag of a short time before it opens another acitivty.

## Mocks
![WhatsApp Video 2020-03-06 at 1 13 45 AM](https://user-images.githubusercontent.com/52661249/76020031-b52b0180-5f48-11ea-9599-c8d47f43129f.gif)

## Acceptance Criteria
### Update [Required]
There should be no delay on click of home button

[2020-03-05 19:52] pknotfound commented on #1374
@sunjunkie @m-murad @isabelcosta May I work on this?

[2020-03-05 22:52] isabelcosta opened #1375 "Add couple of images from app to the README"
## Description
As a contributor,
I need README with few images,
so that I can get a feel of what the app is about.

I suggest uploading few images from the current app screen on this issue comments, and then add the links to these files on the README, so it can be rendered and make it more appealing to new contributors. I really feel this can make people understand a bit more about the project bef

[2020-03-06 01:09] tonythetiger323 commented on #1375
I can take care of it

[2020-03-06 07:56] therealsanjeev commented on #1375
![Screenshot_1583480625](https://user-images.githubusercontent.com/40147174/76063333-885d0580-5fad-11ea-9e39-ebf5981dde38.png)
![Screenshot_1583480633](https://user-images.githubusercontent.com/40147174/76063339-8a26c900-5fad-11ea-91d9-cec0d388772f.png)
![Screenshot_1583480643](https://user-images.githubusercontent.com/40147174/76063341-8b57f600-5fad-11ea-82d5-06ce8f7d6716.png)
![Screenshot_158348

[2020-03-06 08:19] therealsanjeev commented on #1375
@isabelcosta check my pull request, i hope this is enough images :)

[2020-03-06 10:19] Scienticious commented on #989
@geekanamika I have solved this issue, could you assign this issue to me

[2020-03-06 18:27] isabelcosta commented on #1372
@Priyansh-Kedia I don't quite understand your issue. Can you elaborate?
Also, i am not an active maintainer for this project, but I can try to help you get this issue more clear.

[2020-03-06 18:28] pknotfound commented on #1372
@isabelcosta The load game button can be clicked even if the bottom of the screen is touched.

The pointer position shows the location of touch in the above gif.
Thanks

[2020-03-06 19:01] pknotfound commented on #1372
@isabelcosta Could you also please tell me the maintainers for this project?
It would a big help.
Thanks.

[2020-03-06 21:02] isabelcosta commented on #1113
@devanshi7799 i will close this issue as there is nothing to be done. I did this is shown in this comment https://github.com/anitab-org/powerup-android/issues/1113#issuecomment-565189803

Can you find other issues to work on? We can help you if you need.

[2020-03-06 21:02] #1113 closed

[2020-03-07 04:56] devanshi7799 commented on #989
@mayburgos Can you assign this to me now?

[2020-03-07 05:01] devanshi7799 commented on #1375
@isabelcosta if this issue is open i would like to work on this

[2020-03-07 05:03] devanshi7799 commented on #1373
i would also like to work on this one if available

[2020-03-07 06:31] Priyansh-Kedia commented on #1373
Hey @devanshi7799, I am waiting for approval on this issue.
I will try to send a PR as soon as it gets approved.

[2020-03-07 06:32] pknotfound commented on #1373
Hey @devanshi7799, I am actually waiting for approval on this issue.

[2020-03-07 13:02] isabelcosta opened #1377 "Add Contact section on README"
## Description

As a contributor,
I need to know where I can reach out to the community,
so that I can discuss or see discussions of this project.

I would suggest adding a section such as "Contact us" or "How to reach us" to the README.
An example is what is on [mentorship-backend README](https://github.com/anitab-org/mentorship-backend/).

## Acceptance Criteria
### Update [Required]
- [ ] Add c

[2020-03-07 15:38] prince-09 commented on #1374
can i work on this?

[2020-03-08 07:08] Mehulipal commented on #1377
Can I work on this issue?

[2020-03-08 08:18] Mehulipal commented on #1365
May I work on this issue?

[2020-03-08 08:27] Mehulipal commented on #1366
May I work on this issue?

[2020-03-08 08:40] PaRaDoX50 commented on #1366
May I send the PR because I have a fix ready and tested.

[2020-03-08 08:42] Mehulipal commented on #1304
Can I work on this issue?

[2020-03-08 08:46] Mehulipal commented on #1344
May I work on this issue?

[2020-03-08 09:45] Mehulipal commented on #1302
May I work on this issue?

[2020-03-08 09:52] Mehulipal commented on #1301
Can I work on this issue?

[2020-03-08 09:53] Mehulipal commented on #1300
Can I work on this issue?

[2020-03-08 10:11] Mehulipal commented on #697
May I work on this issue?

[2020-03-08 10:13] Mehulipal commented on #545
May I work on this issue?

[2020-03-08 10:15] Mehulipal commented on #875
May I work on this issue?

[2020-03-08 10:29] Mehulipal commented on #988
May I work on this issue?

[2020-03-09 04:20] 7phalange7 commented on #1377
I would like to work on this issue

[2020-03-09 04:23] 7phalange7 commented on #1375
@isabelcosta if this issue is still open I would like to work on it

[2020-03-09 04:53] rohitg00 commented on #1377
I want to work on this issue.

[2020-03-09 06:24] AneshkaGoyal commented on #1377
Hey @isabelcosta ...I would like to work on this issue

[2020-03-09 06:38] devanshi7799 commented on #1377
@isabelcosta i would like to work on this issue

[2020-03-09 06:43] devanshi7799 commented on #697
@mayburgos can you assign this issue to me?

[2020-03-09 06:59] AneshkaGoyal commented on #1375
Hey @isabelcosta ....If not taken yet I wuld like to work on it

[2020-03-09 07:20] faiz276482 commented on #1377
@isabelcosta  please check my pull request. I have made the necessary changes as mentioned by you in the issue Description.

[2020-03-09 09:48] isabelcosta commented on #1377
@Mehulipal you can work on this :) Please send a PR for this issue.

[2020-03-09 10:05] faiz276482 commented on #1375
Hey @isabelcosta, If this is still available may I work on this?

[2020-03-09 11:57] faiz276482 opened #1380 "Adding Bought text on StoreActivity"
## Description
As a user, after buying a certain item in StoreActivity the textview still shows the "buy" option. Even though we cannot repurchase the same item. It would be nice if we could see the text changed to "bought" on the item that has already been bought by the user.

## Mocks

![updates](https://user-images.githubusercontent.com/36734679/76211961-683b7980-622d-11ea-8656-8cf9ccf69142.gif

[2020-03-09 12:22] faiz276482 commented on #1380
@isabelcosta may I work on this issue?

[2020-03-09 14:46] aditmehta9 commented on #1380
@isabelcosta @mayburgos can I work on this issue??

[2020-03-09 14:47] aditmehta9 commented on #1375
@isabelcosta @mayburgos can I work on this issue??

[2020-03-09 14:48] aditmehta9 commented on #1347
@isabelcosta @mayburgos @Rimjhim28  can I work on this issue??

[2020-03-09 14:51] aditmehta9 commented on #1304
@isabelcosta @mayburgos @Rimjhim28  can I work on this issue??

[2020-03-09 14:55] aditmehta9 commented on #989
@isabelcosta @mayburgos @Rimjhim28  can I work on this issue??

[2020-03-09 14:56] aditmehta9 commented on #975
@isabelcosta @mayburgos @Rimjhim28  can I work on this issue??

[2020-03-09 15:09] aditmehta9 commented on #875
@isabelcosta @mayburgos @Rimjhim28  can I work on this issue??

[2020-03-09 15:31] aditmehta9 commented on #545
@isabelcosta @mayburgos @Rimjhim28  can I work on this issue??

[2020-03-09 16:03] isabelcosta commented on #1365
@7phalange7 consider it assigned to you.

[2020-03-09 17:19] sammy1997 commented on #1374
@Priyansh-Kedia I have assigned this to you. But can you discuss a bit about how you want to solve this?

[2020-03-09 17:19] sammy1997 commented on #1374
@prince-09 As @Priyansh-Kedia commented first, I have allotted the issue to him

[2020-03-09 17:24] sammy1997 commented on #1380
It seems like a valid enhancement! I think you should do something like OWNED or something! @Rimjhim28 @isabelcosta What do you think?

[2020-03-09 18:22] pknotfound commented on #1374
I will change the click function
Currently only finish() is used
I will be using finish() along with passing the activity it has to go to.

[2020-03-09 18:25] sammy1997 commented on #1374
Ok. Go ahead with the PR!

[2020-03-09 18:26] pknotfound commented on #1374
Thanks

[2020-03-09 19:06] pknotfound commented on #1374
@sammy1997
This is the PR https://github.com/anitab-org/powerup-android/pull/1382#issue-385766616
Please review

[2020-03-09 19:14] pknotfound commented on #1352
@m-murad May I work on this?

[2020-03-09 19:27] faiz276482 commented on #1380
I am waiting myself for the mentor's validation to work on this issue.

[2020-03-09 19:28] faiz276482 commented on #1380
Yes "owned" also seems a viable option. Thanks mate!

[2020-03-09 21:21] Mehulipal commented on #1375
@isabelcosta @mayburgos may I work on this issue??

[2020-03-09 21:23] Mehulipal commented on #1363
@vold-la  May I work on this issue?

[2020-03-09 21:24] Mehulipal commented on #1363
May I work on this issue?

[2020-03-09 22:19] HashemAlhariry commented on #1375
@isabelcosta can i work on this issue?

[2020-03-09 22:40] HashemAlhariry opened #1384 "Improve font in the about page"
## Description
As a user i need a bigger font to so that i can understand what is written ,
I need to update the text style and text size,

## Mocks
![first](https://user-images.githubusercontent.com/45319166/76263448-976edc80-6267-11ea-86ba-0cdfe0f592bd.PNG)

[2020-03-09 22:48] HashemAlhariry opened #1385 "The application doesn't rotate on rotating the phone"
## Description
As a user when i rotate the phone i need the application to rotate with it,
so that I can rotate it freely.

## Mocks
![Second](https://user-images.githubusercontent.com/45319166/76263843-aa35e100-6268-11ea-8df9-6aa7a38f6eb4.PNG)

![first](https://user-images.githubusercontent.com/45319166/76263853-b02bc200-6268-11ea-8b4c-05a9252033e8.PNG)

[2020-03-10 06:40] faiz276482 commented on #1385
Yes, this seems to be a valid issue according to me.
What do you all think @isabelcosta @Rimjhim28 @mayburgos ?

[2020-03-10 07:38] HashemAlhariry commented on #1385
Can I work on this? @faiz276482

[2020-03-10 07:41] faiz276482 commented on #1385
@HashemAlhariry I am not a maintainer/mentor. I have tagged them in my comment so that they could approve it for you.

[2020-03-10 13:54] mayburgos commented on #1375
Please stop spamming the issues. If 2 or 3 people already commented with "Can/May I work on this issue?" Please move on to another open issue or debug the app and look for bugs that you can create new issues with using our template.

If you are applying to GSoC, this is a bad first impression if you continue to copy paste the same "May I work on this issue?" comment on every issue. Many of us rece

[2020-03-10 19:40] devanshi7799 commented on #1384
If approved and available i would like to work on it

[2020-03-10 19:46] HashemAlhariry commented on #1384
@devanshi7799 i'm waiting for approval to work on it

[2020-03-12 13:56] Mehulipal commented on #1303
Can I work on this issue?

[2020-03-12 17:15] aditmehta9 opened #1386 "Adding dialog box when back button is clicked"
## Description
As a user, I need a dialog box, so that I can use it as confirmation for exiting when the back button is clicked.

## Mocks
![Screenshot (21)](https://user-images.githubusercontent.com/35133994/76547077-9aa9d880-64b2-11ea-8e9e-3929b6af3951.png)

## Acceptance Criteria
### Update [Required]
- [ ] Addition of dialog box asking confirmation to exit the game when the back button is clic

[2020-03-12 17:16] aditmehta9 commented on #1386
@sunjunkie @isabelcosta @mayburgos @Rimjhim28 Please look after the issue. Can I work on this issue?

[2020-03-12 17:43] aditmehta9 opened #1387 "Adding option in app to rate app"
## Description
As a user, I need to rate app functionality from app, so that I can rate app.

## Mocks
![image](https://user-images.githubusercontent.com/35133994/76549605-c0d17780-64b6-11ea-9518-6a5c74c528e3.png)

## Acceptance Criteria
### Update [Required]
- [ ] Adding option to rate app which leads to playstore

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approva

[2020-03-12 17:43] aditmehta9 commented on #1387
@sunjunkie @isabelcosta @mayburgos @Rimjhim28 Please look after the issue. Can I work on this issue?

[2020-03-12 17:50] aditmehta9 opened #1388 "Adding option to share app download link to friends"
## Description
As a user, I need the option to share the app link through the app, so that I can share the app.

## Mocks
![image](https://user-images.githubusercontent.com/35133994/76550327-f9be1c00-64b7-11ea-8711-232e1bc70d40.png)

## Acceptance Criteria
### Update [Required]
- [ ] Addition of option in app after splash activity to share app.

## Definition of Done
- [ ] All of the required item

[2020-03-12 17:51] aditmehta9 commented on #1388
@sunjunkie @isabelcosta @mayburgos @Rimjhim28 Please look after the issue. Can I work on this issue?

[2020-03-12 21:15] sunjunkie commented on #697
@devanshi7799 you can work on this issue.

[2020-03-13 07:42] aditmehta9 commented on #1317
@Rimjhim28 @mayburgos @isabelcosta Can I work on this issue?

[2020-03-13 08:31] therealsanjeev commented on #1132
@mayburgos ma'am, if you want, can I work on this because of devanshi not done in the estimated time?

[2020-03-13 09:34] aditmehta9 opened #1389 "Clothes blocking the view of BUY option making UI not good"
## Description
As a user, I need to see the BUY option properly, so that I can see clothes and BUY options properly.

## Mocks
![Screenshot_2020-03-13-13-18-53-889_powerup systers com powerup](https://user-images.githubusercontent.com/35133994/76608453-a2fa2600-653b-11ea-841d-0e131bb88e31.png)
![Screenshot_2020-03-13-13-19-10-082_powerup systers com powerup](https://user-images.githubusercontent.c

[2020-03-13 09:34] #1384 closed, assigned to nobody

[2020-03-13 09:34] aditmehta9 commented on #1389
@mayburgos @isabelcosta @sunjunkie @Rimjhim28 Can I work on this issue?

[2020-03-13 10:04] therealsanjeev commented on #697
@sunjunkie could you please gimme a chance, I'm very excited about my first PR. devanshi's estimated time is over now, that's why I'm asking for this PR :)

[2020-03-13 19:08] rishab0409 opened #1391 "The UI is not responsive in smaller size phones due to wrong layouts and its assigned constraints"
## Description
In many activities proper layouts are not used and the constraints are not set for optimal working on all screen sizes causing UI abnormalities in many activities.Also their are many layouts error which can cause "lint" failures.

@mayburgos @isabelcosta @sunjunkie @Rimjhim28 . Can i start working on these issues?

## Mocks

![error2](https://user-images.githubusercontent.com/489175

[2020-03-14 10:37] #1377 closed, assigned to Mehulipal

[2020-03-14 18:22] Mehulipal opened #1392 "Adding button press effect to Continue Button"
## Description
As a user,
I need to have the button press effect on pressing the continue button,
so that I can have better experience of using the application.

## Mocks
### Before
![ezgif-3-0f0baa004222](https://user-images.githubusercontent.com/54908756/76687668-2efb7300-664c-11ea-9fd9-6e32a4a96513.gif)
### After
![ezgif-3-4f32f544f5d9m](https://user-images.githubusercontent.com/54908756/766879

[2020-03-14 18:23] Mehulipal commented on #1392
@isabelcosta @sunjunkie May I work on this issue?

[2020-03-15 06:15] 7phalange7 opened #1393 "Powers do not reset on replaying."
## Description
The **Powers** (4 progress bars)  **should** reset to the previous state on clicking _replay_ or _going to map_ mid-scenario. **But instead**, they save state and increase from that state on replaying.

## Mocks
![ezgif-1-b4560678eda6](https://user-images.githubusercontent.com/54908857/76696217-03f63b00-66af-11ea-9788-db9b901f7d96.gif)
_Issue GIF for clicking replay_

![ezgif-1-f7a0

[2020-03-15 06:15] 7phalange7 commented on #1393
I would like to work on this issue.  @sunjunkie @Rimjhim28 @isabelcosta

_I would go about solving the problem in the following way_: The Karma points do reset on replaying or going to map mid-scenario. They do this by maintaining total points and current scene points and on replay, they subtract current scene points from total points. If there is a current-progress variable for the progress bar w

[2020-03-15 08:41] aditmehta9 opened #1394 "When presses replay button karma points addition isn't correct and adds power karma points"
## Description
As a user, I need to reset karma points count properly so that I can use karma points correctly.

## Mocks
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/35133994/76698215-33647200-66c6-11ea-8d48-e999079c0474.gif)

## Acceptance Criteria
### Update [Required]
- [ ] Update karma points to (whole new + previous points) when the user plays reset button, while in th

[2020-03-15 08:42] aditmehta9 commented on #1394
@sunjunkie  @Rimjhim28  @isabelcosta @mayburgos  Can I work on this issue?

[2020-03-15 09:14] Mehulipal opened #1395 "Changing 'hair' to 'Hair' in strings.xml file"
## Description
As a user,
I need to have uniformity in syntax (as in case of 'Skin', 'Eyes', 'Cloth' in Create New Avatar screen),
so that I can have better experience of creating new avatar.

## Mocks
### Before
![bef](https://user-images.githubusercontent.com/54908756/76698631-7117c980-66cb-11ea-8d0b-602047f01a6e.jpg)

### After
![aft1](https://user-images.githubusercontent.com/54908756/76698628

[2020-03-15 09:16] Mehulipal commented on #1395
@isabelcosta @sunjunkie @mayburgos May I work on this issue?

[2020-03-15 10:38] Mehulipal opened #1396 "Enhancement of Library Scene"
## Description
As a user,
I need to have:
1. 'LIBRARY' written clearly in the library scenario game
2. The 'avatar to the right' should be placed properly 'behind the table'
so that I can have better experience of library scenario game.

## Mocks
![library](https://user-images.githubusercontent.com/54908756/76699681-f2745980-66d5-11ea-9ec8-eb9242d9eb05.jpg)

## Acceptance Criteria
### Update [Requ

[2020-03-15 11:29] Mehulipal commented on #1396
@isabelcosta @sunjunkie @mayburgos May I work on this issue?

[2020-03-15 11:34] Mehulipal opened #1397 "Adding button press effect to Replay Button"
## Description
As a user,
I need to have the button press effect on pressing the replay button,
so that I can have better experience of using the application.

## Mocks

![Replay](https://user-images.githubusercontent.com/54908756/76700580-efca3200-66de-11ea-8540-a5e41c619153.gif)

## Acceptance Criteria
### Update [Required]
- [ ] Add button press effect to Replay Button

## Definition of Done
-

[2020-03-15 11:35] Mehulipal commented on #1397
@isabelcosta @sunjunkie @mayburgos May I work on this issue?

[2020-03-15 11:40] Mehulipal opened #1398 "Adding button press effect to Map Button"
## Description
As a user,
I need to have the button press effect on pressing the map button,
so that I can have better experience of using the application.

## Mocks

![Map](https://user-images.githubusercontent.com/54908756/76700671-d4abf200-66df-11ea-8376-51a015f322ef.gif)

## Acceptance Criteria
### Update [Required]
- [ ] Add button press effect to Map Button

## Definition of Done
- [ ] All o

[2020-03-15 11:43] Mehulipal commented on #1398
@isabelcosta @sunjunkie @mayburgos May I work on this issue?

[2020-03-15 12:43] isabelcosta opened #1399 "Remove references to Systers on generate-apks.sh script"
## Description

apk is not being generated for the app. I suspect this is because the travis slug has not changed to anitab.org yet on `generate-apks.sh` script.

With so many commits to `develop` branch in the past months, I found it strange that the last apk was generated 13 months ago.

Not sure if this would fix it, but it still has to be changed.

## Acceptance Criteria
### Update [Required]

[2020-03-15 16:25] Mehulipal opened #1400 "Making Accessories in Store Scene visible"
## Description
As a user,
I need the accessories to be visible,
so that I can have better experience in Store scene of the application.

## Mocks
### Before
![sob](https://user-images.githubusercontent.com/54908756/76705646-9d513b80-6707-11ea-8660-5c7f40e59e6a.jpg)

### After
![soa](https://user-images.githubusercontent.com/54908756/76705654-a80bd080-6707-11ea-849c-9201b27f2b9b.jpg)

## Acceptance

[2020-03-15 16:26] Mehulipal commented on #1400
@isabelcosta @sunjunkie @mayburgos May I work on this issue?

[2020-03-15 18:10] Murtaza-Ali-2990 opened #1401 "Karma points are reset when game is restarted."
## Description
As a user,
I need to have my karma points saved when I restart the application and load the game,
so that I can have previously collected karma points and can use them.

## Mocks
![TEST](https://github.com/Murtaza-Ali-2990/powerup-android-material/blob/master/resources/Screenrecorder-2020-03-15-18-52.GIF?raw=true)

## Acceptance Criteria
### Update [Required]
- [ ] Save the previous

[2020-03-15 18:14] Murtaza-Ali-2990 commented on #1401
@isabelcosta @sunjunkie @mayburgos @Rimjhim28  May I work on this issue?

[2020-03-15 18:23] Mehulipal commented on #1399
@isabelcosta May I work on this issue?

[2020-03-15 20:01] Murtaza-Ali-2990 opened #1402 "Buying previously bought items."
## Description
As a user,
I need to purchase every item only once,
so that I can make efficient use of the karma points.

## Mocks
![](https://github.com/Murtaza-Ali-2990/powerup-android-material/blob/master/resources/Screenshot_2020-03-15-19-43-56-792_powerup.systers.com.powerup.jpeg?raw=true)

## Acceptance Criteria
### Update [Required]
- [ ] Create a list of already bought items so the user do

[2020-03-15 20:11] therealsanjeev commented on #1399
@isabelcosta ma'am could do this issue, I'm very excited about my first contribution in open source.
if want this would be my first contribution ma'am :)

[2020-03-15 20:58] isabelcosta commented on #1399
@Mehulipal I see you committed before to this repository and this issue is for first timers contributors to it. So could you please select other issue?

[2020-03-15 23:14] Mehulipal opened #1403 "Adding Counting Animation to final Score of game"
## Description
As a user,
I need to see animation while viewing my final score,
so that I can have better experience of visualizing game end results.

## Mocks
### Before
![someb](https://user-images.githubusercontent.com/54908756/76712566-25ebce00-6740-11ea-8913-e450fc26bcef.gif)

### After
![somea](https://user-images.githubusercontent.com/54908756/76712585-49167d80-6740-11ea-878d-d30b0994434b.g

[2020-03-15 23:15] Mehulipal commented on #1403
@isabelcosta @sunjunkie @mayburgos @Rimjhim28 May I work on this issue?

[2020-03-16 00:01] Mehulipal opened #1404 "Fixing Zero karma point error"
## Description
As a user,
I need to see 'Better Luck Next Time' when I score zero karma point,
so that I do not feel demotivated on scoring low.

## Mocks
![Screenshot_20200316_050859_powerup systers com powerup](https://user-images.githubusercontent.com/54908756/76713479-d8269400-6746-11ea-8721-b5d59ddd559c.jpg)

## Acceptance Criteria
### Update [Required]
- [ ] In AlertDialog, 'Hooray! You gain

[2020-03-16 00:02] Mehulipal commented on #1404
@isabelcosta @sunjunkie @mayburgos @Rimjhim28 May I work on this issue?

[2020-03-16 00:09] Mehulipal opened #1405 "Enhancing UI of Game Completed scenario"
## Description
As a user,
I need to visualize a grand game completion page,
so that I become satisfied on my achievement of game completion.

## Mocks
![Screenshot_20200316_051200_powerup systers com powerup](https://user-images.githubusercontent.com/54908756/76713585-a5c96680-6747-11ea-8d95-976b01f8fff0.jpg)

## Acceptance Criteria
### Update [Required]
- [ ] To enhance UI of Game Completed scena

[2020-03-16 00:10] Mehulipal commented on #1405
@isabelcosta @sunjunkie @mayburgos @Rimjhim28 May I work on this issue?

[2020-03-16 04:54] 7phalange7 commented on #1399
@isabelcosta  May I work on this issue?

[2020-03-16 06:32] aditmehta9 opened #1406 "Enhancement of Library Scene in Level 2"
## Description
As a user, I need The 'avatar to the right' should be placed properly 'behind the table' so that I can have a better experience of library scenario game,
so that I can experience good UI.

## Mocks
![image](https://user-images.githubusercontent.com/35133994/76728514-ea232980-677c-11ea-8af3-52ebdb377a47.png)

## Acceptance Criteria
### Update [Required]
- [ ] The 'avatar to the right

[2020-03-16 06:32] aditmehta9 opened #1407 "Enhancement of Hospital Scene in Level 2"
## Description
As a user, I need The 'avatar to the right' should be placed properly 'on the floor' so that I can have a better experience of hospital scenario game,
so that I can experience good UI.

## Mocks
![image](https://user-images.githubusercontent.com/35133994/76728625-44bc8580-677d-11ea-905e-b1e504d640aa.png)

## Acceptance Criteria
### Update [Required]
- [ ] The 'avatar to the right' s

[2020-03-16 06:33] aditmehta9 commented on #1407
@isabelcosta @sunjunkie @mayburgos May I work on this issue?

[2020-03-16 06:33] aditmehta9 commented on #1406
@isabelcosta @sunjunkie @mayburgos May I work on this issue?

[2020-03-16 06:34] aditmehta9 opened #1408 "Bug in using accessories after purchasing"
## Description
As a user,
I need to see the accessories while playing scenario so that I can experience good UI and have to purpose for purchasing accessories.

## Mocks
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/35133994/76728908-eb088b00-677d-11ea-80f8-4ed24afb539c.gif)

## Acceptance Criteria
### Update [Required]
- [ ] Update in the character UI while playing scenar

[2020-03-16 06:34] aditmehta9 commented on #1408
@isabelcosta @sunjunkie @mayburgos May I work on this issue?

[2020-03-16 12:31] sarthaksarm opened #1409 "Enhancement in UI by customizing with animated Buttons"
### Description

As a user,
I need to view buttons with some kind of animation on click,
so that I can have better experience of interactiveness with UI of app

### Mocks
Before
![powerup_game](https://user-images.githubusercontent.com/37181902/76758073-ee683a80-67ae-11ea-8654-2123f4faa064.jpeg)

After customizing normal buttons, like this, onclick animation could be felt by touch.

### Acceptance

[2020-03-16 12:32] sarthaksarm commented on #1409
@isabelcosta @sunjunkie  @mayburgos  May I work on this issue?

[2020-03-16 14:18] Mehulipal commented on #1399
Sure, Ma'am. Thank you so much for your response.

[2020-03-17 17:41] therealsanjeev commented on #697
@sunjunkie can I do this?

[2020-03-17 22:35] Becca-Saka commented on #1409
@isabelcosta @sunjunkie @mayburgos Can I work on this issue?

[2020-03-18 13:01] Mehulipal commented on #1399
@isabelcosta @sunjunkie
I have commented on many open issues with no PRs to them. Could you please check and give me a response in them. Thanks.

[2020-03-18 13:15] isabelcosta commented on #1399
@7phalange7 sure :) I will assign this to you.

[2020-03-18 13:18] isabelcosta commented on #1399
@Mehulipal this GSoC season everyone is commenting everywhere, so it is a bit hard keeping up with everything. So we may take some time to respond to everyone.
I think you are interested in applying to GSoC, right? If thats the case, can you please focus on your proposal? We do not require you to submit PRs and solve issues as part of your application. So if you could focus on that instead of the

[2020-03-19 20:16] pknotfound opened #1410 "No response in store activity if Karma points are zero."
## Description
There is no feedback if karma points are zero in the StoreActivity

## Mocks

![WhatsApp Video 2020-03-20 at 1 34 49 AM](https://user-images.githubusercontent.com/52661249/77111034-98182780-6a4c-11ea-994c-b4149867bbb6.gif)

### Acceptance Criteria

## Update [Required]
The user should be shown a prompt that they do not have karma points left.

[2020-03-19 20:22] pknotfound commented on #1410
@m-murad May I work on this issue?
Although this kind of issue has been raised [before](https://github.com/anitab-org/powerup-android/issues/1014#issue-300028728) and was closed.

I think that graying the items is not quite clear and the user should be explicitly told about the Karma points.

Please review.

[2020-03-20 08:15] Mehulipal commented on #1399
@isabelcosta  Thank you so much for your response. I will keep your words in mind and will certainly follow them. Thanks again :)

[2020-03-20 17:57] #1399 closed, assigned to 7phalange7

[2020-03-22 09:48] justdvnsh commented on #1388
Hi , I've created a pull request to this issue . Pull request #1412. Please look into it. Thanks.

[2020-03-22 10:21] aditmehta9 commented on #1388
Hey, Divyansh I have been waiting to be assigned by mentors for this issue. In many issues, students are asking to get assigned by a mentor. You have to first ask mentor to work on that issue. See in issue I have asked. Please follow the contribution guidelines.

[2020-03-24 10:55] pknotfound opened #1413 "Enhancing User Experience in AvatarRoomActivity"
## Description
The current avatar room does not show button clicks.
This would be helpful in enhancing user experience.

## Mocks
## Before
![WhatsApp Video 2020-03-24 at 4 21 51 PM](https://user-images.githubusercontent.com/52661249/77417957-31985e00-6dec-11ea-8c0b-0a723a6e468c.gif)

## After
![WhatsApp Video 2020-03-24 at 4 19 00 PM](https://user-images.githubusercontent.com/52661249/77417730-cd

[2020-03-24 10:57] pknotfound commented on #1413
@m-murad @mayburgos
May I work on this issue?

[2020-03-24 11:18] pknotfound opened #1414 "Karma points do not add if Ok is not pressed after full power"
## Description
The Karma Points do not add up if the user clicks elsewhere from the ok button after getting full power

## Mocks
![WhatsApp Video 2020-03-24 at 4 44 06 PM](https://user-images.githubusercontent.com/52661249/77419834-0d8a4c00-6def-11ea-8f4c-609ad9e1dd03.gif)

### Update [Required]
Karma Points should add even if the user clicks elsewhere.

[2020-03-24 11:19] pknotfound commented on #1414
@m-murad
May I work on this issue?

[2020-03-25 06:52] nandini45 commented on #1405
@isabelcosta @mayburgos  can  i work on this issue?

[2020-03-25 06:54] nandini45 commented on #1396
can i work on this issue?

[2020-03-27 20:39] Mehulipal commented on #1405
@nandini45 I am already waiting for approval.

[2020-03-27 20:39] Mehulipal commented on #1396
@nandini45 I am already waiting for approval.

[2020-04-03 13:35] sidvenu opened #1415 "Consistency of Wiki Sidebar across Android and iOS repositories"
## Description
As a contributor,
I need a consistent wiki sidebar across Android and iOS repositories
so that I can get acquainted with the project easily.

## Acceptance Criteria
Update the Android wiki sidebar to a commonly agreed layout

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2020-04-03 13:42] pknotfound commented on #1415
@sidvenu
Will you be working on this issue for Android?

[2020-04-03 13:46] sidvenu commented on #1415
Priyansh, before that maintainers will need to approve this issue, and we will need to discuss about a common layout on Zulip before anyone starts to make changes.

[2020-04-03 13:52] pknotfound commented on #1415
@sidvenu
Yes, I am aware about that.
I would also work on this with you as I think that it is a necessary thing to be done.
Thanks

[2020-04-03 13:54] sidvenu commented on #1415
Awesome! Let's have the discussion in Zulip.

[2020-04-03 14:56] sidvenu commented on #1415
Closing this issue as sidebar already follows [this](https://docs.google.com/document/d/1h53P1h5g9hWEUsnOhpl9PgVzbWEGhTMIP2Pyta-MYSA/edit) template.

[2020-04-03 14:56] #1415 closed, assigned to nobody

[2020-04-04 06:36] devanshi7799 commented on #1413
I would also like to work on this if approved

[2020-04-04 07:06] sidvenu commented on #1333
@mayburgos @isabelcosta @sunjunkie Can I work on this issue?

[2020-04-04 09:58] pknotfound commented on #1413
Hey @devanshi7799
I am actually waiting for approval on this issue.

[2020-04-07 08:46] HaripriyaB commented on #1414
Can I work on this??

[2020-04-07 08:47] pknotfound commented on #1414
Hey @HaripriyaB
I am actually waiting for approval on this issue.
As the mentors are busy with the proposals, I could not get any reviews on this issue.

Thanks.

[2020-04-07 08:49] HaripriyaB commented on #1402
Is this issue still on? can I work on it? @mayburgos @isabelcosta @sunjunkie

[2020-04-07 09:45] HaripriyaB commented on #1389
Can I work on this as well? @mayburgos @isabelcosta

[2020-04-07 09:50] aditmehta9 commented on #1389
I have already asked mentors for assigning me this issue. Please ask for another issue.

[2020-04-07 10:09] isabelcosta commented on #1389
I am not an active maintainer so I don't know what this takes in terms of complexity, but the issue seems appropriate :) @aditmehta9 I will assign this to you since you haven't had a response for so long. Thank you for waiting for approval.

[2020-04-07 10:27] aditmehta9 commented on #1389
@isabelcosta Thanks for assigning. I will start working on it.

[2020-04-07 18:34] aditmehta9 commented on #1389
There is a problem while fixing this issue. If I resize the dress then in the store it is fixed but in avatar dress size is inappropriate. So I want to ask should I use the dress displayed in the store one image and another dress image for the avatar. Or there is another approach please guide me, mentors. I am not tagging any mentors currently because lots of mentors are busy right now. Please gui

[2020-04-07 18:37] isabelcosta commented on #1389
Right now I don't have an answer for this, but I would advise you to reach out to our Zulip community. What do you think?

[2020-04-07 18:37] pknotfound commented on #1389
I think if you use srcCompat that might fix

[2020-04-07 18:38] pknotfound commented on #1389
It can be used to auto size the image to fit the dimensions
It might help

[2020-04-07 18:38] aditmehta9 commented on #1389
Sure will do

[2020-04-07 18:38] aditmehta9 commented on #1389
Thanks I will do that.

[2020-04-07 19:01] aditmehta9 commented on #1389
No, it won't work that way because images aren't called in the XML file. In addition, srcCompat are resize images runtime. Anyways, thanks for the help.

[2020-04-07 19:24] pknotfound commented on #1389
What do you mean by calling XML Files?

[2020-04-07 19:33] aditmehta9 commented on #1389
Layout files

[2020-04-07 19:40] pknotfound commented on #1389
Yes the images are fetched in the XML files, but they are rendered into the XML only.
All you could do is change the particular card in which the images are being rendered.

[2020-04-07 19:42] aditmehta9 commented on #1389
Yes, I will see it.

[2020-04-12 19:47] sammy1997 commented on #1388
Hey Adit. I don't think the app is there on Playstore. I am not sure how this app is distributed at the moment. What exactly do you want to share as a download link? The debug apk? I don't think that's a good idea

[2020-04-12 19:48] sammy1997 commented on #1386
Doesn't a back press from this screen exit the app?

[2020-04-12 19:50] sammy1997 commented on #1387
Again, I don't think the app is on play store. So app ratings don't make sense. Closing this one for the moment!

[2020-04-12 19:52] sammy1997 commented on #1406
Seems like a valid issue

[2020-04-12 19:52] sammy1997 commented on #1406
Assigned to you

[2020-04-12 19:55] aditmehta9 commented on #1388
Sir. I wanted to share the link of the PlayStore of this app to download Here is the link https://play.google.com/store/apps/details?id=powerup.zealtech.com.powerup&hl=en it is in playstore maybe not officially uploaded by AnitaB.org. So maybe this issue can be kept for later when it officially uploaded.

[2020-04-12 19:55] sammy1997 commented on #1407
I am closing this issue. Please edit #1406 and add this change to it as these changes are mostly similar!!

[2020-04-12 19:55] #1407 closed, assigned to nobody

[2020-04-12 19:55] aditmehta9 commented on #1386
Yes, Sir, that is also possible.

[2020-04-12 19:56] aditmehta9 commented on #1387
@sammy1997 Sir, here is the link https://play.google.com/store/apps/details?id=powerup.zealtech.com.powerup&hl=en it is in playstore maybe not officially uploaded by AnitaB.org.

[2020-04-12 19:58] sammy1997 commented on #1394
Approving the issue, but as you are already assigned to 2 issues, I am making this available for others.

[2020-04-12 20:01] aditmehta9 commented on #1407
Ok sir.

[2020-04-12 20:01] aditmehta9 commented on #1406
Yes Sir.

[2020-04-12 20:01] sammy1997 commented on #1408
Approving this and making this available

[2020-04-12 20:19] sammy1997 commented on #1410
I agree with @Priyansh-Kedia  here. This creates a bad UX. We should add a toast or snackbar or a dialog. @m-murad @isabelcosta views?

[2020-04-12 20:22] sammy1997 commented on #1413
It looks like a good enhancement. Approving and assigning it to you @Priyansh-Kedia

[2020-04-12 20:24] sammy1997 commented on #1414
Valid issue. Approving this and assigning this to you @Priyansh-Kedia

[2020-04-12 20:39] devanshi7799 commented on #1394
@sammy i would like to work on this one

[2020-04-12 20:45] devanshi7799 commented on #1344
@sammy1997  can i work on this one now? :))

[2020-04-12 20:48] devanshi7799 commented on #989
@sammy1997  can i work on this one now? :))

[2020-04-13 03:32] vold-la commented on #1394
@sammy1997  Can i work on this?

[2020-04-13 12:47] #1348 closed, assigned to moksh-mahajan

[2020-04-13 13:07] pknotfound commented on #1373
@sammy1997
May I work on this issue?

[2020-04-13 13:07] #1370 closed, assigned to pknotfound

[2020-04-13 13:10] #1365 closed, assigned to 7phalange7

[2020-04-13 19:14] HaripriyaB commented on #1408
Can I work on this?Coz I m not assigned any yet! @sammy1997  @mayburgos @sunjunkie

[2020-04-13 19:16] HaripriyaB commented on #1394
Can I work on this pls? I haven't got a chance yet. @sammy1997 @mayburgos @sunjunkie

[2020-04-14 12:35] robotjellyzone commented on #1394
Hi @HaripriyaB , if you are a first time contributor here then please take a look at the issues with labels **First Timer Only**  and only those not assigned yet .

[2020-04-14 13:22] HaripriyaB commented on #1394
@robotjellyzone yes I'm a first timer and wish to work on this project. I'll look in to the first timer tag. Thanks!

[2020-04-14 13:54] HaripriyaB commented on #1375
I'm a First-Timer so can I take up this to start off? @mayburgos @sunjunkie @isabelcosta

[2020-04-14 15:19] sammy1997 commented on #1386
So why do we need an exit button? Can you show some UX research that explains that this is a good UX enhancement?

[2020-04-14 15:20] sammy1997 commented on #1387
Closing this, as the app isn't official

[2020-04-14 15:20] #1387 closed, assigned to nobody

[2020-04-14 15:20] sammy1997 commented on #1388
Closing this. App not official

[2020-04-14 15:20] #1388 closed, assigned to nobody

[2020-04-14 15:21] sammy1997 commented on #1394
@vold-la go ahead

[2020-04-14 15:21] sammy1997 commented on #1408
Yeah, go ahead @HaripriyaB . Assigning this to you

[2020-04-14 15:23] #1413 closed, assigned to pknotfound

[2020-04-15 06:01] vold-la commented on #1394
I think this not not an issue but a mere confusion to understand the game. First the dialog box at the end does not show addition of power points since power points earned are directly added to total points which acts as bonus in the game.
Secondly if we press replay button then karma points(only earned by giving answers) earned from previous play are deducted. Let us take example, you are having

[2020-04-15 07:01] aditmehta9 commented on #1386
Well, I researched and found that the exit button isn't necessary it is redundant but all famous games like clash of clans, clash royale, PUBG, archers, call of duty, etc. games of different company show alert Dialog box for exit confirmation like 'Do you want to exit?'. when a single time back button is pressed. So, should I propose to add an alert dialog box for the exit game?

[2020-04-15 07:38] aditmehta9 commented on #1394
Yeah, that is right but I also wanted to show the addition of points gained by powers to show in a dialog box. But according to your logic if a user plays level 1 scenario 3 hospital and after playing that scenario his total points are 34 and in the next scenario, he clicks on the home button without playing scenario 4(library) and replays scenario 1(home) then new points are added without deducti

[2020-04-15 07:40] aditmehta9 commented on #1394
So, I think there should be a change in the game logic for all scenarios replay or last played scenario.

[2020-04-15 10:36] sammy1997 commented on #1386
Yes, that can be a valid enhancement. You can edit this issue

[2020-04-15 15:31] HaripriyaB opened #1426 "New Game Avatar setting doesn't work"
## Description
As a user, when I opt for new game, the edit avatar options don't work. The buttons are clickable but it doesn't change the avatar.

## Mocks
Issue:
![Record-2020-04-15-01-56-53-edd37](https://user-images.githubusercontent.com/34762451/79350876-a119ed00-7f55-11ea-924b-d5f284bd85c9.gif)

Resolve to:
![fixedavatarissue](https://user-images.githubusercontent.com/34762451/79366695-463ec

[2020-04-15 19:56] aditmehta9 commented on #1386
Sir, I have updated the issue description and title.

[2020-04-15 20:04] Mehulipal commented on #1405
@sammy1997 May I work on this issue?

[2020-04-15 20:05] Mehulipal commented on #1404
@sammy1997 May I work on this issue?

[2020-04-15 20:05] Mehulipal commented on #1403
@sammy1997 May I work on this issue?

[2020-04-15 20:06] Mehulipal commented on #1400
@sammy1997 May I work on this issue?

[2020-04-15 20:06] Mehulipal commented on #1398
@sammy1997 May I work on this issue?

[2020-04-15 20:07] Mehulipal commented on #1397
@sammy1997 May I work on this issue?

[2020-04-15 20:07] Mehulipal commented on #1396
@sammy1997 May I work on this issue?

[2020-04-15 20:08] Mehulipal commented on #1395
@sammy1997 May I work on this issue?

[2020-04-15 20:08] Mehulipal commented on #1392
@sammy1997 May I work on this issue?

[2020-04-15 20:09] Mehulipal commented on #1426
@HaripriyaB Are you waiting for approval?
Otherwise I would like to contribute on this...

[2020-04-15 20:20] Mehulipal commented on #1406
@sammy1997 Similar issue exists for Level 1, of which I am waiting for approval. Please check #1396.

[2020-04-16 03:16] HaripriyaB commented on #1426
@Mehulipal I've already fixed this issue. Just waiting for approval to issue a PR.

[2020-04-16 03:21] vold-la commented on #1394
totally agree that points section needs to be organized. We should discuss this with mentors in zulip.

[2020-04-16 06:42] aditmehta9 commented on #1394
Yep

[2020-04-17 15:55] #1408 closed, assigned to HaripriyaB

[2020-04-18 08:35] sammy1997 commented on #1392
@Mehulipal the enhancement is okay, but I don't like the animation that you have added on button press. Can you propose something better?

[2020-04-18 08:47] sammy1997 commented on #1396
Closing this as there is a similar issue assigned to @aditmehta9

[2020-04-18 08:47] #1396 closed, assigned to nobody

[2020-04-18 08:50] sammy1997 commented on #1395
Yeah sure. Go ahead

[2020-04-18 08:52] sammy1997 commented on #1397
Please add this to #1392 as it is quite similar. Don't need a separate issue for this. Closing this

[2020-04-18 08:52] #1397 closed, assigned to nobody

[2020-04-18 08:54] sammy1997 commented on #1398
Please merge this with #1392 . You can rename that issue as "Adding button click effects on buttons of Home Scenario ending"

[2020-04-18 08:54] sammy1997 commented on #1398
Closing this

[2020-04-18 08:54] #1398 closed, assigned to nobody

[2020-04-18 08:56] sammy1997 commented on #1400
Valid issue. Go ahead. Approving this

[2020-04-18 09:02] sammy1997 commented on #1403
I don't see the necessity of this. Don't think this is a valid issue or enhancement closing this. You need to be able to see the score, just adding animation doesn't make it better UX. If you can show me some UX research, I may reopen this

[2020-04-18 09:02] #1403 closed, assigned to nobody

[2020-04-18 09:04] sammy1997 commented on #1404
Valid issue. You can change the Hooray! to BLNT. But I have already assigned 2 issues to you. So keeping this open

[2020-04-18 09:05] sammy1997 commented on #1405
This needs discussion. @sunjunkie @mayburgos @isabelcosta? Do you think there is a need for this?

[2020-04-19 06:22] devanshi7799 commented on #1404
@sammy1997 I would like to work on this

[2020-04-19 22:31] Mehulipal commented on #1404
@devanshi7799 I am already waiting for approval and would like to work on it very soon....

[2020-04-26 00:13] MariamKotob opened #1431 "Project build stuck for more than 2 hours at app:mergeDebugResources"
## Description
As a user, I need to update the gradle.properties file, so that I can open the app, install it and get to know it.

## Mocks
none

## Acceptance Criteria
### Update [Required]
- [ ] optimized build time not to exceed 10 minutes.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
30 minutes

[2020-05-03 09:03] HaripriyaB commented on #1389
Is this issue solved or yet to be solve? @aditmehta9

[2020-05-03 09:06] HaripriyaB commented on #1431
@Marimkotob Are u still facing this issue? If yes then pls confirm it here.

[2020-05-03 09:07] HaripriyaB commented on #1410
@Priyansh-Kedia are u available to work on this issue?

[2020-05-03 09:09] pknotfound commented on #1410
Yes @HaripriyaB
I am still waiting for approval

[2020-05-03 09:48] aditmehta9 commented on #1389
No @HaripriyaB , I am not working on this issue I am trying to work on another issue. Sorry for the inconvenience. I have assigned it to you because you had commented after me.

[2020-05-03 10:42] HaripriyaB commented on #1410
Okay assigning it to you. @Priyansh-Kedia Can u discuss what exactly is your approach for solving this?

[2020-05-03 10:45] HaripriyaB commented on #1389
Yup no problem I'll handle it.

[2020-05-03 10:56] pknotfound commented on #1410
I was thinking of showing a toast or something for the same.
Still waiting for suggestions as @sammy1997 suggested.

[2020-05-03 11:10] HaripriyaB commented on #1410
A custom toast with a good UI would be better. @Priyansh-Kedia I think u can start working and show the mockups here so that we can decide which one is better.

[2020-05-04 07:16] HaripriyaB commented on #1389
I think this issue is no more. I pulled the repo and installed the app and this is what I see. May be the issue is resolved already. @aditmehta9 pls review it.
![Screenshot_2020-05-04-12-38-50-02_edd379f413d28fd43f4496fab0e55864](https://user-images.githubusercontent.com/34762451/80943589-2bdb6280-8e05-11ea-8b57-50b63515022b.png)

[2020-05-04 07:20] aditmehta9 commented on #1389
No, the problem still persists. Level 1 images were ok. It was problem for level to avatar shop. Please check level 2 avatar shop @HaripriyaB

[2020-05-04 07:28] HaripriyaB commented on #1389
Yes @aditmehta9 The problem is in the level 2 of the game. So I'll work on it.
![Screenshot_2020-05-04-12-56-17-88_edd379f413d28fd43f4496fab0e55864](https://user-images.githubusercontent.com/34762451/80944324-e4ee6c80-8e06-11ea-9e9a-7df9fe9bcaf8.png)

[2020-05-04 07:28] aditmehta9 commented on #1409
@sarthaksarm isn't this issue part of the issue[1369](https://github.com/anitab-org/powerup-android/issues/1369). Should I close it because it is the repetition of the issue?

[2020-05-04 09:33] faiz276482 commented on #1391
@rishab0409 this seems to be a valid enhancement. Can you please mention the name of the device and the resolution which you used to test the app?