[2017-06-06 18:37] #378 closed

[2017-06-07 16:17] MeepyMay opened #384 "Mentors perform a code review on the 1st week's PR. (May 30 - June 05)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-07 16:37] dhara04 opened #385 "User completes the Hospital Scenario"
**Description**
***
As a player,
I want to complete the "Hospital" scenario,
so that I can earn karma points and buy new things!

**Mocks**
***
![image](https://user-images.githubusercontent.com/1497011/26889895-47581076-4bcd-11e7-9803-e8fa09f03409.png)

**Acceptance Criteria**
***
User interacts with an NPC.
Once conversation is finished, user is notified with the # of karma points earned.

**Def

[2017-06-07 16:46] dhara04 opened #386 "User completes the Library scenario"
**Description**
***
As a player,
I want to complete the "Library" scenario,
so that I can earn karma points and buy new things!

**Mocks**
***
![image](https://user-images.githubusercontent.com/1497011/26890310-c5a37bf4-4bce-11e7-9143-9633f5db1151.png)
Puberty Research

**Acceptance Criteria**
***
User interacts with an NPC.
Once conversation is finished, user is notified with the # of karma point

[2017-06-07 16:51] dhara04 opened #387 "User completes School scenario"
**Description**
***
As a player,
I want to complete the "School" scenario,
so that I can earn karma points and buy new things!

**Mocks**
***
![image](https://user-images.githubusercontent.com/1497011/26890588-acf44344-4bcf-11e7-8d9a-4b629774d576.png)
Sex scene

**Acceptance Criteria**
***
User interacts with an NPC.
Once conversation is finished, user is notified with the # of karma points earned

[2017-06-07 16:56] #371 closed

[2017-06-07 17:03] dhara04 opened #388 "User completes Store scenario"
**Description**
***
As a player,
I want to complete the "Store" scenario,
so that I can earn karma points and buy new things!

**Mocks**
***
Borrow the Phone
![phone-borrow](https://user-images.githubusercontent.com/2440938/26978912-1a50b3ce-4cfb-11e7-92c9-38096c9e86ca.png)

**Acceptance Criteria**
***
User interacts with an NPC.
Once conversation is finished, user is notified with the # of karma

[2017-06-08 10:01] codingblazer commented on #388
@dhara04 @aanchal07 This sounds confusing to me. Isn't Store for buying items? How are we planning to add "Borrowing phone" scenario to that? :-)

[2017-06-08 18:27] MeepyMay opened #390 "Mentors perform a code review on the 2nd week's PR. (June 06 - June 12)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 18:28] MeepyMay opened #391 "Mentors perform a code review on the 3rd week's PR. (June 13 - June 19)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 18:28] MeepyMay opened #392 "Mentors perform a code review on the 4th week's PR. (June 20 - June 26)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 18:37] MeepyMay opened #393 "Mentors merge all PRs from Week 1 to Branch "GSoC17""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed by at least 1 mentor.
- Code merged into the correct branch "GSoC17"
- When possible, an .APK file is pushed to the "apk" branch.

## Definition of Done
- Week 1's code is able to be downloaded from the GSo

[2017-06-08 18:38] MeepyMay opened #394 "Mentors merge all PRs from Week 2 to Branch "GSoC17""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed by at least 1 mentor.
- Code merged into the correct branch "GSoC17"
- When possible, an .APK file is pushed to the "apk" branch.

## Definition of Done
- Week 2's code is able to be downloaded from the GSo

[2017-06-08 18:38] MeepyMay opened #395 "Mentors merge all PRs from Week 3 to Branch "GSoC17""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed by at least 1 mentor.
- Code merged into the correct branch "GSoC17"
- When possible, an .APK file is pushed to the "apk" branch.

## Definition of Done
- Week 3's code is able to be downloaded from the GSo

[2017-06-08 18:38] MeepyMay opened #396 "Mentors merge all PRs from Week 4 to Branch "GSoC17""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed by at least 1 mentor.
- Code merged into the correct branch "GSoC17"
- When possible, an .APK file is pushed to the "apk" branch.

## Definition of Done
- Week 4's code is able to be downloaded from the GSo

[2017-06-08 20:40] MeepyMay opened #397 "Mentors create issues for all stage designs."
## Description
As an Student,
I want to view all the work I need to do,
so that I can manage my time and program with weekly reports on time.

## Mocks
N/A

## Acceptance Criteria
- Student can view all user stories in the issues list.
- User stories follow this format.
- Includes **labels, assignees, and added to the "Student Tasks" Project board.**

## Definition of Done
- All 5 scenarios are co

[2017-06-08 20:43] MeepyMay opened #398 "Mentors create issues for all mini game designs."
## Description
As an Student,
I want to view all the work I need to do,
so that I can manage my time and program with weekly reports on time.

## Mocks
N/A

## Acceptance Criteria
- Student can view all user stories in the issues list.
- User stories follow this format.
- Includes labels, assignees, and added to the Kim's Project board.

## Definition of Done
- All 5 mini games are included.

## E

[2017-06-10 06:05] aanchal07 opened #399 "User completes the Home Scenario -2"
**Description**
***
As a player,
I want to complete the "Home" scenario-2,
so that I can earn karma points and buy new things!
This scenario is to be completed after the first five stages.

**Mocks**
***
![image](https://user-images.githubusercontent.com/13906284/27000437-9c508f96-4dcf-11e7-8a3b-6864afafcca9.png)

**Acceptance Criteria**
***
Also add a warning dialogue before the scenario since it

[2017-06-10 06:09] aanchal07 commented on #384
Done.

[2017-06-11 00:40] MeepyMay opened #400 "Developer needs UI elements for the minesweeper game."
## Description
As a developer,
I want to code the minesweeper game,
so that I can code it into the sex scenario.

## Mocks
![screen shot 2017-06-10 at 20 37 50](https://user-images.githubusercontent.com/2440938/27007308-b6b833c8-4e1c-11e7-8031-03201fe71230.png)

## Acceptance Criteria
- Red, Green, and White Dots all consistent.
- Winning Screen
- Losing Screen

## Definition of Done
- Passes user

[2017-06-11 00:43] MeepyMay commented on #398
Mini Games:
- Minesweeper
- Sink to Swim
- Vocabulary Match Game (Matching Sperm Vocab to Definition)

[2017-06-11 00:44] MeepyMay commented on #397
Issues created from this task are medium priority.

[2017-06-11 04:38] codingblazer commented on #400
@MeepyMay @kimhwins Have we finalized about the mode of the game - landscape or portrait.

[2017-06-11 04:40] kimhwins commented on #400
@codingblazer  not sure if we ever finalized it, but I designed it in landscape! let me know what you think, the stars are yellow instead of white to keep with our color palette, and would turn red/green accordingly

![minesweeper](https://user-images.githubusercontent.com/22511190/27008422-87db64cc-4e3e-11e7-8b8c-58c97381fb28.png)

[2017-06-11 06:09] codingblazer commented on #400
@kimhwins Yes, even I wanted it to be in landscape. Looks really great !! :-)

[2017-06-11 18:06] aanchal07 opened #402 "Wrong functionality of Home button in Map screen"
## Description
As an player,
On clicking the home button in the map screen, I want to go to the home screen.

## Mocks
NA

## Acceptance Criteria
On clicking home button icon, user goes to home screen.

## Definition of Done
- Passes all regression tests.
- Passes testing per acceptance criteria items.
- Approved by android team.
- Able to show feature in demo.

## Estimation
- 2 Hours

[2017-06-12 09:00] aanchal07 opened #403 "Add buttons to the screen"
## Description
As an player,
I want to see buttons on completed game screen to navigate to map and store.

## Mocks
![image](https://user-images.githubusercontent.com/13906284/27044555-982e6bc0-4fbb-11e7-8858-a81b00b95511.png)

## Acceptance Criteria
- On clicking the map button, user navigates to the map screen.
- On clicking the store button, user navigates to the store screen.

## Definition of

[2017-06-12 17:09] aanchal07 commented on #402
#404 Merged

[2017-06-12 22:55] MeepyMay commented on #400
@codingblazer @kimhwins We finalized it in landscape mode. :)

[2017-06-13 12:01] Dilu9218 opened #405 "Developer needs UI elements for the Sink to Swim game."
## Description
As a developer,
I want to code the Sink to Swim game,
so that I can code it into the library scenario.

## Mocks
![screen shot 2017-06-15 at 12 48 53](https://user-images.githubusercontent.com/2440938/27192361-0c0a0b30-51c9-11e7-8945-21199f9419b8.png)

## Acceptance Criteria
- Background for Game
- True/False
- Timer
- Boat
- Winning Screen
- Losing Screen

## Definition of Done
-Pa

[2017-06-13 12:12] Dilu9218 opened #406 "Developer needs UI elements for the Vocabulary Match Game"
## Description
As a developer,
I want to code the Vocabulary Match Game (Matching Sperm Vocab to Definition),
so that I can code it into the hospital scenario.

## Mocks
![screen shot 2017-06-15 at 12 04 53](https://user-images.githubusercontent.com/2440938/27192236-91817e20-51c8-11e7-949e-a6f53ece54ee.png)
[Youtube Link of Gif](https://www.youtube.com/watch?v=6uV-fNGrtao&feature=youtu.be)

## Acc

[2017-06-13 13:13] aanchal07 commented on #403
Merged #404

[2017-06-13 13:13] #403 closed

[2017-06-13 16:20] kimhwins commented on #400
@codingblazer  it would be really cool to have a card flip animation when the player taps on a star!

[2017-06-13 16:58] codingblazer commented on #400
@kimhwins Great idea !! I will sure do that

[2017-06-14 07:26] aanchal07 commented on #390
Done.

[2017-06-15 06:50] Dilu9218 commented on #388
This should be closed right?

[2017-06-15 06:52] codingblazer commented on #388
@Dilu9218 Yes :-)

[2017-06-15 06:52] #388 closed

[2017-06-15 15:13] Dilu9218 opened #407 "Developer needs UI elements for the Home Scenario -1"
## Description
As a developer,
I want to see the UIs of home party scene,
so that I can code the stage Home Scenario- 1.

## Mocks
N/A

## Acceptance Criteria
-Background

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team. (Dil & May)

## Estimation

[2017-06-15 16:14] #400 closed

[2017-06-15 16:15] #398 closed

[2017-06-15 16:23] Dilu9218 opened #408 "Developer needs UI elements for the Home Scenario -2"
## Description
As a developer,
I want to see the UIs of  sexual assault scene,
so that I can code the stage Home Scenario- 2.

## Mocks
N/A

## Acceptance Criteria
-Background
-UI element for uncle
-UI element for friends
-Home button, Continue button, Back button(optional)

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team.

[2017-06-16 03:40] Dilu9218 opened #409 "Developer needs UI elements for the School scenario"
## Description
As a developer,
I want to see the UIs of  School scenario,
so that I can code the stage  School scenario.

## Mocks
N/A

## Acceptance Criteria
-Background
-Redesign existing UI elements for avatar and Marcello.
-Redesign UI element for School

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team. (Dil & May)

##

[2017-06-16 03:41] Dilu9218 opened #410 "Developer needs UI elements for the Library scenario"
## Description
As a developer,
I want to see the UIs of Library scenario,
so that I can code the stage Library scenario.

## Mocks
N/A

## Acceptance Criteria
-Background
-UI element for mother
-UI elements for junk food and diet/healthy food
-UI elements for friends

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team. (Dil &

[2017-06-16 03:42] Dilu9218 opened #411 "Developer needs UI elements for the Hospital Scenario"
## Description
As a developer,
I want to see the UIs of  Hospital Scenario,
so that I can code the stage Hospital Scenario.

## Mocks
N/A

## Acceptance Criteria
-Background
-UI elements for health
-UI element for doctor
-UI element for mother

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team. (Dil & May)

## Estimation

[2017-06-16 18:33] kimhwins commented on #407
@MeepyMay are we proceeding with this? iirc you mentioned how it didn't seem very plausible for a young girl to throw a house party?

[2017-06-19 15:33] Dilu9218 commented on #411
@MeepyMay  do you think UI element for Mother alone is needed here? If so screen should be managed for 3 avatars.

[2017-06-19 20:50] codingblazer opened #412 "Setup Codacy Bot"
Codacy Bot helps in reviewing the codebase. It will reduce work for mentors as well as be helpful for developers to learn best practices. It won't have any effect on the code.

[2017-06-20 02:26] aanchal07 opened #413 "Remove portrait screen layout"
## Description
As an player,
I want to see only the landscape mode of the application.

## Mocks
NA

## Acceptance Criteria
The application operates in landscape mode only.

## Definition of Done
- No portrait layout remains.
- Passes testing per acceptance criteria items.
- Approved by android team.
- Able to show feature in demo.

## Estimation
- 1/2 days

[2017-06-20 02:28] aanchal07 commented on #391
No PR submitted in this week. Work is still in progress.

[2017-06-20 16:43] kimhwins commented on #409
I completed the background and UI for the school a couple weeks ago :) just have to finalize the avatar/marco sprites
![gui 3 cg marco 2](https://user-images.githubusercontent.com/22511190/27344936-10da0930-55b6-11e7-905a-f66760a55ac7.png)

[2017-06-20 16:46] codingblazer commented on #409
@kimhwins That looks so nice. Great work!!

[2017-06-20 16:49] codingblazer commented on #409
@kimhwins When you are designing the conversation boxes, make them a nine-patch image. Since the amount of conversation will be different, nine patch will be best to use.

[2017-06-20 16:51] kimhwins commented on #409
@codingblazer  thank you!! I'll send over a nine-patch version by next week :)

[2017-06-21 02:40] dhara04 commented on #391
Do we have agreed coding conventions? If no, we can come us with something basic. I don't what standards to check his code against?

[2017-06-29 17:23] codingblazer commented on #413
Merged via #414

[2017-06-29 17:23] #413 closed

[2017-07-01 08:04] codingblazer commented on #385
Done via #389

[2017-07-01 08:04] #385 closed

[2017-07-01 08:05] codingblazer commented on #382
Done via #389

[2017-07-01 08:05] #382 closed

[2017-07-01 08:08] codingblazer commented on #383
@dhara04 @aanchal07 Should we close this now ?

[2017-07-01 08:09] codingblazer commented on #387
Done via #389

[2017-07-01 08:09] #387 closed

[2017-07-01 08:10] codingblazer commented on #386
Done via #389

[2017-07-01 08:10] #386 closed

[2017-07-01 08:10] codingblazer commented on #399
Done via #389

[2017-07-01 08:10] #399 closed

[2017-07-01 08:12] codingblazer commented on #361
Fixed via #379

[2017-07-01 08:12] #361 closed

[2017-07-01 08:13] codingblazer commented on #372
Fixed

[2017-07-01 08:13] #372 closed

[2017-07-01 08:17] codingblazer commented on #354
Closing after discussing with the team. Not required for our project as each activity contains too many drawables.

[2017-07-01 08:17] #354 closed

[2017-07-03 14:08] codingblazer commented on #402
@kimhwins @aanchal07  There is no Home button in the new Map UI. Should we remove home button?

[2017-07-03 15:26] aanchal07 commented on #402
@kimhwins Can you add the home button to the Map Screen?

[2017-07-03 16:15] kimhwins commented on #402
@aanchal07  @codingblazer yes! would it be more convenient to have the home button on the same file as the map or as a separate asset?

[2017-07-04 00:50] codingblazer commented on #402
@kimhwins As a separate asset will work :-)

[2017-07-04 04:18] Dilu9218 commented on #402
@codingblazer Agreed.

[2017-07-04 14:38] codingblazer opened #440 "Avatar not properly shown in Final Avatar Screen"
I tested app on multiple devices and avatar is
1) Not scaling properly on large screen sizes.
2) There is no proper alignment of avatar components in some screens.

![whatsapp image 2017-07-04 at 20 07 06](https://user-images.githubusercontent.com/13872065/27834563-093b8e8e-60f5-11e7-85af-ffdac4034534.jpeg)

@aanchal07 Should we wait for new avatar UI or should i fix this ?

[2017-07-04 14:43] codingblazer opened #441 "Game Activity Listview has extra white space"
There is unnecessary extra white space in listview which shows answers to user as shown below -

![whatsapp image 2017-07-04 at 20 09 58](https://user-images.githubusercontent.com/13872065/27834623-4ae1efa4-60f5-11e7-846b-4c1322ac6820.jpeg)

@kimhwins  I see you are learning Android. Feel free to assign yourself if you want to give this a try.

[2017-07-04 15:00] Dilu9218 commented on #441
@codingblazer  thanks I will assign her for this.

[2017-07-04 15:16] aanchal07 commented on #440
@kimhwins How long would it take you to design the new avatar? If not long then we can wait for the new designs else you can work on it now.

[2017-07-04 15:30] kimhwins commented on #440
@aanchal07 May and I are still figuring out the best way to test different styles, so I think it will be a few weeks before the new avatar is finished!

[2017-07-04 15:32] codingblazer commented on #440
@kimhwins Sure, I will fix this in next week then !!

[2017-07-05 17:19] kimhwins commented on #402
@codingblazer for now you can use this temporary home button--it's the original one, I just made it a lighter color for visibility on the map. I'll design a new home button when I design the title screen so they have some consistency :)

![home button temp](https://user-images.githubusercontent.com/22511190/27876297-8d9f4e10-6184-11e7-95eb-5e810c06a878.png)

[2017-07-06 04:28] codingblazer commented on #402
@kimhwins Great !! Try keeping the dimensions same as this 😃

[2017-07-07 17:03] aanchal07 commented on #412
Go ahead. Do you need any help from my side?

[2017-07-10 07:31] codingblazer commented on #412
@aanchal07 I have not yet deployed codacy bot yet. I am waiting for approval from @MeepyMay. I will get back to you after approval :-)

[2017-08-09 21:39] #384 closed

[2017-08-09 21:39] #390 closed

[2017-08-09 21:39] #391 closed

[2017-08-09 21:39] #392 closed

[2017-08-09 21:39] #393 closed

[2017-08-09 21:39] #394 closed

[2017-08-09 21:39] #395 closed

[2017-08-09 21:39] #396 closed

[2017-08-09 21:40] #383 closed

[2017-08-09 21:40] #397 closed

[2017-08-09 21:58] MeepyMay opened #458 "Users want to create an avatar."
## Description
As a user,
I want to create my own avatar,
so that I can play the game.

## Mocks
Use for reference on inclusive designs. Older women avatars are included here that don't relate to PowerUp avatars.
[Systers Open Source Slack Icons](https://www.dropbox.com/sh/2cesickgzx6c35h/AADddkIMQ2T_cXgytYkY9zg1a?dl=0)

## Acceptance Criteria
### Races [Required]
White or European:
• 2 Skin Tones

[2017-08-17 11:59] #405 closed

[2017-08-17 11:59] #406 closed

[2017-08-17 11:59] #407 closed

[2017-08-17 11:59] #408 closed

[2017-08-17 11:59] #409 closed

[2017-08-17 11:59] #410 closed

[2017-08-17 11:59] #411 closed

[2017-08-17 13:51] MeepyMay commented on #412
@codingblazer @aanchal07 It's been approved.

[2017-08-17 15:15] #441 closed

[2017-08-17 15:16] #402 closed

[2017-08-17 15:28] codingblazer opened #459 "Remove hardcoded Strings and Resources across the project"
# **Description**

As a developer, I want to remove all the hard coded resources. We have to replace their resource reference and add them to respective resource directory - strings.xml, integers.xml and final constants for hard codes in java code.

# **Mocks**

Not Applicable

# **Acceptance Criteria**

All the replaced hard codes must follow Android conventions -
- Using Camelcase for Java varia

[2017-08-17 15:38] codingblazer opened #460 "Scenario Desciption not shown after Mini Game Ends"
# **Description**

As a player, I should see the scenario description after completing the scenario. Currently, scenario description is not shown if the user has played a mini-game in that scenario.

# **Mocks**

Reference File: activity_scenario_over.xml
<img src="https://user-images.githubusercontent.com/13872065/29420602-13d07ebe-8390-11e7-898c-5d98c686bbf3.jpeg" height="200" width="400">

# **

[2017-08-17 15:43] codingblazer opened #461 "Status Bar color not uniform"
In many activities, the color of the status bar is gray in color. We want it to be black in color.

**Ref :**

<img src="https://user-images.githubusercontent.com/13872065/29420602-13d07ebe-8390-11e7-898c-5d98c686bbf3.jpeg" height="200" width="400">

**Note:** Above is just one example of a gray status bar. There are many other screens with gray status bar. The task is to find them all and change

[2017-08-17 15:47] codingblazer opened #462 "Add score of the mini games to Karma Points"
# **Description**

Currently, the score gained by the user in any minigame is not added to the karma points (total points in PowerUp game).

# **Mocks**

Not Applicable

# **Acceptance Criteria**

Score gets added to the main score for all three mini-games -

- Minesweeper Game
- Swim to Swink Game
- Vocab Match Game

Updated score should be shown in Store and Scenarios.

# **Definition of Done**

[2017-08-17 15:59] codingblazer opened #463 "Identify possible memory leaks"
There has been a lot of development changes in the project this GSOC. There should be many memory leaks in the project. We want to identify them and resolve them if possible.

[2017-08-17 16:03] codingblazer opened #464 "Change the color scheme"
We want to follow below color palette across the whole project.
<img src="https://user-images.githubusercontent.com/13872065/29421705-8a8be310-8393-11e7-87b1-80529a91f1ae.png" height="400" width="200">

[2017-08-18 19:22] yashasingh commented on #459
Can I work on this issue ?

[2017-08-18 20:48] MeepyMay opened #465 "Mini Game Content needs Clean Up before Release."
## Description
As a tester,
I want to test content in a quick manner,
so that I can make notes and open bugs when appropriate.

## Mocks
![screen shot 2017-08-18 at 4 43 43 pm](https://user-images.githubusercontent.com/2440938/29477003-715014c4-8434-11e7-9947-025250c290e7.png)

## Acceptance Criteria
- All mini games have generic test questions with the answer clearly written. For example, "Test Q

[2017-08-18 21:14] piyush6348 opened #466 "Redundant Model Class Codes"
The entire Code of
-> Answer.java
-> Avatar.java
-> Question.java
-> Scenario.java
-> Score.java
of thousands of lines can be converted to merely 10 lines in Kotlin.

![image](https://user-images.githubusercontent.com/16835832/29477970-3f4539ba-8488-11e7-9651-5a17c0c96a27.png)

This is an example for Answer.java

I would like to work on this issue

[2017-08-20 00:12] MeepyMay commented on #461
@Dilu9218 @codingblazer Whose decision was to make the status bar black?

[2017-08-20 00:15] MeepyMay commented on #464
Kim's addressed this in an earlier issue. Update with the theme colors on the previous issue #374

[2017-08-20 00:15] #464 closed

[2017-08-20 00:17] MeepyMay commented on #461
Add to the #374

But don't make UI decisions without the designers.

[2017-08-20 00:17] #461 closed

[2017-08-21 01:43] codingblazer commented on #440
The issue has been fixed and new Pull request #471 is sent with new designs.

[2017-08-21 01:44] codingblazer commented on #412
@MeepyMay Sure, i will look into this :-)

[2017-08-24 12:17] yashasingh commented on #459
@chhavip @aanchal07 I want to work on this issue. Can I be assigned for this ?

[2017-09-22 11:26] luckyman000786 commented on #459
@chhavip @codingblazer @aanchal07  I want to work on this issue. Can I ?

[2017-09-25 13:54] zarka opened #491 "Travis is not configured properly."
# Whats wrong -
Travis for the repo hasn't been configured correctly. The tests are not failing when wrong code is pushed (I have opened PR #492 to show this).Actually the app is not being build during the travis test.

Also in the `.travis.yml` file we are using emulators. This is not needed as we are not testing the app on any emulator. This unnecessarily increases the build time for the app.

#

[2017-09-25 16:09] codingblazer commented on #491
@zarka Yeah, this is one of the pending tasks. (Also, we have not yet integrated unit tests with Travis).
As for the emulator configuration, we will eventually need them when we will add the instrumentation tests (UI tests). We planned to add UI tests but were unable to (in given a time frame). So, I don't think there is need to remove emulator part.
You may send PR for this **if** @aanchal07 feel

[2017-09-25 17:19] codingblazer commented on #459
@yashasingh Yes, this is a pending issue. You can work on it if you want.
@luckyman000786 Please pick some other issue :-)

[2017-09-25 18:20] yashasingh commented on #459
@codingblazer Alright I'll work on it.

[2017-09-26 05:47] zarka commented on #491
@codingblazer
I will w8 for @aanchal07 's approval then.

[2017-09-26 23:57] Divya063 commented on #369
Hi, I would like to work on this.

[2017-09-27 01:44] codingblazer commented on #369
Hi @Divya063, this issue is not required anymore. New Designs were developed which have this feature already. Please pick some other issue.

[2017-09-27 01:52] Divya063 commented on #369
@codingblazer Thanks for the response, can you recommend some good first bugs to start with?

[2017-09-27 04:19] codingblazer commented on #369
@Divya063 You can pick #462 if you want. If you are looking for more beginner issue, you can create any **lint** based issue yourself.

[2017-09-27 04:36] Divya063 commented on #369
@codingblazer Thanks, I would work on this issue #462

[2017-09-27 20:27] codingblazer commented on #369
@Divya063 Please comment the same in issue #462 to claim it.

[2017-09-28 10:50] Divya063 commented on #462
I would like to work on this

[2017-09-28 16:50] codingblazer commented on #462
@Divya063 Sure !!

[2017-09-28 20:06] sashafierce opened #493 "No option to deselect store items"
# Description

I suppose there is no explicit deselect button at the moment to remove the tried accessories / clothes / hair, the back button does the job but its not convenient.

# What can be done :

- Addition of 'remove' button on every item category.
- An empty choice in the slider menu.

@codingblazer  please guide.

[2017-09-28 20:21] sashafierce opened #494 "Replay/home icon disappears after first selection of replay"
# Steps to reproduce :
- Select a scenario
- press the replay button at any point

When the scenario is replayed, the replay and home icons are no longer present

@codingblazer  Is this the expected behaviour ?

[2017-09-29 03:32] codingblazer commented on #493
@sashafierce Are you on the latest branch (GSoC17) ?? If yes, please add some screenshots for better understanding :-)

[2017-09-29 03:56] codingblazer commented on #494
Hi, @sashafierce, I think you are on the wrong branch. Replay icon was removed from the scenarios.

![screen shot 2017-09-29 at 9 06 29 am](https://user-images.githubusercontent.com/13872065/30999928-bc38f80c-a4f5-11e7-8e18-55bfaa016d13.png)

[2017-09-29 11:58] Rimjhim28 opened #495 "Check on warning dialog box"
# Description
The warning dialog box that pops up everytime the "NEW GAME" button is clicked should not pop up when the app is installed and launched on the device for the first time as there is no data or previous karma points stored.

# What could be done:
A check if the app is launched for the first time.
If yes the user should be directed to Avatar Room otherwise the warning should be displaye

[2017-09-29 19:20] nani92 opened #496 "Avatar wrong eyes"
# Description
When you create an avatar with default eye color (blue), the result avatar shown in AvatarActivity has wrong eye color (orange).

# Steps to reproduce
1. Click "NEW GAME" button
2. Click "Create new Avatar" in dialog
3. Do not change eye color when creating avatar. _Displayed eye color is blue._
4. Click "CONTINUE" button
5. In new window there is avatar with orange eyes.

![2017_09_

[2017-09-30 10:40] Rimjhim28 opened #497 "Distorted avatar in completed scene and store"
# Description
The avatar gets distorted in the completed scene activity as well as in the store activity.I have checked the issue with devices of various screen sizes. I have uploaded the screenshots.
![screenshot_1506767783](https://user-images.githubusercontent.com/26908195/31045089-bbee7b06-a5f9-11e7-9698-cbe04823f100.png)
![screenshot_1506767238](https://user-images.githubusercontent.com/26908

[2017-09-30 11:47] ShailyTyagi commented on #497
I don't think it's the distorted avatar. I think it's just showing the current possessions of the avatar i.e. the dress and the hair.

[2017-09-30 16:39] Shreya001 commented on #495
I, am outreachy aspirant and do android development. Can I work on this issue and how?

[2017-09-30 18:13] Rimjhim28 commented on #495
@Shreya001 I have already done the work just waiting for the approval of @codingblazer  so that I can send the pull request.You can yourself work to find some other issues.

[2017-09-30 18:30] nani92 opened #498 "Inconsistent Home button behaviour"
By Home button I mean button displayed in upper right corner
![img_20170930_195420](https://user-images.githubusercontent.com/7022074/31048271-351d6742-a61a-11e7-9ada-caf0f8dc231a.jpg)

# Description
When playing a scene if you click on home button you are moved to screen with map.
![2017_09_30_19_55_08 1](https://user-images.githubusercontent.com/7022074/31048289-90373c48-a61a-11e7-9d31-45606faaf

[2017-10-01 05:15] codingblazer commented on #495
@Rimjhim28 Seems logical to me !! Let's hear from @aanchal07

[2017-10-01 07:47] codeb1ooded opened #499 "Scene Completed after conversation irrespective of completion of mini-game"
As seen in GIF, if in some scenario user backs and opens the scenario again after completing the conversation, the scenario is marked completed on revisiting it. It doesn't matter if the user has played the mini-game of scenario. Can I work on this issue?

![1wu6qn](https://user-images.githubusercontent.com/16864336/31052766-76362ab6-a6ab-11e7-8271-0f03ccab5a7f.gif)

[2017-10-01 10:44] Rimjhim28 opened #500 "Unexpected behaviour of the Replay button"
## Description
As a user,
I need fix the logic for replay button,
so that I can that correct scenario is launched when replay is clicked and the app does not crash.

## Mocks
Not applicable

## Acceptance Criteria
### Update [Required]
- [ ] Fix the logic for replay button

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 hours

[2017-10-01 10:44] ShailyTyagi opened #501 "The app closes if the device screen is turned off."
Current scenario:
If the device goes to sleep while the app is open , the user upon waking it up again should find the same state in which they left it.But here, the app closes automatically.

[2017-10-01 12:08] Rimjhim28 commented on #495
@codingblazer Should I send the PR?

[2017-10-02 07:06] Shreya001 commented on #501
can I work on this issue?

[2017-10-02 07:33] ShailyTyagi commented on #501
Hey! @Shreya001  I am going to work on it . I just need approval to go ahead! :)

[2017-10-03 15:28] pragyach opened #502 "Performance check or Testing issues for Power-up"
I am trying to write unit test for some important activities and functions.

[2017-10-03 19:13] codingblazer commented on #502
@pragyach Please mention the activities you are working on. Other contributors can work on remaining activities.

[2017-10-04 07:25] pragyach commented on #502
Recently I have written unit test for AvtarActivity.java and AvtarRoomActivity.java.

[2017-10-04 08:43] Rimjhim28 opened #503 "Improper handling of Back button of the device"
# Description
The CompletedSceneActivity needs a proper handling of the back button from the device.Currently if the back button is pressed the user is directed to the last question of the previous scenario and answering this again increases the karma points and this could be done multilple times.This also eventually leads to app crash at some point in the game.Some unexpected scenario also appear

[2017-10-04 13:31] codeb1ooded commented on #503
This issue is already mentioned in issue #375

[2017-10-04 20:34] ManognaMutyala commented on #459
Even I am interested in working on this .Can I work on this too?

[2017-10-04 21:22] yashasingh commented on #459
@ManognaMutyala I am working on this , I'll submit my PR soon.

[2017-10-05 10:04] Rimjhim28 commented on #463
@codingblazer Can I work on this?
I will be requiring some help.

[2017-10-05 16:17] MeepyMay opened #504 "Adding avatar items/options."
## Description
As a user,
I want to create my own avatar,
so that I can play the game.

## Mocks
N/A

## Acceptance Criteria
### Accessories [Examples Listed Below]
Hair:
• Clips
• Hawaiian Flower
• Bow
• Hair Band
Face:
• Glasses
• Surgical Masks ([Visual Kei Masks](https://www.google.com.lb/search?q=visual+kei+masks&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj93siZkcvVAhVCOBQKHdE6BDsQ_AUICigB&biw=1440

[2017-10-05 16:42] Adeti opened #505 "Update Android Design"
Ensure Android about screen correlate with iOS about screen.

[2017-10-05 16:44] MeepyMay commented on #504
@kachan123 is working on Hair Accessory, Hawaiian Flower.

[2017-10-05 16:45] Adeti commented on #505
Android's about screen is not updated to the new design like the iOS screen, so we need to make sure they are similar to each other.

[2017-10-05 17:29] zeroplusone commented on #498
I would like to work on this.

[2017-10-05 17:54] medhach commented on #499
I'm going to try to solve this one.
-Tia Zhang

[2017-10-05 18:04] eileenxuan commented on #497
can I try to work on it?

[2017-10-05 18:07] eileenxuan commented on #500
Can I work on this?

[2017-10-05 18:08] Rimjhim28 commented on #500
I would like to work on this issue.I am waiting for the approval.

On 5 Oct 2017 11:37 p.m., "eileenxuan" <notifications@github.com> wrote:

[2017-10-05 18:09] eileenxuan commented on #500
ok!

[2017-10-05 18:21] eileenxuan commented on #497
Can i work on this?

[2017-10-05 18:23] Rimjhim28 commented on #497
This is not a valid issue.The UI design of the activity is changed after
the updates to the code :)

On Thu, Oct 5, 2017 at 11:51 PM, eileenxuan <notifications@github.com>
wrote:

[2017-10-05 20:34] MeepyMay opened #512 "Test Issue"

[2017-10-05 20:44] medhach commented on #499
I didn't manage to solve this, but I think the problem is that "Returns home" is considered a valid answer and is sometimes the last answer in the dialogue. If I'm correct, the scenario is marked "Complete" as soon as you as soon as you finish the dialogue, and since "Returns home" is a valid answer, then the scenario is considered complete before you even enter the mini game. I tried to make it e

[2017-10-09 16:16] Rimjhim28 commented on #500
@codingblazer Can you please check the issue. I would like to work on this.

[2017-10-09 16:20] Rimjhim28 commented on #495
@aanchal07 Can I work on this?

[2017-10-09 17:05] codingblazer commented on #499
@medhach This issue definitely needs to be addressed. The answer to this problem lies in updateScenario() function of GameActivity.java.

In CSV files, the type (-1, -2, -3) are used to indicate the end of any mini-game conversations. The scenario is set completed after this. I think the behavior should be to mark conversations end as a checkpoint.

I implemented the same behavior for Minesweeper

[2017-10-09 17:13] codingblazer commented on #500
@Rimjhim28 This is a valid issue. Please describe the bug which is causing this problem, it's location and what solution you propose for this. Thanks :)

[2017-10-09 22:46] zarka opened #514 "The size of repo is big."
Currently the repo is insanely large in size (a 190MB or more). Going by the files currently in the project the maximum size should be 30 MBs. This is most probably because of some previous file in the git history. These files need to be identified and removed from git history.

I would work on this issue but would need help from someone who has worked on the project for a long time and can help i

[2017-10-11 19:51] Rimjhim28 commented on #500
# Description:
@codingblazer The bug lies in handling of the replay button in ScenarioOverActivity, specifically in the following line:
SessionHistory.currSessionID = SessionHistory.prevSessionID;

Currently, the curSessionID is always set to prevSessionID,no matter from where the replay button was clicked. The handling is fine if the user has just finished a particular scenario and wants to repla

[2017-10-11 20:15] Rimjhim28 opened #515 "Database lost if app is removed from background"
# Description
When the app is closed mid-way,removed from the background and is re-launched again all the previous data such as the last played scenario,karma points are lost.
This leads to crashing of the app if an already played scenario is chosen and replay button is clicked.
@codingblazer Can you please look into the issue.
I would like to work on this.

[2017-10-12 13:27] Rimjhim28 commented on #462
@Divya063 Are you still working on this? If no I would like to work on this.

[2017-10-13 13:44] Rimjhim28 commented on #500
@codingblazer I have solved the issue though the approach is different from what I have described here.
The approach is mentioned in the pull request.

[2017-10-14 20:47] zarka opened #519 "Typo in README.md"
There is a typo in `README.md`. I will send a PR to fix this.

[2017-10-16 05:07] Rimjhim28 commented on #515
@codingblazer Can you please check if this is a valid issue? Though after the code chenges in pull request #516 the app is not crashing any more but the previous karma points are still lost.

[2017-10-17 07:25] Rimjhim28 opened #521 "Minor issue in Vocab Match."
There is a repetition of one of the images in the game. While the first one goes correct for match with "Fat"
the next one goes correct with "Skinny". This creates a bit of ambiguity in the game.
![22550682_1419230741528566_1939487351_o](https://user-images.githubusercontent.com/26908195/31651747-75a64cde-b33a-11e7-9478-acdac36b80ca.png)
@codingblazer Please have a look.

[2017-10-17 09:18] geekanamika commented on #31
Is anybody working on this issue ? I would like to work on it :)

[2017-10-17 09:24] codingblazer commented on #521
There is no repetition. Both are different images. Look where the arrow is pointing. First is fatter and second is slim. Yes it does, however, seems less noticeable while playing the game. The design team will look into this. @kimhwins

[2017-10-17 09:27] codingblazer commented on #31
It's not required as of now. Not until we have more designs from the design team on this. Introduction screens for mini-games are already done.

[2017-10-17 17:36] kimhwins commented on #521
as sachin said, they're actually different images. I could make a tile that removes the head so we can zoom in on the stomach and hopefully that makes it more clear?

[2017-10-17 18:57] Divya10 commented on #503
hello can i work on this issue.

[2017-10-17 18:58] Divya10 commented on #375
can i work on this issue,

[2017-10-18 01:43] Rimjhim28 commented on #503
Hey @Divya10 ,here the issue was opened by and I had been waiting for @codingblazer approval.
I can work to get some of other issues :)

[2017-10-18 02:14] Rimjhim28 commented on #521
Oh yes! Just failed to notice.
But as a user, this will go unnoticed. Slight modification in the design could be better. :)

[2017-10-18 11:06] geekanamika commented on #459
Is this issue been resolved already ? If not, can I go ahead @codingblazer @yashasingh ?

[2017-10-18 11:18] geekanamika commented on #493
@sashafierce @codingblazer can i work on this issue if it's unresolved and available ?

[2017-10-18 16:11] MeepyMay opened #522 "Avatar needs more inclusive features."
## Description
As a user,
I want to create an avatar that reflects who I am,
so that I can connect with the avatar.

## Mocks
Use for reference on inclusive designs.
[Systers Open Source Slack Icons](https://www.dropbox.com/sh/2cesickgzx6c35h/AADddkIMQ2T_cXgytYkY9zg1a?dl=0)

## Acceptance Criteria
### Religions [Required]
Muslim:
• Hijab (showing some hair, more colors)
• al-Amira (showing no hair

[2017-10-19 23:50] debanjanah commented on #522
@MeepyMay @kimhwins I am working on the wheelchair. Since the current avatar doesn't have feet, it would be inconsistent to draw the wheelchair and then later add the avatar in sitting position where the avatar has feet. For immediate use, I started by leaving the lower portion out of the avatar. But I'm not sure if the wheelchair must look this way, since everything's 2D in the app. Should I cont

[2017-10-20 06:10] MeepyMay commented on #522
Hey @debanjanah!

Let me check in with a couple of resources who know about inclusivity and accessibility.

[2017-10-20 06:30] Rimjhim28 opened #523 "Sink to Swim Game slow question transition"
Currently, when the skipbutton is pressed during the game the transition to next question is quite slow and the space in which the question is dispplayed remains blank foe ariund 2 seconds which is quite ambiguous.

![slow](https://user-images.githubusercontent.com/26908195/31807835-f6109c62-b58d-11e7-95d2-034ae5913ac3.gif)

 Changed two lines of code to reduce the transition time.This could be re

[2017-10-21 17:39] Rimjhim28 commented on #523
@codingblazer Will this be valid issue to work on?

[2017-10-22 08:41] sunakshi96 commented on #522
@MeepyMay
I am working on this issue and have tried making four avatars. I am attaching them here, kindly review
Thank you.
![picture-4](https://user-images.githubusercontent.com/9900938/31860085-a10897a0-b732-11e7-80ea-e6153148b95a.png)
![picture-3](https://user-images.githubusercontent.com/9900938/31860086-a13b839a-b732-11e7-8a3a-16797bcd214a.png)
![picture-2](https://user-images.githubuserconte

[2017-10-22 10:49] Rimjhim28 opened #524 "Negative karma points"
## Description
As a user,
I need to fix the logic behind karma points,
so that I can the karma points do not go to a negetive value.

## Mocks
The error is arising because of the following code line in the handling of the replay button:
 SessionHistory.totalPoints -= SessionHistory.currScenePoints;
Here, as soon as the replay button is pressed the current session points are directly deducted from

[2017-10-24 06:22] #519 closed

[2017-10-24 06:25] MeepyMay commented on #522
@sunakshi96 Have you built the app? These avatars cannot be used in the game. It's not the correct format.

Here's the [version2.0 artwork](https://github.com/systers/powerup-android/tree/design/UI). Please take a look at the current work.

[2017-10-24 09:37] sunakshi96 commented on #522
@MeepyMay Thank you for reviewing the work and I went through the designs at the version2.0 artwork. I understood that we need to work on the individual elements  rather than composing it whole. Another fact I noticed is the issue was tagged hacktoberfest 2 days ago and it is removed today. I am confused why it is so?(since october is not over yet :) )

[2017-10-24 14:57] Rimjhim28 commented on #495
The issue is resolved through PR #527

[2017-10-24 14:58] #497 closed

[2017-10-24 17:04] debanjanah opened #528 "UI bug: glitchy text wrapping in scenario"
I am not very sure if this is a valid issue because considering the GUI mocks from the scenario folder, a lot of code might not have been merged with the current version we were required to build to test the app.
Here is a screenshot from the app emulated in a Nexus 5 API 23 (x86) mobile device where glitchy text wrapping takes place.
This doesn't make the selection of given choices easy as users

[2017-10-25 09:56] Rimjhim28 commented on #528
@debanjanah As far as the disappearance of home button is concerned, it seems to be an implementation rather than an issue. Going through the codebase I found this:

 if (scene.getReplayed() == 1) {
            goToMap.setAlpha((float) 0.0);
        }
(goToMap is the view id for the home button)

It seems that if a scenario is replayed, the home button "disappears" intentionally. Though, @MeepyMay

[2017-10-25 14:17] Rimjhim28 opened #530 "Inconsistent display of score in Swim to Sink game"
## Description
As a user,
I need change the display score text,
so that the game can have more uniformity.

## Mocks
Initially when the game starts the score in the game is diaplyed with two digits,that is, two zeros.
![double 0s](https://user-images.githubusercontent.com/26908195/32003335-50ffa366-b9bc-11e7-88ed-c731fb45f9d7.png)

But just after first response from the user, the score is displaye

[2017-10-26 10:18] Rimjhim28 opened #532 "Unresolved package in game_activity.xml"
## Description
As a user,
I need fix the package name,
so that game_activity.xml does not display any error.

## Mocks
![unresolved package](https://user-images.githubusercontent.com/26908195/32047898-12626cd4-ba65-11e7-84d5-c27f027ba619.png)

## Acceptance Criteria
### Update [Required]
- [ ] Change in game_activity.xml

## Definition of Done
- [ ] All of the required items are completed.
- [ ] A

[2017-10-26 10:37] Rimjhim28 opened #534 "Usage of "dp" for text size"
Currently, one of the dimension attributes in dimen.xml , about_text_size_section_title is using "dp" and is used for text size in activity_about.xml. Instead, sp or "scale-independent-pixels" should be used, which is preferred and recommended for text sizes as it respects user preference for text sizes.

## Description
As a contributor,
I need to change the dimension attribute in diemn.xml, about

[2017-10-28 10:48] debanjanah commented on #522
@meepymay Is there any update on the wheelchair design?

[2017-10-28 20:16] Rimjhim28 opened #538 "Fix Lint Errors"
Tracked lint errors throughout the project

- Usage of alignParentStart, alignParentEnd, layout_marginStart, layout_marginEnd along with other layout attributes and usage of "end" instead of "right" layout_gravity to support better to support better right-to-left layouts.

- Unused namespace declarations in xml files.

- xml with empty body tags.

- Usage of invalid parameters in Linear Layouts su

[2017-10-28 20:18] Rimjhim28 commented on #459
@yashasingh Are you working on it? If not, I would like to work on this @codingblazer @MeepyMay

[2017-10-29 07:27] anumehaagrawal commented on #522
Can I work on this issue as well ?

[2017-10-30 20:12] anumehaagrawal opened #539 "Reduce code size"
A lot of activities have redundant and repeatitive lines of code which make debugging hard.
Can i work on this issue ?

[2017-10-30 20:17] codingblazer commented on #539
@anumehaagrawal Can you list the activities with a small description (about what is the redundant part in that activity). Also, there is some unnecessary code in some activities which is to be removed.

[2017-10-30 20:23] codingblazer commented on #538
@Rimjhim28 Can you add lint output from Android Studio. We can then break lint issues into categories.

[2017-10-30 20:26] codingblazer commented on #523
@Rimjhim28 Yes, a valid issue !!

[2017-10-30 20:31] anumehaagrawal commented on #539
@codingblazer  In almost all the activities there are a lot of Image view declarations and methods which do the same thing but with different name . So all of them can be looped in a for loop and reduce code size. For eg . In DressingRoom Activity :-
-
String eyeImageName = getResources().getString(R.string.eye);
        eyeImageName = eyeImageName + getmDbHandler().getAvatarEye();
        ourRID

[2017-10-31 08:02] robillo opened #540 "Updating Android API version and Android Studio 3.0 Compatibility"
### What is wrong?

Currently, the app gradle file for the project aims at Android API 22, which is version Lollipop. As per valid sources, the usage of the version Lollipop is less than 28% of all Android devices, so it is recommended to target latest Android versions. [refer here] (https://fossbytes.com/most-popular-android-versions-always-updated/).

### Expected behaviour.

What do you think s

[2017-10-31 11:50] Rimjhim28 commented on #523
@codingblazer Thanks for the review. Already solved through PR #537

[2017-10-31 15:34] anumehaagrawal commented on #539
@codingblazer  can i work on it?

[2017-10-31 16:16] codingblazer commented on #539
Hi, @anumehaagrawal. The issue is certainly valid and can be worked on.
But please describe the issue completely for others. The issue needs to be updated with **specific** names of activities that have this redundant code like I told earlier. This prevents other contributors from creating similar issues and understanding which files you will work on.
Also, please follow [this](https://github.com/

[2017-10-31 16:18] codingblazer commented on #530
Hi @Rimjhim28 Yes, a valid issue. Please don't send pull requests until assigned in future :)

[2017-10-31 16:22] codingblazer commented on #523
@Rimjhim28 Will be reviewed soon :)

[2017-10-31 17:39] Rimjhim28 commented on #530
ok @codingblazer , will keep that in mind :)

[2017-10-31 18:32] MeepyMay opened #542 "Create scenario NPCs."
## Description
As a developer,
I need NPC elements,
so that I can add them to the appropriate scenarios.

## Mocks

- Example [avatar styles.](https://github.com/systers/powerup-android/blob/design/UI/avatar/customization2.png)
- Example [NPC styles.](https://github.com/systers/powerup-android/blob/design/UI/avatar/marco%20styles.png) **Note: Use a style closer to number 3. Which matches the avata

[2017-10-31 18:47] MeepyMay opened #543 "Finish avatar and include feet."
## Description
As a developer,
I need a full body avatar,
so that I can update.

## Mocks
![new avatar body example](https://user-images.githubusercontent.com/2440938/32242626-a0a25fd0-be49-11e7-802d-c43891df3575.png)
**Note: With the version 2.0 eyes, not version 3.0.**

## Acceptance Criteria
### Base [Required.]
• [All 16 available skin tones.](https://github.com/systers/powerup-android/tree/de

[2017-10-31 18:49] Rimjhim28 commented on #538
@codingblazer How should I do that? Should I post the screenshot here?

[2017-10-31 18:53] MeepyMay opened #544 "Accessible Options!"
## Description
As a user,
I want to create an avatar that reflects who I am,
so that I can connect with the avatar.

## Mocks
Use [@debanjanah's mock](https://user-images.githubusercontent.com/11819085/31799182-3a5efeb4-b556-11e7-8f07-a1807415574f.png) and use [full body](https://github.com/systers/powerup-android/tree/design/UI/avatar/full%20body) dimensions to complete avatars who use wheelchair

[2017-10-31 19:00] MeepyMay opened #545 "Creating more Avatar creation options."
## Description
As a user,
I want to create an avatar that reflects who I am,
so that I can connect with the avatar.

## Mocks
- [Current hijab options.](https://github.com/systers/powerup-android/blob/design/UI/avatar/hair/avatar%20hairs%20religion.png)
- Shoes require issue #543 to be completed first.

## Acceptance Criteria
### Religions [Required]
Muslim: (2 of each)
• Hijab (showing some hair,

[2017-10-31 20:17] #458 closed

[2017-10-31 20:17] #504 closed

[2017-10-31 20:17] #512 closed

[2017-10-31 20:18] #369 closed

[2017-10-31 20:31] MeepyMay commented on #522
@sunakshi96 The styles should match as much as possible. For example, you matched the version 1.0 design very well in this [PR #526](https://github.com/systers/powerup-android/pull/526/files).

Systers hasn't participated in Hacktoberfest. I only added the label to test and check what's required for Hacktoberfest (from an org perspective), but currently, we don't have a CONTRIBUTING.md to particip

[2017-10-31 20:31] #522 closed

[2017-10-31 20:40] #465 closed

[2017-11-01 03:42] debanjanah commented on #543
@meepymay What should the dimensions of the new image be for the app?

[2017-11-01 15:03] MeepyMay commented on #543
@debanjanah Can you change to submit files only of bodies? No accessories, for now, I have to review the files separately.

[2017-11-02 04:38] MeepyMay opened #548 "Avatar needs a high-school "age" upgrade."
## Description
As a developer,
I need a full body avatar with older features,
so that I can show an age transition in the application.

## Mocks
Use this [full body](https://github.com/systers/powerup-android/tree/design/UI/avatar/full%20body) avatar for inspiration. Use the body to leg ratio found in the [fourth body here](https://commons.wikimedia.org/wiki/File:Human_development_neoteny_body_and

[2017-11-02 04:39] MeepyMay opened #549 "Avatar needs a college "age" upgrade."
## Description
As a developer,
I need a full body avatar with older features,
so that I can show the last age transition in the application.

## Mocks
![new avatar body example](https://user-images.githubusercontent.com/2440938/32242626-a0a25fd0-be49-11e7-802d-c43891df3575.png)
**Note: With the version 2.0 eyes, not version 3.0.**
Use the body to leg ratio found in the [fifth body here](https://co

[2017-11-02 20:27] geekanamika opened #550 "Merge Master branch with GSOC17 branch"
Due to master branch being very outdated and a lot has been changed in UI+game functions , shouldn't master branch contain all the updated code&design ? It leads to confusion for the first time contributors as Read-Me doesn't shows any information regarding regularly updated branch.

[2017-11-03 18:58] #543 closed

[2017-11-05 04:52] anumehaagrawal commented on #539
@codingblazer  is this fine?

[2017-11-08 10:35] Rimjhim28 commented on #463
@codingblazer Can I work on this?

[2017-11-08 10:35] Rimjhim28 commented on #462
@codingblazer Can I work on this?

[2017-11-08 10:36] Rimjhim28 commented on #459
@codingblazer Can I work on this?

[2017-11-14 15:02] nb2998 opened #551 "Not able to resume any scene after restarting the app"
**Steps to reproduce:**
After restarting the app, load game, click on any scene and click on replay.

**Logcat:**
`11-14 19:52:46.587 31259-31259/powerup.systers.com.powerup E/AndroidRuntime: FATAL EXCEPTION: main
                                                                             Process: powerup.systers.com.powerup, PID: 31259

[2017-11-14 16:57] Rimjhim28 commented on #551
Hey @nb2998  I think I have reported a similar kind of issue through #500 for the replay button not workin properly and #515 where all the previous karma points, scenarios already played are lost. After solving and merging of these issues I am not sure whether this issue will still exist or not.
@codingblazer 's view could help us here.

[2017-11-14 19:28] Divya10 commented on #551
Hello,can i work on this issue.

[2017-11-26 06:01] Rimjhim28 opened #552 "Include margins for scenario description"
# Description
Currently the scenario description in all the scenarios seems too much aligned to top left corner of the device screen. A better option would be to include margin or padding for a better view.

# Mocks
![screenshot_1511675724](https://user-images.githubusercontent.com/26908195/33237571-5a1931a2-d29d-11e7-8ef5-0bda81041958.png)

# Acceptance Criteria
There should inclusion of margins

[2017-11-26 07:25] #550 closed

[2017-11-26 08:32] anumehaagrawal commented on #539
@codingblazer  Can i proceed with this ?

[2017-11-26 20:14] codingblazer opened #553 "Replace background of AvatarScene by Correct background"
# **Description**

The current background for avatar creation is not consistent with the iOS version. The background needs to be replaced by the correct one as shown in the mocks.

# **Mocks**

**Current background:**
![screenshot_20171127-010028](https://user-images.githubusercontent.com/13872065/33243548-7b1ed278-d30e-11e7-9c41-238c5349fb2a.png)

**Correct background:**
![screen shot 2017-11-27

[2017-11-27 07:05] codingblazer opened #554 "Add "Marcello" text in scenarios to match with iOS version"
# **Description**

The iOS version has a "Marcello" text below the boy character in scenarios which is missing in the Android version.

# **Mocks**

**Android version :**

![whatsapp image 2017-11-27 at 12 29 57](https://user-images.githubusercontent.com/13872065/33254567-53e0e8ca-d36f-11e7-80fa-21aebdb790c4.jpeg)

**iOS version:**
![screen shot 2017-11-27 at 12 30 18 pm](https://user-images.githu

[2017-11-28 17:18] Rimjhim28 opened #555 "Report and fix lint issues"
# Description
Track lint issues throughout the project using android inspect tool. Include the lint output from Android Studio. Rectify all the errors and try to eliminate maximum number of warnings.

# Mocks
Not applicable

# Acceptance criteria
Approval by the mentors

# Estimation
12 hours

[2017-11-28 21:35] erikaaatan opened #556 "Include total karma points on final screen of PowerUp Android"
To show the total karma points accumulated at the end of the game, GameOverActivity must be changed. Some static variables that should be reused are karma_iv_width and karma_iv_height, which are dimensions for the karma box. The karma box (@drawable/karma_box) and the TextView inside the karma box displaying the points should also be reused.

[2017-11-29 12:49] mhdsmr2 commented on #555
Which branch do I have to do it on?

[2017-11-29 12:54] Rimjhim28 commented on #555
You can get the latest code from branch "GSoC'17".

[2017-11-29 12:56] mhdsmr2 commented on #555
Okay. Thanks.

[2017-11-29 17:12] Rimjhim28 commented on #552
@MKDEVELOPEMENT You need to claim it on GCI portal first.

[2017-11-29 17:29] #555 closed

[2017-11-29 17:32] MKDEVELOPEMENT commented on #552
i have claimed it on GCI

[2017-11-29 17:33] ZidBidBee commented on #553
Can I claim it?

[2017-11-29 17:41] Rimjhim28 commented on #552
Then you can proceed @MKDEVELOPEMENT

[2017-11-29 18:12] TheCraftKid commented on #459
Hey, I'm going to tackle [this issue](https://codein.withgoogle.com/dashboard/task-instances/4780260874780672/) for Google Code-In.

From my search, it appears only one Activity has a hardcoded string that shouldn't be so: ScenarioOverActivity. on line 114, string concatenation is used instead of a formatted string, so I'll fix this later today.

[2017-11-30 07:15] mhdsmr2 commented on #555
Why did you close this?

[2017-11-30 08:48] Rimjhim28 commented on #555
Hey @mhdsmr2 the issue needed some modificaion. The related task will be published by next week. Till then claim and work on other issues. All the Best! :)

[2017-11-30 08:51] mhdsmr2 commented on #555
Okay. +1

[2017-11-30 18:42] kacperszo opened #569 "[Program:GCI] Enhance the exit option"
# Description
Currently pressing back button in the start activity closes the game witchout any notice.
Pressing the back button once should display a toast message "Press once more to exit" and pressing the back button again within 2 seconds should exit the game.
# What could be done:
Pressing the back button once should display a toast message "Press once more to exit"
Pressing the back button a

[2017-11-30 22:24] MKDEVELOPEMENT commented on #503
can i do this issue for GCI

[2017-11-30 22:25] MKDEVELOPEMENT commented on #375
can i work on this

[2017-12-01 03:41] Rimjhim28 commented on #503
Yes @MKDEVELOPEMENT Proceed! :)

[2017-12-01 09:56] m-sameer commented on #556
Are you a student or a mentor for GCI? I wanna work on this issue.

[2017-12-01 10:58] #556 closed

[2017-12-01 17:40] #569 closed

[2017-12-01 18:02] Rimjhim28 opened #576 "Enhance the exit option"
# Description
Currently pressing the back button on PowerUp home screen simply exits the app without any warning. Enhance the exit option so that when the user presses the back button once, a toast message is displayed "Press once more to exit", pressing the back button again within 2 seconds exits the app.

# Mocks
Not applicable

# Acceptance Criteria
Toast message should be displayed. Use strin

[2017-12-01 18:39] Rimjhim28 opened #577 "Include the total karma points on final screen"
# Description
Currently the final screen does not display total karma points scored by user during the game. Enhance the final screen to include the total karma points scored by the user. Refrain from creating any new classes and variables as far as possible.

# Mocks
Current screenshot of final screen. Karma points should be included in top left corner alongwith proper inclusion of margins.
![fin

[2017-12-02 06:18] m-sameer commented on #576
May I work on this issue?

[2017-12-02 08:31] m-sameer commented on #576
I created the [PR](https://github.com/systers/powerup-android/pull/580). Please review it.

[2017-12-02 11:02] ZidBidBee commented on #576
Can I claim this?

[2017-12-02 11:04] ZidBidBee commented on #577
Can I claim this?

[2017-12-02 11:40] Rimjhim28 commented on #576
@ZidBidBee You can claim the task after you have claimed it on gci portal.

[2017-12-02 11:40] Rimjhim28 commented on #577
@ZidBidBee You can claim the task after you have claimed it on gci portal.

[2017-12-02 11:43] ZidBidBee commented on #576
@Rimjhim28 I just did... Thanks!

[2017-12-02 18:17] Rimjhim28 opened #588 "Remove probable bugs"
# Description
There are probable java bugs in the project. Use android inspect tool for removal of these bugs.
The bugs which need to be removed are as follows:
- Usage of toString()  on arrays
-  Usage of "==" instead of equals()

# Acceptance Criteria
Try eliminating maximum bugs considering the listed categories. Attach an screenshot of the lint output to highlight the elimination of errors.

#

[2017-12-03 03:57] m-sameer commented on #577
Sorry for the wrong reference.

[2017-12-03 17:27] Rimjhim28 opened #597 "Increasing order of karma points"
# Description
Currently the required karma points displayed on StoreActivity is quite inconsistent. Change the order of karma points to increasing by modifying the proper variables. Avoid adding any new variables/arrays.

# Mocks
Current view of karma points is shown in the screenshot
![screenshot_1512242939](https://user-images.githubusercontent.com/26908195/33527811-0edf08e8-d87d-11e7-8a94-f01b0

[2017-12-03 22:51] abhijeetmanohar commented on #577
I am working on this task as I claimed on GCI portal.

[2017-12-04 12:56] mofetej commented on #552
How do i claim the issue here. I already claimed the task on GCI portal

[2017-12-04 14:43] ZidBidBee commented on #552
Is is possible for me to still claim this task? Even though someone else has claimed it.

[2017-12-04 14:59] Isabel-S commented on #577
I am working on an related task on GCI and am claiming this issue

[2017-12-04 15:26] Rimjhim28 commented on #552
@mofetej You just need to inform that you are working on this issue. If you have claimed it on GCI portal you can go ahead.

[2017-12-04 15:28] Rimjhim28 commented on #552
@ZidBidBee If you can claim it on GCI portal,that is, if the related task is available on GCI portal you can claim it there. If you can claim the task there you can claim the issue.

[2017-12-04 15:29] Rimjhim28 commented on #577
@Isabel-S I think you have claimed it on GCI portal. Hence, you can proceed.

[2017-12-04 17:34] MKDEVELOPEMENT commented on #577
i have claimed it on GCI, can i proceed with this?

[2017-12-05 15:50] yuyuan-luo commented on #552
I would like to work on this, I claimed it on the GCI portal. Thank you! :)

[2017-12-05 15:53] m-sameer commented on #552
I'm working on it.

[2017-12-05 16:16] m-sameer commented on #552
@Rimjhim28 I have added the margins, please review the [PR](https://github.com/systers/powerup-android/pull/603).

[2017-12-06 00:56] OliveUzoma commented on #459
the files with hardcoded Strings are
ScenarioOverActivity.java
SelectFeaturesActivity.java

[2017-12-06 15:24] m-sameer commented on #552
@Rimjhim28 I have also added all the screenshots in the [PR](https://github.com/systers/powerup-android/pull/603).

[2017-12-06 17:05] ZoroarkDarkrai commented on #597
I should change the value manually? If so, can I claim this? @Rimjhim28

[2017-12-06 17:54] Rimjhim28 commented on #597
@ZoroarkDarkrai You first need to claim the related task on GCI portal.

[2017-12-06 17:59] ZoroarkDarkrai commented on #597
Ook. Just wanna make sure, this should be done manually, right? @Rimjhim28

[2017-12-07 01:58] Rimjhim28 commented on #597
@ZoroarkDarkrai That is what the task is all about. It depends on your perception. Claim the task and try to submit some work for review. If more work or modifications would be required you'll be guided by the mentors.

[2017-12-07 07:33] ZoroarkDarkrai commented on #597
I have claimed it. Can you assign the issue to me? @Rimjhim28

[2017-12-07 10:44] erikaaatan commented on #499
I would like to claim this issue for the GCI task

[2017-12-07 13:18] Rimjhim28 commented on #597
@ZoroarkDarkrai If you have claimed it on GCI portal you can proceed!

[2017-12-07 14:28] m-sameer commented on #577
I am working on this. :)

[2017-12-07 16:16] m-sameer commented on #577
@Rimjhim28 Please review the [PR](https://github.com/systers/powerup-android/pull/612). :)

[2017-12-07 16:50] ZidBidBee commented on #577
Can I claim this? I have claimed the task on GCI Portal.

[2017-12-07 16:53] Rimjhim28 commented on #577
Go ahead @ZidBidBee

[2017-12-08 10:01] 1997jazz commented on #577
@Rimjhim28 I'm new to open source contribution. Can you explain how to visit the GCI portal to claim the aforementioned issue/task.

[2017-12-08 12:44] m-sameer commented on #577
@1997jazz If you have registered for CGI you may visit this [link](https://codein.withgoogle.com/tasks/6486408782938112/) to claim this task. Also, you can find more tasks there. If you haven't registered for CGI you may register at https://codein.withgoogle.com/.

[2017-12-08 18:29] FizzesShark commented on #597
Hey, I also claimed it on GCI, but I can't find the button to claim it on GitHub. How can I do that?

[2017-12-08 18:56] Rimjhim28 commented on #597
@FizzesShark If you've claimed it on GCI you can proceed.

[2017-12-09 13:52] Aryaman21 commented on #577
@Rimjhim28 please review my task submission, the screenshots have now been properly attached in a .zip :)
Link to the pull request - https://github.com/systers/powerup-android/pull/622

[2017-12-09 14:23] m-sameer commented on #597
I am working on it. :)

[2017-12-09 14:24] Isabel-S commented on #597
@Rimjhim28 Hi, just letting you know that I am working on this for GCI tasks.

[2017-12-09 14:42] Rimjhim28 commented on #597
@Isabel-S Since you have claimed it you can go ahead. :)

[2017-12-11 11:49] bolutej commented on #597
![game1](https://user-images.githubusercontent.com/34077086/33829723-b16e575e-de71-11e7-8545-cdf5767d29ce.png)
![game2](https://user-images.githubusercontent.com/34077086/33829724-b1abf460-de71-11e7-946d-634395306a39.png)

[2017-12-11 11:50] bolutej commented on #597
![game2](https://user-images.githubusercontent.com/34077086/33829747-cea2ef4c-de71-11e7-838e-1406647d73ef.png)
![game1](https://user-images.githubusercontent.com/34077086/33829766-d98867a2-de71-11e7-8749-bb59c600f519.png)

[2017-12-11 18:40] Rimjhim28 commented on #553
@ZidBidBee Claim the task on GCI Portal and go ahead. I apologize for a late reply.

[2017-12-13 10:56] Aryaman21 commented on #576
@Rimjhim28 @codingblazer done the changes as part of the task, please find the link attached.
Link -

[2017-12-13 20:27] pavi2410 commented on #459
Can I work on this? I'm participating in GCI

[2017-12-14 04:06] yuyuan-luo commented on #576
May I work on this if I have claimed it on the GCI portal?

[2017-12-14 04:41] Rimjhim28 commented on #576
@yuyuan-luo You can surely proceed if you have claimed it on GCI portal.

[2017-12-14 04:42] Rimjhim28 commented on #459
@pavi2410 You can surely proceed if you have claimed it on GCI portal.

[2017-12-14 13:34] ZidBidBee commented on #503
I've claimed it on GCI... may I work on this?

[2017-12-14 15:45] vatsalkul commented on #552
I added margins to scenario description. https://github.com/systers/powerup-android/pull/656

[2017-12-14 16:49] ZidBidBee commented on #597
I have claimed this task on GCI. May I work on this?

[2017-12-14 17:31] vatsalkul commented on #552
I have added margins to the scenario description. https://github.com/systers/powerup-android/pull/657

[2017-12-14 17:36] arundhati24 commented on #534
Hi @Rimjhim28,  I would like to fix this issue.

[2017-12-14 18:00] vatsalkul commented on #576
Enhanced the exit button by making it more responsive. https://github.com/systers/powerup-android/pull/659

[2017-12-14 18:59] Rimjhim28 commented on #534
@arundhati24 I will work on this. I just need an approval. You may find some issues yourself and work to resolve those.

[2017-12-14 20:13] Aryaman21 commented on #552
Added the necessary margins with the revised changes. https://github.com/systers/powerup-android/pull/649

[2017-12-14 21:22] vatsalkul commented on #576
Enhanced the exit Button. https://github.com/systers/powerup-android/pull/662

[2017-12-15 02:35] Masquerade0097 opened #664 "LeakCanary for detection of Memory Leaks"
**Description**
Memory Leaks can occur in an application and can reduce the performance of the app. Moreover it can be difficult for the programmer to detect them.

**Expected Behaviour**
Incorporation of a mechanism to detect memory leaks easily

**Observed Behaviour**
No such mechanism is currently being used in the app.

[2017-12-15 02:36] Masquerade0097 commented on #664
Let me work on this issue

[2017-12-15 03:19] Rimjhim28 commented on #664
I think a similar issue is present in #463

[2017-12-15 10:06] Masquerade0097 commented on #540
@robillo Please have a look at my pull request #653

[2017-12-15 10:22] Masquerade0097 commented on #532
@Rimjhim28 please have a look at pull request #667

[2017-12-15 11:38] Masquerade0097 opened #670 "App crash on clicking replay button in Scene Home"
**Discription**
When user clicks Home Scene, the ScenarioOverActivity is opened in which I clicked the Replay button and the app crashed with the following error message -
[code]
This error comes inspite from the fact that user goes into the map activity from New Game or Load Game.

**Expected Behaviour**
The user should be able to replay the Home Scene.

**Observed Behaviour**
App crash

@dhara04

[2017-12-15 13:25] #670 closed

[2017-12-15 13:25] #664 closed

[2017-12-15 22:16] vatsalkul commented on #597
I have rearranged the order of required Karma Points #681

[2017-12-16 11:06] 1997jazz commented on #515
@Rimjhim28 @codingblazer can I work on this issue?

[2017-12-16 12:38] Rimjhim28 commented on #515
@1997jazz I will be working on this issue. I am waiting for the approval. :)

[2017-12-16 12:56] Aryaman21 commented on #597
Completed the task, and added the screenshots as well.
PR - https://github.com/systers/powerup-android/pull/674

[2017-12-16 13:17] Aryaman21 opened #687 "Configuring Dimensions for Dialogues"
##Description
At some points in the GameActivity, some parts of the dialogues by the second character are not readable due to improper dimensions of the View in the dialogue cloud.
New margins and proper dimensions need to be added in order to fix the appearance of the dialogues.

## Mocks
![Screenshot](https://user-images.githubusercontent.com/19228432/34055747-9aaf0bd4-e1f6-11e7-99ab-86f32a61a52

[2017-12-16 13:43] vatsalkul commented on #577
I have included the total karma points to final screen. https://github.com/systers/powerup-android/pull/688

[2017-12-16 14:55] vatsalkul commented on #503
I have Fixed the back button functionality. https://github.com/systers/powerup-android/pull/690

[2017-12-16 17:28] vatsalkul commented on #503
I have fixed the back button functionality. https://github.com/systers/powerup-android/pull/691

[2017-12-16 18:29] Masquerade0097 commented on #493
@codingblazer @aanchal07  Can i work on this issue?

[2017-12-16 18:29] Masquerade0097 commented on #460
@codingblazer @aanchal07 Can i work on this issue?

[2017-12-16 18:47] Masquerade0097 opened #693 "Automatic unlocking of next scene"
**Description**
When i run the app ( GSoC branch ) on my system this screen is displayed. The user scene is by default completed( Issue #694) and since it is completed therefore the scene right after it should get unlocked but this is not happening.

**Steps To Reproduce**
Load Game -> House -> Map
or
New Game -> Create New Avatar -> Continue -> House -> Map

**Mocks**
![power_scr](https://user-im

[2017-12-16 19:10] Masquerade0097 opened #694 "Home Scene completed by default on opening"
**Description**
When i ran the app( GSoC branch ) on my system, after loading game or creating new user when i opened House Scene it was completed by default.

**Expected Behaviour**
The user should click on House Scene and complete it manually by completing the required.

**Observed Behaviour**
The Home scene was completed  by default.

**Mocks**
![power_scr2](https://user-images.githubuserconten

[2017-12-17 04:14] Rimjhim28 opened #696 "Changing to Constraint Layouts"
## Description

Currently there are several layouts that have nested and linear layouts.
Some of the layouts are Start Screen,Map, MineSweeper Game, Vocab Match Game and VocabMatch End.
A better option would be to convert them to constraint layouts to enhance android performance.

## Mocks

I analyzed the layouts through hierarchy viewer to get the present tree stuctures.
Start Screen
![adm_start_

[2017-12-17 04:16] Rimjhim28 commented on #696
@codingblazer @MeepyMay @aanchal07 Please approve.
I would like to work on this issue.

[2017-12-17 04:33] Rimjhim28 opened #697 "Texts not visible properly in Vocab Match Game"
## Description

The texts in Vocab Match Game tent to come out from the white space.
I tested the behaviour for mobile and tablet scree.
It would be better to align the texts on the center of white spaces so that there visibilty is enhanced.

## Mocks

Mobile Screen
![screenshot_1513484862](https://user-images.githubusercontent.com/26908195/34076574-72c47304-e311-11e7-8f4e-ffc17148505e.png)

Table

[2017-12-17 04:34] Rimjhim28 commented on #697
@codingblazer @aanchal07 Please approve. I would like to work on this issue.

[2017-12-17 04:36] geekanamika commented on #696
Hey rimjhim , When it comes to performance, Constraint layouts are better option as compared to relative, As constraint layouts don't need nesting and it's recommended by android developers.

[2017-12-17 05:21] Masquerade0097 commented on #501
@codingblazer @aanchal07 Can i work on this issue?

[2017-12-17 06:40] Masquerade0097 opened #699 "Warning: XML Tag has empty body"
**Description**
In some XML layout activities -

avatar_room.xml,
activity_minesweeper_game.xml
activity_sink_to_swim_game.xml

 there is this warning -
`XML Tag has empty body`

**Expected Behaviour**
This warning must be resolved.

**Definition of Done**
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

**Estimation**
< 30 Minutes

[2017-12-17 06:41] Masquerade0097 commented on #699
@codingblazer Please approve so that i can resolve this issue.

[2017-12-17 06:55] Rimjhim28 commented on #699
Hey @Masquerade0097 I have reported all the lint issues which includes empty xml tags in #538

[2017-12-17 06:59] Rimjhim28 commented on #696
Thanks a lot @geekanamika for the suggestion.

[2017-12-17 07:20] #699 closed

[2017-12-17 07:34] Rimjhim28 opened #701 "Add Unit tests for Game Activity, GameOverActivity,ScenarioOverActivity and Store Activity"
## Description
Currently the app contains unit tests for mini games but there are no unit tests for various scenarios implemented in the project. I would like to include unit tests for GameActivity.java to check for the functionality of all the four scenarios, GameOverActivity.java,ScenarioOverActivity.java, StoreActivity.java to check the proper functionalities.

## Mocks
Not Applicable

### Upda

[2017-12-17 07:34] Rimjhim28 commented on #701
@codingblazer @aanchal07 @MeepyMay Can I proceed?

[2017-12-17 08:19] Masquerade0097 commented on #540
@codingblazer @aanchal07 Can i work on this issue?

[2017-12-17 08:48] Masquerade0097 opened #703 "Changing access to private instead of public"
## Description
Most of the classes and methods are declared public which gives a warning in Android Studio but instead they can be made package-private.  This will help counter two problems -
a) Easier to debug that class or method
b) Would help to reduce the unnecessary Coupling.

I aim to change the access to private for those classes and methods where it is possible to do so.

## Observed Behav

[2017-12-17 08:48] Masquerade0097 commented on #703
@codingblazer @aanchal07 @MeepyMay Please approve so that I can resolve this error.

[2017-12-17 15:39] arundhati24 opened #708 "Invalid layout params in activity_select_features.xml"
## Description
Currently invalid layout params have been used at several places in the activity_select_features.xml . Such invalid parameters have no effect on the code and they unnecessarily add to the length of the code and create confusion in the mind of the readers/users/developers.

## Mocks
Here are example screenshots of two such invalid params :
![invalidlayoutparam_1](https://user-images.

[2017-12-17 15:42] arundhati24 commented on #708
I would like to fix this issue. May I please proceed with the same?

[2017-12-17 17:03] Masquerade0097 commented on #708
@arundhati24 I think this issue is included in Issue #538. Please verify.

[2017-12-17 17:12] Masquerade0097 opened #709 "Dropping of Frames !!"
## Description
When I tried to play the Vocab Match Game and after that continue to the preceding Scenario. I noticed the frames were being dropped. This is because the application is doing too much work on it's main thread. This slows down the application and leads to bad UX. Thus code must be modified to work on multiple threads simultaneously.

## Observed Behavior
This is the debug logcat -
`I

[2017-12-17 17:49] #708 closed

[2017-12-18 05:45] vatsalkul commented on #462
I have added mini score Gokarna points. https://github.com/systers/powerup-android/pull/718

[2017-12-18 12:24] sidvenu commented on #503
I have created a pull request for the proper handling of the back button, with provided documentation and comments to explain the code. Thank you for this opportunity! :)
Link: https://github.com/systers/powerup-android/pull/719

[2017-12-19 00:58] CandyZQ commented on #588
Can I work on this?

[2017-12-19 16:06] Rimjhim28 opened #725 "Disappearance of Home Button"
## Description

If the home button (located on top right corner) is pressed in mid way of any scenario it takes to Map. Now if the scenario is chosen to be played again, the home button disappears and the user cannot migrate to the map again from the mid of the scenario.
Rectify the implementation of home button such that it does not disappear after the user has used it once.

## Mocks

Not Applic

[2017-12-19 17:42] sidvenu commented on #553
I have changed the background image to the required image. It was a one-line substitution of XML code (in the file avatar_room.xml). I have tested it on my phones and tablet. I've used a single commit and is a different branch (branched from GSoC17).
PR Link: https://github.com/systers/powerup-android/pull/727

[2017-12-20 08:39] grusha02 commented on #725
Can I work on this issue?

[2017-12-20 11:21] Rimjhim28 opened #730 "Include total points dialog box to remove inconsistency of Scenario Over Activity between PowerUp Android and iOS"
## Description

Currently, in Android version of the app the Scenario Over screen is displayed directly. A better option would be to include a dialog box in Scenario Over screen after the completion of concerned scenario such that it displays the total karma points scored in the scenario. The implementation could be similar to current implementation in iOS version.

## Mocks

Current state of Scen

[2017-12-20 19:09] ZoroarkDarkrai commented on #730
Can I work on this? @Rimjhim28

[2017-12-21 13:42] akshaynexus commented on #725
I have fixed this issue ,please see PR https://github.com/systers/powerup-android/pull/740

[2017-12-22 18:13] ZoroarkDarkrai commented on #730
I can't find the task on the GCI portal. Has someone claimed this or can I work on this? @Rimjhim28

[2017-12-23 14:57] Rimjhim28 commented on #730
@ZoroarkDarkrai The related task is currently not available to be claimed but will be available soon. Till then go on with other tasks.

[2017-12-24 12:36] akshaynexus commented on #503
i have fixed this issue as part of a GCI task,here is the link to the PR https://github.com/systers/powerup-android/pull/759

[2017-12-26 12:40] Mandeepsinghchadha commented on #460
@codingblazer  Exactly what do you expect in the description after completion of that event

[2017-12-26 17:00] Mandeepsinghchadha commented on #730
@Rimjhim28  hii..mam when should the dialogue box be appearing after clicking on continue or just after opening of this page.

[2017-12-26 17:08] Mandeepsinghchadha commented on #544
hii..Is this issue closed or somebody is working on it right now?

[2017-12-26 17:10] Mandeepsinghchadha commented on #530
@Rimjhim28  hii..Are you still working on this issue or is this closed?

[2017-12-27 20:26] codingblazer opened #768 "Text in Conversation Boxes Overflows"
## Description
The text in conversation boxes in scenarios overflows out of boundary in some screen sizes.

## Mocks
![whatsapp image 2017-12-28 at 01 48 46](https://user-images.githubusercontent.com/13872065/34392443-28a3d468-eb72-11e7-9f02-d5ff59d7375f.jpeg)

## Acceptance Criteria
The text should be within the boundary of conversation on all screen sizes and configuration. Add the screenshots f

[2017-12-29 11:34] arundhati24 opened #774 "Add "skip tutorial" button to the Vocab Match game"
## Description
A user who has already played the game before or is re-playing it might wish to skip reading the tutorial every time. Thus, adding a "skip tutorial" button would allow the user, who already knows how to play the game, to directly start playing the game.

## Mocks
Add a skip button to the following activity :
![activity_vocab_match_tutorial](https://user-images.githubusercontent.com/

[2017-12-29 11:35] arundhati24 commented on #774
May I please work on this issue?

[2017-12-29 11:38] arundhati24 opened #775 "Add "skip tutorial' button to the Sink to Swim game"
## Description
A user who has already played the game before or is re-playing it might wish to skip reading the tutorial every time. Thus, adding a "skip tutorial" button would allow the user, who already knows how to play the game, to directly start playing the game.

## Mocks
Add "skip tutorial" button in the following activity :
![activity_sink_to_swim_tutorials](https://user-images.githubuserc

[2017-12-29 11:39] arundhati24 commented on #775
May I please work on this?

[2017-12-29 11:41] arundhati24 opened #776 "Add "skip tutorial" button to the Minesweeper game"
## Description
A user who has already played the game before or is re-playing it might wish to skip reading the tutorial every time. Thus, adding a "skip tutorial" button would allow the user, who already knows how to play the game, to directly start playing the game.

## Mocks
![activity_minesweeper_tutorials](https://user-images.githubusercontent.com/30979369/34436359-310a22a2-ecbb-11e7-835a-01f

[2017-12-29 11:42] arundhati24 commented on #776
May I please work on this?

[2017-12-29 12:18] Rimjhim28 opened #777 "Handling of VocabMatch game when migrated out of the app in middle of the game"
## Description

If the vocab match game is left in middle and the user migrates out of the app, the game still continues to completion in the background and relaunches itself once the game gets completed.
A pause like feature could be implemented here such that the game stops when the user migrates out of the game in the middle or restarting the game once again when the user comes back can be done

[2017-12-29 14:57] arundhati24 commented on #768
@codingblazer May I please work on this issue?

[2017-12-30 07:22] ada-vu commented on #459
the files that have hardcoded strings are listed:

activity_minesweeper_game.xml
activity_scenario_over.xml
activity_sink_to_swim_end.xml
activity_sink_to_swim_game.xml
activity_store.xml
activity_vocab_match_end.xml
activity_vocab_match_game.xml
avatar_room.xml
minesweeper_pros_cons.xml
store_selection_view.xml

https://github.com/systers/powerup-android/pull/780

[2017-12-30 08:48] Aryaman21 commented on #687
@codingblazer can I start working on this?

[2017-12-30 13:30] ZoroarkDarkrai commented on #499
I would like to claim this issue if it's not been resolved yet.

[2017-12-30 15:29] luo-yuyuan commented on #499
I would like to work on this. :)

[2017-12-30 21:13] ada-vu commented on #459
removed the hardcoded strings and replaced them with their resource name following naming conventions.

the files with hardcoded strings are:
activity_minesweeper_game.xml
activity_scenario_over.xml
activity_sink_to_swim_end.xml
activity_sink_to_swim_game.xml
activity_store.xml
activity_vocab_match_end.xml
activity_vocab_match_game.xml
avatar_room.xml
minesweeper_pros_cons.xml
store_selection_view

[2017-12-31 09:00] ZoroarkDarkrai commented on #777
For the pause and resume option, animator.pause() then animator.resume() can be used.
But, once the activity is destroyed, to resume the game with the same state as before will require quite a bit of values need to be saved in shared preferences.For the tiles, I think we only need to save the tile row and how long the time has elapsed with System.currentTimeMillis() and figure out each tile positi

[2017-12-31 10:06] aviral2004 commented on #459
Files with hardcoded strings:

1. AbstractDbAdapter.java
2. DatabaseHandler.java
3. MinesweeperGameActivity
4. sinkToSwimGame.java
5. MapActivity.java
6. StartActivity
7. activity_main.xml
8. activity_minesweeper_game.xml
9. activity_store.xml
10. activity_vocab_match_game.xml
11. minesweeper_pros_cons.xml
12. store_selection_view.xml

[2017-12-31 13:31] Mandeepsinghchadha commented on #768
hii @codingblazer  i have solved this issue and tested on 3 emulaters and my phone it is working fine .Also i have made a pull request for the same.

[2017-12-31 14:02] Rimjhim28 commented on #768
@Mandeepsinghchadha This issue is taken up for gci. If you are a gci participant wait for the related task to get published.
You should claim the issue before starting to work on it. Please make a note not to send a PR until you are assigned to it.

[2017-12-31 16:07] Rimjhim28 commented on #777
That sounds great! Thank you for your suggestion. Even I have thought of a similar solution.
Well! As mentioned, I would like work on this.

[2017-12-31 18:05] Ph0ebe opened #797 "SessionHistory.eyesTotalNo does not match the number of eyes drawables"
## Description
The SessionHistory.eyesTotalNo is set to 9 by default in the AvatarRoomActivity, the eye variable can reach this value however, this is then used to identify a drawable to display and there are only 7 eyes drawables.

## Mocks
![eyesdrawable](https://user-images.githubusercontent.com/24575179/34463462-aaba2396-ee54-11e7-8d7a-fe9cb28bf480.PNG)
![sessionhistory](https://user-images.gi

[2018-01-01 11:32] vatsalkul commented on #588
I have removed some Probable Bugs and also added screenshots. PR https://github.com/systers/powerup-android/pull/801

[2018-01-01 18:40] ZoroarkDarkrai opened #804 "Implement Stars to Minesweeper Activity and change NUMBER_OF_ROUNDS"
## Description

- Everything is ready for minesweeper to have 3 rounds.
- The tutorial indicates that there will be stars to show remaining flip which hasn't been implemented.

## Mocks
![mine1](https://user-images.githubusercontent.com/27900940/34470139-96eea62a-ef5d-11e7-808b-4e5a427cce49.PNG)
Current NUMBER_OF_ROUNDS is 1.
![mine4](https://user-images.githubusercontent.com/27900940/34470143-a3a

[2018-01-01 23:45] MKDEVELOPEMENT commented on #499
i would like to work on this, have claimed it on gci

[2018-01-02 06:45] abhijeetmanohar commented on #588
I m working on this issue... I claimed it on GCI Portal as well.

[2018-01-02 10:41] Buddhiprabha commented on #768
The task has been published for GCI participants.

[2018-01-02 14:32] Mandeepsinghchadha commented on #768
@Rimjhim28 ....i have closed the pull request now , it didn't have a gci tag when i solved the issue so i thought it was a general issue...

[2018-01-02 18:26] aviral2004 commented on #459
Project GCI:
this is the link to my pull request: https://github.com/systers/powerup-android/pull/812

[2018-01-02 19:25] vatsalkul commented on #768
I fixed this Issue. PR https://github.com/systers/powerup-android/pull/816

[2018-01-02 20:53] codingblazer commented on #804
@ZoroarkDarkrai The number of rounds are intentionally kept to 1. Later, we will have more contraceptives and hence more rounds.
As for the stars present in tutorial, that needs discussion with design team. I suggest to not include it because it won't be good design to use stars repeatedly. The stars are used for boxes and using stars in same design for something different won't be good design dec

[2018-01-02 21:52] ZoroarkDarkrai commented on #804
@codingblazer Oh, sorry I didn't know about that I thought it was just a missing feature :sweat_smile:.
@kimhwins is the basic idea the same but with different icons (like heart, clover, smiley face, etc)? If it's still simple icon maybe I could try to help. ^__^
Thank you for your time.

[2018-01-04 06:47] ValentunSergeev opened #831 "Add squashing commits instructions to README"
## Problem
Hi, I noticed that a lot of new participants/contributors don't know how to squash commits when the mentor/maintainer ask them to do it.
So I think it will be good to add squashing commits instructions to reduce all explanations to the reference to README.

## Acceptance Criteria
### Required changes

- [ ] Add intructions to `README.MD` file

### Definition of Done
 All of the required

[2018-01-05 12:21] ShriyaSalian opened #845 "Repeated records in Database"
**DESCRIPTION**
Repeated records in the database such as the ones attached below are observed.
In the long run when our application expands and is used on a larger scale such redundancy needs to be avoided in the _database_.
I aim at reducing the size of the database by removing unwanted records.

**Images**
(just one example)
![answersdb](https://user-images.githubusercontent.com/25854271/3460867

[2018-01-05 17:28] ValentunSergeev opened #849 "Crash when pressing replay button"
## Steps to reproduce
1. Complete any Scenario
2. Finish the app
3. Start app, load the game
4. Choose completed scenerio and press replay

Frequency: 100%
## Mocks
![screenshot_2018-01-06-00-25-25-965_powerup systers com powerup](https://user-images.githubusercontent.com/18180597/34620468-229f48c4-f278-11e7-940c-791e1c1039da.png)

## Acceptance Criteria
### Update
- [ ] Fix crash

## Definition o

[2018-01-05 17:31] ValentunSergeev commented on #849
@codingblazer can I work on that?

[2018-01-05 17:35] Rimjhim28 commented on #849
@ValentunSergeev The issue related with replay button is reported on #500. The related PR for the issue handles the app crash and is yet to be merged. Once the PR is merged the remaining handling of replay button could be figured out more properly.

[2018-01-05 17:44] ValentunSergeev commented on #849
@Rimjhim28  ok, then I'll close it.

[2018-01-05 17:44] #849 closed

[2018-01-05 19:04] Rimjhim28 opened #852 "Inclusion of warning dialogs in Store Activity"
## Description

Currently when an item is clicked on store, it is directly purchased.
Implement a warning dialog prior to purchase showing the required karma points. The dialog should have two options:
1. Purchase: This will lead to another dialog box to show the confirmation of purchase.
2. Maybe Not: If the user does not want to purchase the item and dismiss the dialog box.

## Mocks

The implem

[2018-01-05 19:24] Rimjhim28 opened #853 "Include scenario name on scenario over activity"
## Description

Currently the Scenario over screen does not display the name of the scenario that has been completed.
Include a TextView that specifies which scenario was completed by the user.

## Mocks

Current implementation of the scenario over screen in iOS version. Try to implement the same.
![screenshot_2017-12-20-13-07-22-153_com google android youtube](https://user-images.githubuserconten

[2018-01-06 11:21] Masquerade0097 opened #861 "Using Data Binding"
## Description
Instead of using findViewById again and again and reprocess the entire layout file again and again, data binding should be used which reduces the app's runtime by traversing the layout file only once and binding them to set click listeners, write declarative layouts and minimize the glue code necessary to bind your application logic and layouts. In total this makes the code clean as

[2018-01-06 11:22] Masquerade0097 commented on #861
@codingblazer I would like to work on it. Please review.

[2018-01-06 11:26] Masquerade0097 opened #862 "Using Timber for logging and Crash analytics"
## Description
Benefits of Timber Library -

1. No Tags required in logging messages.
2. Developer can add custom logging engines(called Trees) for custom logging.
3. Single log statement can print log on logcat and report to some other source like Crashlytics

## Mocks
Not applicable

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

@codingblazer P

[2018-01-06 11:35] Masquerade0097 opened #863 "Migrating to MVVM Architechture"
## Description
MVVM architecture involving Observables, Room, Lifecycle aware components, ViewModels, repositories is the modern architechture to make app more efficient and surviving memory leaks. It has a lot of benefits from improving the app's performance to making testing a lot easier. So like other modern apps, powerup should also use MVVM architechture.

## Definition of Done
- [ ] All of t

[2018-01-06 19:11] codingblazer commented on #703
@Masquerade0097 This issue is valid. You can work on this if you want.

[2018-01-07 13:23] Masquerade0097 commented on #463
@codingblazer since there is no activity on this issue from 2 months. Can i work on this?

[2018-01-07 18:29] ShriyaSalian opened #875 "Improving UI responsiveness: Use of INCLUDE and MERGE tags to re-use layouts"
## Description
To improve the application's UI responsiveness, taking into consideration the further expanse of the project as well, as more scenes are included, re-usability of layouts to embed the scene specific layout in the generalised layout would enhance the efficiency.
I propose to use the **_include_** and **_merge_** tags for this.
This is a powerful way to create reusable layouts.
The _m

[2018-01-07 18:30] ShriyaSalian commented on #875
@MeepyMay @codingblazer @aanchal07 May I proceed?

[2018-01-08 17:50] Aryaman21 opened #881 "Set Check-Mark Specifically to Equipped Item [StoreActivity]"
## Description
Right now, there seems no correct demarcation for a user to be able to know which item he has equipped, be it Hair, Accessory or Clothes. To give the user a sign that an item is selected, the green check mark already implemented in the can be used, that would mean that the check mark appears only on the item that is selected in the category.
## Mocks
- Both the items are titled "Sel

[2018-01-08 17:53] Aryaman21 commented on #881
@Rimjhim28 @codingblazer Please review the issue. Will start working on this after approval.

[2018-01-09 14:33] Aryaman21 opened #886 "Add 'Already Selected' Dialog Box [StoreActivity]"
## Description
As a user, there is no prompt when I tap on an already bought and selected item in the StoreActivity. Thus it is not possible for the user to know whether the item he is choosing is already integrated into the avatar or not. As a small improvement to the user experience, a new AlertDialog can be integrated into the Store Activity, with the title - 'Already Selected', message - 'This

[2018-01-09 14:48] Aryaman21 commented on #886
@codingblazer @Rimjhim28 @MeepyMay @aanchal07 please review the issue.

[2018-01-09 14:51] Rimjhim28 commented on #886
@Aryaman21 Would you mind if this is taken up as a task for GCI?

[2018-01-09 14:54] Aryaman21 commented on #886
Not at all, I'd be glad to do it as part of a GCI task. @Rimjhim28

[2018-01-09 18:04] codingblazer commented on #862
Hi, that can be useful for the project. Please go ahead if you want.

[2018-01-09 18:05] codingblazer commented on #861
Hi, these type of major changes will be taken up in next development cycle. We will come back to this later.

[2018-01-09 18:08] codingblazer commented on #694
@Masquerade0097 I cannot replicate this issue. Can you upload a gif here. Also, tell us the reason for this problem to get a better idea of it. Thanks.

[2018-01-09 18:11] codingblazer commented on #693
Hi @Masquerade0097
On my device, i can't replicate issue #693. Let's take this issue after we are done with #693.

[2018-01-09 18:15] #863 closed

[2018-01-09 20:02] Rimjhim28 opened #891 "Rectify the implementation of MineSweeper Game"
## Description
Currently, if the MineSweeper game is left in the middle and the user choses to start again by clicking on "NEW USER", MineSweeper game pops up when home scenario is chosen.

## Mocks

![videotogif_2018 01 10_01 13 20](https://user-images.githubusercontent.com/26908195/34740613-08ebd9a2-f5a6-11e7-8b72-be370cefef38.gif)

## Acceptance Criteria
Proper handling of MineSweeper game.

##

[2018-01-10 18:45] Rimjhim28 opened #900 "Increase the time for color change animation in Vocab Match Game"
## Description
In the VocabMatchGame, whenever a match is made there appears a red (for wrong match) and green(for right match) color in the star at the junction and then the names in the dialog box change instantly, The change of color in the star is a great part of the user experience as it lets the user know clearly whether the match they made was right or wrong, but the problem is that the col

[2018-01-10 18:51] PrajwalM2212 opened #901 "Using Fragments"
## Description
The application can use fragments and the activity code can be moved into fragments . This would make future changes to the UI more easy.

## Mocks
Not Applicable

## Estimation
 20 - 25 hours

[2018-01-10 18:55] PrajwalM2212 commented on #901
@MeepyMay @codingblazer @aanchal07 May I proceed?

[2018-01-11 07:07] codingblazer opened #903 "Add Ripple Effect in Conversations"
## Description
When the user selects any dialogue in the conversation of scenarios, add a ripple effect to the selected item in the listview.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-01-11 07:39] codingblazer opened #905 "Reduce time for next question in SinkToSwim"
## Description
When the "?" is chosen as option in SinkToSwim Game, the next question takes a lot of time to load. We want to reduce this time for the user.

## Acceptance Criteria
The time should be reduced such that the fade animation on text of question is still noticeable.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-01-11 10:18] ShriyaSalian commented on #903
Is the task open to others or would you be working on this? @codingblazer
If so, I would love to work on this

[2018-01-11 10:32] m-sameer commented on #881
A better way, in my opinion, would be to show the green check mark only on the item currently selected for the avatar.

[2018-01-11 10:33] ShriyaSalian commented on #905
Can I work on this issue, if it's open? @codingblazer

[2018-01-11 10:37] Aryaman21 commented on #881
Yes, that seems the optimum solution, it would be much efficient to do that. Thanks for the suggestion, I'll include this solution in the description. Thanks @m-sameer

[2018-01-11 11:53] m-sameer commented on #881
My pleasure! :)

[2018-01-11 18:39] ShriyaSalian opened #923 "Trial of item before purchase in store"
## Description
As of now, as soon as the user selects any item in the store, the item gets purchased. Neither is there any trial of the item before purchase nor any confirmation of the same.

## Mocks
Not applicable

## Acceptance Criteria
### Update [Required]
- [ ] When the user purchases in the store there should be a trial as well as a confirmation button before purchase.

## Definition of Don

[2018-01-11 19:00] ZoroarkDarkrai commented on #923
@ShriyaSalian Your issue is really similar to this one https://github.com/systers/powerup-android/issues/852 . There are already several PRs fixing your issue which can be seen on the issue page.

[2018-01-11 20:45] ShriyaSalian opened #924 "Opening of the wrong scene after the entire game is played once"
## Description
After a full-run of the game, when the first scene (home) is clicked again, the library scene is displayed instead of the home scene.

## Replication of Issue

[vid_powerup.zip](https://github.com/systers/powerup-android/files/1624051/vid_powerup.zip)

## Acceptance Criteria
### Update [Required]
- [ ]The above mentioned bug is fixed.

## Definition of Done
- [ ] All of the required

[2018-01-11 20:56] ShriyaSalian commented on #923
Yes, you're absolutely right @ZoroarkDarkrai
Thank you for mentioning

[2018-01-12 04:53] Rimjhim28 commented on #924
@ShriyaSalian  The issue is already open in #500 which is approved and a PR is also sent. Since this is duplication you can better close it.
Please go through all the open issues to avoid any trouble.

[2018-01-12 04:55] Rimjhim28 commented on #923
A similar issue exist and PRs have already been sent.
@ShriyaSalian Go through the contributing guidelines once before opening any new issue.
Since this is duplicating an older issue, you can close this one.

[2018-01-12 04:58] Rimjhim28 commented on #881
@Aryaman21 Would you mind if this issue is taken up for GCI?

[2018-01-12 09:47] m-sameer opened #927 "Removal of Activity objects created using `new` keyword"
## Description
The activity objects must **never** be created using `new` operator, as in creating objects of normal *Java* classes. This result in a null *context*, for having proper *context* attached to the activity all the activities must pass through the proper activity life cycle. For this, the activities are to be initialized by the android system. The following activity instances created u

[2018-01-12 09:48] m-sameer commented on #927
@Rimjhim28 @codingblazer @aanchal07 Please review the issue. :)

[2018-01-12 10:25] Aryaman21 commented on #881
I'd be glad to submit as a GCI task. @Rimjhim28

[2018-01-12 18:27] #924 closed

[2018-01-12 18:52] ShriyaSalian commented on #923
Ma'am, there is no issue regarding trial of item before purchase as far as I have gone through. My issue suggests the item can be seen on the avatar when clicked and then there would be a confirmation pop up. @Rimjhim28
Kindly let me know if I am wrong :)

[2018-01-14 14:34] m-sameer opened #944 "Use buttons with background images in StartActivity"
## Description
Presently, a PNG image is used in StartActivity as background with transparent buttons drawn on top of it. The PNG image must be replaced with another PNG image only with background and PowerUp logo.  Buttons with background color or image must be used in the XML file. By doing so we can also add material design ripple effect to the buttons. Also, the following code (which sets the

[2018-01-14 14:34] m-sameer commented on #944
@codingblazer @Rimjhim28 Please review the issue. :)

[2018-01-15 13:28] Aryaman21 opened #953 "Design Improvements in the Final Screen [GameOverActivity]"
## Description
The Final Game screen includes an unformatted message which looks quite untidy, the overall layout of the text is not in accordance with the UI of the application, it could be displayed in a well-formatted dialog (Refer to Fig 1 for an example) in order to make it more visually appealing. The Map button can be improved, it appears a little stretched in the view. Thus, the whole desi

[2018-01-15 13:30] Aryaman21 commented on #953
@Rimjhim28 @codingblazer @MeepyMay @aanchal07 Please review the issue, I'd like to work on it.

[2018-01-15 13:52] akshaynexus commented on #375
i have fixed the issue https://github.com/systers/powerup-android/pull/955

[2018-01-16 11:05] ShriyaSalian opened #960 "Debugging with Stetho"
## Description
An Android debugging bridge such as Stetho would be of great use to debug the layouts as well as see database changes . I propose to implement the use of Stetho for debugging.
Using Stetho we can remotely debug our app using Chrome DevTools

## Mocks
Not Applicable

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
48 hou

[2018-01-16 11:06] ShriyaSalian commented on #960
@codingblazer @aanchal07  @MeepyMay Please review, I would like to work on this :)

[2018-01-16 13:11] ShriyaSalian opened #961 "Using Butter Knife for view injection"
## Description
Butter Knife is a light weight view-binding library to inject views into Android components using annotation process. It helps to bind fields, methods and views and generates boilerplate code.
The library is open source and it will make the code more maintainable and easier to read.

## Mocks
Not Applicable

## Definition of Done
- [ ] All of the required items are completed.
- [ ]

[2018-01-17 10:24] m-sameer commented on #961
@ShriyaSalian [Data Binding](https://developer.android.com/topic/libraries/data-binding/index.html) library is also a good choice. It is much more powerful than Butter Knife. :)

[2018-01-17 10:38] m-sameer opened #962 "Add haptic feedback to the mini-games"
## Description
When the user plays any of the mini-games there's no haptic feedback provided to the user. For more immersive game experience haptic feedback must be provided to the user as described:
- In **Minesweeper** game, the phone must vibrate when red mine is opened.
- In **Sink to Swim** game, the phone must vibrate on selecting the wrong answer.
- In **VocabMatch** game, the phone must vi

[2018-01-17 11:45] geekanamika commented on #961
A similar issue has been created in #861 . :)

[2018-01-17 15:24] #901 closed

[2018-01-20 21:12] Mandeepsinghchadha commented on #962
hi @m-sameer   is this issue approved by the mentors ? If yes then i want to work on this issue kindly brief me with the details.

[2018-01-20 22:07] Mandeepsinghchadha opened #965 "TEXT OVERFLOWING FROM THE TEXT BOXES IN SCENARIOS"
Description
Right now the text in various scenarios is running out of text boxes which reduces the face value of frontend/UI of the app.
(https://user-images.githubusercontent.com/27005975/35188470-b3dca2fc-fe5b-11e7-9001-af70140cee3c.png)

 Acceptance Criteria
The text in various scenarios like school,hospital must be well inside the text boxes in all screen sizes for consistency.Provide screensh

[2018-01-20 22:08] Mandeepsinghchadha commented on #965
Hii.   @codingblazer @MeepyMay  @aanchal07  can i work on this issue ?

[2018-01-21 06:38] ZoroarkDarkrai commented on #965
This issue has been opened before https://github.com/systers/powerup-android/issues/768. And there are PRs waiting to be merged. @Mandeepsinghchadha

[2018-01-21 11:09] m-sameer commented on #962
@Rimjhim28 @MeepyMay @codingblazer Please tell me if this issue is approved by any one of you.

[2018-01-21 14:10] arya-ayush commented on #961
@ShriyaSalian May I work on this issue?
And if I'm right then the task that is to be done is to bind all views, click methods, etc. using butterknife.

[2018-01-21 14:13] arya-ayush commented on #927
@m-sameer May I work on this issue?

[2018-01-21 15:30] ZoroarkDarkrai commented on #961
@arya-ayush Please see the comment above you. A similar issue has been created, please go see that one. ^__^

[2018-01-21 16:02] m-sameer commented on #927
@arya-ayush No problem.

[2018-01-21 16:13] Rimjhim28 commented on #927
@arya-ayush The issue isn't approved yet by any mentor. Be sure that you are sending a PR after the issue being approved by a maintainer.

[2018-01-22 15:14] Prashant-Chaurasia opened #966 "Enhancement of About Page"
## Description
The present UI is not looking good having a scrollable box with three questions.What we could do is that separate all these questions in separate cards and make the whole layout scrollable. Also, change the color of the fonts.

## Acceptance Criteria
### Update [Required]
- [ ] Each question on different cards
- [ ] Improved UI(in terms of text color and size)

## Definition of Done

[2018-01-22 15:14] Prashant-Chaurasia commented on #966
Please review this issue. I would like to work on it.

[2018-01-22 15:18] arya-ayush commented on #961
Yes, but the code hasn't implemented either of the two.So, what to implement in order to close this issue?

[2018-01-22 15:57] ZoroarkDarkrai commented on #961
@arya-ayush I just recommended you to comment on the first opened issue so there won't be duplicate issues about the same thing. And if you see the comment on the first issue, this change will be taken in the next development cycle.

[2018-01-23 13:38] Prashant-Chaurasia commented on #966
@MeepyMay @aanchal07 please review this issue.

[2018-01-26 10:03] #965 closed

[2018-01-26 15:57] anandwana001 commented on #831
@ValentunSergeev I would like to work on this.
Do I have to put solution here only, to get the acceptance?

[2018-01-26 15:59] ValentunSergeev commented on #831
@anandwana001 it's issue not approved by mentor yet. @codingblazer @Rimjhim28

[2018-01-26 16:01] anandwana001 commented on #831
ok, I may update with a solution here! maybe they like or approve this.

[2018-01-26 16:03] ValentunSergeev commented on #831
@anandwana001 you may create a solution, but please open a pull request AFTER the issue's approval. Its required by project code guild lines

[2018-01-26 16:04] anandwana001 commented on #831
yeah sure, I will be doing things according to guidelines only

[2018-01-26 16:54] anandwana001 commented on #831
### New Contributors
#### Squash Commits
Squash Commits means when you have a list of commit and you want to make it one commit or you may get asked from any mentor to squash the commits, so here are the steps you can follow:
1. `git log`
     * you get the log of last commits on the branch, which you are working!
2.  `git branch`
     * you can check, on which branch you are!
3. `git rebase -i ma

[2018-01-27 19:28] arya-ayush commented on #903
@codingblazer May I work on this issue?

[2018-01-30 15:27] apoorvaagupta commented on #776
Hello, Is this issue approved by the mentors?
i would like to work on it.

[2018-01-30 15:28] apoorvaagupta commented on #953
Hello, Is this issue approved by the mentors?
I would like to work on it.

[2018-01-30 16:21] arundhati24 commented on #776
Hey @apoorvaagupta , please have a look at other issues. I opened this issue and I would like to work on this if the mentors approve it.

[2018-02-03 08:34] sammy1997 opened #968 "Crash on installing app first time or starting new game"
## Description
Start the app for the first time after installation or build. Click on the first scene. It shows sene already played. Play again causes a crash.

![powerup_error](https://user-images.githubusercontent.com/24635701/35857707-eeb945b8-0b5f-11e8-92f3-e1a96cb79e60.png)

This is the error it shows
## Acceptance Criteria
- [ ] When the app does not crash on opening for the first time.

##

[2018-02-03 08:34] sammy1997 commented on #968
I would like to work on this issue.

[2018-02-03 09:45] Rimjhim28 opened #969 "Database error in Home Scene"
## Description
The "Remains quiet" option in Home scenario does not work as expected. Instead of being to a different dialouge, the user is stuck there. Multiple clicks on the option keeps on increasing the karma points that can be seen on Scenario Over screen.

## Mocks

![videotogif_2018 02 03_14 55 12](https://user-images.githubusercontent.com/26908195/35765977-03b31204-08f5-11e8-8a61-028081458

[2018-02-03 14:44] sammy1997 opened #973 "Errors generated while trying to access eyes while creating Avatar"
## Description
Start app for first time. Start creating the avatar. Keep watching logs. Eyes 8 and 9 generate errors.

## Mocks
![power_up_avatar](https://user-images.githubusercontent.com/24635701/35768240-af829a2c-091e-11e8-8da8-7af097ca56cb.png)

## Acceptance Criteria
- [ ] Remove this error - NoSuchFieldException caused by this.

## Definition of Done
- [ ] All of the required items are compl

[2018-02-03 14:45] sammy1997 commented on #973
I would like to work on this.

[2018-02-03 14:59] sammy1997 commented on #973
@codingblazer @anubhakushwaha Please review this

[2018-02-03 15:33] sammy1997 opened #975 "Error generated when no accessory is bought"
## Description
Open any scenario when you don't have any accessories bought for your avatar
## Mocks
![powerup_accessory](https://user-images.githubusercontent.com/24635701/35768661-9c01cd2c-0925-11e8-897a-ef67d6cf0f1e.png)

## Acceptance Criteria
- [ ] Remove this error.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5-10 mins

@co

[2018-02-03 15:34] sammy1997 commented on #975
I would like to work on this.

[2018-02-03 16:00] sammy1997 opened #976 "A SQLiteConnection object for database was leaked"
## Description
Each of the scenes use the DatabaseHandler but the cursor connection doesn't get closed after all transactions end. This causes

##ERROR

A SQLiteConnection object for database '/data/user/0/powerup.systers.com.powerup/databases/PowerUpDB' was leaked! Please fix your application to end transactions in progress properly and to close the database when it is no longer needed.

## Accep

[2018-02-03 16:00] sammy1997 commented on #976
I have already solved this issue. So I would like to work on this.

[2018-02-04 14:51] Mandeepsinghchadha opened #977 "TEXT TO VOICE"
## Description
Since this is educational game we have to target as many girls to use our app to spread awareness
.So to make the conversations in form of text to be more interactive we can add text to speech in the conversation in all scenarios.

## Acceptance Criteria
Approved by the mentors

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Esti

[2018-02-04 14:54] Mandeepsinghchadha commented on #977
I have worked on this issue and i have sent a pull request for the same.Mentors kindly approve it

[2018-02-04 17:18] geekanamika commented on #460
@codingblazer This has been resolved already in one the commits (I couldn't find the source ) , This issue can be closed, right ?

[2018-02-04 17:26] geekanamika commented on #466
@piyush6348 Can you elaborate your issue ? I don't think , project is ready to get converted into a kotlin code base.

[2018-02-05 06:40] geekanamika commented on #31
@codingblazer @MeepyMay Were new designs created during Outreachy program ? If this issue is still open to work , I would like to work on it :)

[2018-02-05 06:56] geekanamika commented on #440
@codingblazer This issue can be closed (Since, code in PR has been merged already), right ?

[2018-02-05 09:17] Rimjhim28 opened #979 "Creating adaptive UI for larger screen devices"
## Description
When the app is run on devices with larger screen like a tablet, there are several places where the text appears too small to be read.
The text for hairs, clothes and skin appear a bit lower than are expected.
Conversation boxes appear too small.
Continue button appears a bit small and could be resized.

## Mocks

![screenshot_1517821697](https://user-images.githubusercontent.com/26

[2018-02-05 14:10] geekanamika commented on #494
@codingblazer @MeepyMay @sashafierce This issue can be closed , right ?

[2018-02-05 14:18] geekanamika commented on #496
@codingblazer @Rimjhim28 @MeepyMay Does this issue still persists ? I works good with updated code in my mobile, can you confirm ?

[2018-02-05 17:32] sammy1997 commented on #979
I would like to work on this.

[2018-02-05 17:35] Rimjhim28 commented on #979
@sammy1997 I have mentioned on the issue itself that I will be working on it. Please find other open issues (if available) and claim to work on them.
As far as this one is concerned, I have almost done the work and will be sending the PR after it gets approved.

[2018-02-05 17:37] sammy1997 commented on #979
Okay. Sorry @Rimjhim28 I didn't see that you claimed the task.

[2018-02-05 18:26] tanvidadu commented on #862
@Masquerade0097  any progress ?

[2018-02-05 22:31] anubhakushwaha commented on #975
@sammy1997 Can you throw some light on `cause of error` and `how you propose to resolve it`

[2018-02-06 03:33] Masquerade0097 commented on #862
@tanvidadu I ain't working on that, feel free to work on it.

[2018-02-06 10:56] sammy1997 commented on #973
@anubhakushwaha @may please review this PR.

[2018-02-06 11:07] sammy1997 commented on #975
@anubhakushwaha @codingblazer Basically the accessory drawable files start from acc_avatar1 , but in line 132 of GameActivite, the code tries to access acc_avatar0 when we have no accessory bought. So we basically need to put it in an if block and check getmDbHandler().getAvatarAccessory()!=0.
Please review this so that I can start working on it.

[2018-02-06 11:17] sammy1997 opened #981 "Repetitive declaration of strings for item names to access drawables"
## Description
Strings for the starting names of drawable files ( like eyes, skin, hair etc) have been declared multiple times in multiple activities. We can use static strings and declare them in a class. We can use this class to get the names.

## Mocks
![avataract](https://user-images.githubusercontent.com/24635701/35856882-573c74aa-0b5d-11e8-9e72-7ed97ecb086c.png)
![gameact](https://user-image

[2018-02-06 11:18] sammy1997 commented on #981
@MeepyMay @anubhakushwaha @codingblazer Please review this.
I would like to work on this.

[2018-02-06 11:36] sammy1997 commented on #968
@tanvidadu @MeepyMay @anubhakushwaha @codingblazer Please review this.

[2018-02-06 15:03] geekanamika commented on #973
Hi @sammy1997 , This is a valid issue although according to the contribution guidelines , You should create a PR only if it is approved by one mentor/maintainer :)

[2018-02-07 06:48] tanvidadu commented on #966
can you share some mock ups ?

[2018-02-07 06:53] sammy1997 commented on #975
@anubhakushwaha Please review this.

[2018-02-07 07:10] sammy1997 opened #983 "Upgrade gradle and buildTools and sdk versions"
## Description
Power Up uses gradle version 2.4, sdk and build tools version 23. Also as an enhancement we can make it compatible on Android Studio 3.0

## Mocks
N.A.
## Acceptance Criteria
- [ ] Upgrade gradle, sdk and build tool versions. The app should not generate new errors or warnings.
### Enhancement to Update [Optional]
- [ ] Compatible on AS 3.0

## Definition of Done
- [ ] All of the req

[2018-02-07 07:11] sammy1997 commented on #983
@anubhakushwaha @MeepyMay Please review this. This is a much needed change.

[2018-02-07 09:39] tanvidadu commented on #981
The strings are already declared in strings.xml file.
<img width="512" alt="mockup" src="https://user-images.githubusercontent.com/29161745/35903374-e2df5d5e-0c04-11e8-8324-41a25969cc88.png">

[2018-02-07 10:35] sammy1997 commented on #981
@tanvidadu What I meant was We are adding additional variables and lines of code to utilise these. Instead we can either directly replace the variables by getResources().getStrin(...) . That would decrease readability. Or we can declare these strings as constants in a class and access these static variables directly. Its repeatedly used in 3 activities. @anubhakushwaha @MeepyMay What are your view

[2018-02-07 14:23] geekanamika commented on #983
@sammy1997 A similar issue has already been created in #540 . As per contribution guidelines, please create an issue only if it doesn't exists already :)

[2018-02-07 14:45] geekanamika commented on #973
Hi @sammy1997  , As per contribution guidelines,  Please don't create a pull request unless approved by mentor :) You can work on your fork and it would be considered as an contribution too :)

[2018-02-07 18:58] geekanamika commented on #981
@sammy1997 Using getResources().getString() in a one line is a better approach (in my opinion). It wouldn't make sense to create constant variable for something that is already defined in strings.xml

[2018-02-08 12:28] Rimjhim28 commented on #862
@Masquerade0097 Can I work on it?

[2018-02-08 12:29] Rimjhim28 commented on #861
@Masquerade0097 Are you working on this??
If no, I would like to proceed with it.

[2018-02-09 06:24] geekanamika opened #985 "Remove redundancy in AndroidManifest.xml"
## Description
Currently , manifest file contains *android:screenOrientation="landscape"* in every activity tag. It's very redundant.

## Solution
Better approach would be to create a class which extends *Application* , register an ActivityLifecycleCallbacks object & set screen orientation to landscape inside *setRequestedOrientation* function.
At the end, set inside application tag in manifest fi

[2018-02-09 06:26] geekanamika commented on #985
@codingblazer @anubhakushwaha @MeepyMay Can I work on this issue ?

[2018-02-10 14:07] #466 closed

[2018-02-10 15:12] #374 closed

[2018-02-10 15:13] #412 closed

[2018-02-10 15:14] #377 closed

[2018-02-10 15:16] #440 closed

[2018-02-10 15:16] MeepyMay commented on #440
Yes @geekanamika 👍

[2018-02-10 15:20] #460 closed

[2018-02-10 15:25] #694 closed

[2018-02-10 15:25] #693 closed

[2018-02-10 15:29] MeepyMay commented on #694
This isn't an issue and can't be replicated, so I'm closing the issue. If @Masquerade0097 can upload a gif, we'll re-open.

[2018-02-10 15:29] MeepyMay commented on #693
This isn't an issue and can't be replicated, so I'm closing the issue. If @Masquerade0097 can upload a gif, we'll re-open.

[2018-02-10 15:33] #491 closed

[2018-02-10 15:33] MeepyMay commented on #491
This was completed. Thank you!

[2018-02-10 15:35] #493 closed

[2018-02-10 15:36] MeepyMay commented on #496
Works for me too. Closing the issue. 👍

[2018-02-10 15:36] #496 closed

[2018-02-10 15:41] MeepyMay commented on #494
Correct @geekanamika !

[2018-02-10 15:41] #494 closed

[2018-02-10 16:04] #502 closed

[2018-02-10 16:05] MeepyMay commented on #514
Closing the issue for now. @zarka please use the new issue template to elaborate on the issue and we'll re-open the issue. Thank you!

[2018-02-10 16:05] #514 closed

[2018-02-10 16:06] MeepyMay commented on #505
We need to adjust this issue to new issue template.

[2018-02-10 16:11] sammy1997 commented on #968
@codingblazer @anubhakushwaha @MeepyMay Please review this. This is causing a crash. I would like to work on this.

[2018-02-10 16:13] MeepyMay commented on #831
Closing for now. We're adding this to the org-wide level site: systers.io Thank you for bringing it up!
I'd recommend adding it to the [systers.github.io](https://github.com/systers/systers.github.io) repo.

[2018-02-10 16:13] #831 closed

[2018-02-10 16:15] Rimjhim28 commented on #552
Appropriate PR #603 has been merged.

[2018-02-10 16:15] #552 closed

[2018-02-10 16:16] MeepyMay commented on #501
@ShailyTyagi Please resubmit in the new issue format. Join [Systers OS Slack](systers.io/slack-systers-opensource/) to stay updated on PowerUp's progress.

[2018-02-10 16:16] #501 closed

[2018-02-10 16:29] MeepyMay commented on #551
Similar to issue #500 so closing this one. Thanks for raising the concern again.

[2018-02-10 16:29] #551 closed

[2018-02-10 16:31] #597 closed

[2018-02-10 16:36] MeepyMay commented on #539
@anumehaagrawal  This was addressed earlier in #514. Create a new issue following the new issue template and document the work you want to do.

[2018-02-10 16:36] #539 closed

[2018-02-10 16:40] MeepyMay commented on #498
Home button is referenced a couple of times in earlier issues. #309 #332  This will be fixed in the next development cycle with an iOS comparison check.

[2018-02-10 16:40] #498 closed

[2018-02-10 16:41] MeepyMay commented on #528
#768 addresses this as well. Closing for now.

[2018-02-10 16:41] #528 closed

[2018-02-10 16:51] MeepyMay commented on #774
@arundhati24 Please join the [Systers OS Slack](systers.io/slack-systers-opensource/) to discuss improvements. We're working on a couple other high priority items right now, so I'll add "Open Later" to this issue.

[2018-02-10 16:52] MeepyMay commented on #775
@arundhati24 Please join the [Systers OS Slack](systers.io/slack-systers-opensource/) to discuss improvements. We're working on a couple other high priority items right now, so I'll add "Open Later" to this issue.

[2018-02-10 16:52] MeepyMay commented on #776
@arundhati24 Please join the [Systers OS Slack](systers.io/slack-systers-opensource/) to discuss improvements. We're working on a couple other high priority items right now, so I'll add "Open Later" to this issue.

[2018-02-10 16:56] MeepyMay commented on #804
I'm closing this issue for now and discussing with Design team. I think we discussed in GSoC17, which means the tutorial screens themselves need to be updated instead.

[2018-02-10 16:58] #548 closed

[2018-02-10 16:59] MeepyMay commented on #544
@Mandeepsinghchadha Yes. Assigned to our Outreachy intern.

[2018-02-10 16:59] #544 closed

[2018-02-10 17:00] MeepyMay commented on #548
Completed in Outreachy work with 10 outfit options.

[2018-02-10 17:02] #905 closed

[2018-02-10 17:02] MeepyMay commented on #542
**Family NPCs** are completed through Outreachy program. Moving School/Outsiders to a new issue.

[2018-02-10 17:02] #542 closed

[2018-02-10 17:04] #709 closed

[2018-02-10 17:05] #862 closed

[2018-02-10 17:10] MeepyMay commented on #962
Not approved. There is no requirement for haptic feedback right now. We'll push the idea to the "Open Later" issues to focus on higher priority items right now.

[2018-02-10 17:12] #521 closed

[2018-02-10 17:14] #523 closed

[2018-02-10 18:43] #903 closed

[2018-02-10 18:44] #900 closed

[2018-02-10 18:46] #725 closed

[2018-02-10 18:50] #553 closed

[2018-02-10 18:58] MeepyMay commented on #845
This falls under code cleanup. We're pushing this to the next dev lifecycle.

[2018-02-10 19:00] MeepyMay commented on #875
This is a lot of work with the estimated hours. We're pushing this to the next dev lifecycle.

[2018-02-10 19:03] MeepyMay commented on #923
If we're changing the functionality of how the store works, we will need to check in with the iOS team as well.

[2018-02-10 19:04] MeepyMay commented on #966
This isn't approved. We're doing some changes for the setup of the game. Little enhancements like this will be fixed along the way.

[2018-02-10 19:04] #966 closed

[2018-02-10 19:05] #961 closed

[2018-02-10 19:08] MeepyMay commented on #960
Closing for now. GitHub maintainers are going to chose best tools/practices for Android projects as a whole. If Stetho gets approved, we'll open an issue in all of the Android repos.

[2018-02-10 19:09] MeepyMay commented on #961
Since no one on the maintainers team have discussed the best practices for data binding, we're closing this issue for now. Whatever happens to one Android project, we'd like to continue for all.

[2018-02-10 19:10] MeepyMay commented on #861
Since no one on the maintainers team have discussed the best practices for data binding, we're closing this issue for now. Whatever happens to one Android project, we'd like to continue for all.

[2018-02-10 19:11] MeepyMay commented on #983
Closing issue. @ageekanamika thank you for referencing the opened issue.

[2018-02-10 19:11] #983 closed

[2018-02-10 20:57] geekanamika commented on #968
@sammy1997 Can you please mention , which branch code is creating crash on first installation of application and on which device with API level ?

[2018-02-10 21:04] sammy1997 commented on #968
@geekanamika The branch is develop, and as far as API is considered I have been able to reproduce it on 24 and 25. Rest I haven't tested. I think I can solve this issue. I have been able to localise the error. I would like to work on this.

[2018-02-10 21:05] sammy1997 commented on #968
@MeepyMay @anubhakushwaha Please review this once

[2018-02-11 03:05] PrajwalM2212 opened #988 "Remove android:configChanges="orientation|keyboardHidden" in AndroidManifest.xml"
## Description
The Android Manifest file contains `android:configChanges="orientation|keyboardHidden"` in nearly all the activities in the project . It is not required and just a performance barrier . The app already has `onSaveInstanceState()` and `onRestoreInstanceState()` implemented wherever necessary and hence does not require `android:configChanges="orientation|keyboardHidden"`.

## Mocks
[I

[2018-02-11 03:07] PrajwalM2212 commented on #988
@codingblazer @anubhakushwaha @MeepyMay I would like to work on this issue .

[2018-02-11 03:16] PrajwalM2212 opened #989 "Create Anim Directory"
## Description
The anim directory must be created and the the contents of the animator directory must be moved into anim directory to remove errors.

## Mocks
[INSERT RELEVANT PNG FILE]

<img width="1680" alt="screen shot 2018-02-11 at 8 40 49 am" src="https://user-images.githubusercontent.com/30733262/36069008-a6689e34-0f07-11e8-8356-23f9cd2f099c.png">
<img width="1680" alt="screen shot 2018-02-1

[2018-02-11 03:17] PrajwalM2212 commented on #989
@codingblazer @anubhakushwaha I would like to work on this issue .

[2018-02-11 03:26] PrajwalM2212 opened #990 "Remove Null Pointer Exceptions"
## Description
There are plenty of null pointer exceptions present in the project and they can be removed.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- Many Classes in the project

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
 1 hour

[2018-02-11 03:26] PrajwalM2212 commented on #990
@codingblazer @anubhakushwaha @MeepyMay I would like to work on this issue .

[2018-02-12 11:08] arundhati24 commented on #776
Okay @MeepyMay :+1:

[2018-02-12 14:02] geekanamika commented on #988
@PrajwalM2212 Project is being cleaned up, Please don't create a pull request until any mentor approves it :)

[2018-02-12 14:05] geekanamika commented on #988
#985 will handle this issue . Also, please don't create pull request until any mentor approves it :)

[2018-02-12 18:04] PrajwalM2212 commented on #988
@geekanamika  This issue handles android:configChanges="orientation|keyboardHidden" and does not overlap with your issue . 😊
There were already some pull requests sent without approval from mentors prompting me to send one myself.

[2018-02-12 21:14] tanvidadu commented on #696
Is this issue up for grabs ?

[2018-02-12 21:32] tanvidadu commented on #985
Good Idea. If mentors approve this you can go ahead with this !

[2018-02-13 04:45] geekanamika commented on #696
@MeepyMay Imo, We can add GSoc label on it , it will fall under infrastructure and automation.

[2018-02-13 18:45] #891 closed

[2018-02-13 18:46] #886 closed

[2018-02-13 18:47] #881 closed

[2018-02-13 18:47] #853 closed

[2018-02-13 18:47] #852 closed

[2018-02-13 18:48] #768 closed

[2018-02-13 18:48] #730 closed

[2018-02-13 18:50] #576 closed

[2018-02-13 18:50] #554 closed

[2018-02-13 18:50] #499 closed

[2018-02-13 18:50] #462 closed

[2018-02-13 19:50] oaishi opened #992 "Inconsistency In Replay"
## Description
After finishing all the chapters, the replay button does not work as intended. The current scenario remains at library always, so the replay takes the user to the last library activity.

## Mocks

![2018-02-14 3](https://user-images.githubusercontent.com/22328326/36170340-475b4a8a-1129-11e8-969f-df2d53634ae1.png)

Here I tapped on the hospital, but it prompted this page.

## Estimat

[2018-02-13 19:51] oaishi commented on #992
@codingblazer  @Rimjhim28 Please, review and can I work on this?

[2018-02-13 19:54] Rimjhim28 commented on #992
The issue is already present in #500 and resolved through #986
Please go through all open issues and PRs before creating a new one. :)
As this is already present, it may be closed.

[2018-02-13 20:05] Rimjhim28 opened #993 "Error handling in VocabMatch game"
## Description
With the latest changes in the code, the fuction onBackPressed has been placed at wrong position, which is making the app to crash.

## Mocks
Not applicable.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 minutes

I am working on it.

[2018-02-13 20:14] Rimjhim28 commented on #993
Error resolved through (this commit)[https://github.com/systers/powerup-android/commit/3f33ad97e36e40e7ae6ca2b15e2c8f8fbc1b7324]

[2018-02-13 20:15] #993 closed

[2018-02-13 21:13] Rimjhim28 opened #994 "Remove inconsistencies between Avatar Room and Final Avatar Screen"
## Description
Currently, the backgrounds of avatar room and final avatar screen are different. This looks inconsistent.
The final avatar screen should have the correct background to remove inconsistency.
Also the orientation of the screen should be changed to landscape.

## Mocks

Avatar room:
![screenshot_2018-02-14-02-27-27-285_powerup systers com powerup](https://user-images.githubusercontent.

[2018-02-13 21:19] Rimjhim28 opened #995 "Add animation in intent transitions"
## Description

With the latest changes in the code, animations have been added to various intent transitions.
The click on CONTINUE on FinalAvatar screen still lacks the transitions.
It would be better to include transitions there as wellto remove inconsistency.

## Mocks
Not applicable

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimatio

[2018-02-13 21:36] Rimjhim28 opened #996 "Remove inconsistency between home and back button"
## Description

If the home button is pressed in the middle of the scenario, the user is first presented with a warning dialog. The user can either choose to go to map or dismiss the dialog.
If the back button is pressed, the user is directed to map at once without any warning. It would be better option to implement similar dialog for back button as well.

## Mocks

The warning dialog presented if

[2018-02-13 21:40] Rimjhim28 opened #997 "Avatar does not reset to default avatar room"
## Description

The avatar does not reset to default one with default options (hair, eyes, clothes) in avatar room.
This eventually leads to app crash if the device's screen is turned off. There are errors in writing in database that needs to be handled properly.

## Mocks

![videotogif_2018 02 14_12 50 53](https://user-images.githubusercontent.com/26908195/36192223-a74825aa-1186-11e8-8a80-84d4687

[2018-02-13 21:46] Rimjhim28 opened #998 "Rectify the implementation of warning dialog in store"
## Description

With recent changes in the code, a warning dialog is implemented to warn the user prior to buying an item. The item gets already set on avatar before user's decision whether it should be bought or not.
A rectification is needed here such that, clicking on the item first presents the dialog and only if the userconfirms, the item is bought.

## Mocks

![videotogif_2018 02 14_13 03 58

[2018-02-13 22:05] Rimjhim28 opened #999 "Appearance of total points dialog when already played scenario is chosen"
## Description

When a particular scenario is completed, the user is presented with a dialog that shows the points scored in that particular scenario.
The error here is that the implemented dialog also appears if an already played scenario is chosen againg to be played with a message "You gained 0 karma points"

## Mocks
![screenshot_2018-02-14-03-27-27-485_powerup systers com powerup](https://use

[2018-02-14 05:00] ShriyaSalian commented on #969
Similar issue had been opened by me in #845 :)

[2018-02-14 05:09] geekanamika commented on #687
@Rimjhim28 I can't find the PRs related to this issue. Can you check once ?

[2018-02-14 05:09] Rimjhim28 commented on #969
@ShriyaSalian It's not all similar to #845. Your issue aims to refractor the who database while the one created here is actually a bug that needs to be handled. Please have a close look at the .gif attached.

[2018-02-14 05:15] Rimjhim28 commented on #687
@geekanamika This wasn't taken up in GCI. I think @MeepyMay has added the label by mistake.
I don't think the issue exists anymore. Proper margins were included in PRs like text-overflow and adding ripple effect. As far as I can remember, the accepted PRs were from @Aryaman21 only.
I think it would be good enough to close the issue.

[2018-02-14 05:16] ShriyaSalian commented on #960
Okay @MeepyMay  :)

[2018-02-14 05:18] ShriyaSalian commented on #875
Okay!! @MeepyMay :)

[2018-02-14 05:19] ShriyaSalian commented on #845
👍 @MeepyMay

[2018-02-14 05:32] #687 closed

[2018-02-14 05:34] geekanamika commented on #701
This can be done during GSoc Infrastructure and automation. I'm closing this issue for now!

[2018-02-14 06:13] Rimjhim28 opened #1000 "Green ticks in store not working as expected"
## Description

The implementation of green ticks were to show a green tick on items that have been already bought and is set on the avatar.
Currently, there are several errors on the implementation that needs to be handled like ticks not appearing for the items that are set on avatar, ticks appearing on multiple items, ticks appearing on items that are not selected

## Mocks
No ticks:
![no ticks]

[2018-02-14 07:03] Rimjhim28 opened #1001 "Handling of mini games if already played scenario is chosen"
## Description

If a minigame is left in middle and some other scenario is clicked, the user is first forced to complete the mini game.
Though this may seem a good option if a mini game is left in middle and next scenario in the queue is chosen, it may not be good enough if a previous/ already played scenario is chosen.

## Mocks

![videotogif_2018 02 14_12 13 35](https://user-images.githubusercon

[2018-02-14 12:18] geekanamika commented on #503
Issue has been resolved. Closing this issue.

[2018-02-14 12:18] #503 closed

[2018-02-14 12:24] geekanamika commented on #459
#827 solves this issue but doesn't refers to it. Closing it.

[2018-02-14 12:24] #459 closed

[2018-02-14 19:09] geekanamika commented on #375
I am closing it as Issue has been resolved through PR #719

[2018-02-14 19:09] #375 closed

[2018-02-14 19:29] geekanamika commented on #538
@MeepyMay This can be divided into several First timers only issues. I am adding open-later and closing it for now.

[2018-02-14 19:57] geekanamika commented on #968
@sammy1997 GSoc17 branch contains the GCI PR updates , it will be merged soon in develop hopefully. Please check whether the same error persists for Gsoc17 or not.

[2018-02-14 20:08] geekanamika commented on #990
@PrajwalM2212 Can you please specify the classes & functions and how you aim to resolve them ? A detailed description is usually expected :)

[2018-02-14 20:23] geekanamika commented on #973
It might be similar to #797

[2018-02-15 00:17] PrajwalM2212 commented on #990
The exceptions are present in every class of the project . In every class there are a handful of them . I have already resolved it .☺

[2018-02-15 10:16] PrajwalM2212 commented on #989
Great to see that my issue can be used by first timers to get into contributing.

[2018-02-15 12:00] geekanamika commented on #495
Issue resolve through GCI Task.

[2018-02-15 12:00] #495 closed

[2018-02-15 12:42] geekanamika opened #1004 "Redundant query calls to database"
## Description
As a developer ,I need query operations from database only when needed,
So that no redundant query operations( inside AvatarRoomActivity.java) are executed.
But line no 72 , 84, 94 , 104(develop branch) have repeated query operation.

## Example
Line 67 : eye= *getmDbHandler().getAvatarEye()* ;
Line 72 : eyeImageName = eyeImageName + *getmDbHandler().getAvatarEye()* ;

## Acceptance

[2018-02-15 12:43] geekanamika commented on #1004
@Rimjhim28 @anubhakushwaha I would like to work on this issue.

[2018-02-17 17:12] MeepyMay commented on #1001
I think this is a duplicate issue.

[2018-02-17 19:17] Rimjhim28 commented on #1001
@MeepyMay Could you please specify the issue number.
This issue was mainly encourtered by me after merging the creation of mini games session managers into the code.

[2018-02-17 22:36] raghavpuri31 commented on #996
So I set up the project in Android Studio and build an apk but found that apparently no dialogue box appears when home button is pressed in the middle of scenario @Rimjhim28 !

[2018-02-18 04:40] Rimjhim28 opened #1006 "Disappearance of home button when Cancel is pressed"
## Description
As a user, the home button disppears in GameActivity if Cancel from the warning dialog is chosen.
I need make changes to function goToMapDialog()
so that the home button does not disappear no matter how many times it is cancelled.

## Mocks

![videotogif_2018 02 18_09 54 28](https://user-images.githubusercontent.com/26908195/36348354-b8972cd8-1493-11e8-9030-6f46b6324bde.gif)

The bu

[2018-02-18 04:46] Rimjhim28 commented on #996
@raghavpuri31 Please be sure that you are on the GSoC17 branch. The latest code updates have been done there. As implemented by one of our GCI participant, the dialog box would only appear if you have answered atleast one time and scored some points, since it would be completely illogical to make a warning of loosing total points until the user has actually scored some points.

![videotogif_2018 0

[2018-02-18 06:11] geekanamika commented on #995
@Rimjhim28 This can be a beginner issue. Will you mind if i put label on it ?

[2018-02-18 07:06] Rimjhim28 commented on #995
Sure @geekanamika

[2018-02-19 19:12] tanvidadu opened #1007 "Integrate new designs with the code base"
## Description
As a user,
I need to integrate the new designs with the code-base
so that the new clothes and accessories are available to user.

## Acceptance Criteria
New designs successfully integrated with the code.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-02-20 10:03] geekanamika commented on #540
resolved as a part of #1005

[2018-02-20 10:03] #540 closed

[2018-02-20 17:14] anumehaagrawal opened #1010 "Make the code easy to read by reducing code length"
As a user
I need to reduce length of code
so that I can make it more readable to users

### Avatar Activity:-

        ImageView faceView = (ImageView) findViewById(R.id.faceView);
        ImageView hairView = (ImageView) findViewById(R.id.hairView);
        ImageView clothView = (ImageView) findViewById(R.id.clothView);
This assignment can be done in a single while loop and lines of code can be r

[2018-02-21 16:45] MeepyMay opened #1012 "[Test] Improving Accessibility Features"
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[INSERT NUMBER HERE] hours

[2018-02-22 22:39] DipanshKhandelwal commented on #1004
@geekanamika are you working on it ? If not can I work on it ?

[2018-02-23 06:36] geekanamika commented on #1004
Hey dipansh, I have solved it locally. Since, it hasn't been approved by any mentor yet, I haven't created pull request.

[2018-02-24 21:07] DipanshKhandelwal opened #1013 "Remove reductant code"
## Description
There are a lot of places where code length could be reduced.

## Mocks
![pu](https://user-images.githubusercontent.com/24923974/36635031-39570024-19d4-11e8-8134-970e3cbf4863.png)

## Acceptance Criteria
- [ ] Removing redundant operations in various files

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

**I wo

[2018-02-25 08:35] SIMRAN1 commented on #995
@Rimjhim28 I want to work on this issue.May I work on it?

[2018-02-25 14:06] abhinavbajpai2012 opened #1014 "Notifying a user when he has less karma points than required to buy an item."
## Description
As a user, there is no notification when I try to buy an item from the store which requires more karma points than I have,
I need add a simple alertdialogbox,
so that user gets notified that he is not having enough points.

## Acceptance Criteria
### Update
- [ ] [Adding a function in Store Activity]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approva

[2018-02-25 14:09] abhinavbajpai2012 commented on #1014
Can I work on this @MeepyMay @anubhakushwaha

[2018-02-25 16:45] Rimjhim28 commented on #1014
@abhinavbajpai2012 a similar task was taken up in GCI and was worked upon by the participants. The PR was not merged since the items that cannot be bought are already grayed out and are not clickable, so there is no point in showing the warning dialog.

[2018-02-26 15:35] Akanshi32 commented on #953
Hi, I would like to work on this issue.
@codingblazer  @anubhakushwaha  @MeepyMay

[2018-02-26 16:05] tanvidadu commented on #1000
@Rimjhim28 can debanjanah take this issue as a part of her outreachy task ?

[2018-02-26 16:23] Rimjhim28 commented on #1000
@tanvidadu The issue is not approved yet by any of the maintainer so I did not send a PR.
This basically arose in the way of resolving conflicts and merging GCI PRs. I have actually resolved the issue locally on my machine. Once the issue is approved I will send the PR. :)

[2018-02-26 19:26] isunitha98selvan commented on #1006
I would like to work on this.

[2018-02-26 19:30] Rimjhim28 commented on #1006
@isunitha98selvan I have already resolved the issue on my local machine and will be sending a PR once the issue is approved. Please look into some other open issues if available.

[2018-02-27 05:06] isunitha98selvan commented on #989
I would like to work on this.

[2018-02-27 13:19] pprathameshmore commented on #989
Are you working on this? @isunitha98selvan

[2018-02-27 13:25] pprathameshmore commented on #1012
How to perform Accessibility Testing? @MeepyMay

[2018-02-27 13:26] pprathameshmore commented on #1012
Please explain so I can work on this! @MeepyMay

[2018-02-27 15:35] isunitha98selvan commented on #989
Yes.

[2018-02-28 11:50] pprathameshmore commented on #1013
Cool!

[2018-02-28 13:01] DipanshKhandelwal commented on #995
Is anyone working on this ?

[2018-02-28 13:05] Rahul5758 commented on #999
@Rimjhim28 Can i work on this issue?

[2018-02-28 13:08] Rimjhim28 commented on #999
@Rahul5758 I have done the work locally. Once the issue is approved I will send the pr. Please pick some other one.

[2018-02-28 16:25] rishabhkalra96 commented on #1010
Is the issue still open? I would like to take over this issue and work on it !

[2018-02-28 17:51] anumehaagrawal commented on #1010
I'm already working on it

[2018-03-01 13:30] shivanshsoni opened #1018 "TextViews in about are not clickable"
## Description
All the textViews in about  are not clickable
1. The Game.
2. Why this app is needed
3. How does powerup help teenagers?
### Update [Required]
TO make them clickable and when clicked, a description must show.

## Definition of Done
- [x] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
10 minutes to make changes anf test them.

[2018-03-01 13:31] shivanshsoni commented on #1018
I am on this issue.

[2018-03-01 13:50] shivanshsoni commented on #977
Anyone working on this issue??

[2018-03-01 13:52] Mandeepsinghchadha commented on #977
yess..this was made by me and i have already worked and sent a pull request for the same

[2018-03-01 13:54] shivanshsoni commented on #977
OK thanks

[2018-03-01 14:49] #1018 closed

[2018-03-01 14:57] shivanshsoni commented on #998
I would like to solve this issue

[2018-03-01 15:25] shivanshsoni commented on #998
@Rimjhim28 I have solved this issue So, Can I make the pull request.

[2018-03-01 15:47] Rimjhim28 commented on #998
@shivanshsoni it's mentioned on the issue itself that I am working on it. Please look into some other available issue.

[2018-03-01 17:25] arundhati24 commented on #776
@MeepyMay @prachi1210  May I now reopen this issue? :slightly_smiling_face:

[2018-03-01 19:40] pprathameshmore opened #1020 "App is crashing"
## Description
App is crashing.
In 'Load Game' , after clicking any seen, app get crashes.

## Mocks

![screenshot_1519932254](https://user-images.githubusercontent.com/17108186/36865060-6d925eea-1db4-11e8-9afd-8309771f9896.png)

## Acceptance Criteria
App must be work properly without crashing

Android API 26

## Estimation
4 hours

@Rimjhim28

[2018-03-01 19:54] DipanshKhandelwal commented on #1020
@pprathameshmore I cant understand, How to reproduce the problem ?

[2018-03-01 19:55] Rimjhim28 commented on #1020
I think this issue is already among opened ones.

[2018-03-02 05:40] pprathameshmore opened #1021 "Add these new dress color"
## Description

Add these new dress color

## Mocks
![dress_avatar5](https://user-images.githubusercontent.com/17108186/36884948-ff3c2722-1e09-11e8-9de2-bd41711e663a.png)
![dress5](https://user-images.githubusercontent.com/17108186/36884949-ff7d2a88-1e09-11e8-925b-cdea66ce3e2f.png)

## Estimation
48 hours

@Rimjhim28 @MeepyMay  Can I work on this?

[2018-03-02 17:47] hacker5210 commented on #1021
I would like to work on this.

[2018-03-03 16:30] Akanshi32 opened #1023 "App crashing after clipboard game."
## Description
App is crashing when match the clipboard game ends. It doesn't happen every time but seldom.

## Mocks

![crash](https://user-images.githubusercontent.com/15654390/36936654-18618736-1f2e-11e8-869d-c2afa95c7246.jpeg)

## Acceptance Criteria
App should not crash at this point.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimat

[2018-03-03 16:31] Akanshi32 commented on #1023
@MeepyMay  @Rimjhim28  Kindly review, thanks.

[2018-03-03 16:36] Rimjhim28 commented on #1023
@Akanshi32 Can you provide the error log. I would like to work on this if this is valid.

[2018-03-03 16:39] Rimjhim28 commented on #1013
@DipanshKhandelwal I think this issue is similar to #1010

[2018-03-03 19:28] DipanshKhandelwal commented on #1013
@Rimjhim28  in #1010 its written about using some loop for the assignment. I personally did not understand about how will that take place. I thought she is talking about some different redundancy. But anyways I will first check that pull request, if that solves it ill just close the issue :smile:
Thanks :+1:

[2018-03-03 22:00] Mandeepsinghchadha opened #1024 "Tagline For the App"
# Description
To add some more meaning to the game ,we can add a tagline for the app.For example the tagline KNOW YOUR POWER will be the best as it is quite motivating for the girls entering the puberty stage to know their real power.
# Mocks

# Acceptance Criteria
The tagline (KNOW YOUR POWER )added to the starting page of the .

# Definition of Done
- All of the required items are completed.
-

[2018-03-03 22:01] Mandeepsinghchadha commented on #1024
@MeepyMay  can you approve this tagline feature  as I want to work on it

[2018-03-03 22:06] Mandeepsinghchadha opened #1025 "Animation in the start activity"
## Description
To make the starting of the game more interactive we can add animations like left to right transition of the tagline or the name of the app when the  activity_main.xml of the app loads on the screen
# Acceptance Criteria
Animation of the kind left to right added in the activity_main.xml loads
## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 me

[2018-03-03 22:08] Mandeepsinghchadha commented on #1025
@may can you approve this feature as i want to work on this feature

[2018-03-03 22:14] Mandeepsinghchadha opened #1026 "Sharing Karma Points On Facebook"
## Description
Facebook api integration  with the app to share the karma point on social networking platforms like facebook to promote the app among the girls and their peers

## Acceptance Criteria
Facebook api integration with the app to successfully share the karma points

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
6-7  hours

[2018-03-03 22:15] Mandeepsinghchadha commented on #1026
@may can i work on this issue?

[2018-03-04 12:49] Tagsahil commented on #1021
@pprathameshmore is already working on this. Please find another issue.

[2018-03-04 14:34] Mandeepsinghchadha opened #1027 "POINTS TO TAKE AWAY"
## Description
At the completion of every scenario  we can have points to take away which can brief about all the ideas
and lessons learnt after the scenario point wise.This will help the young girls recollect all the ideas she was shown in the respective scenario

## Acceptance Criteria
An xml page(Before the completion of every scenario) of points to remember added after every scenario(home,scho

[2018-03-04 14:35] Mandeepsinghchadha commented on #1027
@MeepyMay  kindly approve this I would like to work and complete this feature.

[2018-03-04 14:43] Mandeepsinghchadha opened #1028 "Healthcare Tracking"
## Description
In order to make power-up app more informative we can add GOOGLE LOCATION API to track the location of the girl using  the power-up app and how various healthcare centres for women nearby her which could help her in the time of need

## Acceptance Criteria
Added the google's location API

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor

[2018-03-04 14:48] Mandeepsinghchadha opened #1029 "Languages Extension"
## Description
To increase the range of the app in various countries we can add few more languages drop down option in  the start activity to help the girls who cannot read English language that well

## Acceptance Criteria
Different languages added in the start activity

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
7-8 hours

[2018-03-04 14:49] Mandeepsinghchadha commented on #1028
@may can you kindly approve this feature

[2018-03-04 14:49] Mandeepsinghchadha commented on #1029
@may can you kindly approve this feature

[2018-03-04 17:18] pprathameshmore opened #1030 "Fix all hardcoded strings"
## Description
Fix all hardcoded strings in strings.xml

### Enhancement to Update [Optional]
- [x] Some strings are still in hardcoded, so fix them all.

## Definition of Done
- [x] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

@MeepyMay @Rimjhim28 @prachi1210  I want work on this enhancement!

[2018-03-05 12:12] geekanamika commented on #1029
@Mandeepsinghchadha As it will be a major change to provide more language support, It needs discussion in slack channel/open session.

[2018-03-05 12:31] geekanamika commented on #1013
@DipanshKhandelwal This issue covers code refactoring & full code refactoring will taken up in GSoC. Please go through GSoC-Infrastructure & automation proposal list.

[2018-03-05 12:36] Akanshi32 opened #1031 "UI fixes in Scenario"
## Description
The scenarios need UI fixes, the Scenario name is not visible in some of the cases.

## Mocks
![screenshot_2018-03-03-22-09-43](https://user-images.githubusercontent.com/15654390/36975290-abd35d7e-209f-11e8-8f0d-645bbfa54a93.png)
![screenshot_2018-03-03-22-08-52](https://user-images.githubusercontent.com/15654390/36975292-ad7bfd34-209f-11e8-9f37-ff700cfca66f.png)

## Acceptance Crit

[2018-03-05 13:09] geekanamika commented on #1014
@abhinavbajpai2012 Items are grayed out intentionally. We don't need to show warning dialog. Please go through the code base to understand the logic :)

[2018-03-05 13:09] #1014 closed

[2018-03-05 15:15] m-murad opened #1032 "Fix memory leak in SplashActivity."
## Description
There is memory lean in `SplashActivity`. The callbacks on the handler should be removed in the `onDestroy` mentod.

## Acceptance Criteria
### Update [Required]
- [ ] Fix the leak
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-03-05 15:19] m-murad opened #1033 "AboutActivityTest is failing."
## Description
The `AboutActivityTest` is failing because `android.os.Build;` has not been imported.

## Acceptance Criteria
### Update [Required]
- [ ] Import the `Build` class from `android.os` package.
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-03-05 16:39] geekanamika commented on #1033
@m-murad I will look into it & update. Thanks :)

[2018-03-05 16:50] m-murad commented on #1033
@geekanamika
happy to help

[2018-03-05 19:06] DipanshKhandelwal commented on #1032
@m-murad can I work on it?

[2018-03-05 19:10] DipanshKhandelwal commented on #1013
@geekanamika  Ya sure thanks :+1:

[2018-03-05 21:14] Mandeepsinghchadha opened #1034 "MINI GAME"
## Description
In order to educate the girls in a interactive manner we can make a menstrual island mini game and the aim of the game will be corresponding to earning  karma points at each and every step of menstrual island game to maximise your score.
1)Game will start with mountain of pain which is are the initial days of the periods every month.
There can be question pop ups related to dealing

[2018-03-05 21:15] Mandeepsinghchadha commented on #1034
@may kindly approve this so that i can work on this as this mini game can be really interactive and educative

[2018-03-05 21:41] Mandeepsinghchadha opened #1035 "Linking videos"
## Description
In order to extend the game we can link youtube or self made videos after every completion of every scenario to help the girls learn puberty related stuff in a more interactive way

## Acceptance Criteria
Video buttons made and added after every scenario

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1-2  hours

[2018-03-05 21:42] Mandeepsinghchadha commented on #1035
@MeepyMay kindly approve this issue I would like to work on this feature

[2018-03-05 21:47] Mandeepsinghchadha opened #1036 "Dance classes Scenario"
## Description
Apart from school,library girls of age 12-13 perform extracurricular activities such as dance classes where the there can be chances of sexual assault and violence .So we can extend the game by adding this scenario

## Acceptance Criteria
Scenario added

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5-6 days

[2018-03-05 21:47] Mandeepsinghchadha commented on #1036
@may kindly approve this issue so that i can work on it

[2018-03-05 21:52] Mandeepsinghchadha opened #1037 "Change of characters in Scenarios"
## Description
As a user seeing the same character in every scenario(Marcello) can be monotonous So if we change the character in different scenarios(talking about marcello) or have a option for it in the starting will make the game better

## Acceptance Criteria
New characters added in context of marcello

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 me

[2018-03-05 22:00] Mandeepsinghchadha opened #1038 "Adding voice behind mini games"
## Description
In order to attract more and more users we can add mario or any different game sound in the mini games to make it more interactive

## Acceptance Criteria
Sound added in every mini game

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1-2 hours

[2018-03-05 22:00] Mandeepsinghchadha commented on #1038
@may kindly approve this So  that i can work on it

[2018-03-05 22:04] Mandeepsinghchadha opened #1039 "KARMA POINTS"
## Description
To make the UI better we can replace the karma points stars with emoji's or smileys

## Acceptance Criteria
Karma points stars replaced with better options

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-03-05 22:05] Mandeepsinghchadha commented on #1039
@may I would like to work on this kindly approve this

[2018-03-05 22:05] Mandeepsinghchadha commented on #1037
@may kindly approve this i would like to work on this

[2018-03-05 22:10] #1035 closed

[2018-03-05 22:14] Mandeepsinghchadha opened #1040 "Home scenario video"
## Description
As the home scenario in the game is related to molestation and assault so after completion of home scenario ,a link of a video on youtube can be added to the home completion scenario to make the game more educative.

## Acceptance Criteria
Video after after home scenario

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2018-03-05 22:15] Mandeepsinghchadha commented on #1040
@may kindly approve this I would like to work on this

[2018-03-05 22:17] Mandeepsinghchadha opened #1041 "School scenario video"
## Description
As the home scenario in the game is related to unprotected and un timed sex so after completion of home scenario ,a link of a video on youtube can be added to the school completion scenario to make the game more educative.
## Acceptance Criteria
Video added after completion of school scenario
## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 me

[2018-03-05 22:29] Mandeepsinghchadha opened #1042 "Do you Know"
## Description
In every scenario apart from character and text boxes there is a lot of empty space to make every scenario more educative we can add DO YOU KNOW type informatory ideas in every scenario.

## Acceptance Criteria
DO YOU KNOW boxes added in every scenario.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2-3 hours

[2018-03-05 22:40] Mandeepsinghchadha opened #1043 "Sexually transmited diseases mini game"
## Description
We can add a crossword puzzle time mini game which contain the hints abouts some STD and the user has to mark the correct disease in the puzzle .This will be interactive and educative on the same level

## Acceptance Criteria
Crossword puzzle added as the mini game

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
12-13

[2018-03-05 22:40] Mandeepsinghchadha commented on #1043
@may kindly approve this As I want to work on this mini-game

[2018-03-05 23:05] DipanshKhandelwal opened #1044 "Improve Karma points distribution"
## Description
As a user
I need change how karma points is given to player,
so that I can bring consistency in game play and points earned.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Change how karma points are distributed

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

I would like to work on this.

[2018-03-05 23:10] DipanshKhandelwal opened #1045 "Add authentication and save highscores"
## Description
As a user,
I need add authentication system,
so that I can add accounts and save highscores and leaderboard.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Add Authentication
### Enhancement to Update [Optional]
- [ ] Add Profile section

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
15-17 hours

I

[2018-03-06 09:31] geekanamika commented on #1042
@Mandeepsinghchadha Please follow the issue template before creating an issue.

[2018-03-06 09:31] #1042 closed

[2018-03-07 08:08] m-murad commented on #1032
@DipanshKhandelwal
Sure but ask for the mentor's approval first.

[2018-03-07 11:24] #1030 closed

[2018-03-07 11:48] pprathameshmore commented on #1045
@DipanshKhandelwal I think there is no need of authentication in this game! This game for girls age between 12-14.
@prachi1210 @Rimjhim28 @m-murad

[2018-03-07 13:01] geekanamika commented on #1045
@DipanshKhandelwal Please discuss it in powerup channel , if mentors approve , we'll open it later.

[2018-03-07 19:38] prachi0311 commented on #1041
@Mandeepsinghchadha I would like to solve this issue.

[2018-03-08 04:44] geekanamika commented on #1020
@Rimjhim28 Can you mention the issues which includes this issue ? If it's duplicate , it should be closed. Also , @pprathameshmore Please go through all the open issues before creating a new issue. (refer to contribution guidelines. )

[2018-03-10 18:36] Rimjhim28 commented on #1038
@Mandeepsinghchadha Can you please explain what do you aim to do here since the mini games already have some sound implementations.

[2018-03-10 20:35] geekanamika commented on #977
This should be accepted first in #ideas channel , closing it for now.

[2018-03-10 20:35] #977 closed

[2018-03-10 20:45] geekanamika commented on #1021
@pprathameshmore This should be discussed with UI team & There has been alot improvement during outreachy work, please refer to it.

[2018-03-10 20:45] #1021 closed

[2018-03-10 20:47] geekanamika commented on #1024
As discussed on slack , it's not required currently. Closing it for now.

[2018-03-10 20:47] #1024 closed

[2018-03-10 20:48] geekanamika commented on #1026
It's not required currently. Though you can discuss it in slack channel :)

[2018-03-10 20:48] #1026 closed

[2018-03-10 20:50] geekanamika commented on #1028
This doesn't fit well with the idea of powerup application, please discuss new idea in #ideas channel on slack. :)

[2018-03-10 20:50] #1028 closed

[2018-03-10 20:51] geekanamika commented on #1034
Hello @Mandeepsinghchadha You only need to discuss it on slack & make changes as suggested , creating an issue is not required.

[2018-03-10 20:51] #1034 closed

[2018-03-10 20:52] geekanamika commented on #1036
Please create mockups for this idea & discuss it in #ideas channel. :)

[2018-03-10 20:52] #1036 closed

[2018-03-10 20:54] geekanamika commented on #1037
You must discuss it in ideas channel & include it in your GSoC proposal , please refer to contribution guidelines before creating an issue.

[2018-03-10 20:54] #1037 closed

[2018-03-10 20:55] geekanamika commented on #1038
@Mandeepsinghchadha You should it in ideas channel & include it in your proposal :) Please don't create an issue for every idea :)

[2018-03-10 20:55] #1038 closed

[2018-03-10 20:56] geekanamika commented on #1039
@Mandeepsinghchadha Systers will be following software design cycle & TDD onwards , please discuss it in ideas channel & include it in your proposal :)

[2018-03-10 20:56] #1039 closed

[2018-03-10 20:58] geekanamika commented on #1041
@Mandeepsinghchadha You should discuss ideas on slack , please avoid creating an issue for new ideas. Create any mockups & include it in your proposal :)

[2018-03-10 20:58] #1041 closed

[2018-03-10 20:59] geekanamika commented on #1043
@Mandeepsinghchadha mini-game development will be taken during GSoC period, please create mockups & discuss it in ideas channel :)

[2018-03-10 20:59] #1043 closed

[2018-03-10 21:01] geekanamika commented on #1040
@Mandeepsinghchadha Please discuss it in ideas channel & include it in your proposal. :)

[2018-03-10 21:01] #1040 closed

[2018-03-10 21:03] geekanamika commented on #1010
@anumehaagrawal It can be taken during GSoC - infrastructure & automation period as code refactoring will be done , closing it for now :)

[2018-03-10 21:09] geekanamika commented on #997
@Rimjhim28 Isn't this the wanted behaviour ? We're using saved data to create default avatar in code. I took it as a implementation of code to use user's favourite avatar look.

[2018-03-11 03:31] aayushinigam opened #1049 "Grammatical Error in the About section"
There is this grammatical error that I have encountered in the  'About' section of the app.
It says "Why this App is needed", which should be changed to "Why is this App needed?"

![screenshot_20180311-084848](https://user-images.githubusercontent.com/24635221/37249285-b9088040-250a-11e8-9076-5768bd13e794.png)

[2018-03-11 03:35] aayushinigam commented on #1049
@MeepyMay  @Rimjhim28  As a newcomer, for my first PR, I would like to work on this. Kindly approve.

[2018-03-11 04:01] Rimjhim28 commented on #995
@SIMRAN1 If you want you can work on this issue but make the changes locally on your machine. Since the issue isn't approved yet making a PR would go against you.

[2018-03-11 04:27] Rimjhim28 commented on #997
@geekanamika This is not the expected implementation. The avatar items should set to default values afetr each click on "NEW GAME"
If we look into older version of app there was code snippet to do so in Avatar Activity onCreate():
[code]
With the integration of FInal Avatar Screen during GCI a preference manager was implemented by the participant to check if the Avatar was previously customized to

[2018-03-11 04:40] Rimjhim28 commented on #1049
As far as I know concentrating on the content here was more important than language.
@MeepyMay could give a better suggestion here.

[2018-03-11 07:29] yashshah7197 commented on #995
@Rimjhim28 is this issue still up for grabs? I can work on this right away. Thanks! 😄

[2018-03-11 07:30] Rimjhim28 commented on #995
@yashshah7197 No it is not.
@SIMRAN1 was the first to claim it.

[2018-03-11 07:31] yashshah7197 commented on #995
Oh okay no issue! (pun intended) 😂

[2018-03-11 10:14] Rimjhim28 commented on #530
@Mandeepsinghchadha Since the issue is approved, I have already sent the PR.

[2018-03-11 10:43] Rimjhim28 opened #1051 "No layout preview in xml files"
## Description
As a user,
I need update the gradle dependecies version, tagetSdkVersion and compileSdkVersion,
so that the layouts are properly displayed in xml files.

## Mocks
![error log](https://user-images.githubusercontent.com/26908195/37252458-10105304-2547-11e8-8947-9e9afc79f2da.png)
![no layout views](https://user-images.githubusercontent.com/26908195/37252459-104f6c38-2547-11e8-8fdc-7084

[2018-03-11 10:46] Rimjhim28 commented on #1051
@geekanamika @m-murad  Please approve. I would like to work and fix the same.

[2018-03-11 10:47] m-murad commented on #1051
This is a valid issue. Please send a PR to fix this.

[2018-03-11 15:56] Mandeepsinghchadha opened #1053 "Dr Bulma Hospital scenario"
## Description
As  a user in the hospital scenario instead of marcello ,Doctor bulma should appear as this would create a negative impact/misunderstanding among the users.
##Mocks
![screenshot_2018-03-11-21-29-39-586_powerup systers com powerup](https://user-images.githubusercontent.com/27005975/37255619-cf64a4a8-2574-11e8-9856-14cd48b8cbdb.png)

## Acceptance Criteria
Under the doctor character t

[2018-03-11 15:56] Mandeepsinghchadha commented on #1053
@may @prachi @m-murad  I would like to work on this kindly approve

[2018-03-11 16:03] Mandeepsinghchadha opened #1054 "Uncle Mathew Home scenario"
## Description
As a user in the hospital scenario instead of marcello ,Uncle Mathew should appear as this would create a negative impact/misunderstanding among the users.
##Mocks
![screenshot_2018-03-11-22-56-00-394_powerup systers com powerup](https://user-images.githubusercontent.com/27005975/37256379-e5356f96-257f-11e8-88eb-28d4d95eba52.png)

## Acceptance Criteria
Under the doctor character th

[2018-03-11 16:04] Mandeepsinghchadha commented on #1054
@m-murad  kindly approve this I want to work on this

[2018-03-11 16:09] Mandeepsinghchadha opened #1055 "Map Button On Library Page"
## Description
When the user visits the library page once there is a map button on the top right but when user visits the maps and comes again to the library the button disappears

## Acceptance Criteria
Map button added at top right corner in the library scenario

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1-2 hours

[2018-03-11 16:09] Mandeepsinghchadha commented on #1055
@m-murad  kindly approve this as I want to work on this issue

[2018-03-11 16:16] Rimjhim28 commented on #1055
@Mandeepsinghchadha The map button is present in all scenarios ( including library )
Please make sure that you are on correct branch with the latest code.
@geekanamika Kindly look into this.

[2018-03-11 16:17] Mandeepsinghchadha commented on #1055
@Rimjhim28  I have updated the issue  kindly see it again

[2018-03-11 16:19] Rimjhim28 commented on #1054
@Mandeepsinghchadha Replacing marcello with Uncle Mathew won't be an appropriate option.
Moreover, this is among among GSoC idea list so it would be better if you include some mockups and implementation ideas in your proposal instead of creating an issue.
@geekanamika Kindly look into this.

[2018-03-11 16:20] Mandeepsinghchadha opened #1056 "Map Button Home Page"
## Description
When the user visits the Home page once there is a map button on the top right but when user visits the maps and comes again to the Home the button disappears

## Acceptance Criteria
Map button added at top right corner in the Home scenario

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1-2 hours

[2018-03-11 16:20] Rimjhim28 commented on #1053
I think this is quite similar to #1054
Please don't create multiple issues for same implementation.
@geekanamika Kindly look into this.

[2018-03-11 16:22] geekanamika commented on #1054
@Mandeepsinghchadha This is a new idea that must be discussed first before the coding. As suggested in various closed issues , Please discuss it on slack channel :)

[2018-03-11 16:23] Mandeepsinghchadha commented on #1054
@Rimjhim28  In the Text boxes the name of the person is Uncle mathew not marcello  also this issue is different from hospital scenario so remove this reference as they are different .Morever this is a  bug not an idea

[2018-03-11 16:24] Rimjhim28 commented on #1056
The issue was already reported through #725 and was solved through #739 .
Please go through contributing guidelines.
Make sure that you are working on latest version of code.

[2018-03-11 16:24] Mandeepsinghchadha commented on #1054
@geekanamika  I am again pointing out this is not an idea it is a bug that needs to be fixed.

[2018-03-11 16:24] #1051 closed

[2018-03-11 16:27] Mandeepsinghchadha opened #1057 "Map Button School Page"
## Description
When the user visits the School page once there is a map button on the top right but when user visits the maps and comes again to the School the button disappears

## Acceptance Criteria
Map button added at top right corner in the School scenario

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1-2 hours

[2018-03-11 16:27] Mandeepsinghchadha commented on #1057
@m-murad  kindly approve this I want to work on this

[2018-03-11 16:27] Rimjhim28 commented on #1055
So now it is similar to #1056 and that is again an invalid one.

[2018-03-11 16:29] Mandeepsinghchadha opened #1058 "Hospital Scenario Map"
## Description
When the user visits the Hospital page once there is a map button on the top right but when user visits the maps and comes again to the Hospital the button disappears

## Acceptance Criteria
Map button added at top right corner in the Hospital scenario

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1-2 hours

[2018-03-11 16:29] Mandeepsinghchadha commented on #1058
@m-murad  kindly approve this I want to work on this

[2018-03-11 16:30] #1058 closed

[2018-03-11 16:31] #1057 closed

[2018-03-11 16:32] #1056 closed

[2018-03-11 16:32] #1055 closed

[2018-03-11 16:34] Mandeepsinghchadha commented on #1053
@Rimjhim28  This is a different issue as it for a different scenario with  a different name of the person

[2018-03-11 16:47] #1033 closed

[2018-03-11 16:55] geekanamika commented on #1049
@aayushinigam Try working on any existing first-timers issue ? I remember it being mentioned on slack somewhere that All the statements were documented with consideration & it's not the utmost importance now.
Also , mentors might not be active currently. So , you can find any issues (without PR) & work on it on your own fork, if it's a valid issue, It'll be consider as a contribution too. :)

[2018-03-11 16:55] #1049 closed

[2018-03-11 17:00] geekanamika commented on #1053
@Mandeepsinghchadha You have mentioned hospital(scenario) in both issues ( #1054 ) .

[2018-03-11 17:12] Mandeepsinghchadha commented on #1053
@geekanamika  The situation  may be similar in terms of code but making two issues for two different scenarios  won't hurt much.

[2018-03-12 08:30] Mandeepsinghchadha opened #1059 "Previous Scenarios not in sync with current scenario"
## Description
Right Now when a user plays a current scenario and go to map then there is a page popup that the current scenario  is completed and you have gained some karma points but the screen popup should be that first finish the current scenario to give the user a better picture

## Acceptance Criteria
Navigation screen added

## Definition of Done
- [ ] All of the required items are complete

[2018-03-12 08:31] Mandeepsinghchadha commented on #1059
@m-murad  I would like to work on this bug

[2018-03-12 08:33] Mandeepsinghchadha opened #1060 "After Game completes"
## Description
After the game is completed there is no option of new game or replay the game which creates  a confusion for user

## Acceptance Criteria
After game completion new game or replay screen navigation

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2-3 hours

[2018-03-12 08:34] Mandeepsinghchadha commented on #1060
@m-murad  kindly approve this bug so that i can work on it

[2018-03-12 08:37] Mandeepsinghchadha opened #1061 "Scenario Resume"
## Description
When the users plays a scenario then go back to map and again come back to the current scenario it finishes rather than resuming that scenario

## Acceptance Criteria
Resuming the current scenario after visiting of map

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4-5 hours

[2018-03-12 08:37] Mandeepsinghchadha commented on #1061
@m-murad  kindly approve this i would like to work on this bug

[2018-03-12 10:01] m-murad commented on #1061
Valid issue, please send a PR

[2018-03-12 10:03] m-murad commented on #1060
You point seems valid to me.
But I'm not sure if this is an issue or as planned.

Let's discuss more on this on slack.

[2018-03-12 10:04] m-murad commented on #1059
Valid issue, please send a PR.

[2018-03-12 10:05] Rimjhim28 commented on #1061
@m-murad I think it would be better if @Mandeepsinghchadha could provide a gif file here to explain the issue properly.
If a scenario is left in mid and is chosen again it restarts which I think is absolutely fine to get the flow of the conversation.
If a scenario is already played and is chosen again the user is first presented with a scenario over screen.

[2018-03-12 10:07] Rimjhim28 commented on #1060
After the game is completed there is a button which can direct the user back to map and then from map she can choose to play any scenario of her choice here.

[2018-03-12 10:08] Rimjhim28 commented on #1059
@murad @Mandeepsinghchhada I have already created this issue. Please go through open issues once again

[2018-03-12 10:09] Rimjhim28 commented on #1059
Similar to #999

[2018-03-12 10:11] Rimjhim28 commented on #1006
@m-murad please approve the issue.

[2018-03-12 10:11] Rimjhim28 commented on #1001
@m-murad please approve the issue.

[2018-03-12 10:11] Rimjhim28 commented on #1000
@m-murad please approve the issue.

[2018-03-12 10:11] Rimjhim28 commented on #999
@m-murad please approve the issue.

[2018-03-12 10:12] Rimjhim28 commented on #997
@m-murad please approve the issue.

[2018-03-12 10:12] Rimjhim28 commented on #996
@m-murad please approve the issue.

[2018-03-12 10:12] Rimjhim28 commented on #994
@m-murad please approve the issue.

[2018-03-12 10:13] Rimjhim28 commented on #969
@m-murad please approve the issue.

[2018-03-12 10:13] Rimjhim28 commented on #777
@m-murad please approve the issue.

[2018-03-12 10:13] Rimjhim28 commented on #532
@m-murad please approve the issue.

[2018-03-12 10:14] Rimjhim28 commented on #524
@m-murad please approve the issue.

[2018-03-12 10:14] Rimjhim28 commented on #515
@m-murad please approve the issue.

[2018-03-12 10:19] saurabhjn76 commented on #524
@Rimjhim28 It's a valid issue, please make the PR

[2018-03-12 11:34] m-murad commented on #524
@rimjhim28
Please send a PR for this issue

[2018-03-12 11:36] m-murad commented on #532
I say this in a screenshot in some other issue as well. Please fix this.

[2018-03-12 11:40] m-murad commented on #1059
This is a duplicate issue.
@Rimjhim28 please send a PR for this.
@Mandeepsinghchadha you can close this issue

[2018-03-12 11:44] m-murad commented on #996
This is a valid issue. Please fix this.

[2018-03-12 11:48] m-murad commented on #777
Please send a PR

[2018-03-12 11:50] geekanamika commented on #1032
@m-murad Can i work in this issue ?

[2018-03-12 12:09] #1059 closed

[2018-03-12 12:10] geekanamika opened #1062 "Shift the dependency version numbers to variables"
## Description
As a developer,
I need to update dependency version with time,
so that I can keep the project up-to-date & it's easy to maintain.

## Mocks
![screenshot from 2018-03-12 17-32-23](https://user-images.githubusercontent.com/16922933/37282830-d8765954-261b-11e8-874c-d814d3e17dc3.png)

## Acceptance Criteria
- [ ] It should shift all the hardcorded numbers to variables.
- [ ] It should s

[2018-03-12 12:11] geekanamika commented on #1062
@m-murad @saurabhjn76 I would like to work on this issue.

[2018-03-12 12:12] geekanamika commented on #985
@tanvidadu @m-murad @saurabhjn76 Please approve this issue.

[2018-03-12 12:28] Mandeepsinghchadha opened #1063 "Exit Button on Main Page"
## Description
Right now the main page only has new game and Load game but there is no Exit Button on the Main page and every game should have an Exit Game option and not having such exit button will reduce the user friendly nature of the game
## Acceptance Criteria
Exit Button added

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3-

[2018-03-12 12:28] Mandeepsinghchadha commented on #1063
@m-murad  kindly approve this issue so that i can work on it

[2018-03-12 12:31] Rimjhim28 commented on #1063
@Mandeepsinghchadha I think this would be an enhancement. As you know, for every  enhancement you first need to discuss it on slack. Moreover there is a confirmation toast "press again to exit" that pops up when the user hits the back button on device on home screen so putting an exit button won't be much feasible idea.
Though @m-murad could provide a better suggestion here.

[2018-03-12 12:33] Mandeepsinghchadha opened #1064 "Mini Games"
## Description
As a user while playing a mini game I should have a option to exit the mini game and go the map  without resuming the game(Losing all the karma points of that mini game) and when user comes again to that scenario he has to play the mini game again from scratch

## Acceptance Criteria
Go to map without resuming button added

## Definition of Done
- [ ] All of the required items are c

[2018-03-12 12:33] Mandeepsinghchadha commented on #1064
@m-murad  kindly approve this issue

[2018-03-12 12:36] Mandeepsinghchadha commented on #1063
@I think it is necessity of the game and reduces the user friendly nature .Also likewise on a scenario why do we have a go to map activity when user can press the back button on the scenario to go to the map  .I think this will answer your query .

[2018-03-12 12:37] Mandeepsinghchadha commented on #1063
@Rimjhim28  Also this is not an enhancement just a mere need of the game right now

[2018-03-12 12:40] Mandeepsinghchadha opened #1065 "Mini Game with resuming"
## Description
As an user if i want visit a map with the resuming of the game it should be possible and there should another button

## Acceptance Criteria
Go to maps activity with resuming button should be there

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4-5 hours

[2018-03-12 12:41] Mandeepsinghchadha commented on #1065
@m-murad  kindly approve this I would like to work on this .

[2018-03-12 12:43] Mandeepsinghchadha opened #1066 "Skip Option"
## Description
While playing a mini game I should have skip mini game option to end the mini game and move forward in the game

## Acceptance Criteria
Skip mini game button added
## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4-5 hours

[2018-03-12 12:43] Rimjhim28 commented on #1063
But it is not a "bug" I guess. The project creates have created it that way so if they have not felt the necessity to create an exit button there must be a reason.

[2018-03-12 12:44] Mandeepsinghchadha commented on #1066
@m-murad kindly approve this

[2018-03-12 12:47] Mandeepsinghchadha commented on #1063
@Rimjhim28  In that way there is also not a necessity for go to maps activity in the scenario but to make it user friendly it has to be done .Having an exit button is  a part of every game you play and not adding this will be considered as downfall of the game(It is a major bug) not just a mere enhancement or luxury button of the game but this game will go into masses and not adding a exit button

[2018-03-12 12:50] Mandeepsinghchadha commented on #1060
@Rimjhim28  when you create a game it has to be user friendly you cant just assume the users to use their instincts to navigate in the game

[2018-03-12 13:07] m-murad commented on #1025
please discuss this on slack first.

[2018-03-12 13:08] m-murad commented on #1027
this is a new idea and should be discussed on slack first

[2018-03-12 13:09] m-murad commented on #1060
like I said let's discuss this on slack.

[2018-03-12 13:12] m-murad commented on #1063
@Mandeepsinghchadha
nice idea, but let's have a discussion on this.

Discussion is necessary because there is an iOS version of the project. The two versions must remain similar.

[2018-03-12 13:15] m-murad commented on #1066
discuss on slack first

[2018-03-12 13:21] m-murad commented on #1064
discuss on slack first

[2018-03-12 13:21] m-murad commented on #1065
please discuss on slack

[2018-03-12 16:20] pprathameshmore commented on #1063
@Mandeepsinghchadha I think there is no need for Exit Button. If you press Exit Button app will close automatically!

[2018-03-12 17:28] DipanshKhandelwal commented on #1032
@geekanamika I have solved it, I am just waiting for an approval.

[2018-03-12 17:29] DipanshKhandelwal commented on #1004
@geekanamika no issues please carry on.

[2018-03-12 18:20] Mandeepsinghchadha commented on #1063
@pprathameshmore please read the explainations i have given above for its necessity kindly see it first

[2018-03-12 18:39] pprathameshmore commented on #1063
@Mandeepsinghchadha Let discuss in Slack! I think it looks great!

[2018-03-12 21:41] m-murad commented on #1032
@DipanshKhandelwal
please send the PR

[2018-03-12 22:19] Rimjhim28 commented on #996
@m-murad Thanks for the approval. Will be sending the PR soon!!

[2018-03-12 22:20] Rimjhim28 commented on #777
Thanks @m-murad Will be sending the PR soon!!

[2018-03-12 22:20] Rimjhim28 commented on #532
@m-murad Thanks for the approval. Will be sending a PR soon.

[2018-03-12 22:21] Rimjhim28 commented on #524
@saurabhjn76 @m-murad Thanks for the approval. Will be sending a PR shortly.

[2018-03-12 22:39] Rimjhim28 commented on #1066
@Mandeepsinghchadha @m-murad This is similar to #774  #775  #776

[2018-03-12 23:15] DipanshKhandelwal commented on #1032
@m-murad give it a look please. Thanks :+1:

[2018-03-13 06:06] aayushinigam opened #1068 "Update README.md"
As a developer,

I need to update the README.md file which asks to fetch the latest code from branch "GSoC17" even though the latest code is in branch "develop"

so that I can fetch the latest code correctly.

## Acceptance Criteria
### Update [Required]
- [ ] [README.md]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 minutes

[2018-03-13 06:08] aayushinigam commented on #1068
@m-murad kindly approve this.

[2018-03-13 08:02] geekanamika commented on #1068
@aayushinigam I think @Janiceilene is handling the documentation part as an outreachy intern.

[2018-03-13 08:16] geekanamika opened #1069 "Able to buy from store without points reduction"
## Description
As a developer,
I need to dismiss the dialog on "may be later" click,
so that it revert back to last dress/accessory used by avatar & maintain consistency within application

## Mocks
![able to buy](https://user-images.githubusercontent.com/16922933/37329656-a254d1b2-26c4-11e8-9be5-e7bbeb8f5763.gif)

## Acceptance Criteria
- [ ] Store trial item should revert back on "may be later"

[2018-03-13 08:18] Rimjhim28 commented on #1069
Hey @geekanamika I think this is similar to #998

[2018-03-13 08:21] geekanamika commented on #1069
@Rimjhim28 It does involves points mentioned by you in #998. Going by your description , You haven't mentioned that it should revert back if "may be later" is clicked.
You're mentioning the case that It should not apply directly to avatar & I'm talking about reverting back (Even if it's applied). Can you please the gif upload by me ?

[2018-03-13 08:36] Rimjhim28 commented on #1069
Ok let me clear it up a bit. The task from which this issue arose said that the user should be first presented with a warning dialog from which she could either buy the accessory or dismiss the dialog. The basic error here as explained by me in #998 was that the item was set on the avatar without user confirming the purchase. So the rectification required is the item should not set on avatar until

[2018-03-13 08:43] geekanamika commented on #1069
Got it.

[2018-03-13 10:36] Rimjhim28 commented on #777
@m-murad @saurabhjn76 Can you please help me here. I am facing tough time trying to resolve this.

[2018-03-13 11:11] aayushinigam commented on #1068
@geekanamika Oh I didn't know. So I shouldn't bother waiting for its approval then?

[2018-03-13 12:30] geekanamika commented on #1068
You can ask it on slack , you might get approval too as outreachy has ended.

[2018-03-13 13:01] m-murad commented on #1006
You have sent the PR to the wrong repo.

[2018-03-13 13:04] Rimjhim28 commented on #1006
@m-murad I have sent the PR to my own repo since the issue was not approved. Once approved I will send it to systers/powerup

[2018-03-13 16:49] Rimjhim28 commented on #1006
@ m-murad should I do the changes and send a PR to Systers repo??

[2018-03-13 16:52] m-murad commented on #1006
Yes

[2018-03-13 16:52] m-murad commented on #1006
Please upload a gif as well

[2018-03-13 17:38] Janiceilene commented on #1068
I'm okay with this change, as long as you are @geekanamika.

[2018-03-13 19:18] Rimjhim28 commented on #1006
@m-murad Done!! :)

[2018-03-13 19:47] m-murad commented on #999
Please send a PR for this issue.

[2018-03-13 19:49] m-murad commented on #998
valid issue. please send PR

[2018-03-13 19:50] m-murad commented on #997
please share the logs of the crash.

[2018-03-13 19:52] m-murad commented on #994
This might not be a bug but a desired feature. Please discuss this on slack first.

[2018-03-13 20:47] geekanamika commented on #1068
Hey @aayushinigam Ask for mentors approval & go ahead, once approved. :)

[2018-03-13 21:08] m-murad commented on #1053
discuss this on slack first

[2018-03-13 21:08] m-murad commented on #1054
discuss this on slack first

[2018-03-14 12:10] Rimjhim28 commented on #997
![crash](https://user-images.githubusercontent.com/26908195/37401558-73c05c00-27ae-11e8-8f0a-ff973bf89d0f.png)

@m-murad Here's the crash log. This basically happens when the screen is switched of. Though I am not very sure if this happens beacause of this issue but it was not present before. May be a diffrerent issue can be created to handle the game when the screen goes off.

[2018-03-14 14:08] m-murad opened #1077 "Use Room Persistence library."
## Description
As a developer,
one can observe that the application is still using the conventional SQLite database without any ORM library,
we should use the Room persistence library on top of existing SQLite to make the DB handling convenient.

## Acceptance Criteria
### Update [Required]
- [ ] Use Room for SQLite queries
- [ ] Write tests for database

## Definition of Done
- [ ] All of the req

[2018-03-14 14:10] Rimjhim28 commented on #1077
@m-murad May I work on this?

[2018-03-14 14:10] geekanamika commented on #1077
@m-murad Since this will be a big change , I've added it in my timeline. Is this open currently ?

[2018-03-14 14:13] m-murad opened #1078 "Use Butterknife for view injection"
## Description
As developers,
we can use view injection library [Butterknife](http://jakewharton.github.io/butterknife/) for view injection. This will reduce the lines of code and make the code readable.

## Acceptance Criteria
### Update [Required]
- [ ] Use butterknife for view injection

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estima

[2018-03-14 14:14] geekanamika commented on #1078
@m-murad Can i work on this ?

[2018-03-14 14:16] m-murad commented on #1077
@Rimjhim28 @geekanamika
This enhancement should be added during the GSoC period.

[2018-03-14 14:19] m-murad commented on #1078
@geekanamika
This enhancement should be added during the GSoC period.

[2018-03-14 14:34] m-murad opened #1079 "Implement the observable pattern throughout the application."
## Description
Use [LiveData](https://developer.android.com/topic/libraries/architecture/livedata.html) to implement observable pattern throughout the application.

## Acceptance Criteria
### Update [Required]
- [ ] Integrate LiveData library to follow the observable pattern throughout the application.
- [ ] Write tests for all the LiveData integrations.

## Definition of Done
- [ ] All of the req

[2018-03-14 14:37] geekanamika commented on #1069
@m-murad Can you review this issue ?

[2018-03-14 14:38] m-murad opened #1080 "Create ViewModel for all activities."
## Description
As developers, we need to create [ViewModels](https://developer.android.com/topic/libraries/architecture/viewmodel.html) for all activities. This will make the code readable and testable.

## Acceptance Criteria
### Update [Required]
- [ ] Add ViewModels for all activities

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimati

[2018-03-14 14:38] m-murad opened #1081 "Create ViewModel for all fragments."
## Description
As developers, we need to create [ViewModels](https://developer.android.com/topic/libraries/architecture/viewmodel.html) for all fragments. This will make the code readable and testable.

## Acceptance Criteria
### Update [Required]
- [ ] Add ViewModels for all activities

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimatio

[2018-03-14 15:40] pprathameshmore commented on #1080
Should I work on this?

[2018-03-14 16:03] geekanamika commented on #1080
@pprathameshmore This will be taken during GSoC period.

[2018-03-14 16:05] pprathameshmore commented on #1080
@geekanamika Okay!

[2018-03-14 18:45] manddy commented on #1081
@m-murad i want to work on this

[2018-03-14 18:47] Mandeepsinghchadha commented on #1081
@m-murad i want to work on it

[2018-03-14 18:48] Mandeepsinghchadha commented on #1078
@m-murad i have worked on butterknife before can i work on this

[2018-03-14 18:48] Mandeepsinghchadha commented on #1079
@m-murad  can i work on this

[2018-03-14 18:49] m-murad commented on #1081
This is for GSoC period

[2018-03-14 18:50] m-murad commented on #1079
To be done during GSoC

[2018-03-15 15:10] niksj commented on #1000
@Rimjhim28 Issue approved. You can work on it.

[2018-03-15 15:12] Rimjhim28 commented on #1000
@niksj Thanks a lot!! Will send a PR soon. :)

[2018-03-15 20:47] pprathameshmore opened #1082 "Convert existing PNG, JPG images into WebP image format"
## Description
Convert existing PNG, JPG images into WebP image format,
so that I can help to reduce apk size.

## Mocks
The left side has PNG Image and the right side has WebP image.

After converting into WebP.

![apksize reduce](https://user-images.githubusercontent.com/17108186/37489919-2b7c505e-28bf-11e8-9414-b91f20ba33bf.JPG)

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
#

[2018-03-15 21:05] m-murad commented on #1082
@pprathameshmore
Because of GSoC all mentors are busy (gathering requirements and reviewing proposals) and will not be able to review a PR of this scale now. It's better if this is completed during the GSoC period.

[2018-03-15 21:13] m-murad commented on #1082
For future reference -
![screen shot 2018-03-16 at 2 39 19 am](https://user-images.githubusercontent.com/17262180/37491388-aff9eb58-28c3-11e8-9d56-31e9f4cdbbe1.png)

[2018-03-15 21:30] pprathameshmore commented on #1082
@m-murad Okay! I will complete this in GSoC period. Can I add this to my proposal?

[2018-03-15 21:32] m-murad commented on #1082
Sure

[2018-03-16 15:56] swaroop-nath commented on #1078
Hey @geekanamika and @m-murad, Can I work on this too?